[2021-05-18 10:06] lecfab commented on #52
https://github.com/lecfab/rescience-gorder/tree/main/paper

I filled the files, but could not compile them into a pdf because of the following errors. But i presume it will work on your side after completing the last pieces of information in metadata.yaml.

<details>
  <summary>make</summary>
  latexmk -pdf -pdflatex="xelatex -interaction=nonstopmode" -use-make article.tex

Latexmk: This is Latexm

[2021-05-18 15:25] affans commented on #56
@kiristern I'd be happy to review. Please let me know what the procedure is (are you submitting to a journal?). I am not familiar with ReScience.

[2021-05-18 16:11] sdwfrost commented on #56
@kiristern I'm also happy to take a look if you need me.

[2021-05-18 16:23] kiristern commented on #56
@affans @sdwfrost Thank you so much for your involvement! Reviewer guidelines for ReScience journal can be found here: http://rescience.github.io/edit/

[2021-05-19 10:12] rougier commented on #52
It's working on my side so it is fine. Also, I forgot but can your register your code at https://www.softwareheritage.org/save-and-reference-research-software/ and post here the SWID ?

[2021-05-19 10:14] rougier commented on #56
Ah ah, thanks @kiristern. It was supposed to be the role of the editor (that is yet to named) but if @sdwfrost and @affans are ok to review, we can start.

[2021-05-19 10:15] rougier commented on #56
@karthik Can you handle this submission (reviewers have been found already)?

[2021-05-20 11:01] lecfab commented on #52
swh:1:dir:e318a0ad72f81e2cb2af1ca614d1c171dd3f0909
https://archive.softwareheritage.org/swh:1:dir:e318a0ad72f81e2cb2af1ca614d1c171dd3f0909

[2021-05-20 11:58] rougier commented on #52
Perfect, thanks. Can you check the article at https://sandbox.zenodo.org/record/830143 (this is a sandboxed version not yet published)?

[2021-05-20 13:42] tawantayron commented on #49
Dear editor,
We would like to kindly ask if there is any update on the progress of the review process of our submission.
We understand that we still are amidst difficult times and that the steps involving the revision of our manuscript can be longer than usual, but it would be great if this manuscript could be progressed in the not too distant future.
Cordially,

[2021-05-21 18:03] anne-urai commented on #51
### Summary
- Gillard, Fix and Dutech replicate the IDSM model of sensorimotor habit formation by Egbert and Barandiaran. I was not familiar with this approach to habit modelling, and found the paper a pleasure to read and the code easy to run. In general, the authors explain their replication process very well, for instance in section 2.5 where they outline their attempts (and the missing informa

[2021-05-21 20:28] gdetor commented on #51
@anne-urai Thank you for the review.

[2021-05-23 10:48] lecfab commented on #52
@rougier This looks good to me thanks!

[2021-05-23 19:38] eroesch commented on #49
Dear @tawantayron, I am working on it. It has been a bit difficult to find reviewers, but I remain optimistic. I will provide you with my own comments very soon.

[2021-05-24 13:26] NishantPrabhu commented on #53
Greetings!

I hope you're doing fine. I just wanted to know if you require any further clarification or assistance regarding our submission. It would be great if we could have a brief update about how far the review process has come.

Thanks and with warm regards,
Nishant.

[2021-05-25 09:31] oliviaguest commented on #53
Hi @nicksexton and @don-tpanic — have either of you (or both) had a chance to keep going on this? Any updates welcome, and a rough (and flexible) ETA would be useful! ☺️

[2021-05-25 10:38] don-tpanic commented on #53
Hi @NishantPrabhu @oliviaguest, sorry for being a bit slow getting back to this as we got held up with trying to get a paper out. We have reproduced the results of 4 models so far and are expecting more to come. @nicksexton and I will touch base on this tomorrow and we will update you all with a timeline.

Thanks,
Ken

[2021-05-25 10:40] oliviaguest commented on #53
@don-tpanic amazing! 🌸

[2021-05-25 12:16] snowgoon88 commented on #51
@anne-urai Thank you for this helpful and valuable comments. We will definitively use them to improve readability and ease of use.
One thing to note, though, the discussion with M. Egbert was quite short and it has been a while since he did not respond to our last questions. We send him the current version of the paper, and still no reaction.

[2021-05-26 11:58] nicksexton commented on #53
Thanks for your patience, we have had a chance to confer on this. We have worked through running the models in table 1 and generally, everything checks out.

1. For table 1, we have an issue with the final two models (Learned embeddings w/ and w/o content) - we find this exceeds the memory on our GPUs (RTX 2080). We reduced the batch size accordingly (from 100 to 32) however with this setting we c

[2021-05-26 12:16] oliviaguest commented on #53
Thanks for all this, you @nicksexton and @don-tpanic! ☺️

Two main points/takeaways from me:

*a*. @NishantPrabhu, you now probably have a lot of small and large changes to make to improve this replication. Feel free to deal with these while everybody else discusses *b* (below), if you want.

*b*. I am not sure about the questions above (in points 1 and 4). @khinsen @benoit-girard @rougier can you

[2021-05-26 12:27] labarba commented on #55
Maybe the author of this published ReScience paper could contribute a peer review here, and thus give back to the efforts of the journal? https://github.com/ReScience/submissions/issues/19

[2021-05-26 13:30] MukundVarmaT commented on #53
Hi @nicksexton
Thank you for reviewing our reproducibility report.

1. We would like to direct you to section 3.2 in the submitted reproducibility report which mentions the required computational resources to replicate all the results. To summarize, the learned embedding-based experiments were run on 16GB NVIDIA V100 GPUs rented from AWS, and the others were run on an 8GB NVIDIA RTX 2060 owned by

[2021-05-26 19:33] eroesch commented on #49
Hi @tawantayron, I am running into a runtime error, running runsim.py with protocol=1, =2 (I am still running 3 and above, some warnings but so far so good). See below. The code seems to carry on in a loop, and I assumed the code might still be running. After 24h+ of running though, it still does not complete. Can you let me know what you think?

ERROR      Brian 2 encountered an unexpected error.

[2021-05-26 19:35] eroesch commented on #49
Actually I spoke to soon, protocol=3 works, but not 4 or 5.

[2021-05-26 23:49] chengyu1018 commented on #55
This is Chengyu Li (chengyu.li@villanova.edu), the author of this ReScience paper. I am happy to serve as a reviewer for this paper.

[2021-05-27 02:40] NishantPrabhu commented on #53
Greetings!

I have added experiment specific configuration files to our repo and updated the README with more information about them. Please note that I have only included configurations of experiments we performed, even though more combinations are possible. Kindly let me know if anything else needs to be done.

Thanks and with warm regards,
Nishant.

[2021-05-27 08:19] labarba commented on #55
To clarify, Dr. Chengyu Li is the first author of the original article from 2016 (https://doi.org/10.1063/1.4954505) this is a replication of. He was not involved in the replication and we have not interacted before, but I reached out by email this week to ask if he might be interested in reviewing the replication.

[2021-05-27 10:00] khinsen commented on #55
I am back, sorry for the delay. Since nobody else volunteered to edit this in the meantime, I officially proclaim myself handling editor for this submission.

[2021-05-27 10:13] khinsen commented on #55
@chengyu1018 Welcome to ReScience, and thanks for volunteering as a reviewer. I can't think of anyone better placed to do a review! If you have any questions about how ReScience functions, don't hesitate to ask. To start, [here](https://rescience.github.io/edit/) are our reviewing guidelines.

Normally, we expect reviewers to verify the reproducibility of the submitted code. This could be difficul

[2021-05-27 10:16] khinsen commented on #55
@pantale We received our second submission from engineering, after the reproduction report you submitted last year. Would you be interested in reviewing this work?

[2021-05-27 11:32] pantale commented on #55
@khinsen Hello Konrad,
I would be very happy to take part in this review. I am not an expert in numerical simulation in fluid mechanics, my field of expertise is in solid mechanics, nevertheless, I think that with the help of the first author of the original article I can bring my point of view on this replication even if I have neither the material means nor the expertise to carry out the replica

[2021-05-27 12:07] aaronshifman commented on #13
Hello @baioc thank you for the updates to your codebase along with the manuscript.

I believe that the codebase is now more readable and packages the experiments nicely, and faithfully reproduces the original manuscript, with the exceptions that that authors address in Figure 3. As @khinsen mentioned the reference work was done a long time ago and certainly I'm sure tolerances due to lack of compu

[2021-05-28 09:53] khinsen commented on #55
@pantale Thanks for willingness to review! I'd say go ahead, we will see how this works out. We will have to figure out one day how to deal with HPC submissions, so "now" looks like a good moment :-)

[2021-05-28 11:46] rougier commented on #52
Cool! It is now online at https://zenodo.org/record/4836230/ and will soon appear on ReScience C website. Congratulations!

[2021-05-28 11:46] #52 closed, assigned to rougier

[2021-05-28 12:26] rougier commented on #53
@oliviaguest Jumping in. Can you give us a bit of context?

[2021-05-28 13:02] rougier commented on #56
ping @karthik

[2021-05-28 13:03] rougier commented on #54
@ReScience/editors  (second call): we need your help to edit this submission. Author has already proposed several potential reviewers. I think the domain is far from any of us and I cannot edit it because of conflict of interest. Can anyone edit it (link: https://github.com/ReScience/submissions/issues/54)

[2021-05-28 13:05] rougier commented on #34
Oh my god, I'm very late on following this submission.  @ChrisRackauckas @thmosqueiro @eroesch @stephanmg @degoldschmidt Could you review this article (R + Computational Neuroscience) ?

[2021-05-28 13:05] #8 closed

[2021-05-28 13:06] rougier commented on #31
@gdetor @bruAristimunha Gentle reminder

[2021-05-28 13:07] rougier commented on #17
Any progress ?

[2021-05-28 13:07] rougier commented on #24
@gdetor Any progress?

[2021-05-28 13:08] #35 closed, assigned to gdetor

[2021-05-28 13:08] rougier commented on #38
@MelanieIStefan Sorry for the delay. Did you have time to take comments into account?

[2021-05-28 13:09] rougier commented on #42
@pdebuyl Any progress?

[2021-05-28 13:10] rougier commented on #46
@aammd Can you post your review in this thread ?
@pboesu Just tell us when your revision's ready

[2021-05-28 13:12] pboesu commented on #46
@rougier I'm just in the process of pulling the revisions together and responding to the reviewer comments. There should be a revised submission in place later today or tomorrow.

[2021-05-28 14:04] tpoisot commented on #46
@pboesu perfect - looking forward to the replies.

[2021-05-28 17:29] pboesu commented on #46
Ok! Revisions are done! - Thanks again to @aammd and @juniperlsimonis for their constructive comments which encouraged me to dive into the optimisation code much deeper and learn a thing or two along the way!

The overall diff can be seen here: https://github.com/pboesu/replication_candy_1991/compare/v0.1...v0.2

I apologize that the git history is a bit convoluted. Halfway through my revisions, I

[2021-05-28 20:45] stephanmg commented on #34
Hi @rougier I could review it.

[2021-05-28 21:16] aammd commented on #46
@rougier requested I post my review a second time here (if I understood correctly) so I'm doing that now!  😄  once again, great work @pboesu

-----

This is for your submission to Rescience, issue ReScience/submissions#46

I really like this work! I have read through your article twice, run all the code, and quickly read both replicated papers. I also have some slight experience with ordinal model

[2021-05-28 22:01] sje30 commented on #34
Thank you both!  I had forgotten about this.  I just checked the repo, and it looks like the binder broke sometime in the last year (rmarkdown needs to be installed, and there is a small pandoc-citeproc issue).  Can you give me the weekend to fix this, which in the interim will update it to R version 4.0 and handle the change in pandoc-citeproc which is now missing from Ubuntu (this will teach me

[2021-05-29 07:43] oliviaguest commented on #53
@rougier from above "To summarize, the learned embedding-based experiments were run on 16GB NVIDIA V100 GPUs rented from AWS, and the others were run on an 8GB NVIDIA RTX 2060 owned by us." (As said by @MukundVarmaT.)

I assume this means the results can only be recreated using specific (types of) hardware. What do we think — can this be overlooked or do the authors have to do something to make it

[2021-05-29 07:44] khinsen commented on #54
OK, I'll handle this, starting Monday if all goes well.

[2021-05-29 13:06] eroesch commented on #17
I PRed the updated metadata to the original repo. Haven’t heard back yet. Happy to try to generate the pdf myself. Should I?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Nicolas P. Rougier ***@***.***>
Sent: Friday, May 28, 2021 2:07:26 PM
To: ReScience/submissions ***@***.***>
Cc: Etienne Roesch ***@***.***>; Mention ***@***.***>
Subject: Re: [ReScience/submi

[2021-05-29 20:44] sje30 commented on #34
The `launch binder` button on the readme of https://github.com/sje30/rescience-hor is working again; just needed a couple of tweaks to system R images that had changed in the last year.

[2021-05-30 19:51] rougier commented on #17
Does @rahulrajpl needs to do anything on his submission?

[2021-05-30 20:01] eroesch commented on #17
No, both @gabrielnetz and myself have been able to run the code. See @gabrielnetz's report in pdf earlier.
The only thing is that the repository does not contain the .tex, unfortunately. (@rahulrajpl)

[2021-05-31 06:19] stephanmg commented on #34
Hi,

since this is my first review, can somebody give me some pointers for best practices on how the review should be conducted?

[2021-05-31 08:08] khinsen commented on #13
Thanks @aaronshifman for your comments!

From my point of view as a ReScience editor (rather than a domain specialist), the first proposition (improving bifurcation analysis) is certainly of interest but also well beyond doing a replication. If @baioc wants to do this as an added-value section, that's fine with me, but it's not a requirement.

The second point is more relevant from a replication p

[2021-05-31 08:49] khinsen commented on #54
@bmisic @Raj-Lab-UCSF You have been suggested as reviewers for a submission to the journal "ReScience C". Would be interested in doing this review? Please read on for the details.

ReScience C is a journal dedicated to replications in computational science. The submission I would like to invite you to review is a replication of a 2020 publication by Mike Henderson et al. entitled "α-Synuclein path

[2021-05-31 08:53] khinsen commented on #54
@MathieuBo In the meantime, a question based on my own reading of your article. You state that the original work already comes with code and data. It isn't clear from your description if you used this code or not, and if you did, to what degree: as a source of inspiration for your own code, or only as a black-box result generator for testing your own implementation. Could you explain?

[2021-05-31 08:57] rougier commented on #46
@aammd Thanks.

[2021-05-31 09:02] MathieuBo commented on #54
Thanks for looking into our submission @khinsen!
To answer your question, it was a bit of both. We mostly used it as an inspiration for our code (for example, we kept some function names similar to ease comparison) but the precise implementation diverges in some ways (mostly related to Python vs R). We also used it to generate results and compare them with the results of our code.
Is that clearer?

[2021-05-31 09:07] rougier commented on #53
cc: @khinsen @benoit-girard

Oh I see. I think we talked about such case a long time ago without finding a definitive solution. Fro the present case, I think we need to trust the author of the replication (@NishantPrabhu) that his results are correct and the reviewers can only review article and read code to check it is consistent. But in the long term, we need to address the problem in a generic

[2021-05-31 09:14] rougier commented on #34
Sure, have a look at: https://rescience.github.io/edit/

Note that this submission is related to the "Ten Years Reproducibility Challenge" where authors try to reproduce (re-run) their own code. You can also browse [open reviews](https://github.com/ReScience/submissions/issues?q=is%3Aissue+label%3A%22Ten+Years+Challenge%22+is%3Aclosed) on the same issue.

[2021-05-31 09:15] rougier commented on #17
I see. Without the .tex, we cannot d much but wait for @rahulrajpl answer.

[2021-05-31 09:18] lecfab commented on #52
That was a very smooth process, and thank you for the in-depth reviews!
Cheers everyone,
Fabrice

[2021-05-31 09:20] rougier commented on #52
I forgot to make a PR to your repo with the publication changes. Will do in a few minutes.

[2021-05-31 09:53] stephanmg commented on #34
@sje30 I looked at your reproduction.

I have some suggestions for (minor) revision before accepting the submission:
Figures:
- Figure 1: Original figure is black/white, I would avoid using red/green colors for the dots - will be much easier to discriminate for people with color vision deficiency.

Code:
-  `Error: Status code 504 returned` - I assume this some Binder-related issue?
- `hor_bdmin.R

[2021-05-31 09:58] oliviaguest commented on #53
If so, then all we need to be done here is for @nicksexton and @don-tpanic to sign off on the changes once the authors confirm they are done making them — OK, good. ☺️

[2021-05-31 10:03] lecfab commented on #52
I validated it and updated the replication.pdf !

[2021-05-31 10:22] sje30 commented on #34
Thanks for doing this so promptly!

The 'red' is actually 'orangered' for the exact reason you mention.  I
can change it to blue though if you prefer?

Hmm... the binder just worked for me now.  Could you please try again?

I can certainly tidy it up!  great idea.

Is that in the R files?

Thank you.

[2021-05-31 10:36] stephanmg commented on #34
Well, call me pedantic, I would just prefer black and white as in the original figure.

Will try again later.

Yes, in the R files, there is a lot of empty lines, sometimes in sequence.

Besides this, I would suggest to tidy up the repository into code and markup if possible.

[2021-05-31 10:39] stephanmg commented on #34
By the way: I am a little confused about the following: You write that the arXiv paper is a post print, do you mean preprint? Because I see your paper being published in `Vis Neurosci.`  (and I would call this a post print) and arXiv is obviously a preprint server.

[2021-05-31 13:36] tawantayron commented on #49
Dear editor,

We have double-checked the code on Linux systems and fix small issues encountered. We also noted a bug when running on MacOS that should be solved now, in case that is the system you are using let us know if you run into more issues while executing the code.

[2021-05-31 13:44] eroesch commented on #49
@tawantayron, awesome. Thanks. Yes, MacOS. I will pull and try again.
What was the issue?

[2021-05-31 14:06] khinsen commented on #54
Thanks @MathieuBo! You should add a paragraph on this to your, so that readers know what exactly was the subject of the replication. There's nothing wrong in taking inspiration from existing code, but it means that if there's a mistake in that code, it could propagate into yours, and readers should be aware of that possibility.

[2021-05-31 14:32] himito commented on #17
Dear all,

first, my sincere apologies for not having carried out the review earlier, hard times ...

I would also like to thank  @rahulrajpl for this submission. The code in the notebooks is clean and  self-documenting.

Concerning the document, my only comments are about the mix in the use of single and double quotations marks. Also, open quotations marks are not good, perhaps it's due to the us

[2021-05-31 14:39] niltonlk commented on #49
Dear @eroesch,
The issue was that in MacOS, the code block that creates the pool (`p = multiprocessing.Pool(processes=n_procs)`) and calls `p.map(func, arg_list)` to run some simulations in parallel (with different parameters), should be enclosed in an if clause (`if __name__ == '__main__':`) to avoit that the code is called by every process (codes that reads the simulation data and plots the resu

[2021-05-31 15:02] MathieuBo commented on #54
Sounds good. I will add a paragraph in the manuscript. Thanks @khinsen.

[2021-06-01 09:31] pantale commented on #55
@khinsen Hello,
Difficult for me to evaluate properly the proposed paper, but are some remarks:

The authors take care in the introduction to clearly distinguish the notion of replication from the notion of reproduction, which is a plus for the positioning of the problematic of the article. The source code and the data of the original article are not available, so it is indeed a reproduction.
The

[2021-06-03 01:06] tpoisot commented on #46
I am going to assume that the :tada: and :rocket: emojis on [the response[(https://github.com/ReScience/submissions/issues/46#issuecomment-850565625) means that @aammd and @juniperlsimonis are happy with the revision, and so this is an **accept** for me.

@rougier - I might need a refresher with the publishing pipeline

[2021-06-03 12:58] khinsen commented on #55
Thanks @pantale !

@mesnardo Feel free to comment/reply to this review now, or wait for the second one and deal with both at the same time.

[2021-06-03 20:34] juniperlsimonis commented on #46
yup! Good faith solid effort to address the concerns I raised. Nice job @pboesu !

[2021-06-03 22:09] gdetor commented on #31
Hi @bruAristimunha,
Is there any progress on this matter?

[2021-06-03 22:11] gdetor commented on #51
@benoit-girard Gentle reminder

[2021-06-03 22:16] gdetor commented on #24
Hi @brembs Do you think we could finalize the process?

[2021-06-04 08:05] khinsen commented on #55
@mesnardo Something I can't find in your paper is the minimal hardware requirements to (1) run your Docker/singularity image or (2) run the whole code from source code, i.e. including a rebuild of the image. You do say "We used computational nodes with Dual 20-Core 3.70GHz Intel Xeon Gold 6148 processors and NVIDIA V100 GPU devices." but that doesn't mean that an exactly identical machine is requi

[2021-06-04 14:37] wmkouw commented on #48
Hi, a small update: I read the paper on Wednesday and briefly went through the paper it is reproducing. I just need to go through the code to complete my review, but I haven't been able to run the examples yet. When I generate local virtualenv directories and run pip, the dependencies are being installed in my conda env directory instead of the local ones. I need to figure out how to fix that, but

[2021-06-04 15:01] bruAristimunha commented on #31
Hello @gdetor and @rougier

I apologize for the delay in contacting you. Unfortunately, for personal reasons, I won't be able to handle the modifications. However, the second author @DiogoEduardo will continue with the necessary revisions.

[2021-06-05 11:45] oliviaguest commented on #48
@D-Maurel can you please help @wmkouw (see my quote in this comment) to use your code, as this is central to reproducibility. Make the changes needed to code and documentation to help others too, etc., of course. Thanks! ☺️

[2021-06-06 19:00] rahulrajpl commented on #17
Hi all, Apologies for the delay.

I have completely shifted my Job/Domain. I am not very active on the Internet too.
However, I have uploaded all the files I am left with to the following location.
https://github.com/rahulrajpl/PyPASAD/tree/master/Rescience%20Submission

I request someone to take it forward from here as I have lost track of what is to be done and even if I wish to, my schedule doe

[2021-06-07 04:52] rougier commented on #46
@tpoisot I can publish it for you, might be easier.  @pboesu I'll try to do it this Friday, don't hesitate to remind me here.

[2021-06-07 06:44] brembs commented on #24
I've been trying, but still swamped. Hope to get it done before the summer holidays, which start in August here. No more teaching until then, so the chances look good.

[2021-06-07 07:35] stephanmg commented on #56
Would also happily review this @rougier

[2021-06-07 08:46] khinsen commented on #54
Status update: @ejcorn, one of the authors of the original article, has agreed to review this submission, starting June 22nd.

[2021-06-07 13:19] don-tpanic commented on #53
Hi @NishantPrabhu,

I have managed to reproduce more results from the paper and things are looking really good so far. Here are some minor suggestions which I think could improve the ease of reproducibility for others in the future.

1. For the moment, in order to visualise attention over images, one has to trace back into the source code for where to supply the image file name. It would be nice i

[2021-06-07 15:11] NishantPrabhu commented on #53
Hi @don-tpanic,

Thanks for the suggestions!

1. I have added another parameter `--image` to the list of CLI arguments where you can specify the path to an image on which visualization operations will be performed. I've added information about this option to the README as well.
2. I've modified the code so that whenever a directory is specified using `--load`, the output directory will be overwrit

[2021-06-07 16:01] affans commented on #56
Hi Sorry, I've been swamped with work (and also moving across borders). I will get to this soon.

Thanks,

[2021-06-07 18:26] gdetor commented on #24
Hi @brembs Thank you for the update.

[2021-06-08 10:06] NishantPrabhu commented on #53
Hi everyone,

I've added a script `plot_performance.py` to plot the train/validation metrics of desired experiments. I've added instructions to use the script in the README. Please let me know if it fulfills the required functionality, or if any issues are faced.

Thanks and with warm regards,
Nishant Prabhu

[2021-06-13 08:38] baioc commented on #13
First I would like to thank @aaronshifman and @khinsen for the reviews, and apologize for the delay on the reply.
Since this has been going on for well over a year, I would prefer not to go over significant changes to the implementation and leave using an SDE aside since I'm not familiar with those at all.

That said, if running the stochastic simulations using Octave's ode45 doesn't prove being m

[2021-06-14 07:12] rougier commented on #56
Ok. Thanks @stephanmg @affans. If you can start review that would be great.

[2021-06-14 07:13] rougier commented on #51
@gdetor You can also try to contact him by mail (in case he disabled email notification)

[2021-06-14 07:15] rougier commented on #55
@mesnardo Any progress?

[2021-06-14 07:17] rougier commented on #31
@bruAristimunha Ok, no problem. @DiogoEduardo Can you address the reviews?

[2021-06-14 08:52] pboesu commented on #46
@rougier I have just added the metadata for the reviewers and editor and minted a doi for the [code archive](https://doi.org/10.5281/zenodo.4943258) . Let me know if you need me to do anything else.

[2021-06-14 08:56] rougier commented on #46
Acutally we'e now using software heritage for the code. If you go here: https://www.softwareheritage.org/save-and-reference-research-software/ It's quite straightforward to get the SWID.

[2021-06-14 12:56] pboesu commented on #46
OK, I've removed the Zenodo DOI and filled in the swh field in metadata.yaml instead. The snapshot on software heritage is here: https://archive.softwareheritage.org/swh:1:dir:fa45767e4bb56f7807fe2081cfe069881f8b049e

[2021-06-14 16:04] oliviaguest commented on #53
@NishantPrabhu thank you! I will wait for the reviewers to confirm this is all OK now! Very exciting, as I think we're very close. 😊

[2021-06-15 03:07] mesnardo commented on #55
@khinsen Thank you for the feedback.
We will add more details in the manuscript (or in the README of the application repository).

Although we have not tried it, I believe the Singularity image should run on a more recent Intel-based machine.
If it does not, we at least made the Dockerfiles and Singularity recipes available, so that one could adapt/re-build the images:

* [Dockerfile](https://gith

[2021-06-15 04:57] chengyu1018 commented on #55
@khinsen

I have read the manuscript entitled, “[Re] Three-dimensional wake topology and propulsive performance of low-aspect-ratio pitching-rolling plates.” The authors successfully replicated the simulation results of the original study (Li & Dong, Physics of Fluids, 2016) with a different CFD solver. Although the force coefficient peaks showed a slightly lower magnitude than the original paper,

[2021-06-15 07:56] wmkouw commented on #48
Update: we had a family medical emergency and I've been at the hospital last week. I am back to work but I am swamped with teaching this week. I will finish the review next week.

I'm sorry. Things don't always go according to plan.

[2021-06-15 13:59] Kahss commented on #48
@wmkouw Thank you for taking the time to read my article. I'm really sorry to hear about your medical emergency, I hope everything went fine. I will of course help you to solve any problem related to the execution of my code, please ask any question you have :) .

[2021-06-16 08:35] rougier commented on #46
Thanks. The sandboxed version is at https://sandbox.zenodo.org/record/865592. Can you check everything's ok?

[2021-06-16 09:26] pboesu commented on #46
@rougier Yep. That looks great!

[2021-06-16 15:35] don-tpanic commented on #53
Hi @NishantPrabhu,

Thanks for all the prompt updates. Here is another issue when I ran `python3 main.py --config 'configs/vit_hier.yaml' --task 'train'`
[code]

Can you look into it and make sure `SAN/` doesn't have the same issue?

Thanks,
Ken

[2021-06-16 16:47] NishantPrabhu commented on #53
Greetings!

Sorry about this bug; has been fixed now. Tested okay for `SAN/` and `ViT/` on my end.

Thanks,
Nishant

[2021-06-17 02:38] NishantPrabhu commented on #53
Hi all,

Accidentally closed the issue; have reopened it. Sorry if this causes any issues!

Thanks,
Nishant.

[2021-06-17 07:53] oliviaguest commented on #48
@wmkouw I am so sorry to hear this — and, please, take your time. 🌸

[2021-06-17 08:26] benoit-girard commented on #50
@rsankar9 : did you have the opportunity to update your submission based on the reviewer's comments? Moreover, as asked by @schmidDan do you have the authorization of the authors of the original paper to publish their matlab code here?

[2021-06-17 08:30] benoit-girard commented on #50
@schmidDan sorry for being so late to answer your questions:

- I don't think that we have a title marker chosen for partial replications.
- concerning the code, if I understand well, the code that is really submitted here as a replication is the python one. If so, it is the only one expected to work and to be reviewed.

[2021-06-17 08:59] benoit-girard commented on #51
Sorry, I am back on track after a long period where no time was left for ReScience. I will deliver my review in the coming days.

[2021-06-17 11:17] khinsen commented on #13
Thanks @baioc for your comments, and for your patience with this review process! Take your time and let us know when you are done.

[2021-06-17 13:28] khinsen commented on #55
Thanks @chengyu1018 for your detailed review, and thanks @mesnardo for answering my questions. Unfortunately my agenda is very dense this week, so please be patient for a few more days for me to re-read everything carefully!

[2021-06-18 20:36] illdopejake commented on #54
Hi all -- checking in as a Reviewer. I'll need to carefully re-read the original paper. As per instructions, I'll give some feedback about the replication manuscript with respect to whether claims of replication have been substantiated. After, I'll run the code provided to ensure I can reproduce everything, and I'll check in during that process if any issues arise. Will try to have this done in 2

[2021-06-19 08:50] khinsen commented on #55
@mesnardo Since the reviewers didn't comment on the reproducibility, I am looking at this myself. At least theoretically (inspecting the files), and running as much as I can with the machines I have at my disposal.

I started with the easiest part: re-running your "repro packs". Using Docker for macOS, I can follow your instructions and I get freshly generated figures. However, only the line plots

[2021-06-19 13:17] khinsen commented on #54
That sounds very good @illdopejake  - and thanks for accepting this mission!

[2021-06-21 08:23] khinsen commented on #55
Update: I can't build the `petibm` container image following the provided instructions: https://github.com/barbagroup/petibm-recipes/issues/3

[2021-06-21 11:08] rougier commented on #46
It's online at https://zenodo.org/record/5006005 and will soon appear on ReScience website.

[2021-06-21 11:13] #46 closed, assigned to tpoisot

[2021-06-21 13:24] pboesu commented on #46
Excellent! Thanks all!

[2021-06-21 15:01] benoit-girard commented on #51
I am done with reading the paper, launching the simulations, etc. I should be able to deliver my review tomorrow.

[2021-06-21 16:49] mesnardo commented on #55
@khinsen Thank you for attempting to build the image and opening an issue on the repo.
I'm away from keyboard this week, but will get back to work next Monday and investigate the issues about the 3D visualization and the Docker image.
We will also address the feedback from the reviewers.

[2021-06-21 16:53] rougier commented on #56
@stephanmg @affans Gentle reminder.

[2021-06-21 16:54] rougier commented on #34
@sje30 Can you address the comments?

[2021-06-22 06:01] stephanmg commented on #56
@rougier I didn't forget I will review by end of month. My preliminary review:

Figures: All okay - except not grayscale anymore (compared to original publication)

Review criteria:
Reproducibility of the replication on Ubuntus 20.04/20.10: Followed instructions in README.md an worked out of the box.
Clarity and completeness of the accompanying article: OK.
Clarity of the code: A lot of whitespace

[2021-06-22 06:56] pdebuyl commented on #42
Hi @rougier sorry about this. @vahtras is this still doable for you? In the meantime, I will try to find another reviewer.

[2021-06-22 08:36] benoit-girard commented on #51
The authors did a lot of work to try to reproduce the original paper, this results in a partial replication. They manage to get feedback from one of the original authors, which helped confirming some of their intuitions, but wasn't sufficently detailed to allow for perfect replication of the last experiment.

# Software

I did not manage to install the virtual environment on MacOS, but it worked f

[2021-06-22 17:48] gdetor commented on #51
@benoit-girard Thank you for the report.
@snowgoon88 Could you address reviewrs comments?

[2021-06-23 08:06] khinsen commented on #55
@mesnardo Here's another question for you (for when you are back, it's not urgent!), more about improving ReScience C than about your submission.

[Over here](https://github.com/ReScience/ReScience/issues/104#issuecomment-866317930), @benureau proposes a way to improve the reviewing process for HPC-style submissions. I'd like to have your view as an author on this idea. Would such a process be a r

[2021-06-23 08:10] khinsen commented on #53
@NishantPrabhu Jumping in to ask for your opinion on a [proposal](https://github.com/ReScience/ReScience/issues/104#issuecomment-866317930) for  improving the ReScience C reviewing workflow for future HPC-style submissions. Unrelated to this review, I am not asking you to adopt this scheme retroactively! From your point of view, would such a process be a reasonable burden on authors of future subm

[2021-06-23 11:03] sje30 commented on #34
Thanks for these.  Bit behind, but yes, I hope to do these in the next few days... thanks for the comments.

[2021-06-23 11:24] labarba commented on #55
Note that the code that was used in our submission here was separately submitted, reviewed and published in JOSS. This means that reviewers installed the code, ran tests, and gave input to improve it. We have also made deposits with the primary data, as suggested by @benureau. And provide the secondary data (often smaller files, due to being summarized in some form) so the reproduction of figures

[2021-06-23 15:58] vahtras commented on #42
please find another reviewer

On Tue, Jun 22, 2021 at 8:56 AM Pierre de Buyl ***@***.***>
wrote:

[2021-06-23 18:52] khinsen commented on #55
The JOSS paper is a good point, thanks @labarba! It would be helpful to point this out in the paper. The mere reference to a JOSS paper probably doesn't mean much for most readers (and reviewers). But it does indeed imply that someone has done an open review of the software, including installation and running the tests. We could even suggest to future authors to provide a link to a JOSS review if

[2021-06-25 06:43] snowgoon88 commented on #51
Hello,

@benoit-girard and @anne-urai thank you very much for the reviews. We will try to address them the best we can.
@gdetor we will tell you when the new version is ready.

have a nice day

[2021-06-25 16:38] NishantPrabhu commented on #53
@khinsen First of all, sorry for the delay.

Most of the suggestions and issues put forward by the reviewers were genuine and necessary for our reproducibility effort to be complete. There is one suggestion I would like to make anyway.

More often than not, authors maintain detailed logs of experiments they run (on platforms like Tensorboard or WandB). The same can be made available for the review

[2021-06-25 16:40] NishantPrabhu commented on #53
Also, if I may ask, is there anything else we can help you with to complete the review? Would be great if an estimate of when the process will complete can be provided.

Thanks for your time.
Nishant.

[2021-06-27 12:14] rsankar9 commented on #50
Thank you for the very thorough and constructive reviews. I do apologise for my delayed response. I have made several changes to the manuscript, based on your reviews.

- The plots have been made more clear.
- Two metrics have been added to quantify the divergence. This has been both tabulated and indicated in the text and plots.
- A terminology subsection has been added to clarify the terms used

[2021-06-27 12:17] rsankar9 commented on #50
@rgutzen : Thank you for your review! Please find below my responses to your comments (inline).

----

* 	This is a very valid point and I understand the concern regarding the evaluation criteria. The replication was considered successful by visually inspecting the plot of the MSE of the trajectory, i.e. the deviation of the simulated trajectory from the target trajectory. To address this in a mor

[2021-06-27 12:19] rsankar9 commented on #50
@schmidDan: Thank you for your review! Please find below my responses to your comments (inline).

----

I agree with this assessment. It's a partial replication due to two reasons.

1. I have replicated the three principal tasks (along with some variants to test robustness and scalability) mentioned in the paper. However, the authors proceed to test the model further with some other variants that

[2021-06-28 08:17] oliviaguest commented on #53
Given the reviewers are donating their time in a pandemic, I do not want to pressure them especially as I think they have done a fantastic job so far. When @don-tpanic and @nicksexton are happy to take this to acceptance, we can continue. What is left anyway?

[2021-06-28 09:39] eroesch commented on #17
Hi @rahulrajpl, Thank you for this. Yes, I am happy to push this through on my own, if that helps. However, it looks like you only added the files of the template in your repository, *not* the files needed to recompile your article, such as the original figures, content.txt, bibliography.bib, etc. Any change you might have that at hand?

[2021-06-29 08:30] rougier commented on #56
@stephanmg Thanks for preliminary review. @kiristern Can you address these technical points?

[2021-06-29 08:32] rougier commented on #42
@pdebuyl I think you need to find a new reviewer. You can use the `@ ReScience/reviewers` notification if necessary.

[2021-06-29 08:48] pdebuyl commented on #42
@rougier I have started to do so.

[2021-06-29 09:53] khinsen commented on #39
🔔 This is a wakeup call for @alegrand. All we need from you is a final PDF for publication! 🔔

[2021-06-29 09:55] #16 closed, assigned to rougier, tpoisot

[2021-06-29 09:58] khinsen commented on #43
@delsuc @MathieuLeocmach What's the status of this review? It's been dormant for 280 days.

[2021-06-29 13:44] kiristern commented on #56
@rougier Yes, we will go over this shortly.
@stephanmg Thank you for your feedback!

[2021-06-29 17:50] affans commented on #56
@rougier
I have finished reviewing the paper and I have some comments.

**Comments:**
First, the paper is very well written and easy to follow. I would suggest adding some interpretation to some of the equations for non-experts in the subject matter. For example, a few sentences explaining the terms in the calculation of reproduction numbers and the justification/assumptions in  equations 7 - 11.

[2021-06-29 18:06] stephanmg commented on #56
@affans so 1.6.0 fails for you? Did you try 1.6.1?

[2021-06-29 18:08] affans commented on #56
No, I suppose I will try it. The README did say `This project is a Julia 1.6.0 replication of Lipsitch et al` so I thought 1.6.0 was good. I will have to download and setup 1.6.1 for myself.

[2021-06-29 18:09] kiristern commented on #56
@affans Sorry for the error, @faresdhane @sandrinesoeharjono @aammd @tpoisot and I are in the midst of incorporating @stephanmg suggestions and switching file documentation to Julia Documenter. I will see if reversing the `pkg add Documenter` commit fixes the problem, as we won't be able to get around to formatting until early next week.

[2021-06-29 18:15] affans commented on #56
No problem. Just tag me, and I'll be happy to run again. Great job on the paper!

[2021-06-29 18:25] kiristern commented on #56
@affans okay, should run now. Please pull the latest commits and let us know if there are any issues. Thanks!

[2021-06-29 18:37] tpoisot commented on #56
@kiristern / @affans I'm quite sure this is because the `@progress` macro works in Juno, but not generally in a julia REPL - give me a few minutes to replace it by a `@showprogress` macro which is more general, sorry about that.

[2021-06-29 18:45] kiristern commented on #56
@tpoisot ooh i see. I completely glossed over the actual error and was only thinking of the things we changed since it last ran properly. Thanks for the catch

[2021-06-29 18:54] affans commented on #56
If that is the case, I'd suggest removing it all together (or maybe adding a dependency on `ProgressMeters.jl`). That way it will work out of vscode/repl/vim etc etc.

[2021-06-29 18:54] tpoisot commented on #56
I have opened a pull request, check that it runs, and this should fix the issue @affans was having - I added `ProgressMeter` (and ran the code through a formatter)

[2021-06-30 12:24] oliviaguest commented on #48
@ESSYCHAN has agreed to review this as well. ☺️

Esther, if you can drop a comment below, so I can assign you that would be great — thanks.

[2021-06-30 14:53] wmkouw commented on #48
I've managed to find some time to finish my review. Instead of integrating conda en virtualenv, I just grabbed a Docker container and worked from there. Everything runs as advertised.

---

Summary:
This papers successfully replicates an influential technique for program debloating. The original implementation was written in C, whereas this one is in Python. It includes tests for the debloater on

[2021-06-30 15:30] nicksexton commented on #53
Hi everyone, thanks for your patience.

@don-tpanic and I have finished reviewing all the simulations reported in the paper and we are happy to recommend it for publication. We really like the paper and feel it reports a replication clearly as well as providing novel insights. In general, everything we did in replicating it checked out - the code was clearly documented, mostly ran straight out of

[2021-06-30 15:48] ESSYCHAN commented on #48
Hello @oliviaguest,
Yes I have agreed that I'll review this paper.

Should I state the timeline on when I expect to finish?

[2021-06-30 16:05] oliviaguest commented on #48
@ESSYCHAN that would be very useful and kind of you. 😊

[2021-06-30 16:06] oliviaguest commented on #48
@wmkouw we appreciate your time and are very thankful. I hope things are as well as they can be. 🌼

[2021-06-30 16:13] ESSYCHAN commented on #48
I'm committing to give a proper review by 19th July.

[2021-06-30 18:19] MukundVarmaT commented on #53
We would like to thank the reviewers (@don-tpanic, @nicksexton) and the editor (@oliviaguest) for taking out the time and reviewing our submission. Your feedback has definitely helped improve our reproducibility report.

@oliviaguest, What would be the steps from here, and is there something required from our end to complete the process?

[2021-07-05 02:35] gdetor commented on #31
Hi @DiogoEduardo gentle reminder

[2021-07-05 06:59] rougier commented on #42
Good. Any progress?

[2021-07-05 07:04] rougier commented on #56
@stephanmg Gentle reminder

[2021-07-05 07:11] stephanmg commented on #56
Is the code/PR merged?

[2021-07-05 08:14] pdebuyl commented on #42
Yes, I have a candidate reviewer but am waiting for confirmation before putting it here.

[2021-07-05 11:03] oliviaguest commented on #53
Sure, @MukundVarmaT you can make sure your ```metadata.yaml``` file is fully filled in with what is required of you. I need it for the publication script: https://github.com/rescience/articles#15-steps-to-publishing-a-rescience-article. 😊

[2021-07-05 11:45] kiristern commented on #56
Going over it this evening with the rest of the authors

[2021-07-05 11:56] stephanmg commented on #56
Let me know, when the changes have been added. I'm re-running the code then and give my final review.

[2021-07-05 14:09] MukundVarmaT commented on #53
@oliviaguest Please find updated [metadata.tex](https://github.com/NishantPrabhu/Self-Attention-and-Convolutions/blob/main/metadata.tex), [article.pdf](https://github.com/NishantPrabhu/Self-Attention-and-Convolutions/blob/main/article.pdf), [metadata.yaml](https://github.com/NishantPrabhu/Self-Attention-and-Convolutions/blob/main/metadata.yaml)

I believe some of the information has to be filled i

[2021-07-05 16:23] DiogoEduardo commented on #31
Hi @gdetor. Sorry about the delay. We completed the changes in the text and adapted the jupyter notebook to work on Linux/Windows. I have tested in both systems using vanilla machine / vanilla conda environment as stated in the readme so I think this type of error is solved to reproduce our results.  The text changes stated before by @bruAristimunha are also completed.

[2021-07-05 16:42] gdetor commented on #31
@DiogoEduardo Thank you for the update
@koustuvsinha @benureau Could you please review the modified article?

[2021-07-05 22:17] kiristern commented on #56
@stephanmg `ProgressMeter` works now. Feel free to run the code. Awaiting your final review. Thank you so much

[2021-07-05 23:59] illdopejake commented on #54
Dear all,

Apologies for the delay. I've read through the original Henderson et al. manuscript and the Paul & Bourdenx ReScienceC manuscript. I also took a try of reproducing the code locally. I have some feedback as it pertains to this initial experience with the manuscript and code.

**Regarding the manuscript**:
I found the manuscript to be well written, conveying in appropriate detail all info

[2021-07-06 04:06] affans commented on #56
*Updated Review*

Please see first review comments here: https://github.com/ReScience/submissions/issues/56#issuecomment-870795734

For this updated review, I was able to do a `git pull` and was able to run the code successfully. I am still not able to verify the plots are being correctly generated (**although this is no fault of the authors** -- my computer is unable to generate them).

See outpu

[2021-07-06 07:24] stephanmg commented on #56
I confirm that the `ProgressMeter` works for me now and I have no further comments, figures are reproduced for me as well on Ubuntu @affans.

@kiristern did you add amend the code based on my recommendations for formatting and documentation? The code looks better now and I would say I can okay this.

[2021-07-06 15:47] khinsen commented on #54
Thanks @illdopejake for this very detailed review!

@MathieuBo While we are waiting for the second review by @ejcorn, coud you look at the technical issues encountered by @illdopejake?

[2021-07-07 12:44] MathieuBo commented on #54
Thanks @illdopejake for taking the time and the constructive comments!
I will work on these issues as soon as possible.

[2021-07-12 08:17] rougier commented on #42
Gentle reminder

[2021-07-12 08:26] rougier commented on #56
@kiristern Can you answer questions by @stephanmg and @affans ?

[2021-07-12 20:33] kiristern commented on #56
Sorry for the delay.

@stephanmg yes we formatted scripts according to your recommendation, minus fully switching to Documenter.jl. Other ReScience replications in Julia used comments and we believe that the comments help with the clarity of our code, without needing to completely reformat everything.

@affans we will be going over the text to include clarification of equations, as well as your ot

[2021-07-13 05:47] stephanmg commented on #56
Then fine from my part.

[2021-07-13 11:36] oliviaguest commented on #53
@MukundVarmaT can you check if it's easy for you to fix the text and figure 1 going into the margins on page 4, please?

[2021-07-13 11:37] oliviaguest commented on #53
@MukundVarmaT I might be wrong but maybe all the figures are going into the margins... is this on purpose and I just never noticed it before, @rougier?

[2021-07-13 11:57] MukundVarmaT commented on #53
@oliviaguest It's possible that the figures are very close to the margins (or going into it). Since we wanted to show a side-by-side comparison while still making it sufficiently legible, there was no other option. I am not able to figure out an alternative but we are open to suggestions.

[2021-07-13 12:53] oliviaguest commented on #53
I think you could, *if you wanted* make the text bigger in your figures because regardless of the tiny amount they impinge on the margins, it's small.

[2021-07-14 12:25] tawantayron commented on #49
Dear editor @eroesch , we kindly ask for any update on the review process.
Cordially,

[2021-07-15 15:20] Kahss commented on #48
Hello, I haven't noticed the notification mentionning that a review was available. I hope the delay hasn't done any harm, if not I'm really sorry.

Thank you @wmkouw for your review. Your point about the UT related weakness is totally relevant, and I will modify the original paper according to it, introducing further more nuances about the use of UT.

Thank you @ESSYCHAN for accepting to review my

[2021-07-20 18:01] gdetor commented on #31
@koustuvsinha @benureau Gentle reminder

[2021-07-21 04:46] benureau commented on #31
@gdetor: of course, will do the review soon.

[2021-07-21 14:08] kiristern commented on #56
@affans thank you for your patience. We've included all your suggestions and have updated our manuscript to reflect 1) description of equations; 2) plots of population dynamics before equilibrium (in supplemental figures); 3) optimized code.

[2021-07-22 14:12] pdebuyl commented on #42
Hi @rougier unfortunately I "lost" my candidate reviewer. In all fairness (and despite the already long delay), I'd prefer to wait mid-august to look again the mid-summer is a really bad time to find reviewers!

PS: I'll also consider reviewing the paper and have Konrad or someone else be editor (august as well I am not in office)

[2021-07-22 15:13] benoit-girard commented on #50
Thanks a lot @rsankar9 for this revised version of the submitted paper.
@schmidDan and @rgutzen are you satisfied with the new version of the paper and the answers of the authors, or do you require an additional round of review?

[2021-07-23 09:18] benoit-girard commented on #39
@alegrand please finalize the pdf update (https://github.com/alegrand/reproducibility-challenge/pull/1)

[2021-07-24 16:19] NishantPrabhu commented on #53
Hi @oliviaguest

Sorry for the delay. I have updated the PDF such that the images are now (seemingly) inside the margins. The link to the original post now points to the revised PDF. Please have a look and let me know if it works.

Thanks,
Nishant.

[2021-07-25 16:44] rgutzen commented on #50
The revised article looks very good to me, and I'm satisfied with how all the review comments were addressed.
Especially, the addition of the error traces is very helpful as well as the quantification of the results in the overview tables.
For me, there is no additional review round required.
I just noted down a few minor things for the revised version, whose fixing I'd consider however optional.

[2021-07-26 08:04] schmidDan commented on #50
Thanks for the revision. I was occupied the last weeks. I will look at the updates by the end of this week, so that you can expect an answer by the beginning next week at the latest.

[2021-07-26 08:45] rougier commented on #49
@eroesch Gentle reminder (but maybe on vacation).

[2021-07-26 09:03] rougier commented on #56
@stephanmg Many thanks for your review and answer.
@affans If you're satisfied with modifications and corrections, we can can proceed with acceptance and publication.

[2021-07-26 09:16] rsankar9 commented on #50
Thanks for your responses.
@rgutzen I'll try to incorporate these comments, and upload the revised version by next week.

[2021-07-26 16:43] sje30 commented on #34
hi all, am now working through these.

Postprint == correct here, I think.  I uploaded the article to arxiv long after the paper was accepted.

[2021-07-26 16:50] sje30 commented on #34
I have reverted figure 1 to b/w, and removed excess comments.

I'm now getting problems however getting article.tex to compile.  I think it may be my lack of python skills, but when I run make in the template_master folder, I get the following error:

[code]

I did also have to fix article.py to specify which loader to use.

[2021-07-26 18:13] sje30 commented on #34
[code]

[2021-07-27 10:06] rougier commented on #34
Can you check if you have the latest version of the article template (with `yaml-to-latex.py`)?

[2021-07-27 10:54] rougier commented on #42
Ok. Note that according to our process, you can serve as 2nd reviewer while being the editor.

[2021-07-30 07:50] MathieuBo commented on #54
**Authors Response (AR)**: Dear @illdopejake,
Thank you for reviewing our reproducibility report! Please find below answers to your comments.

Apologies for the delay. I've read through the original Henderson et al. manuscript and the Paul & Bourdenx ReScienceC manuscript. I also took a try of reproducing the code locally. I have some feedback as it pertains to this initial experience with the man

[2021-07-30 14:09] ghost opened #57 "Reproducibility and reusability limitations in RegulatoryCircuits: analysis and solutions"
**Title: ** Reproducibility and reusability limitations in Regulatory Circuits: analysis and solutions

**PDF URL:** https://gitlab.com/mlouarn/RegulatoryCircuits/-/blob/main/Article/Louarn_ReScience_2021.pdf
**Metadata URL:** https://gitlab.com/mlouarn/RegulatoryCircuits/-/blob/main/Article/metadata.yaml
**Code URL:** https://gitlab.com/mlouarn/RegulatoryCircuits

**Suggested editor:**

Following

[2021-07-31 20:18] sje30 commented on #34
thanks.  I started over with a fresh template/ and that seemed to do the job nicely.  I have now pushed the new version to github, and converted from the Rmarkdown to use the template.  See: https://github.com/sje30/rescience-hor/blob/master/template/article.pdf

[2021-08-03 23:12] labarba commented on #55
Dear editor and reviewers: we have made changes responding to reviewer comments in this merged PR
https://github.com/barbagroup/rescience-rollingpitching/pull/3

[2021-08-04 02:24] mesnardo commented on #55
@khinsen, @pantale, @chengyu1018 Thank you for the valuable feedback you provided!
We addressed your comments/questions with modifications to the manuscript and to the code application repository:

* Changes made to the **application code** repo were merged to the main branch via PR barbagroup/petibm-rollingpitching#4
* Changes made to the **manuscript** repo were merged to the main branch via PR

[2021-08-04 02:25] mesnardo commented on #55
Replying to @chengyu1018

That's a great suggestion; it will give a visual sense to the readers on the type of grids used in this study.
We added a figure containing a sub-view of the mesh grid (for the base case) to the manuscript (Figure 1).
Figure added to manuscript in barbagroup/rescience-rollingpitching@b0501c6.
Script to generate the figure added to the application repo in barbagroup/petibm

[2021-08-04 02:26] mesnardo commented on #55
Replying to @pantale

100% agree.
To distinguish between references and footnotes, we now use symbols as footnote markers.
The switch to symbols was done in barbagroup/rescience-rollingpitching@aad7e5d.

We added to the manuscript a more detailed paragraph on the calculation of the hydrodynamic power.
In this paragraph, we explain why we choose to interpolate at a distance of 3% of the chord lengt

[2021-08-04 02:27] mesnardo commented on #55
Replying to @khinsen

We added a section to the README of the code repository with the requirements (software/hardware) to run the Singularity container (barbagroup/petibm-rollingpitching@a06bec9).
And considering that most of us do not have free access to machines with enough memory, we also added some instructions to launch and configure an AWS EC2 instance to run the simulations (barbagroup/pet

[2021-08-04 15:41] khinsen commented on #55
Thanks @mesnardo for those very useful and relevant additions to your code and paper, and also for summarizing them here with precise references so that it's easy for us to find them. With the right tools and the right attitude, reviewing papers can actually be a nice experience!

@chengyu1018 and @pantale: please have a look at these changes and say if you are happy with them.

[2021-08-04 15:46] khinsen commented on #55
@mesnardo As for the changes prompted by my own comments, they look very good. Providing AWS instructions is an excellent idea for helping others build on your work, as is archiving the container images.  I am not much of a fan of that approach in general, but as a workaround for difficult situations, that's fine with me.

The memory requirements do indeed explain my failure to reproduce the repro

[2021-08-04 15:49] khinsen commented on #54
Thanks @MathieuBo for your detailed reply. @illdopejake, are you happy with this?

Also pinging @ejcorn for the second review.

[2021-08-06 16:55] chengyu1018 commented on #55
@khinsen The authors have adequately addressed my concerns and I believe this is acceptable for publication.

[2021-08-09 09:39] MukundVarmaT commented on #53
@oliviaguest Hi! Sorry to trouble you, when can we expect to complete the whole process?
Thanks

[2021-08-10 12:46] sje30 commented on #34
Do I need to do anything on here to signal the paper is ready for checking again?

[2021-08-11 09:28] oliviaguest commented on #53
@MukundVarmaT it's August, I've been very ill for the past weeks unfortunately for me, and I'm about to start a new job Sep 1st, so I can't promise speed right now. But I will try on Monday. 😊

[2021-08-11 14:18] kiristern commented on #56
hi @affans any feedback on our last update? Thanks!

[2021-08-12 03:02] illdopejake commented on #54
Hi all, sorry for the delay. Yes I've reviewed all the changes. The authors have done a great job with this and I have nothing more on my end. --Jake

[2021-08-12 14:01] ejcorn commented on #54
Hi all, sorry for my delay on this. I have a few small comments but the manuscript and code look great. Certainly an improvement upon our code repository and happy to see a successful replication!

**Manuscript**

- Graph theory and brain connectivity: from the perspective of matrix multiplication in linear systems, outgoing connections are the columns and incoming are the rows. This is counterint

[2021-08-13 11:46] rsankar9 commented on #50
@rgutzen Thank you for your comments. I've made some minor changes in response to them.

- In Figure 1, I've added a graphical marker to indicate the scale.
- On page 4, I have described the term deviation metric, as I'll be re-using it all across the paper. I've now emphasised it in bold, so that it is more clear to the reader.
- Fixed the typos.
- I've annotated the figure to make this clear.

[2021-08-13 15:28] khinsen commented on #54
Thanks @ejcorn for your review! @MathieuBo, any comments from your side?

[2021-08-16 14:58] khinsen commented on #57
Thanks @fchatonn and @mlouarn for your submission! After a first reading of your paper, I think we can consider it either a (mostly failed) reproduction report, or a (mostly failed) replication report.

Before we go on, a question: it isn't completely clear to me, after a non-expert reading of your paper, what the status of your code is. I understand that it is a (partial?) implementation of your

[2021-08-17 15:09] ghost commented on #57
We agree with you that our article could be considered as a mostly (or partially) failed replication report. Reproduction report seems less applicable since we tried to reproduce the methodology, but not with the code which was provided by the authors (java scripts).

To answer your question, yes our code is a partial implementation of our understanding of the original work, using both input data

[2021-08-17 16:53] kiristern commented on #56
@rougier still waiting for @affans final review, but in the meantime, just wondering about the editor role... @karthik hasn't responded so is it my job to find someone else? Thanks

[2021-08-18 05:07] karthik commented on #56
I'm out on paternity leave for a few months. So please find someone else.

[2021-08-18 08:39] khinsen commented on #57
Thanks @fchatonn for those explanations. Let's go for "replication" then!

@ctb Can you edit this submission?

[2021-08-18 13:36] affans commented on #56
Hello, sorry for the late response. I am satisfied with the latest update.

[2021-08-18 14:28] kiristern commented on #56
@affans Great, thank you so much!
@rougier what would be the next steps to proceed with the acceptance and publication process?
@sdwfrost would you be still willing to go over our submission as the editor?

[2021-08-18 15:41] oliviaguest commented on #53
@MukundVarmaT @NishantPrabhu OK, we are very close to publication, can you please do this, from https://github.com/rescience/articles#readme:

NB, the published date... if you can get this back to me by next Friday that will be cool. Otherwise, I forget how we synchronize this, @rougier?

[code]

[2021-08-18 16:07] MukundVarmaT commented on #53
@oliviaguest
Thank you for the update. I have updated [article.pdf](https://github.com/NishantPrabhu/Self-Attention-and-Convolutions/blob/main/article.pdf) on the repository. I hope this will be alright?

[2021-08-19 08:10] rougier commented on #34
sorry for the delay. Articlel looks good to me and from the review by @stephanmg I think we can accept the paper.

I'll try to edit it today starting from your new version. Stay tuned.

[2021-08-19 08:25] rougier commented on #34
I would need a software heritage ID. Can you save your repo at https://www.softwareheritage.org/save-and-reference-research-software/ and give me back the corresponding swid?

[2021-08-19 13:29] pantale commented on #55
This is also Ok for me.

[2021-08-19 14:10] labarba commented on #55
Sincere thank you to both reviewers and the editor for their contribution to this paper's publication in ReScience.

[2021-08-20 07:07] khinsen commented on #55
Thanks @chengyu1018 and @pantale for reviewing this paper, which is now officially accepted!
And thanks to @mesnardo and @labarba for providing ReScience with this interesting challenge to its reviewing procedure.

I'll start with the technicalities of publication, and it is possible that I will request help from @mesnardo. Stay tuned.

[2021-08-20 16:20] khinsen commented on #55
Status update: Looks like I won't get this out today - Software Heritage seems to be very slow, so I don't have the SWHID for the code repository yet.

[2021-08-20 19:59] sje30 commented on #34
Thanks @rougier but am having problems uploading to software heritage.  https://twitter.com/StephenEglen/status/1428808288506945536?s=20

perhaps it is just Friday night and it will be better in the morning!

[2021-08-21 10:45] khinsen commented on #34
Software heritage seems to have some technical issues at the moment, I didn't manage to save a GitHub repo yesterday. BTW, you don't need an account there, what you did should have been sufficient.

[2021-08-21 13:02] sje30 commented on #34
Thanks Konrad.  Seems to be a bit healthier this morning -- I can see this now:

https://archive.softwareheritage.org/browse/origin/directory/?origin_url=https://github.com/sje30/rescience-hor

[2021-08-21 13:05] sje30 commented on #34
@rougier : is this what you need?
swh:1:dir:6088b7312865b39a4a5f5af78556bf6da5fa6409;origin=https://github.com/sje30/rescience-hor;visit=swh:1:snp:a2df6c1cf91ec9a80d08026d7728a503eb64c7a6;anchor=swh:1:rev:0882985f8a0e3ea32f8898175460bacc8060b552

[2021-08-21 13:05] sje30 commented on #34
[![SWH](https://archive.softwareheritage.org/badge/swh:1:dir:6088b7312865b39a4a5f5af78556bf6da5fa6409/)](https://archive.softwareheritage.org/swh:1:dir:6088b7312865b39a4a5f5af78556bf6da5fa6409;origin=https://github.com/sje30/rescience-hor;visit=swh:1:snp:a2df6c1cf91ec9a80d08026d7728a503eb64c7a6;anchor=swh:1:rev:0882985f8a0e3ea32f8898175460bacc8060b552)

[2021-08-23 07:41] khinsen commented on #55
@mesnardo I tried to recompile your LaTeX file after updating the metadata. It works but I get suspicious warnings about multiply defined labels:
[code]
Could you please fix this, or confirm that I can safely ignore the warnings?

[2021-08-23 08:00] khinsen commented on #55
@mesnardo Alternatively, accept https://github.com/barbagroup/rescience-rollingpitching/pull/4 and generate the final PDF yourself!

[2021-08-23 13:07] mesnardo commented on #55
@khinsen Thank you for the PR. I merged it and generated the PDF (after removing the duplicated figure, which was causing the warning). The PDF can be found [here](https://github.com/barbagroup/rescience-rollingpitching/blob/accepted-2021.08.23/article.pdf).

[2021-08-23 14:11] khinsen commented on #55
The article has been published: http://doi.org/10.5281/zenodo.5234931. It will be listed on the ReScience Web site after the next update.

[2021-08-23 14:11] #55 closed, assigned to khinsen

[2021-08-24 10:53] MathieuBo commented on #54
Sorry for the delay to answer (August in France ...). Thanks a lot @ejcorn for reviewing our manuscript and code!
I have now edited the description of the connectivity matrix to correct for the inversion between incoming and outgoing (thanks for catching that!). I already pushed the new version of the manuscript on the repository.

Regarding the code execution, I am not able to reproduce the pause

[2021-08-24 15:18] CoraliePicoche opened #58 "[Re] Reproductive pair correlations and the clustering of organisms"
**AUTHOR**

Dear **@ReScience/editors**,

I request a review for the following replication:

### Original article

**Title**: Reproductive pair correlations and the clustering of organisms \
**Authors**: W.R. Young, A.J. Roberts & G. Stuhne\
**Journal**: Nature\
**Year**: 2001\
**DOI**: 10.1038/35085561\
**PDF**: https://www.nature.com/articles/35085561.pdf

### Replication

**Authors**: C. Picoch

[2021-08-25 12:30] labarba commented on #55
I'm a little confused by the footer indicating volume and issue. Is it Volume 7 issue 1 ? What do you use in ReScience for "page number"? Online-only journal generally use some article id for that.

[2021-08-25 14:00] khinsen commented on #55
`7.1 (#7)` means volume 7, issue 1, article 7. The last 7 is thus the article id.

[2021-08-27 12:36] oliviaguest commented on #53
@otizonaizit, are you the right person to ask? Does anybody know how to fix this?

[code]

[2021-08-27 12:51] oliviaguest commented on #53
Regardless, though: Done! How do we update the website?

[2021-08-27 13:52] kiristern commented on #56
@rougier if @sdwfrost isn't able to act as editor, would you be able to recommend someone or would I need to reach out to someone from the https://rescience.github.io/board/ members?

[2021-08-28 09:21] khinsen commented on #53
@oliviaguest The update is run by @rougier from time to time, by hand. One of the single-points-of-failure in our current workflow.

[2021-08-29 23:03] ejcorn commented on #54
Probably just something to do with my package versions or GUI set up. I didn't run it in a clean environment. No need to chase after this. If you're curious, here's the output:

[code]

At that point, 10 figures pop up that I need to close before it will proceed to:

[code]

[2021-08-30 08:17] MathieuBo commented on #54
Thanks @ejcorn. I look into that.

[2021-08-30 14:09] tpoisot commented on #56
@rougier just a ping (I know the fall term is hard on everyone!) - do you want us to approach another editor, or can you take care of the next steps?

[2021-08-31 07:32] rougier commented on #34
Yes, sorry for the delay. I'll try to do it today!

[2021-08-31 07:47] rougier commented on #34
The sandboxed version is online at https://sandbox.zenodo.org/record/908095, can you check if everything's ok? Then I'll proceed with the actual publication.

[2021-08-31 07:52] rougier commented on #58
Thanks for your submission and sorry for the late answer. We'll assign an editor soon.

[2021-08-31 07:52] rougier commented on #58
@pdebuyl @tpoisot Could any of you edit this submission?

[2021-08-31 13:05] MathieuBo commented on #54
@ejcorn , I found the issue.
Depending on how you execute the code (within an IDE or through terminal), the script was pausing after plotting awaiting for the user to close the figures before proceeding.
In order to prevent that issue, I have created a new argument ```display_plots``` in the ```DataManager``` class. By default it is set to ```False``` and the plots are saved to the output folder.

[2021-08-31 14:23] sje30 commented on #34
Super, thanks @rougier -- all looks good to me.

[2021-08-31 15:53] ejcorn commented on #54
Sounds good! Thanks for addressing.

On Aug 31, 2021, at 9:08 AM, Mathieu Bourdenx ***@***.***> wrote:

﻿

@ejcorn<https://github.com/ejcorn> , I found the issue.
Depending on how you execute the code (within an IDE or through terminal), the script was pausing after plotting awaiting for the user to close the figures before proceeding.
In order to prevent that issue, I have created a new argument

[2021-08-31 15:57] rougier commented on #34
It's online at https://zenodo.org/record/5347786 ! Congratulations. It should appear soon on rescience website (a few minutes)

[2021-08-31 15:59] #34 closed, assigned to rougier

[2021-08-31 16:12] sje30 commented on #34
Thanks!  Great job.

[2021-08-31 17:58] rougier commented on #34
And so sorry for the very long delay until publication.

[2021-08-31 18:11] sje30 commented on #34
no problem at all!

[2021-09-01 09:34] khinsen commented on #54
Thanks @MathieuBo and @ejcorn for looking into what seems to me like a matplotlib backend configuration issue.

Question for @ejcorn: are you happy with the article and code as it is now? In other words, can we accept it for publication?

[2021-09-01 12:15] ejcorn commented on #54
Yes, absolutely! I’m more than happy with the article and code. I recommend for publication.

From: Konrad Hinsen ***@***.***>
Reply-To: ReScience/submissions ***@***.***>
Date: Wednesday, September 1, 2021 at 5:35 AM
To: ReScience/submissions ***@***.***>
Cc: "Cornblath, Eli" ***@***.***>, Mention ***@***.***>
Subject: [External] Re: [ReScience/submissions] [Re] Spread of alpha-synuclein patholog

[2021-09-02 09:26] khinsen commented on #54
Thanks @ejcorn for confirming! And thanks to both @ejcorn and @illdopejake for their very constructive reviews. The paper is now accepted!

[2021-09-02 09:28] MathieuBo commented on #54
Excellent news! Thanks again everyone for the help and constructive comments!

[2021-09-02 09:59] khinsen commented on #54
@MathieuBo I need your help for the publication process because I get LaTeX errors when trying to compile your article. Could you please accept https://github.com/MathieuBo/Re-Henderson-2019/pull/1 and compile the final version of the article? Feel free to check my changes to the metadata of course (except for the DOI, which isn't active yet so you cannot check it).

[2021-09-02 10:10] MathieuBo commented on #54
@khinsen, I have just merged your PR, recompiled the final version of the article and pushed it on the repo.

[2021-09-02 10:37] khinsen commented on #54
Thanks @MathieuBo for the quick update. The paper is now published: https://zenodo.org/record/5379631/files/article.pdf

[2021-09-02 10:38] #54 closed, assigned to khinsen

[2021-09-03 07:25] rougier commented on #53
I'm a the bus factor! Well, actually you can dot it but I strongly encourage you to test it locally. I already broke it several times and I think Konrad broke it too at some point. Problem is jekyll / jekyll-scholar that only plays nicely with ruby 2.6 (via rbenv).

[2021-09-06 08:35] rougier commented on #56
Hi all, sorry for the late answer. I'll take the role of editor and proceed with the next steps.
I think @affans and @stephanmg are both satisified such that we can accept the submission. Congratulation @kiristern!

For actual publication, can you give me the link to the latex sources (may be easier for me to directly edit it).

[2021-09-07 15:37] kiristern commented on #56
Amazing, thank you so much @rougier ! I exported our Overleaf and uploaded it to our github under LaTeX https://github.com/BIO6032/2021_replication_LipstichEtAl_1996/tree/master/LaTeX our text is found in the content.tex file

[2021-09-08 16:37] MukundVarmaT commented on #53
@oliviaguest Hi
Just wanted to confirm if all the formalities for publication are completed, and if there is anything else left to be done?
Thanks

[2021-09-14 07:21] khinsen commented on #57
:bell: @ctb Can you edit this submission?

[2021-09-14 12:20] tawantayron commented on #49
Dear editor @eroesch , we kindly ask again for an update. There was no feedback since our last correction. Did you manage to run the codes normally or is there still something missing?

[2021-09-16 14:35] snowgoon88 commented on #51
Hello,

@gdetor we have addressed the comments and propositions of the reviewers (detailed answer follow). The new paper and code can be found at the same URLs

PDF URL: https://members.loria.fr/ADutech/Papier/rescience_egbert14_by_GillardFixDutech.pdf
Metadata URL:
Code URL: https://gitlab.inria.fr/openbiscuit/rescience_egbert14
(code is in directory 'python', latex for paper in 'article_rescienc

[2021-09-17 06:36] gdetor commented on #51
Hi @benoit-girard and @anne-urai Could you please review the revised version of the paper? Thank you

[2021-09-20 08:00] rougier commented on #49
@eroesch Any update ? Also, maybe @benoit-girard would be interested in reviewing this submission on a Large-Scale Network Model of the Basal Amygdala

[2021-09-20 09:38] eroesch commented on #49
Hi! I was indeed off the grid for a while! I had issues running the original code, and haven't had time to try all of @niltonlk's fixes. I have timeblocked time to run through it this week. @benoit-girard, Would you mind giving it a go as well? What would be a good timeline for you?

[2021-09-21 08:46] Kahss commented on #48
Hello all. I would like to know if you have any news ?

[2021-09-21 14:07] oliviaguest commented on #48
@ESSYCHAN @wmkouw are your reviews possible to be done by the end of the month?

[2021-09-22 10:00] anne-urai commented on #51
Thank you for your revisions. I find the explanation in section 2.1 and the new figure very helpful. The provided videos are also great; consider linking to them from the pdf.

It is also good to have more clarity on the exchange with M. Engbert (I would suggest to include the date of the last email exchange on page 17, to give an indication of how long you've waited for a reply). Perhaps somethin

[2021-09-22 20:19] tpoisot commented on #56
@rougier is there something we can do to help with the editing?

[2021-09-28 13:12] oliviaguest commented on #53
@MukundVarmaT it looks good to me! http://rescience.github.io/bibliography/Varma_2021.html

[2021-09-28 15:06] CoraliePicoche commented on #58
Hello,

We were wondering if there were any news regarding our submission. Has an editor been assigned yet ?

Thank you for your help.

[2021-10-04 07:02] rougier commented on #49
@eroesch @benoit-girard Any update?

[2021-10-04 07:04] rougier commented on #48
@oliviaguest Any update ?

[2021-10-04 08:10] rougier commented on #51
@gdetor Any update?

[2021-10-04 08:12] rougier commented on #58
I'm very sorry, this is entirely my fault. Don't hesitate to post message here if you do not see any progress (this will send me a notification).

@pdebuyl @tpoisot Could any of you edit this submission?

[2021-10-04 08:13] rougier commented on #56
Not at all, I did not see @kiristern gave me the link. I'll edit it today.

[2021-10-04 08:31] rougier commented on #56
@tpoisot @kiristern I would need you to update your article template from https://github.com/ReScience/template and to register your code at https://www.softwareheritage.org/save-and-reference-research-software/ such as to get a SWID.

[2021-10-04 08:52] oliviaguest commented on #48
Nothing from me sadly... I tried 2 weeks ago as you see above. I will now try to email the reviwers.

[2021-10-04 08:53] oliviaguest commented on #48
@D-Maurel have you addressed @wmkouw's comments and/or do you need feedback from them at the moment?

[2021-10-04 08:54] khinsen commented on #57
@ReScience/editors Any volunteers for editing this submission?

[2021-10-04 09:35] benoit-girard commented on #50
@schmidDan did you have a look at the final vesion?

[2021-10-04 10:18] eroesch commented on #49
Jep. All done. It took a few days to run the last models, sorry. @benoit-girard, I do not think I need you to do a review.

Thank you for fixing the code, I can now confirm that I have managed to run all your scripts, and have reproduced all the figures presented in your submission; the more complex models took a few days. The figures you produce are similar to those in the original work (but not

[2021-10-04 11:51] tpoisot commented on #56
@kiristern can you take care of this?

[2021-10-04 12:40] kiristern commented on #56
@faresdhane @sandrinesoeharjono could either of you look into this? Otherwise, I will only be able to get to this at the end of the week.

[2021-10-04 19:06] tawantayron commented on #49
Dear Editor @eroesch , we are grateful for your comments and for recommending acceptance of our work. In a few days, we will submit the new version correcting the points you mentioned. Cordially.

[2021-10-05 08:21] eroesch commented on #49
Great, thanks @tawantayron. Once you are done, I will edit your files, and will ask you to compile the .tex file again, to include metadata. I will for your repo and produce a pull request for you to review.

[2021-10-05 09:31] Kahss commented on #48
@oliviaguest I haven't, I was waiting for another possible review to address every feedback at once.

[2021-10-05 20:53] gdetor commented on #51
@benoit-girard Gentle reminder

[2021-10-05 21:58] pdebuyl commented on #58
Hi @rougier the submission repo seems to have disappeared. @CoraliePicoche the links give an error, have there been changes to the submission?

[2021-10-06 05:49] rougier commented on #58
@pdebuyl Same for me. @CoraliePicoche Is your repository public ?

[2021-10-06 08:29] CoraliePicoche commented on #58
Hello,

My bad, it seems that I had forgotten this (crucial...) part. This should be ok, now.

My apologies for this mistake.

[2021-10-06 10:59] rougier commented on #58
Works now ! @pdebuyl Can you edit it ?

[2021-10-07 08:45] pdebuyl commented on #58
Yes

[2021-10-07 12:19] rougier commented on #58
@pdebuyl Great and many thanks.

[2021-10-08 10:40] JarlLemmens opened #59 "[Re] Object Detection Meets Knowledge Graphs"
**Original article:**

**PDF URL:**
[[Re] Object Detection Meets Knowledge Graphs.pdf](https://github.com/ReScience/submissions/files/7310407/Re.Object.Detection.Meets.Knowledge.Graphs.pdf)
**Metadata URL:**
[metadata.txt](https://github.com/ReScience/submissions/files/7310554/metadata.txt)
**Code URL:**
https://github.com/tue-mps/rescience-ijcai2017-230

**Scientific domain:**
Computer Vision
**P

[2021-10-08 10:46] JarlLemmens commented on #59
**Metadata URL:**
https://github.com/tue-mps/rescience-ijcai2017-230/blob/main/metadata.yaml

[2021-10-11 07:54] rougier commented on #59
Thanks for your submission, an editor will be assigned soon.

@benoit-girard Can you edit yourself or assign an editor?

[2021-10-11 10:27] davinellulinvega opened #60 "[Re] An anatomically constrained neural network model of fear conditioning"
**Original article:**
Armony, J. L., Servan-Schreiber, D., Cohen, J. D., & LeDoux, J. E. (1995). An anatomically constrained neural network model of fear conditioning. Behavioral Neuroscience, 109(2), 246–257. https://doi.org/10.1037/0735-7044.109.2.246

**PDF URL:**
https://github.com/davinellulinvega/ReArmony/blob/master/article.pdf
**Metadata URL:**
https://github.com/davinellulinvega/ReArmony/

[2021-10-11 13:13] tawantayron commented on #49
Dear editor @eroesch , we made the following modifications:

- We added the file “requirements.txt” which contains all versions of the packages used to run the models, and also added simplified commands to install an anaconda environment with all the packages needed to run the codes. We also create a document with the instructions to install the packages using pip.
- Thanks to the editor for highl

[2021-10-15 20:04] davan690 commented on #57
Hi all, I can have a look but I am very novice when it comes to reviewing but am over my head in reproducibility so happy to have it a go. :) Ant

[2021-10-17 04:32] sandrinesoeharjono commented on #56
Hi @rougier!

So it turns out we hadn't updated our LaTeX scripts (and so we did not have the most recent bugfixes ReScience had made to the template repository). I've since remedied the situation (see [p-r](https://github.com/BIO6032/2021_replication_LipstichEtAl_1996/pull/32)) and the `make` command can now properly be executed. I want to note that I do observe a bizarre `pdflatex: Command for '

[2021-10-18 08:32] rougier commented on #60
Thanks for your submission. An editor will be soon assigned.

@eroesch @oliviaguest @benoit-girard Can one of you edit this submission ?

[2021-10-18 08:40] rougier commented on #57
@khinsen @ReScience/editors Any volunteers ?

[2021-10-18 08:45] eroesch commented on #60
Yes @rougier, I can do.

[2021-10-18 08:55] rougier commented on #56
I got some undefined sequences when trying to compile your PDF (`\mysubscript` and `\sidesubfloat`). Are you using specific packages for those?

[2021-10-18 09:08] eroesch commented on #60
In fact, I have done some work using the original paper myself at some point :)

[2021-10-18 09:13] schmidDan commented on #50
@benoit-girard @rsankar9 Thanks for your patience and appologies for the considerable delay (which was an unforseen one as well on my end). I'm back in the loop by now and pulled the latest changes. I should be done with having a look at the final version by tomorrow evening.

[2021-10-18 11:56] kiristern commented on #56
Looking at our first copy, i found `\newcommand{\mysubscript}[1]{\raisebox{-0.34ex}{\scriptsize#1}}` added in our old `header.tex`... I vaguely remember having subscript issues when we were first writing up our article so this must have been the work around. I just went back into the `context.tex` and replaced where the `\mysubscript` function was with `$Y_{1.0}$` and it seems to compile fine (ie.

[2021-10-19 03:48] sandrinesoeharjono commented on #56
Hi @rougier,

My apologies. We've fixed both issues and pushed the latest modifications onto `master`. Please note that we've added the line `\usepackage{subfig}` in `article.tex`; I hope it doesn't infringe upon your ReScience template.

Thanks in advance!

[2021-10-19 06:21] rougier commented on #56
Now I got `! LaTeX Error: Option clash for package graphicx.` Do you also get it ? If so, can you try to clean your LaTeX directory and recompile from clean directory. Other option is for you to fill metadata (you'll need some information).

[2021-10-19 13:29] davinellulinvega commented on #60
Well thank you very much in advance for you time and consideration.

[2021-10-19 17:45] rougier commented on #56
Seems, to work now. Will try to publish tomorrow. Sorry for all the delays.

[2021-10-19 18:25] rougier commented on #56
Do you have the SWID from software heritage ?

[2021-10-19 21:26] schmidDan commented on #50
@rsankar9 Thanks for your responses and incorporation of my previous comments, as well as your patience. The article as well as implementation make for a great read now.

## Review Summary

* The article as well as the implementation have been greatly improved since my last review. As well, all my points have been addressed satisfactorily. Additional (sub-)figures and clear metrics for judging the

[2021-10-19 22:24] sandrinesoeharjono commented on #56
@rougier I have not gotten any news from them since the submission. If I don't hear back from them within a day or two, I can contact them again (or try another submission).
<img width="1438" alt="Screen Shot 2021-10-16 at 1 44 34 AM" src="https://user-images.githubusercontent.com/46568441/137998945-6bb5d0b5-b345-4966-90f1-1e82426b2f03.png">

[2021-10-20 05:17] rougier commented on #56
Oh, ok. Tell me as soon as you get the ID.

[2021-10-20 05:18] rougier commented on #56
By the way, did you update the template? I cannot see the `swid` entry in the metadata.yaml

[2021-10-20 17:55] khinsen commented on #57
@davan690 Do I understand correctly that you are volunteering to review this submission?

[2021-10-20 17:57] khinsen commented on #57
@fchatonn Can you propose additional reviewers for your work? I'd then declare myself competent enough for the role of editor.

[2021-10-22 01:33] tawantayron commented on #49
Dear @eroesch ,

We have already performed the update of the metadata file and the new PDF version of the manuscript is available. If more changes are still needed, we are at your disposal. Cordially,

[2021-10-22 13:43] ghost commented on #57
I sent a reply by e-mail, but I don't see it coming here, so I'm pasting it:

Dear all,

We can propose the following persons as suitable reviewers:

- Adrien Coulet, adrien.coulot@inria.fr
- Sarah Cohen Boulakia, cohen@lri.fr
- Ulf Leser, leser@informatik.hu-berlin.de

We hope that some of them will accept the reviewing work.

[2021-10-22 16:33] odameron commented on #57
On 10/22/21 3:43 PM, fchatonn wrote:

Egon Willighagen (Univ. Maastricht) may be another relevant reviewer :
egon​.​willighagen​@​​maastricht​university​.​nl
https://www.maastrichtuniversity.nl/egon.willighagen

best wishes
Olivier Dameron

[2021-10-25 08:25] khinsen commented on #57
Thanks @fchatonn and @odameron for the reviewer suggestions! I'll start with the most active GitHub users.

[2021-10-25 08:26] khinsen commented on #57
@egonw Would you be interested in reviewing a paper on the reproducibility of regulatory circuit analysis for the ReScience C journal?

[2021-10-25 09:39] egonw commented on #57
@khinsen, this is too far outside my research field, I'm afraid.

[2021-10-25 17:07] JarlLemmens commented on #59
Hi @rougier, thank you for the response. Do you have an idea how long the process of reviewing usually takes? Just wondering, since I am new to this :)

[2021-10-25 18:31] gdetor commented on #24
@brembs Gentle reminder

[2021-10-25 18:32] gdetor commented on #51
Hi @benoit-girard Any update on this matter?

[2021-10-25 18:33] gdetor commented on #31
@koustuvsinha  @benureau Gentle reminder

[2021-10-26 12:30] khinsen commented on #57
Thanks @egonw for your quick reply!

[2021-10-26 12:32] khinsen commented on #57
@coulet Would you be interested in reviewing a paper on the reproducibility of regulatory circuit analysis for the ReScience C journal?

[2021-10-27 10:49] brembs commented on #24
I have been thinking that there was something last summer that I forgot to do :-)
Yes, I've put it on my to-do list and will see that I get to it. Thanks for the reminder!

[2021-10-28 23:22] davan690 commented on #57
Yes but I'm not sure this is the right way to do it @khinsen? I only just found this message in my notifications. Regards, Anthony

[2021-11-01 20:00] rsankar9 commented on #50
Thanks to both the reviewers for your thorough and helpful comments. I've made some modifications to the manuscript. Hopefully it should address your concerns.

You're right. For the re-implementation, it uses all available samples. I've updated the caption to make the distinction.

I see what you mean. This is caused due to difference in aspect ratio between the original figure (produced by the s

[2021-11-02 10:33] khinsen commented on #57
@davan690 We do everything on GitHub as much as possible at ReScience, so yes, volunteering on an issue is very much the right way. You are herewith nominated reviewer! I am still looking for a second one, but you can start reviewing right now. If you have any questions about the review process, don't hesitate to ask!

[2021-11-03 10:16] rsankar9 commented on #50
Just a quick update regarding this.
The journal has granted nonexclusive permission to reprint the figures and equations from “A Reservoir Computing Model of Reward Modulated Motor Learning and Automaticity” in this article, provided that the original Neural Computation article is cited appropriately.

[2021-11-04 01:51] davan690 commented on #57
@khinsen Thanks :) I am very new to the github issue workflow but I will do my best...and try and follow the instructions. Just to verify, I will start having a bit of a play around with the review this weekend :) cheers

[2021-11-04 10:15] Kahss commented on #48
Hi all, @oliviaguest, would you have any update for a possible second review ?

[2021-11-04 10:26] oliviaguest commented on #48
I'm really struggling to get anything from the other reviewer. Do you have
any suggestions for a new 2nd reviewer? That might be the only way forward.

On Thu, 4 Nov 2021, 11:15 Denis Maurel, ***@***.***> wrote:

[2021-11-04 10:45] Kahss commented on #48
I don't sorry :/ . What is the minimum number of reviewer required ?

[2021-11-04 11:42] ESSYCHAN commented on #48
Hello Denis,

I'm currently working on the review. should be able to give you feedback by
close of business today.

Best wishes,
Esther.

On Thu, Nov 4, 2021 at 10:45 AM Denis Maurel ***@***.***>
wrote:

[2021-11-04 12:54] Kahss commented on #48
Hello Esther,

Thank you very much ! I'm looking forward to reading your comments !

[2021-11-04 17:09] ESSYCHAN commented on #48
Dear Maurel,

Attached, please find the PDF document with my comments on the paper:

[Replication_CHISEL (1).pdf](https://github.com/ReScience/submissions/files/7476387/Replication_CHISEL.1.pdf)

I'll also issue a few comments here in this section:

I generally enjoyed reviewing your work, I think it is a commendable piece of work but there is room to add a few things.

**The paper**

It was an ea

[2021-11-05 09:01] Kahss commented on #48
Thank you very much Esther, your comments are really insightful. I will work on the paper in the few next days and come back with an updated version. Thanks again !

[2021-11-05 12:38] pdebuyl commented on #58
@CoraliePicoche we have one reviewer already, @rajeshrinet . The review will start when I secure a second reviewer.

[2021-11-05 12:41] CoraliePicoche commented on #58
Many thanks for the news, @pdebuyl

[2021-11-05 15:41] Kahss commented on #48
Hello again @ESSYCHAN ,
Thanks again for your comments. I've been integrating them as precisely as possible in the paper sources. The gitlab repository has been adequately updated.

I would have some questions about your remarks on the code:
- When you say that the __main__.py file produces an error, could you please give me the command you're trying to run ? The file is not meant to be run direct

[2021-11-05 15:42] Kahss commented on #48
Dear @wmkouw , your comments have also been integrated, thanks again.

[2021-11-05 17:05] rougier commented on #60
@eroesch gentle reminder

[2021-11-07 20:41] kiristern commented on #56
@sandrinesoeharjono did you hear back about the SWID ID ?

[2021-11-09 01:08] sandrinesoeharjono commented on #56
@rougier Sorry about the delay; I never heard back from them.
I can now however see that the repository did get added to the [archive](https://archive.softwareheritage.org/browse/origin/directory/?origin_url=https://github.com/BIO6032/2021_replication_LipstichEtAl_1996) and the SWHID associated with it is also available:
`swh:1:dir:c0bcbeb993bac32949bc8f0b2a218673899790e7;origin=https://github.com

[2021-11-09 08:12] rougier commented on #49
@eroesch Gentle reminder.

[2021-11-09 08:26] rougier commented on #59
@JarfLemmens Srry for the delay. The whole process an take up to six months but it really depends on how fast we find editor and reviewers and how fast you answer. To accelerate things a bit, you can post messages here such that I get a notification and ask people to update their review.

[2021-11-09 08:27] rougier commented on #59
@benoit-girard @gdetor Can one of you edit this submission?

[2021-11-09 08:27] rougier commented on #51
@gdetor Any update?

[2021-11-09 08:27] rougier commented on #31
@gdetor Any update?

[2021-11-09 08:50] JarlLemmens commented on #59
@rougier Okay cool, thanks for the update!

[2021-11-09 09:00] rougier commented on #24
@gdetor @brembs Gentle reminder

[2021-11-09 09:21] brembs commented on #24
Yes, yes :-)

[2021-11-09 11:08] benureau commented on #31
@gdetor, @rougier: I am finishing the review right now. Hopefully will be done by the end of the day.

[2021-11-09 13:33] eroesch commented on #49
All done. I think: [https://zenodo.org/record/5657320#.YYp2_r2mOAk](https://zenodo.org/record/5657320#.YYp2_r2mOAk).
I am not quite sure I understand how to update the website though, @rougier...

Also, I have had to update the metadata myself and latex the pdf (first because I needed to add the publication date, and then because I have had to re-reserve a doi), then I also hit a bump with the san

[2021-11-09 16:26] gdetor commented on #31
@koustuvsinha Gentle reminder

[2021-11-09 19:30] koustuvsinha commented on #31
Sorry about the delay, thanks for reminding! The paper looks much polished now, thanks for incorporating the suggested changes. Looks good to me now, it would be perhaps better to consolidate the key findings of Section 4 in a new section "Summary of Reproducibility" before/after the introduction to help readers better gain a quick insight of the results.

[2021-11-14 21:51] benureau commented on #31
Sorry, still verifying some part of the code. Will be done soon.

[2021-11-15 09:01] wmkouw commented on #48
I'm sorry. I don't have the time to review the paper again. I recommended to accept the paper the first time around and I trust @ESSYCHAN's feedback to have led to improvements, so I'd recommend 'accept' again.

[2021-11-15 09:32] ESSYCHAN commented on #48
Hello,

For the main file, I tried just running the file on its own, but it worked well when I ran it indirectly. $make run_example TARGET
yes this was a typo problem, it's running well with $make example**s**
As for the range(3), I tried to increase to range 10 but as soon as the file runs, the range resets to the original value 3.

I believe that given the corrections you've made I would recomme

[2021-11-15 10:32] FTurci commented on #58
### General comments

The article reproduces the results of Young et al. Nature 2001 and provides an additional precious step-by-step derivation of the pair density function.

The authors also provide an interesting discussion of the characteristic scales for the validity of the approach, which reveals some limitations of the theoretical model and suggests possible avenues for future development.

[2021-11-15 10:35] pdebuyl commented on #58
Hi @FTurci thank you very much for getting to this!

[2021-11-15 11:29] CoraliePicoche commented on #58
Hello @FTurci ,
Thank you very much for your positive feed back, we will do the corresponding corrections very soon!
Best regards
Coralie Picoche

[2021-11-15 12:22] rajeshrinet commented on #58
@pdebuyl  I have now gone through the paper and the code. It does an excellent job at reproducing the results of Young et al Nature 2001.  I particularly appreciate the detailed derivations in the paper and the complimentary well-commented code. Both of these will be very useful for a wider audience. I have included below some minor comments on the code and the paper which the authors may consider

[2021-11-15 12:26] CoraliePicoche commented on #58
Hello @rajeshrinet,
Thank you very much for your comments, we will do the modifications you ask for soon.
Best regards
Coralie Picoche

[2021-11-16 12:29] Kahss commented on #48
@wmkouw Thank you very much for your approval.

@ESSYCHAN Ok I understand. Actually to be sure that examples can be run whatever the potential previous execution errors, I use a `<filename>_CLEAN.py` version for the ressource files (in the `ressource` folder). This way, to ensure that everything is ok, I erase the last copy of the file and I duplicate the `CLEAN` version. I hope it helps.
And anyw

[2021-11-16 13:05] Kahss commented on #48
@oliviaguest , could you please tell me what is the next step of the publication process ? Do you require a third reviewer for the paper to be accepted ?

[2021-11-21 19:54] benureau commented on #31
Deep apologies, I am re-running training one last time and then submitting my review.

[2021-11-21 21:19] gdetor commented on #51
@benoit-girard Gentle reminder

[2021-11-22 08:09] rougier commented on #56
@sandrinesoeharjono Yes, sorry for the delay. Let's try to publish it today. I'll make first a sandbox version that you can check and I'll publish it. Stay tuned.

[2021-11-22 08:31] rougier commented on #56
@sandrinesoeharjono  Can you check if https://sandbox.zenodo.org/record/965679 looks correct? This is a sandbox version, not the actual publication

[2021-11-22 08:49] rougier commented on #59
@ReScience/editors Does any of you can edit this submission?

[2021-11-22 08:55] benoit-girard commented on #59
Sorry for the lack of responsiveness. I wil handle the edition of this submission.

[2021-11-22 09:14] benoit-girard commented on #59
@JasonGUTU Would you be interested in reviewing this ReScience submission?

[2021-11-22 09:30] benoit-girard commented on #51
Sorry for being so late. I am fine with the revisions, they address al the questions I raised.

[2021-11-22 10:05] benoit-girard commented on #60
@eroesch : I may serve as a reviewer, let me know if you want me to review this one.

[2021-11-22 10:13] benoit-girard commented on #50
@rsankar9 thanks for the very last updates on the paper. Based on the positive feedback provided by the reviewers, @rgutzen @schmidDan the paper is accepted for publication in ReScience C.
I will start now the tedious editing process, I will soon ask you to recompile your paper with updated data.

@rgutzen @schmidDan : thanks for the time and expertise invested in this review process!

[2021-11-22 11:05] eroesch commented on #60
Thanks @benoit-girard (@rougier). Actually, I hadn't realised when I accepted the editing of that one, that I have actually interacted with the authors a while back, as a examiner for a phd, on a slightly different version of the code. I had then suggested they submit to ReSci C. I am happy to carry on as editor (and I am almost done scrutinising the code, which is straightforward), but perhaps it

[2021-11-22 11:47] benoit-girard commented on #50
@rsankar9 : I updated the metadata.yaml file, I made a Pull Request on your repository for that. I need you to recompile your pdf with the following data: updated editor & reviewer information, and dates of acceptance and publication. After that I will finalize publication.

[2021-11-22 12:22] rougier commented on #49
@eroeach Sorry for late answer. To update the website, you just need to add the bibtex entry (using yaml to bibtex) to the [published.bib](https://github.com/ReScience/rescience.github.io/blob/sources/_bibliography/published.bib) file.

[2021-11-22 13:11] eroesch commented on #49
Perfect. Thanks. All done, PR on the way! @rougier I will let you close the issue, then?

[2021-11-22 13:16] rougier commented on #60
For me, I think it is fine. Especially since our review are open anyway. If you favor the author, everyone will know :)

[2021-11-22 13:54] rougier commented on #48
@D-Maurel We need only two reviewer such that you paper is virtually accepted but @oliviaguest will confirm (or not)

[2021-11-22 14:58] kiristern commented on #56
@rougier looks good to me. I noticed the supplemental figures, which were a [suggestion](https://github.com/ReScience/submissions/issues/56#issuecomment-870795734) in the review process:

have been omitted. No problem, just confirming this was a deliberate edit in the sandbox version.

[2021-11-22 17:28] rougier commented on #56
Oh, you mean there's a missing figure? I get latest changes from your repository and build the PDF again. Can you check if you pushed all your change on GitHub?

[2021-11-22 17:53] kiristern commented on #56
ah, i noticed that while all the supplementary figures were properly uploaded, we were missing the ```supplementary.tex``` file, which i've now included as well as an update to the ```article.tex``` file to call the suppl. figures at the end of the document. Sorry about that

[2021-11-22 18:33] rougier commented on #56
No problem, I'll rebuild the pdf and use it for final publication (unless you want to double check the new PDF). Can you confirme the Zenodo entry looks right to you (authors, links, keywords, etc)?

[2021-11-22 18:46] kiristern commented on #56
Authors, links, keywords all look good to me. However, I just noticed that the abstract wasn't compiled from the ```metadata.yaml``` file, ideas why?
Do @sandrinesoeharjono @faresdhane @tpoisot @aammd want to take a final look before it gets published?

[2021-11-22 18:52] #49 closed, assigned to eroesch

[2021-11-23 06:01] rougier commented on #56
You mean inside the PDF or on Zenodo?

[2021-11-23 06:05] kiristern commented on #56
I was originally referring to not seeing the abstract in the PDF, but i can't seem to find it on Zenodo either

[2021-11-23 07:09] rougier commented on #56
Oh, do you see the abstract in your PDF when you build it locally?

[2021-11-23 10:09] benoit-girard commented on #39
@alegrand a gentle reminder that without the updated pdf your paper cannot be published.

[2021-11-23 11:41] rougier commented on #39
@benoit-girard Maybe you can try email

[2021-11-23 14:13] kiristern commented on #56
hmm, from the previous version (before template update) the abstract appears, but i just downloaded the LaTeX folder from our github and ran it and it doesn't appear. Was there a change in the rescience template?

[2021-11-23 21:19] rougier commented on #56
I checked and it is actually commented. I'll put it back before publishing the final version.

[2021-11-24 05:54] rougier commented on #56
Article is online at at https://zenodo.org/record/5722853! Congratulations!!!

[2021-11-24 05:57] #56 closed, assigned to rougier

[2021-11-24 13:11] Kahss commented on #48
Thanks for the precisions @rougier. I can't wait to see the acceptance confirmed !

[2021-11-25 03:55] gdetor commented on #51
Hi @snowgoon88 , congratulations. Both reviewers have accepted the latest version of your manuscript.
Could you please prepare the final version of your manuscript so I can proceed to its publication?

[2021-11-29 10:44] rsankar9 commented on #50
@benoit-girard Thank you.
I have merged your PR. The PDF has the updated information. Feel free to let me know if there's anything else to be done.

[2021-11-29 19:28] benureau commented on #31
I am sorry for the delay. Part of it was that I spent a lot of time trying to reproduce the results by re-running training without managing, and thought I was doing something wrong.

In the review below, I detail several problems, big and small, I have with the replication effort right now. However, I have a positive opinion of the work that has been done in this replication under difficult circum

[2021-11-29 21:19] bruAristimunha commented on #31
Thank you for the review, @khinsen and @benureau. We are working on responding to all points raised and will respond to all issues within two weeks.

[2021-11-29 21:32] LukasWallrich opened #61 "[Re] Groups of diverse problem-solvers outperform groups of highest-ability problem-solvers - most of the time"
Thanks for your encouragement in ReScience/call-for-replication#6 - as always, this took longer than expected, but I now managed to complete the replications. I'm very much looking forward to hearing your thoughts.

**Original article:** - two articles that built on each other:
Hong, L., & Page, S. E. (2004). Groups of diverse problem solvers can outperform groups of high-ability problem solvers.

[2021-12-01 10:00] khinsen commented on #13
@baioc Any update?

[2021-12-01 10:10] rougier commented on #48
@oliviaguest Can we proceed with publication?

[2021-12-01 10:20] oliviaguest commented on #48
@rougier I have been and still am very unwell for the past 3 weeks. I can try and get to this soon, but unlikely to be today as I am playing catch up. Apologies.

[2021-12-01 10:37] coulet commented on #57
@khinsen  Hi, thanks for proposing the reviewing. I would be encline to accept, in particular with some guidance, as it would be my first with ReScience. I understood that it is mainly about verifying the replicability status. Is there reviewing guidelines? And a timeline for reviews? Best.

[2021-12-01 11:10] khinsen commented on #17
@eroesch @rahulrajpl Do you see any chance of this submission moving on?

[2021-12-01 12:44] rougier commented on #48
@oliviaguest No problem. As soon as we got your go, I can publish the article.

[2021-12-01 19:52] khinsen commented on #57
@coulet Thanks for accepting to review this submission!

What we expect reviewers to evaluate is

1) Are the authors' claims on their results replicate (or not) the results of the original work justified? For example, if the authors say "our figure 1 is equivalent to figure 4 of the original work", do you agree? It's a matter of judgement that requires some familiarity with the subject domain.

2)

[2021-12-01 20:06] baioc commented on #13
@khinsen apologies for being late. It turns out that my prediction of when I'd have the time to tackle this was way off (it also doesn't help that my studies and work have moved far from the subject of this paper).
Now that we're approaching the end of the year, however, I'll soon have some free time to work on this. I'll let you know once the repository is updated with the additional simulations

[2021-12-03 12:56] benoit-girard commented on #39
I just tried that, we will see...

[2021-12-03 12:57] benoit-girard commented on #50
Nothing more to be done on your side, I just have to solve my identification problem with github, and then it should be over...

[2021-12-03 13:50] benoit-girard commented on #50
Ok, I see that the process has been finished (by @rougier ?), and that the paper is officially published and referenced on the journal website.
Congratulations!

[2021-12-03 13:50] #50 closed, assigned to benoit-girard, rgutzen, schmidDan

[2021-12-06 08:16] alegrand commented on #39
I have finally taken the time to polish this article. I deeply apologize to the editors and the reviewer (who all worked in a timely manner) for their patience.
I have just uploaded an updated version here: https://github.com/alegrand/reproducibility-challenge
The main changes are related to recent shutdown of Inria gforge. I have now ensured everything was on a perennial archive (Software Heritag

[2021-12-07 15:18] benoit-girard commented on #39
Some information has been lost since March: I was requiring the integration of my pull request (https://github.com/alegrand/reproducibility-challenge/pull/1), that contains the necessary metadata concerning editor and reviewer identity, as well as dates of submission, acceptance and publication.
Can you do that (and remove the "under review label"), so that I can use that pdf for the end of the pu

[2021-12-07 15:26] benoit-girard commented on #59
@hkashyap or @birdortyedi : would you be interested in reviewing this submission?

[2021-12-07 15:38] jeremyfix commented on #51
Hi,

In the meantime, we got some feedback by M. Egbert which in addition to addressing  some of our questions also submitted a large archive of, among others, part of the code used for the experiments in his paper.

Therefore, although we thank the reviewers for accepting the latest version of the manuscript, we need some more times to process the materials sent by M. Egbert which might, optimist

[2021-12-07 16:27] oliviaguest commented on #48
Is this clear now in the documentation, @D-Maurel?

[2021-12-07 16:41] oliviaguest commented on #61
Happy to take this over! 😊

[2021-12-07 17:04] gdetor commented on #51
@jeremyfix Sounds good

[2021-12-07 17:19] Kahss commented on #48
@oliviaguest , yes it is now. I should have modified the README earlier, my bad.

[2021-12-07 17:41] hkashyap commented on #59
Sure, this is interesting to me and I can review it. @benoit-girard

[2021-12-07 21:47] oliviaguest commented on #61
@marieke-woensdregt has accepted to be one of the reviewers — awesome and thank you! ☺️

[2021-12-07 21:49] marieke-woensdregt commented on #61
Hi! Happy to help!

[2021-12-07 22:26] oliviaguest commented on #48
@D-Maurel @ESSYCHAN is there anything left unaddressed from Esther's feedback here? If not, @ESSYCHAN could you check things that have been made sense for you? Your feedback has been super valuable and I'd hate for it not be used to its full extent. ☺️

[2021-12-08 07:24] Kahss commented on #48
@oliviaguest , for me everything has been addressed. @ESSYCHAN please tell me if there still is any unclear spot in the paper or in the code.

[2021-12-08 17:28] alegrand commented on #39
@benoit-girard, I have finally merged and kind of fixed the latex (for some reason, after merging, lualatex did not want anymore to break my very long hrefs generated by the swhid). It is here is is imho OK for a final version: https://github.com/alegrand/reproducibility-challenge/blob/master/article.pdf

[2021-12-09 11:46] benoit-girard commented on #59
So @hkashyap will be the first reviewer, and @stepherbin will be the second one. Thanks to both of you for accepting this review.

[2021-12-14 12:52] oliviaguest commented on #61
@LukasWallrich do you have any ideas/suggestions for a 2nd reviewer?

[2021-12-15 10:52] rougier commented on #31
@bruAristimunha Gentle reminder.

[2021-12-15 11:09] LukasWallrich commented on #61
Unfortunately, I don't - this is my first foray into computational work, and I don't yet know many people in this space. If necessary, I can, of course, do some research ... but any suggestions would be based on Googling rather than actual judgements of whether someone would be suitable.

[2021-12-15 12:07] rougier commented on #48
@oliviaguest If we do not get news, you can make a decision.

[2021-12-15 13:07] marieke-woensdregt commented on #61
Hi both,
I'm planning to have a look at this tomorrow. I can probably suggest a couple of potential reviewers then. Please do let me know if either of you has considerations you would like me to take into account when thinking about potential reviewers!

[2021-12-15 13:19] ESSYCHAN commented on #48
My apologies Team, I'll run the experiments once more and give feedback
this evening or latest tomorrow morning. I understand everyone has been
busy trying to close the year, same for me here. It is hectic but pusing to
close off the review as well.

Best regards,
Esther.

On Tue, 7 Dec 2021, 22:27 Olivia Guest, ***@***.***> wrote:

[2021-12-15 15:20] oliviaguest commented on #61
@marieke-woensdregt sounds great, if you can!

[2021-12-25 17:39] rahulrajpl commented on #17
Can u give an email ID to forward all the necessary files?

[2021-12-25 19:38] eroesch commented on #17
Awesome. I’ll get in touch next week!
Could you push everything you have to your repository? Ideally I’d need to be able to recompile your article.tex from scratch.

[2021-12-25 19:47] rahulrajpl commented on #17
I have pushed everything I have to the repo.

[2022-01-03 09:04] rougier commented on #48
@oliviaguest @ESSYCHAN Happy new year everyone. Any update on this?

[2022-01-03 10:01] ESSYCHAN commented on #48
Hello and a happy new year to you!!

I have run in from my end, everything seems to be working fine on my end.

Additional comments (just one :) )
maybe add **  brew install cmake .. in the installation guidelines for
those that don't have cmake

best wishes,
Esther.

On Mon, Jan 3, 2022 at 9:04 AM Nicolas P. Rougier ***@***.***>
wrote:

[2022-01-03 10:02] rougier commented on #17
Gentle reminder. We'll soon (1month) hit two years barrier since first submission. Let's try to publish it before that!.

[2022-01-03 10:32] Kahss commented on #48
Hello and happy new year everyone :) !

Glad to hear that everything works well, thank you again @ESSYCHAN for your comments and feedback.
The `README` has been updated with a pointer to a Stack Overflow post explaining how to run a `Makefile` in case you are on a Windows machine.

Best wishes,
Denis Maurel

[2022-01-03 17:35] gdetor commented on #31
@bruAristimunha Happy new year. Gentle reminder

[2022-01-03 17:36] gdetor commented on #51
@jeremyfix Happy new year. Gentle reminder

[2022-01-03 17:36] gdetor commented on #24
@brembs Happy new year. Gentle reminder

[2022-01-04 08:51] rougier commented on #48
Cool. If @oliviaguest is ok, we can proceed with publication.

[2022-01-04 21:53] himito commented on #17
Dear @rahulrajpl,

Thank you for updating the repository. However, many of my remarks regarding the  of the code repository have not been resolved. Could you take a look at them ? thanks

Best,
Jaime

[2022-01-06 00:31] baioc commented on #13
Alright, I added an extra simulation configuration for the integration method to be used and was able to reproduce all experiments using Octave's ode45 solver. Results match those obtained using FE, including in the stochastic simulations (we still needed to compensate noise variance) and the same oscillator irregularities could be observed.

With respect to the period-doubling bifurcation, varyin

[2022-01-08 18:24] brembs commented on #24
Thank you and happy new year to you, too! It is on my list and I am frustrated I wasn't able to get it done before the end of the break.

[2022-01-10 10:24] khinsen commented on #13
Thanks @baioc for the updated article and code!  To me this looks very good.

@aaronshifman Any comments from your side?

[2022-01-15 17:02] jeremyfix commented on #51
@gdetor  Thank you for the reminder; We are almost done; We should push updates pretty soon.

[2022-01-16 20:55] pdebuyl commented on #58
Hi @CoraliePicoche any update?

[2022-01-17 08:26] CoraliePicoche commented on #58
Hello @pdebuyl,
We have been pretty busy but are currently working on the revision. Sorry for the delay.
Best regards

[2022-01-17 10:33] thomasMisiek opened #62 "[Re] A general model of hippocampal and dorsal striatal learning and decision making"
**Original article:** Geerts, J. P., Chersi, F., Stachenfeld, K. L., & Burgess, N. (2020). A general model of hippocampal and dorsal striatal learning and decision making. In Proceedings of the National Academy of Sciences (Vol. 117, Issue 49, pp. 31427–31437). Proceedings of the National Academy of Sciences. https://doi.org/10.1073/pnas.2007981117

**PDF URL:** https://github.com/thomasMisiek/A-g

[2022-01-17 11:43] eroesch commented on #17
Thank @himito. To clarify, do I understand that the comments you refer to are (from your post 31/5/21):
- In the .tex manuscript, quote and double quotes are not used in a consistent way;
- The code repo should contain a README description of the structure of the notebooks;
- The code repo should contain a requirements.txt for libraries, incl. version, which should also be described in the README

[2022-01-17 15:26] stepherbin commented on #59
Dear replication authors.

Here is a review of your work.

## Summary

The objective of the authors is to verify the claim "that Knowledge Graph re-optimization can increase recall, while maintaining mean Average Precision (mAP)" on detection algorithms by replicating the learning process and evaluation on two standard datasets: Pascal VOC and MS COCO, as in the paper of [Fang et al., 2017]. Their

[2022-01-17 17:19] rougier commented on #62
Thanks for your submission. I'll edit it.

@vitay @mstimberg  Coudl you review this submission?

[2022-01-17 17:23] rougier commented on #17
If you can make these small changes and then publish, that would be great!

[2022-01-17 17:38] himito commented on #17
Hi @eroesch,

Yep, the replication is OK.

My remarks are more focused on the code repository. For instance, have a good README, and a Licence of the code.

[2022-01-17 22:41] vitay commented on #62
Yes.

But do not expect my review for tomorrow, then...

[2022-01-18 09:07] rougier commented on #62
@vitay Any time will do, thanks.

[2022-01-18 10:03] thomasMisiek commented on #62
Thank you very much for your time ! @vitay if that may help you, only the SR was used in this work, the RTDP model was used for another project.

[2022-01-18 13:57] Kahss commented on #48
Hi @rougier , @oliviaguest . Hope you're doing great. Do you have any update ?

[2022-01-18 14:03] oliviaguest commented on #48
@D-Maurel Apologies for being so late about this, I keep getting unfortunate medical things happening. I think this is fine to process with publication. Has everything been filled in the metadata files (see: https://github.com/rescience/articles#readme) for the process to start? 😊

[2022-01-18 15:02] mstimberg commented on #62
@rougier Thanks for the invite, I'd be happy to review the submission. But just to make sure that the effort is well spent: is it a problem that the original article already comes with reproducible [code on ModelDB](https://senselab.med.yale.edu/ModelDB/showmodel.cshtml?model=266836)? I vaguely remember discussions that submissions for papers with published and accessible code are only appropriate

[2022-01-18 15:09] rougier commented on #62
@mstimberg Oh thank for noticing, I did not check it.
@thomasMisiek Can you explain what is your personal work exactly (and if this is a replication or a reproduction)?

[2022-01-18 16:06] Kahss commented on #48
I've updated the metadata file, and I've started to follow the process, but after having successfully reserved a DOI on the sandbox Zenodo server, I have a problem running the same command with the `--zenodo` flag :
[code]
Do you have any recommendation to continue ?

[2022-01-18 16:28] Kahss commented on #48
Nevermind, after checking the request with Insomnia, it was just a problem of a account verification.

[2022-01-18 16:38] Kahss commented on #48
My bad, as @ESSYCHAN has provided the link to the publication README, I thought I had to do it myself. I just stopped everything, and removed my post from the paper number claim issue. Everything is up to date in the metadata file :).

[2022-01-18 19:31] vitay commented on #62
A good deal of the pdf is about that. In short, the code provided by Geerts et al does not allow to reproduce the results of their paper without changing the parameters, nor does it allow to reproduce the original experiments of Pearce et al without changing some critical part of the code. I have not looked in detail yet what the contribution is in terms of lines of code, but functionally this mak

[2022-01-18 19:54] vitay commented on #62
A note on installation: with an empty environment (only python, pip and wheel), pip-installing requirements.txt fails as some dependencies need numpy to compile themselves, but it is not installed yet. I created a conda yaml file instead:

[code]

I had to upgrade most packages to their last version, as the earlier versions declared in the pipfile did not support osx arm64 architectures. I had app

[2022-01-18 23:03] thomasMisiek commented on #62
@rougier Sure. My initial work consisted in comparing the biological plausibility of two models of rats' spatial navigation behavior (Geerts et al, 2020, Dollé et al 2010). For this initial project, we decided to use Geerts' original code as the basis of our future implementations, as it already provided the implementation of one of the task we wanted to simulate (Pearce et al, 1998) as well as th

[2022-01-18 23:20] thomasMisiek commented on #62
@vitay Thanks for this ! I will check and update the repository if it works.

[2022-01-19 14:48] Kahss commented on #48
Anyway, I hope you get better soon @ESSYCHAN !

[2022-01-19 15:03] MehdiKhamassi commented on #62
In addition to what @thomasMisiek described, when he writes "Nevertheless, we also provide in the article a separate and successful reproduction of Geerts' results with the non-modified protocol.", we can add that even for this reproduction, we had to search for the correct model parameters. This is because the value of a few model parameters were not specified in the paper, and a few other parame

[2022-01-19 15:28] oliviaguest commented on #48
Oh, oops. I didn't mean for you to do the publication yourself. Just to check the metadata. 😅

I will get this published for you @D-Maurel, as soon as I can. Thanks for helping me to get it started.

[2022-01-19 22:25] thomasMisiek commented on #62
I added the environment.yml file to the repository, added a few lines about it in the README. I kept the requirements.txt file as another option but updated it.

[2022-01-20 15:36] snowgoon88 commented on #51
Hello everyone,

@gdetor with have just commited an updated and (hopefully final) version of
the article in the git repository.

We have higlighted in *blue* what we have added/deleted in the light of the
recent exchanges with Matthew Egbert. This are "light" modifications, that
do not truly change the nature of our replication.

Matthew Egbertgave use the whole source code for all his experiments

[2022-01-20 17:19] gdetor commented on #51
Thank you @snowgoon88
@anne-urai @benoit-girard Could you please review the modifications? Thank you

[2022-01-21 09:53] benoit-girard commented on #59
@stepherbin Thank you very much for your feedback!
@JarlLemmens You can start addressing the points raised in @stepherbin 's review.
@hkashyap A gentle reminder: provide your review when possible.

[2022-01-24 07:59] khinsen commented on #57
@davan690 @coulet Gentle reminder about your reviews!

[2022-01-28 14:42] oliviaguest commented on #61
@marieke-woensdregt no undue pressure, but any idea for an ETA for the review? 😊

[2022-01-31 11:50] oliviaguest commented on #48
@D-Maurel I noticed you haven't updated the metadata in a while (11 months) or compiled the PDF? Sorry, I am rusty with this procedure, but I think you have to compile it for me? Also... @ReScience/editors are there any special requirements if this is on GitLab?

[2022-01-31 11:51] #53 closed, assigned to oliviaguest, nicksexton, don-tpanic

[2022-01-31 13:30] Kahss commented on #48
Hi @oliviaguest ,
The PDF is two month old on the gitlab repository, could you please confirm me that this is what you are seeing ?

![Capture d’écran de 2022-01-31 14-28-18](https://user-images.githubusercontent.com/4797989/151802006-8f897644-ceb9-4e42-91e2-4889cd3b4bdc.png)

For the metadata, I thought I had filled everything that needed to. The part that is still empty is said to be filled by t

[2022-01-31 17:33] rougier commented on #62
@MehdiKhamassi @thomasMisiek Sorry for late answer. I think it makes sense to keep it as a replication then. @vitay @mstimberg you can proceed with review.

[2022-01-31 19:02] rougier commented on #48
You'll need to change the volume/issue as well. But the editor is mostly responsible for doing. @oliviaguest tell me if you need help on the publication.

[2022-02-03 09:30] eroesch commented on #17
Thanks @rahulrajpl for merging my PR. I am having issues compiling the pdf, but I should be done with it very soon. I'll keep you in the loop. (@rougier @khinsen I am about to claim an issue number)

[2022-02-03 14:39] anne-urai commented on #51
Hi @snowgoon88 , could you clarify which is the updated document? In https://members.loria.fr/ADutech/Papier/rescience_egbert14_by_GillardFixDutech.pdf I don't see any blue highlights, perhaps I'm overlooking something. Thanks!

[2022-02-03 15:19] jeremyfix commented on #51
Hi @anne-urai  , you are right we forgot to update the version of the paper on the website of  Alain ;

The updated article is available in the repo [https://gitlab.inria.fr/openbiscuit/rescience_egbert14](https://gitlab.inria.fr/openbiscuit/rescience_egbert14) and I attached the compiled PDF to this message; You can access it by clicking the link below.

[Compiled revised paper with modifications

[2022-02-03 21:47] snowgoon88 commented on #51
Yes, I'm very sorry @anne-urai . I forgot to do that and I wont be able to update my web site before the 12th of february (away from the lab). Thank you Jérémy for offering an alternative.

[2022-02-10 15:49] JarlLemmens commented on #59
Hi @stepherbin, first of all, sorry for the late reply.
Secondly, thank you very much for putting in the time and effort to review our work!

I have checked the installation process on two separate machines, and in both cases it installs without any problems. Could you please provide a more specific error regarding the inconsistencies with installation?
I think indeed the error in test_function_kg

[2022-02-10 16:48] hkashyap commented on #59
@JarlLemmens sorry for the delay, I am currently working on the review and I will submit in a week.

[2022-02-10 16:54] JarlLemmens commented on #59
@hkashyap thank you! looking forward to your review

[2022-02-15 07:33] rougier commented on #17
Great!

[2022-02-15 07:34] rougier commented on #51
Gentle reminder.

[2022-02-15 09:58] mstimberg commented on #62
@thomasMisiek I started to work on the review and was about to run the code, but just noticed that the `GEERTS-hippocampus-dls-modified` directory which is supposed to contain the code for the reproduction  is empty. I think it is supposed to be a git submodule, but it does not seem to be pointing anywhere.

[2022-02-15 14:09] anne-urai commented on #51
I've briefly looked at the edits in blue, and it all looks good to me. I'm happy that M. Engbert gave you such detailed feedback, you may consider adding this in an acknowledgement in the pdf.

My only final suggestion would be to add some links to the videos in the pdf, so that they are more easily findable.

[2022-02-15 17:46] gdetor commented on #31
Hi @bruAristimunha Any updates?

[2022-02-21 08:31] oliviaguest commented on #48
@rougier @Kahss I am so sorry to be taking so long. I will try to get this done today.

[2022-02-21 10:30] Kahss commented on #48
@oliviaguest Absolutely no problem, I really hope that you're seeing the end of your medical things. Take care.

[2022-02-21 23:19] thomasMisiek commented on #62
@mstimberg Right, I fixed it. There was a conflict with the submodule. The content of the directory is now accessible.

[2022-02-23 07:05] hkashyap commented on #59
## Summary:
The authors of this ReScience submission (replication authors) reimplement the paper "Object Detection Meets Knowledge Graphs" by Fang et al. previously published in IJCAI-17. Since the original paper did not provide source code, the replication authors implemented it from scratch using newer PyTorch libraries, different from the original implementation. The most significant difference

[2022-02-23 08:20] oliviaguest commented on #48
@ESSYCHAN what is your orcid? @wmkouw I have found yours: https://orcid.org/0000-0002-0547-4817 😊

[2022-02-23 08:26] ESSYCHAN commented on #48
Hi Olivia,

 https://orcid.org/0000-0002-1327-1198

On Wed, Feb 23, 2022 at 8:20 AM Olivia Guest ***@***.***>
wrote:

[2022-02-23 08:27] oliviaguest commented on #48
@ESSYCHAN thank you!

[2022-02-23 08:28] ESSYCHAN commented on #48
Thanks Olivia. I hope you are feeling much better xx :)

On Wed, 23 Feb 2022 at 08:27, Olivia Guest ***@***.***> wrote:

[2022-02-23 11:05] benoit-girard commented on #51
I am also fine with the edits. I also recommend acknowledging the help of M. Engbert (in fact, such acknowledgments are written page 17, but they could be moved to a dedicated section at the end of the paper).

[2022-02-23 11:10] benoit-girard commented on #59
@hkashyap Thank you very much for your feedback!

[2022-02-24 08:26] oliviaguest commented on #48
@Kahss I think I now remember how to do this. 😅  Can you either allow me (same username as GitHub) to push to your repo on GitLab or update the `metadata.yaml` using this, please? And check everything is correct and then compile a new PDF for your paper called `article.pdf`?

[code]

[2022-02-24 08:26] oliviaguest commented on #48
@rougier I *think* I am doing this right, but please ignore/jump in as needed. 😆 Thanks. And sorry for being so rusty.

[2022-02-24 08:59] Kahss commented on #48
@oliviaguest @rougier I've just updated the metadata.yaml file, however when I try to run the `make` command as mentioned in the README, the compilation ends with this error :

[code]

Maybe I'm missing something ? So far I've always used the overleaf compilation tool to get a pdf result, so I hadn't those problems.

[2022-02-26 10:47] vitay commented on #62
@thomasMisiek I finally ran the notebook `Geerts Arbitrator - Egocentric MF-SR.ipynb` (15 hours for the two grid searches...). Unfortunately, when running the cell with:

[code]

I got the following error:

[code]

Is there a way to fix this without losing all the simulations?

[2022-02-26 16:27] thomasMisiek commented on #62
@vitay Yes, setting the "relative" parameter to True in the "compute_clusters_perfs(path, 100, experimental_data_pearce, experimental_data_rodrigo, relative=False)" cell, and running again the "res_df = plot_all_perfs(path, size_plot=10, relative=True)" cell should do the trick. Sorry for this inconvenience. I will update the repository.

[2022-02-27 19:31] vitay commented on #62
@thomasMisiek Thanks, that allowed me to continue running the notebook. I attach the pdf of the notebook. It seems that the Rodrigo experiments quite failed, there was no better parameter values. I am a bit lost in all the other plots. Can you check they are what you intended?

[Geerts Arbitrator - Egocentric MF-SR.pdf](https://github.com/ReScience/submissions/files/8149301/Geerts.Arbitrator.-.Ego

[2022-02-28 09:50] mstimberg commented on #62
Hi everyone. I also started running the code, but began from a different angle than @vitay . I had a few small-ish problems, and opened corresponding issues in the code repository (thomasMisiek/mixed-coordination-models#1, thomasMisiek/mixed-coordination-models#2, thomasMisiek/mixed-coordination-models#3, thomasMisiek/mixed-coordination-models#4, thomasMisiek/mixed-coordination-models#5).

[2022-02-28 14:51] thomasMisiek commented on #62
@vitay I just checked your PDF and it looks like what I intended, with the exception of the display of rodrigo's grid-search results. I believe the rodrigo's grid-search and display methods themselves are working properly. However, nothing is displayed because datapoints are only plotted if they are associated to behavioral performances which validates a set of statistical tests. On my last execut

[2022-02-28 16:37] thomasMisiek commented on #62
@mstimberg Ok I will check that !

[2022-02-28 17:09] gdetor commented on #51
@anne-urai @benoit-girard Thank you for your comments.
@snowgoon88 Could you please incorporate the acknowledgements in the manuscript? Once you have the paper ready I'll start the process of publishing it.

[2022-02-28 18:14] rougier commented on #48
You can try to type `biber article` on the command line.

[2022-03-01 08:19] Kahss commented on #48
I've installed `biber`, run it and run `make` again, now I'm getting an `article.pdf` output, however I think there is still some problems as the received date is still "XX December 2020" and I get this output :

[code]

@rougier Any idea ?

[2022-03-01 08:31] rougier commented on #48
Try a `make clean`, `make`, `biber article` and `make` again. If this does not work, you can try manual compilation.

[2022-03-01 09:07] Kahss commented on #48
@rougier Ok so after investigation, there was a problem with the `metadata.tex` which was obsolete. Deleting it and running again `make metadata.tex` fixed the problem. There is a final version of `article.pdf` in the repository.

I was afraid there was an error regarding the insertion of a bib key just after "A partial replication of" in the article header, but when I compared to the latest publi

[2022-03-01 14:10] rougier commented on #48
Well no, it is not the intended behavior. The bib key should be replaced with the actual citation. Which article did you check?

[2022-03-01 15:02] Kahss commented on #48
Those ones:
- https://zenodo.org/record/5718075/files/article.pdf
- https://zenodo.org/record/5657320/files/article.pdf

[2022-03-01 15:27] jeremyfix commented on #51
@anne-urai @benoit-girard  @gdetor  @rougier  thank you all for your reviews; We made the changes :

- removing the obsolete texts
- adding the video links in the figure captions for exp-001, exp-002 and exp-003
- adding a dedicated acknowledgement section to better highlight the acknowledgment for the help of M. Egbert

The gitlab and PDF paper are up to date :

PDF URL: https://members.loria.fr/

[2022-03-01 15:53] rougier commented on #48
AAAAaaaaahhhhhhh I'm among the co-authors, what a shame! So it's not supposed to be like this, I need to correct it. In your case, probably the simpler is to insert the full reference or to fix the script. But the citation should be processed by latex. Not sure why it is not.

[2022-03-01 16:49] vitay commented on #62
@thomasMisiek Thanks. Would it be possible to add a simpler notebook that only deals with the results presented in the ReScience paper? It is nice to have code with a broader scope, but some readers might want to focus on Geerts' model applied to Pearce's task.

[2022-03-01 16:53] Kahss commented on #48
@rougier I've updated my pdf, everything should be ok. To solve the problem, I just had to change `\replicationBIB` line 94 and 95 in `header.tex` by `\fullcite{\replicationBIB}`. Hope it might help.

[2022-03-02 08:36] rougier commented on #48
Cool. @oliviaguest I think the paper might be ready for publication.

[2022-03-03 08:47] mstimberg commented on #62
I concur with @vitay's suggestion, in particular given that these simulations take a lot of time to run. I tried running the notebook overnight on my notebook, but it failed due to a disk space issue when the results folder was filled with several GB. Could you give an estimate how much disk space is needed?
An unrelated question: there are a number of lines in the notebook annotated with comments

[2022-03-03 11:54] thomasMisiek commented on #62
@vitay @mstimberg Ok, I will create a specific notebook for the replication study right now, with only cells related to Pearce experiment. Please note that out of all the notebooks, only the "Geerts Arbitrator - Egocentric MF-SR.ipynb" is currently related to this paper. I understand that it might have not been clear from the beginning, thus I will add a few lines in the README to specify the requ

[2022-03-03 15:54] thomasMisiek commented on #62
@mstimberg @vitay I just added the Geerts Replication.ipynb to the repository, it contains everything related to the paper (replication) and nothing else. I added a paragraph about it in the README. I also removed two of the three displays of the grid-search.
@mstimberg I will solve the opened issue 1 and 2 as soon as possible, on saturday.

[2022-03-03 15:56] mstimberg commented on #62
@thomasMisiek Thanks. No need to rush from my side, I won't be able to look into things before next Tuesday anyway.

[2022-03-07 08:16] oliviaguest commented on #48
I am confused. Is the pdf final?

[2022-03-07 08:44] Kahss commented on #48
Hello @oliviaguest. Yes it is, it has been updated with all the metadata :) .

[2022-03-11 10:55] mstimberg commented on #62
I successfully ran the `Geerts Replication.ipynb` notebook and only encountered two small issues (thomasMisiek/mixed-coordination-models#7, thomasMisiek/mixed-coordination-models#8). The results look comparably to the values in the unchanged notebook, but not identical. I assume part of it is due to randomness in the simulations, would it be possible to fix things with a seed to get the exact same

[2022-03-14 07:45] CoraliePicoche commented on #58
Hello @pdebuyl,

We have now corrected the manuscript and improved the clarity of the code based on both the reviews and an [issue](https://github.com/CoraliePicoche/brownian_bug_fluid/issues/1) raised by @rajeshrinet directly in the replication repository. We apologize for the delay.

Following reviewers' advice, we now give more context in the manuscript with several, beginner-oriented reference

[2022-03-16 09:05] oliviaguest commented on #48
@Kahss I will try again soon, sorry. I always struggle with this, perhaps because I am on a Mac like a loser. 😆

[2022-03-16 09:09] Kahss commented on #48
@oliviaguest Thanks a lot, I'm it's almost the end of the tunnel :smile:  !

[2022-03-16 16:38] gdetor commented on #24
@brembs Gentle reminder

[2022-03-16 16:38] gdetor commented on #31
@bruAristimunha Gentle reminder

[2022-03-17 09:51] brembs commented on #24
Please believe me, I'm still trying. Difficulty lies in prioritizing this work, in part since the remaining work would only constitute a repetition of what I already showed for the first dataset.

[2022-03-17 13:31] oliviaguest commented on #48
@Kahss oh yeah, here we go, haha. Can you please do me a massive favour and pick a date in the future for "published" like next Monday and I will do it then. Because otherwise if I publish it now it will have a date in the past. So sorry. ☺️

[2022-03-17 13:43] lbeziaud opened #64 "[¬Re]Simulating socioeconomic-based affirmative action"
**Original article:** Reardon, Sean F., et al. "What Levels of Racial Diversity Can Be Achieved with Socioeconomic‐Based Affirmative Action? Evidence from a Simulation Model." Journal of Policy Analysis and Management 37.3 (2018): 630-657. https://doi.org/10.1002/pam.22056

**PDF URL:** https://github.com/lbeziaud/re-reardon2018/blob/master/article.pdf
**Metadata URL:** https://github.com/lbeziaud

[2022-03-17 14:19] Kahss commented on #48
@oliviaguest The metadata and `article.pdf` have been updated :).

[2022-03-19 00:25] thomasMisiek commented on #62
@mstimberg I added a seed parameter to both the `random_grid-search()` function and the `perform_group_pearce()` function.

I am re-running the notebook again to get rid of the out-of-order cells calls, the 150 datapoints instead of 2000, and the "Two-way ANOVA on trial and session" which comes from a previous version of the program. I will also run two successive grid-search with 2000 datapoints.

[2022-03-19 22:28] thomasMisiek commented on #62
@mstimberg I just pushed the new version of the Geerts_Replication notebook.

[2022-03-20 22:45] thomasMisiek commented on #62
I have modified the PDF (parameters values and ANOVAs' results) to fit the new results of the geerts_replication notebook. I also created a "best_geerts" and "best_geerts_stochastic" option, for respectively deterministic and stochastic computing if the user chooses to use the command line instead of the notebook.

[2022-03-22 08:22] Kahss commented on #48
Hi @oliviaguest , I hope you're doing well. Do you have any update about the publication :) ?

[2022-03-22 21:11] oliviaguest commented on #48
Sorry for not being clear. Can you compile the pdf with metadata for published date to be next Monday, or so? So I can publish it with the right date, please?

[2022-03-23 08:30] vitay commented on #62
Thanks for the changes and the new notebook. The code runs without major problems (and much faster) and I got the following results for the deterministic case:

<img width="830" alt="Screenshot 2022-03-23 at 08 54 04" src="https://user-images.githubusercontent.com/11293653/159651684-d3514843-4396-45ef-8f54-b4de79c625e9.png">

Just a tip: add `#cython: language_level=3` at the top of each of your .

[2022-03-23 08:56] Kahss commented on #48
@oliviaguest Maybe it was I who was not clear, 6 days ago I changed the publication date in the metadata file and recompile the pdf with the new value.
![Capture d’écran de 2022-03-23 09-53-31](https://user-images.githubusercontent.com/4797989/159660692-3fa04328-6c1b-4a7b-9206-14521db6b4ae.png)
I have changed it again, and now the publication date is set to March 28 2022. Please tell me if anythin

[2022-03-23 08:58] Kahss commented on #48
@oliviaguest Maybe it was I who was unclear. 6 days ago, I changed the value in the metadata file, and recompile the pdf with the new value.
I have changed it again, and now the publication date is set to March 28. Please tell me if there's still something unclear :) .

[2022-03-24 18:25] eroesch commented on #17
Okeydok. After a bit of battle with the .tex and also the editing scripts. I am happy to finally close this submission. The article is published at https://zenodo.org/record/6375751
with citation:

Raj, R (2022).  [Re] Process Aware Stealthy Attack Detection in Industrial Control Systems. ReScience C. 7(1:4). doi: 10.5281/zenodo.6375751.

Well done, @rahulrajpl!

[2022-03-24 18:25] #17 closed, assigned to eroesch

[2022-03-25 08:07] benoit-girard commented on #59
@JarlLemmens a gentle reminder that @hkashyap 's review awaits your answers.

@stepherbin do you have comments or requests after @JarlLemmens 's answers to your review?

[2022-03-25 08:10] benoit-girard commented on #51
@gdetor I am fine with the latest version of the paper, and thus endorse publication.

[2022-03-25 14:03] JarlLemmens commented on #59
Hi @benoit-girard thank you for the check-up. I was looking into @hkashyap 's feedback and trying to implement the vgg-16 backbone as suggested. I managed to implement the vgg-16 backbone in pytorch, using https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html ‘s explanation to modify the model to another backbone. I trained the model for the VOC dataset with similar parameters as de

[2022-03-28 08:02] oliviaguest commented on #48
@Kahss I am having so much trouble — BUT! — I think I did it. Can somebody help me out to check I hacked my way to actually managing it? @rougier @khinsen 😊

[2022-03-28 08:35] oliviaguest commented on #61
@LukasWallrich I apologise for this taking so long. Have you had a chance to maybe think of any potential reviewers to help me out? I'm struggling to find anybody able to do this for us. 😌

[2022-03-28 08:39] rougier commented on #48
Yes, what is the problem exactly?

[2022-03-29 13:45] marieke-woensdregt commented on #61
Dear @LukasWallrich and @oliviaguest, I am so sorry for the radio silence. I was a bit overwhelmed with other work these past months, but will definitely get to this by the end of this week. My sincere apologies for the delay.

I also thought of some other potential reviewers:
1.  Matt Spike, University of Edinburgh:
https://sites.google.com/site/matspike/
https://github.com/matspike
2. James Wint

[2022-03-29 14:28] rougier commented on #31
@bruAristimunha Gentle reminder

[2022-03-29 16:10] rougier commented on #62
@vitay @mstimberg  Thanks for thorough reviews. @mstimberg Are you satisfied with latest changes?

[2022-03-29 18:48] LukasWallrich commented on #61
Thank you to both of you! I have also been very busy and thus not found the time to follow up ... so I am glad that this is moving again. @oliviaguest would you be able to invite these possible reviewers? I am meeting someone later this week who might have ideas, so I will try again.

[2022-03-29 18:51] LukasWallrich commented on #61
I'm sorry that I can't be of more use in finding reviewers. However, what I can do is volunteer to review #64 if helpful? I have some background in educational policy, so I at least understand the substance well.

[2022-03-29 19:32] rougier commented on #64
@lbeziaud Thansk for your submission, we'll assign an editor soon and very sorry for the long delay.

@oliviaguest Would you like to edit this submission? Note that is a failed replication and we might need to contact original authors at some point if they want to give extra information.

[2022-03-29 19:40] rougier commented on #64
Note that @LukasWallrich propose himself to review (thanks)

[2022-03-29 20:36] oliviaguest commented on #64
Happy to! 😊

[2022-03-30 06:06] rougier commented on #64
@lbeziaud Quick comment on the paper: you re-use the original figures which is good and ease the comparison. Problem is that we're not alllowed to do that because of copyright of the original paper (unless it is CC-BY). Could try to contact the journal to ask for permission to re-use the figures (explaining that the original article will be cited properly)??

[2022-03-30 12:56] lbeziaud commented on #64
Thank you for noticing. I did not think about this issue and will contact the journal. I can produce a version without the original figures if necessary.

Regarding the failed replication, only a subset of the model (however central to the conclusions of the original paper) was not reproduced successfully (due to our misunderstanding of some instructions). We originally thought about submitting as

[2022-03-30 13:02] mstimberg commented on #62
Hi @rougier, @thomasMisiek. I am satisfied in general and happy with the various improvements, they should make running the code much more straightforward. I have one issue open in the repository that is still not addressed (thomasMisiek/mixed-coordination-models#6), but it might not be relevant for the ReScience paper (I'll let @thomasMisiek confirm). Apart from that, I was able to run everything

[2022-03-30 13:08] mstimberg commented on #62
Apologies, I forgot one minor suggestion in my previous comment: you might consider adding a footnote to the paper explaining your understanding of "replication" and "reproduction" (or simply link to the [ReScience FAQ](https://rescience.github.io/faq/)). Your manuscript is mostly about a replication, but you also briefly mention the reproduction, and there is a lot of confusion around these terms

[2022-03-30 14:41] thomasMisiek commented on #62
@vitay @mstimberg  Thank you for your thoughtful comments and your efforts towards improving the code and the readability of the results.

@rougier @mstimberg Yes I confirm that [https://github.com/thomasMisiek/mixed-coordination-models/issues/6](url) is not relevant for the Rescience paper.

@mstimberg I will add a footnote to the PDF about Replication/Reproduction and then I will fix the PDF for

[2022-03-30 15:51] rougier commented on #64
I would be best with original figures, but we can do without it if you don't obtain permission.

[2022-03-31 12:25] rougier commented on #62
@thomasMisiek Congratulations, your paper is accepted! @vitay @mstimberg Many thanks again for efficient and useful review.

@thomasMisiek I'll proceed with publication which can take a few days, don't hesitate to remind/spam me if it's not done in the next few days.

[2022-03-31 15:12] lbeziaud commented on #64
@rougier We contacted the editors and were redirected to Wiley which asks for $500 for reproduction rights. We removed the original figures from our paper.

[2022-03-31 15:15] rougier commented on #62
@thomasMisiek Do you have a link to the article sources?

[2022-03-31 15:20] rougier commented on #64
That's unbelievable. If you want, you can leave an empty box in place of the original figure and write something like "Original figure cannot be reproduced here because Wiley ask $500 for reproduction rights".

[2022-03-31 15:30] lbeziaud commented on #64
I was not expecting such an answer from the publisher... What I did was use the space to increase the size of our figures, added page numbers to the original figures, and a footnote explaining that we did not receive permission to include the figures (without mentioning the outrageous $500).

[2022-03-31 15:32] rougier commented on #64
I found what seems to be a preprint at: https://cepa.stanford.edu/sites/default/files/wp15-04-v201712.pdf. I think you can reuse the figures from this one whch is prior to the publication. I'll check stanford policy on preprint but I think it should be ok.

[2022-03-31 15:38] rougier commented on #64
Not clear, I'll ask them.

[2022-03-31 15:44] lbeziaud commented on #64
Thank you for the help investigating copyright issues! I added a link to this preprint in the footnote I was mentioning. The figures are actually black and white versions of the one published by Wiley.

[2022-03-31 16:08] rougier commented on #64
I think you can include them.

[2022-03-31 17:50] lbeziaud commented on #64
The submission has been updated to include the figures from the preprint as you suggested, with updated references.

[2022-04-03 08:22] pdebuyl commented on #58
Hi @CoraliePicoche sorry I did not notice the update. I am off for a week and will complete the procedure for your article afterwards.

[2022-04-04 07:51] CoraliePicoche commented on #58
Hello @pdebuyl . No worries, thanks for the update.

[2022-04-04 08:44] marieke-woensdregt commented on #61
I'm finally sitting down for this now!

[2022-04-05 14:39] Kahss commented on #48
Hello @oliviaguest, any news ?

[2022-04-05 17:15] gdetor commented on #51
Hi @snowgoon88 Could you please provide a final version of your manuscript so I can start the process of publishing it? I would need the bibliography file (.bib) as well. Thank you.

[2022-04-06 03:52] oliviaguest commented on #48
@rougier is it properly published? ☺️

[2022-04-06 08:22] jeremyfix commented on #51
Hi @gdetor

All the latex + bib + figures sources are on the gitlab https://gitlab.inria.fr/openbiscuit/rescience_egbert14/-/tree/master/article_rescience-template

Is that sufficient for you or do we have to perform specific actions on the sources ?

[2022-04-06 08:55] oliviaguest commented on #64
@LukasWallrich and @lbeziaud do you have any suggestions for a potential 2nd reviewer? 😊

[2022-04-06 08:56] oliviaguest commented on #61
@marieke-woensdregt fantastic!

@LukasWallrich yes, I can invite them — of course. Please send me names if you have any handy. ☺️

[2022-04-06 17:48] gdetor commented on #51
@jeremyfix Thank you.  That's what I need to start the process. Moreover, I will need a DOI or SWH for the source code repo (I didn't find any in your metadata.yaml file). If you don't have any please have a look [here](https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content).

[2022-04-07 19:39] jfillioux commented on #48
Hi,

Reading the publish process here :
https://github.com/ReScience/articles

I understand that the last step for publishing a new article is :
"14. Finally, copy the contents of article.bib from the doi folder for this paper into [rescience.github.io/_bibliography/published.bib] **and send a final pull request** (You can do this from the web)."

I can see here that the copy in the artcile.bib ha

[2022-04-08 12:35] lbeziaud commented on #64
@oliviaguest Tristan Allard asked [Julien Rossi](https://www.julienrossi.com/) for a recommendation: [Thomas Soubiran](https://pro.univ-lille.fr/thomas-soubiran/) might be interested

[2022-04-11 07:51] oliviaguest commented on #48
@jfillioux yeah, I don't know, sorry. I hope @khinsen or @rougier can check for us.

[2022-04-11 08:00] pdebuyl commented on #58
Hello @CoraliePicoche `main_Fig3.out` is running since more than 48h. Can you tell me how long it should take? I am running on a Xeon 2.8GHz (so, reasonable I guess) using the provided makefile.

[2022-04-11 08:05] CoraliePicoche commented on #58
Hello @pdebuyl ,
Are you running the "tests" simulations (faster ones, in code/tests) or the original version of the code? Which value did you use for Utot?

[2022-04-11 08:24] pdebuyl commented on #58
I run `./main_Fig3.out` from the `code/simulation` directory with the values 0.0, 0.1, 0.5, and 2.5

[2022-04-11 08:33] CoraliePicoche commented on #58
If you are running them sequentially, 48h does not seem too bad (I must admit that this code is clearly not optimized), I would advise to wait until tomorrow. However, if you are running the different values on different processors in parallel, this seems a bit long from what I remember on my own configuration (Xeon 3.5Hz).
If you still have computing resources available, could you tell me if the

[2022-04-11 09:05] pdebuyl commented on #58
It is running on a headless server, so it does not bother me to let it run. It runs as four independent processes though...

[2022-04-11 09:08] rougier commented on #48
My bad, I did not updated the website. It's now done but then I realized the information for this article should be volume 8, issue 1, number 1. I modified the bibtex on the website and @oliviaguest can modify the Zenodo entry (using the online interface). This should not modify the DOI.

[2022-04-11 09:16] CoraliePicoche commented on #58
I have checked on my own server: computation time was around 20h for a single value of Utot (again, on a slightly "better" processor).
How long does it take for the smaller simulations?

[2022-04-11 13:08] Kahss commented on #48
Thank you very much for everything, glad to see the article online :smile: !

[2022-04-11 15:01] ghost commented on #57
@coulet @davan690 @khinsen
Any news about the revision process?
We're quite impatient to have a feedback on this work.
Thank you, on the behalf of all authors.

[2022-04-12 16:37] CoraliePicoche commented on #58
Hello @pdebuyl ,
Do you have any update regarding simulation duration? Have they ended on your server?

[2022-04-15 14:05] khinsen commented on #57
Sorry for the long wait @fchatonn! I lost track of this submission.

I contacted the two reviewers by e-mail to ask if they are still available for reviewing your submission.

[2022-04-18 20:07] gdetor commented on #51
Hi @jeremyfix Any updates?

[2022-04-19 13:38] pdebuyl commented on #58
Hello @CoraliePicoche

I have an update but am a bit worried about the failure to run the code.

First, from `code/simulation` the code ran for 5 days without completing.

I am trying now the files in `code/tests/simulation` and the code returns a segmentation fault except if I compile with the optimization flag `-O0`.

As you and the reviewers could run the code, it likely depends on the platform

[2022-04-20 07:19] CoraliePicoche commented on #58
Hello @pdebuyl,
I am sorry you encountered theses issues, which I am going to investigate. I will try to get back to you shortly.
Thanks for the feedback!

[2022-04-20 17:43] LukasWallrich commented on #64
Unfortunately, I don't have suggestions for a second reviewer. However, I had a look at the manuscript and code- I enjoyed reading and reviewing it. In general, the code is largely clear and makes sense, while some bits of the paper (especially the results) definitely need to be clarified. Below, I list all my suggestions for improvements - if you don't like any of them, feel free to explain why t

[2022-04-20 17:50] LukasWallrich commented on #64
Also @oliviaguest you might need to make an editorial decision regarding how to label partial replications (or conceptual replications with minor discrepancies). I scanned #51 and they seem to report (in their initial submission) that they found quite a few discrepancies but generally concordant results as *[Re]* ... here that is proposed as *[-Re]* ... maybe there needs to be something in between

[2022-04-21 13:35] rougier commented on #64
Something like `[~Re]` or `[∂Re]`?

[2022-04-22 09:48] jeremyfix commented on #51
Hi @gdetor  , sorry for the delay,

I uploaded the code on zenodo , the DOI is : https://doi.org/10.5281/zenodo.6477279  and added the DOI of the code in the metadata.yaml file.

I also brought some modifications I forgot  in the metadata file :

- updated the keywords
- added the github issue link
- added the acceptance date
- added a CC BY 4.0 license file in the code directory

[2022-04-22 19:46] gdetor commented on #51
Thank you @jeremyfix. Congratulations, your article is now published. Here is the  [Zenodo](https://doi.org/10.5281/zenodo.6478462). Here you can find the complete
[metadata.yaml](https://github.com/ReScience/articles/tree/10.5281_zenodo.6478462/10.5281_zenodo.6478462/article.yaml) to integrate with your repository.

Hi @rougier the article does not appear in the master branch of
 [ReScience/artic

[2022-04-25 09:59] CoraliePicoche commented on #58
Hello @pdebuyl,

I have tried running the code on several machines, and I think I have found the issue. A previous version of the function `PairDens` returned a double, which is not the case anymore as variables are directly modified in the function. However, the function was still coded as returning a variable. With previous versions of g++, this did not cause any issue but it seems that newer ve

[2022-04-25 18:14] gdetor commented on #51
@rougier I claimed the right Volume, Issue and Number. However, the problem remains. The previous entry does not exist in the master branch of ReScience/articles repository. So I cannot update the necessary files.

[2022-04-26 13:22] pdebuyl commented on #58
Hi thanks for the update! I could run the tests successfully now on my laptop. I'll check the longer runs as well. Is 21h for the runs the one after the other or all at once?

[2022-04-26 14:37] CoraliePicoche commented on #58
I am glad it worked! As for the longer runs, 21h corresponds to a single simulation, but you can of course run them all at once on different processors.

[2022-04-29 05:34] rougier commented on #51
Did you merge the branch at the end of publication?

[2022-04-29 20:06] gdetor commented on #51
@rougier I ran the publish.py script and as far as I remember I didn't get any errors. However, it seems that you're right. For some strange reason did not merge to the master. Should I try to merge them manually?

[2022-05-02 15:18] rahulrajpl commented on #17
Great to see it coming through.! Thanks to @eroesch @himito @khinsen @rougier

[2022-05-03 09:50] oliviaguest commented on #64
@tsoubiran would you have the time and be interested in reviewing this paper? 😊

[2022-05-03 09:53] oliviaguest commented on #64
@lbeziaud have a missed a part where you explain if you have contacted the original authors — and what they said? Might be useful to state some stuff here in the review. And let me know if you would indeed like to include them in this process. 😌

[2022-05-03 19:01] gdetor commented on #51
I got a new DOI, updated all the files and the published.bi (a pull request is opened) per instructions for updating a already published article. I merged manually the branch 10.5281_zenodo.6478462  to master so now it should be fine.

@rougier Could you please confirm that everything's fine? Thank you

[2022-05-03 19:32] pdebuyl commented on #58
Hi @CoraliePicoche I ran all with success thanks for the fix. The figures are as expected :-) Before publishing the article, can you add the DOIs to the bib file and provide the platform information (see https://rescience.github.io/platform/) in the repo?
Else, I'd like to apologize for the delays in the editorial procedure and say that the paper is very clearly written.

[2022-05-03 19:33] pdebuyl commented on #58
PS: adding the DOIs will provide clickable links to the references and (I guess) allow for better bibliographical referencing.

[2022-05-04 07:52] lbeziaud commented on #64
@oliviaguest We wrote to Sean Reardon on 25/05/21 and to Rachel Baker on 28/05/21, asking if they would be comfortable sharing their code. As stated in the paper we received no answer. It would indeed be interesting to get their input if possible

[2022-05-04 08:00] CoraliePicoche commented on #58
Hello @pdebuyl,

I have added the DOIs to the bib file and recompiled the .pdf, the new versions are now online.

Regarding the platform information, should I mention only the main one (the "Desktop computer" mentioned above, which was used to run all simulations), or all platforms which have been used to (successfully) test the code (which would be my laptop and regional cluster, here, maybe even

[2022-05-04 08:05] pdebuyl commented on #58
Hello, thanks for the update. Regarding the platform, only the desktop then. It is supposed to be the computer that was used to produce the figures in your pdf. The instructions are only for Python and C/C++. In your case, there should be the g++ version, with the flags, and the version of R and of the package expint.

[2022-05-04 15:35] CoraliePicoche commented on #58
Hello @pdebuyl ,
I have added the information on the platform in code/README.md , could you confirm that this corresponds to your requirements?
If we are close to the end of the review process, should I change the "Edited by", "Received", etc. sections of the article presentation now, or will you do it? Will I be able to modify the citation recommendation at the end of the main README once a DOI h

[2022-05-11 14:34] CoraliePicoche commented on #58
Hello @pdebuyl,
Is there any further information we should provide to help in the review process?
Thank you for your help.
Coralie

[2022-05-12 16:08] rougier commented on #58
@pdebuyl Is there anything I can do to help?

[2022-05-12 16:10] rougier commented on #64
Maybe @oliviaguest (with the ReScience Editor in Chief hat) can contact them at the end of the review to try to get some feedback or comments.

[2022-05-12 20:38] pdebuyl commented on #58
Hello, I will edit the metadata (editor, dates, etc) for publication. Sorry for the delay, very busy week. It's been some time since I edited for ReScience so I have to check all the procedure again.

[2022-05-13 09:45] pdebuyl commented on #58
Hi @rougier thanks for passing by. I should be able to proceed but will ping you if necessary :-)

[2022-05-13 09:53] pdebuyl commented on #58
@CoraliePicoche can you archive the code? There should be a zenodo or software heritage archive of the repository. I have a pull request open for the metadata.

[2022-05-13 09:54] pdebuyl commented on #58
@FTurci and @rajeshrinet can you check your ORCID in the PDF here: https://github.com/pdebuyl/brownian_bug_fluid/blob/main/article/article.pdf

[2022-05-13 13:05] pdebuyl commented on #58
@CoraliePicoche I still need the zenodo or software heritage archive of the repository.

Then, I'll publish the paper. The DOI will be 10.5281/zenodo.6546488 (it does not resolve yet, see procedure at https://github.com/ReScience/articles if you want more details).

[2022-05-13 13:05] CoraliePicoche commented on #58
The code is now archived and I have added the zenodo DOI to the main README. Should I also add it to the metadata.yaml?

[2022-05-13 13:06] pdebuyl commented on #58
No, I will do it.

[2022-05-13 13:06] pdebuyl commented on #58
Well, it does not matter actually sorry :-) Any of us can do it. It is all that is missing

[2022-05-13 13:09] pdebuyl commented on #58
if you do it, there is one less "pull request" to do so it is easier I guess

[2022-05-13 13:17] CoraliePicoche commented on #58
I added both DOI, is that ok now?

[2022-05-13 13:53] pdebuyl commented on #58
All is ok ! The article is on zenodo https://doi.org/10.5281/zenodo.6546488 and is sent to the ReScience article repository! https://github.com/ReScience/articles/pull/26

[2022-05-13 13:54] CoraliePicoche commented on #58
Thank you very much for the good news, and for your help throughout the process!

[2022-05-13 16:01] pdebuyl commented on #58
Thanks for contributing to ReScience! I am glad that I could the code :-)

[2022-05-15 08:59] rougier commented on #51
I merged your PR and rebuild the website. You can check here: https://rescience.github.io/bibliography/Gillard_2022.html

[2022-05-15 09:12] #58 closed, assigned to pdebuyl

[2022-05-15 19:15] jeremyfix commented on #51
Thank you all very much for your reviews and your editing

[2022-05-16 13:47] oliviaguest commented on #64
Indeed, very good idea and I was planning on it. What do we (editors and authors, @rougier @khinsen @benoit-girard and @lbeziaud) think about maybe asking the original authors to even review it (as a 3rd reviewer, not as the 2nd)?

[2022-05-16 13:58] #48 closed, assigned to wmkouw, oliviaguest, ESSYCHAN

[2022-05-17 18:05] gdetor commented on #31
Hi @bruAristimunha, any progress on this matter?

[2022-05-17 18:05] gdetor commented on #24
Hi @brembs any updates?

[2022-05-19 07:34] rougier commented on #62
For publication, I would need a software heritage id. Can you check https://www.softwareheritage.org/save-and-reference-research-software/ and get sch id (it's quite easy to generate).

[2022-05-19 17:44] rougier commented on #51
@gdetor I think you can close the issue.

[2022-05-19 17:47] #51 closed, assigned to anne-urai, gdetor, benoit-girard

[2022-05-22 21:45] thomasMisiek commented on #62
@rougier Here it is https://archive.softwareheritage.org/browse/revision/239cae046e09974d285fbb0d06c734b3a901fb5c/?origin_url=https://github.com/thomasMisiek/mixed-coordination-models

[2022-05-23 14:33] rougier commented on #62
It's online at https://rescience.github.io/bibliography/Misiek_2022.html

[2022-05-23 14:34] #62 closed, assigned to rougier

[2022-05-23 17:37] rougier commented on #31
Should we close this submission until @bruAristimunha answers?

[2022-05-23 18:25] bruAristimunha commented on #31
Yes, I believe it is the best way to close this issue. I tried several ways to try to fix the reproducibility issues, but unfortunately I couldn't. It seems that choosing jupyter notebook was a bad idea. Unfortunately, I don't have time to finalize all the reviewers' considerations. I apologize profusely for this situation.

[2022-05-23 18:25] #31 closed, assigned to koustuvsinha, gdetor

[2022-05-24 05:06] rougier commented on #13
Any progress ?

[2022-05-24 05:07] rougier commented on #38
@MelanieIStefan  Should we close this submission?

[2022-05-24 05:08] rougier commented on #39
@benoit-girard @alegrand Is the article ready to be published then? I can help if necessary.

[2022-05-24 05:08] rougier commented on #42
Any progress?

[2022-05-24 08:16] brembs commented on #24
It's still on my list, but new things keep coming up. Once there is an opening, I'll finish it. Just don't know when this will be.

[2022-05-24 09:04] khinsen commented on #13
:bell:  @aaronshifman Any comments from your side on this revision?

[2022-05-24 09:06] khinsen commented on #57
No reply from the reviewers... we will have to find  two new reviewers!

[2022-05-26 15:10] LukasWallrich commented on #61
@marieke-woensdregt I hope you are well. Any update? I hope you did not run into a roadblock when you sat down for this back in April?

[2022-05-30 07:24] marieke-woensdregt commented on #61
Hi @LukasWallrich,
My sincere apologies! I have now agreed with @oliviaguest that I will finish my review by the 1st of June.

[2022-05-31 12:12] alegrand commented on #39
Well yes, I think so. As I said, the final version is ready but I'm not sure how to proceed with the publication.

[2022-05-31 21:20] rougier commented on #39
@benoit-girard will proceed with the publication (or I can do it just tell me Benoît)

[2022-06-01 09:15] LukasWallrich commented on #61
@oliviaguest I finally got a few names for potential reviewers. I don't know any of them - they were suggested by Francesco Rigoli who convenes a network on computational political psychology. Would you want to invite them or should I reach out? For peer review, I thought it make sense if that comes from you but happy to follow your guidance (incidentally, there might also be suitable reviewers he

[2022-06-01 10:55] mmoutou commented on #61
Hi people / Dr. Wallrich,

Not sure who is sending this, and Olivia owes me one 😛 for making silly
jokes about a paper of mine not a million miles in spirit from this, but
if you want to get to know me and/or if you want me to help out w.
reviewing, it would be awesome. BTW I am not sure what 'diverse' means
here, but I have a colleague who is ace re diversity, and she's Laura
Dilley ***@***.***>

[2022-06-01 22:08] marieke-woensdregt commented on #61
Hi @LukasWallrich  and @oliviaguest,

I am close to finishing my review of this replication. I am just waiting to see if the simulation results come out the same if I re-run the simulations myself. I should be able to send you my review soon!

By the way, how shall I share my review @oliviaguest? Should it be open, e.g. by attaching it as a file to a message in this GitHub thread?

[2022-06-02 04:34] oliviaguest commented on #61
Plain text in this thread would be great. See examples here when you click on "review" http://rescience.github.io/read/ — hope that helps. 😊

[2022-06-02 04:39] oliviaguest commented on #61
Sorry you were tagged in an unclear way, @mmoutou. I had hoped for a list of names and not GitHub tags (because it causes this confusion).

In the interests of transparency/clarity, these comments are part of an open review and visible to others. If you would like to decline/stop receiving notifications, please use the unsubscribe option. Apologies for the confusion.

[2022-06-02 07:38] mmoutou commented on #61
Yeah that was quite unclear - I didn't realise that even if I didn't log in to github, the contents of my email would be public. There really should be info about this visibility *very prominent* in the email copy that's sent. However I'm still confused - I presume all this means that  @oliviaguest will let me know if I am invited as a reviewer. Presumably the review would include Comments to the

[2022-06-02 08:47] oliviaguest commented on #61
@mmoutou if you want to you may delete/edit the email/comment above. It would be wonderful if you wanted to review. Do you have the time and feel up for it?

To be clear, this is not a traditional journal. The review completely takes place here, on GitHub, in public. You may look at examples and instructions here: http://rescience.github.io/ Let me know if you have further questions, @mmoutou! 😌

[2022-06-02 08:51] LukasWallrich commented on #61
@mmoutou - good to e-meet you and both to you and to @oliviaguest apologies for the confusion that I caused! I wanted to be helpful by pulling out the GH names - but clearly didn't think far enough. Sorry.

I'd still appreciate it if you could contribute to the review process.

[2022-06-02 14:56] JarlLemmens commented on #59
Hi, I was wondering if you by any chance had the opportunity to read my question already.
@hkashyap @stepherbin @benoit-girard

[2022-06-07 07:18] hkashyap commented on #59
Thank you for the additional experiment using VGG backbone. It is interesting to see that you achieved a similar trend in mAP and Recall as the ResNet results, yet different from the claim about increasing recall in the original paper. This to me confirms the non-reproducibility of the published results.
However, can you explain the difference in mAP between the VGG results achieved in your experi

[2022-06-07 13:55] khinsen commented on #57
I contacted colleagues I know by e-mail, but nobody is available. So... I am turning to Twitter and Mastodon now.

[2022-06-07 15:37] ghost commented on #57
@khinsen
I am sorry, but after a discussion with the other authors, we decided it would be best to withdraw this contribution from ReScience and to try to have it published in some other journal.
The first author is in her early researcher career and really needs both feedback about her work and publication records (we all do), so I hope that you will understand our decision.

Thank you again for

[2022-06-08 12:11] khinsen commented on #57
@fchatonn No worry, yes, I understand your decision, and I even agree that our reviewing delay is way beyond acceptable - but our resources are limited.

I will close this issue, but note that it will continue to be visible. Your repository at GitLab will also remain visible, even if you delete it, as it has been [archived by Software Heritage](https://archive.softwareheritage.org/swh:1:dir:7880c4

[2022-06-08 12:11] #57 closed, assigned to khinsen

[2022-06-15 15:17] oliviaguest commented on #61
@marieke-woensdregt let me know if you need help attaching what you have so far..? 😊

[2022-06-20 13:11] lbeziaud commented on #64
Thank you @LukasWallrich for the extended review. We updated the paper ([commit](https://github.com/lbeziaud/re-reardon2018/commit/ba86acf648575a6be91d1d2fe7abbf14f291702c) and [pdf diff](https://github.com/ReScience/submissions/files/8940803/diff.pdf) with additions in blue) and the code ([commit](https://github.com/lbeziaud/mosaic/commit/11e92b88de851ddfbfe7728331060e73ac5d0acf)) on the basis of

[2022-06-27 07:29] oliviaguest commented on #61
@marieke-woensdregt @mmoutou 😊 hey, can you both check this thread and reply to the above few replies, please? ☝️

[2022-06-27 08:05] mmoutou commented on #61
Apologies, I would very much like to contribute to this but it really
doesn't look as if I'll  manage to make the time for it. Things not
great at my end.
Sorry
Michael

On 27/06/2022 08:29, Olivia Guest wrote:

[2022-06-30 14:53] marieke-woensdregt commented on #61
With my sincere apologies for the endless delay (I kept running into minor issues with my reproduction and then not finding the time to resolve them), below finally my complete review. I've structured it according to the 4 questions to reviewers that are specified on the Rescience C website (points 1-4 below). I'm attaching a zip folder containing all the relevant files I used to reproduce the res

[2022-07-01 15:14] LukasWallrich commented on #64
Thank you for making these changes. Things are a lot clearer now. Just a few more specific points.

# Code

I appreciate the tidy-up. However, it might be good to include one example for how to run an experiment into the notebook (or README if you prefer). Currently, one needs to dig quite deep into utils.py to figure that out, which makes it harder to reuse your code.

Also, it might be good to r

[2022-07-01 15:17] LukasWallrich commented on #61
Thank you so much for this clear, comprehensive and helpful review! Definitely worth the wait :) I will implement the changes as soon as I can.

[2022-07-02 17:39] aaronshifman commented on #13
@khinsen Apologies for the delay, after looking at the revisions made by @baioc, I believe they've adequately addressed my concerns. I have no further issues with the state or the article or codebase.

[2022-07-04 07:59] oliviaguest commented on #61
Sorry to hear @mmoutou... I wish you all the best and that things improve as soon as possible. 🌼

[2022-07-05 09:08] khinsen commented on #13
Thanks @aaronshifman !

So... I think we can... finally... proclaim this submission accepted!

I will handle the publishing step tomorrow. @baioc, I may well request help from you in producing the final manuscript, depending on how things turn out.

[2022-07-06 10:14] khinsen commented on #13
The article is now published:  https://zenodo.org/record/6801765/files/article.pdf

@baioc: Please accept pull request https://github.com/baioc/re-multif/pull/4, which adds the metadata added during publication.

Thanks to everyone, in particular @aaronshifman  for the review and @rougier for the regular reminders without which this would have taken even longer!

[2022-07-06 21:40] baioc commented on #13
Awesome! I've accepted the pull request and updated the Zenodo code archive.

@khinsen @aaronshifman @rougier I really appreciate your effort and patience throughout the review process.
Thank you all!

[2022-07-07 07:41] #13 closed, assigned to khinsen

[2022-07-11 12:25] LukasWallrich commented on #61
Thank you again for this very thorough review – much appreciated. I have now implemented them and updated both the [article](https://github.com/LukasWallrich/diversity_abm_replication/raw/main/manuscript/article.pdf) and the [code](https://github.com/LukasWallrich/diversity_abm_replication). Below are my responses to each point.

This is true. Grim et al do not explain that divergence at all, and

[2022-08-01 10:25] oliviaguest commented on #61
@marieke-woensdregt no pressure as I know you are on holiday, but when you are back an ETA to check this might be useful.

@LukasWallrich I am still struggling to get any reviewers here, apologies.

[2022-08-01 10:26] oliviaguest commented on #61
@thelogicalgrammar are you still able and interested in reviewing this? 😊

[2022-08-03 07:05] oliviaguest commented on #61
OK, so @thelogicalgrammar said yes, but is on holiday. I cannot assign them until they comment on this thread, however, so we will have to wait. 😊

[2022-08-03 07:52] marieke-woensdregt commented on #61
Hi @LukasWallrich and @oliviaguest, I will have a look at Lukas' revisions later today. And good to hear that you found a second reviewer!

[2022-08-03 12:06] LukasWallrich commented on #61
Excellent news indeed - thanks, everyone!

[2022-08-08 15:40] lbeziaud commented on #64
Sorry for the delay and thank you again @LukasWallrich for your feedback. I updated the paper ([commit](https://github.com/lbeziaud/re-reardon2018/commit/6acdc5f54e6b23f996e3f178d0a31661893f4bef) and [pdf diff](https://github.com/ReScience/submissions/files/9283111/diff.pdf)) and the code ([commit](https://github.com/lbeziaud/mosaic/commit/4827206b77fe04e51c19e32839f5d41ec401bceb)).

The README ha

[2022-08-09 10:41] MelanieIStefan commented on #38
Hello! Please don't close it just yet. I know it's been a while, but I would like a chance to figure this out please.

[2022-08-12 08:53] oliviaguest commented on #61
@marieke-woensdregt would you be OK with a September ETA to take a look here? ☺️

[2022-08-12 18:14] LukasWallrich commented on #64
Thanks for making these updates - I think this all looks good now and I appreciate the clarifications in the paper. Tiny point: on top of p.6 (in the PDF diff) there is a broken Appendix reference (??). @oliviaguest please let me know if you need anything else from me.

[2022-08-12 18:17] oliviaguest commented on #64
@LukasWallrich no, this is fantastic. Unless the authors need anything, you're free. And we're extremely thankful. 🌝

[2022-08-13 10:05] lbeziaud commented on #64
Thank you for catching that. The broken reference is only present in the diff, and not in the article :) I'm still discovering [latexdiff](https://ctan.org/pkg/latexdiff).

@LukasWallrich Thank you again for your great feedback. I think the paper and code gained a lot from it!

[2022-08-17 14:07] marieke-woensdregt commented on #61
Yes, sorry! Definitely. 29th of August at the latest.

[2022-08-18 06:33] oliviaguest commented on #61
@LukasWallrich I am sorry this is taking so long (not that usual to be this slow, but it's both summer and pandemic). I emailed with @thelogicalgrammar, but I assume they may be on holiday.

If you have any ideas for who else to invite, I can try them too. But I think for now, we have to wait out August and try people again in September.

[2022-08-19 12:49] marcelorempel opened #65 "[Re] A Detailed Data-Driven Network Model of Prefrontal Cortex Reproduces Key Features of In Vivo Activity"
**Original article:**
Hass J, Hertäg L, Durstewitz D (2016) A Detailed Data-Driven Network Model of Prefrontal Cortex Reproduces Key Features of In Vivo Activity. PLoS Comput Biol 12(5): e1004930. https://doi.org/10.1371/journal.pcbi.1004930

**PDF URL:**
https://github.com/Lab-SisNe/ReScience_Hass_Hertag_Durstewitz_2016/blob/master/article.pdf

**Metadata URL:**
https://github.com/Lab-SisNe/ReSci

[2022-08-29 23:32] marieke-woensdregt commented on #61
Dear @LukasWallrich (and @oliviaguest),

Thank you for the clear and thorough response to my review. Please find below my response to the revisions, only to those points where a response is relevant (to all other points, my response is some variant of "Great! Thanks for clarifying/adding/editing.").

1.a) Great! As far as I'm concerned a footnote is sufficient. I don't have any reason to believe s

[2022-08-31 15:01] thelogicalgrammar commented on #61
Hi everyone,

My apologies for taking so long to write this. Since Marieke covered so much ground already and I feel the project is very close to being done, I mostly just want to add some comments about the code.

**1. The actual replication of the research. The reviewer must evaluate the authors’ claims about a successful replication, applying the standards of the field.**

The authors focus on

[2022-09-09 15:25] fbarraquand opened #66 "[Re] Biodiversity of plankton by species oscillations and chaos"
**Original article:** [Huisman, J., & Weissing, F. J. (1999). Biodiversity of plankton by species oscillations and chaos. Nature, 402(6760), 407-410.](https://www.nature.com/articles/46540)

**PDF URL:** [https://github.com/fbarraquand/supersaturated_coexistence/blob/main/article.pdf](https://github.com/fbarraquand/supersaturated_coexistence/blob/main/article.pdf)
**Metadata URL:** [https://github

[2022-09-09 17:57] kiristern opened #67 "[Re] Periodic forcing of a limit-cycle oscillator: fixed points, Arnold tongues, and the global organization of bifurcations"
**Original article:**
Glass L, Sun J. Periodic forcing of a limit-cycle oscillator: Fixed points, Arnold tongues, and the global organization of bifurcations. Phys Rev E Stat Phys Plasmas Fluids Relat Interdiscip Topics. 1994 Dec;50(6):5077-5084. doi: 10.1103/physreve.50.5077. PMID: 9962593.

**PDF URL:**
https://github.com/jkharv/poincare_oscillator/blob/main/Manuscript/Manuscript.pdf

**Metadata

[2022-09-09 20:17] LukasWallrich commented on #61
@marieke-woensdregt, thank you so much for these further helpful comments. I have implemented all the suggested fixes (for completeness included below). The only aspect where I would appreciate your further thoughts is 2a - there, I am not sure if I have fixed it and if further work is needed at present. My tendency would be to leave `pyscript2gce` as is, given that it is tangential to this replic

[2022-09-09 20:18] LukasWallrich commented on #61
Dear @thelogicalgrammar,

Thank you so much for taking the time to review this and to provide such helpful feedback.

Firstly, just one point where I would appreciate clarification.

I don't quite understand this point - the `PSAgent` class is defined right above.

Apart from that, I implemented all your very helpful suggestions. Specifically:

I added a note regarding this to the README.

Thanks

[2022-09-12 14:31] rougier commented on #65
Hi @marcelorempel, thank you for your submission  and sorry for the delay.  We'll assign an editor soon.

[2022-09-12 14:32] rougier commented on #65
@oliviaguest @benoit-girard @otizonaizit @gdetor Can one of you edit this submission? (Python, Neuroscience)

[2022-09-12 15:50] rougier commented on #67
Thanks for your submission. We'll assign an editor soon.

[2022-09-12 15:50] rougier commented on #67
@pdebuyl Can you edit this submission?

[2022-09-14 01:23] gdetor commented on #65
@rougier I could handle that

[2022-09-14 13:35] lucasphilipp1 commented on #67
Hello Dr. de Buyl and Dr. Rougier.

I was wondering if you could provide some sort of official receipt for our submission. I require it for grant application purposes.

Thank you very much.
Sincerely,
Lucas Philipp

[2022-09-21 10:08] rougier commented on #66
Thank your for your submission, we'll assign an editor soon.

[2022-09-21 10:09] rougier commented on #66
@tpoisot Can you edit this submission (if no, suggest an editor)

[2022-09-21 21:40] pdebuyl commented on #67
@rougier yes
@lucasphilipp1 ReScience C 's submission is public, wouldn't a link to this page suffice?

[2022-09-22 07:20] rougier commented on #65
Thanks, I'll assigned you?

[2022-09-22 15:07] lucasphilipp1 commented on #67
That's what I have used for now. But if you have a more official looking submission receipt that would be appreciated. No worries if not.

[2022-09-22 16:17] kiristern commented on #67
Hey @lucasphilipp1 , I think including a link to this submission issue would suffice. I’m not sure if ReScience has submission receipt templates, so to minimize @pdebuyl ’s workload, if you require a more official document do you think you could come up with one and send off for them to sign?

[2022-09-25 22:31] gdetor commented on #65
Hi @vitay and @heplesser Would you be able to review this submission?

[2022-09-26 08:29] vitay commented on #65
Yes, it sounds interesting.

[2022-09-26 11:15] heplesser commented on #65
Yes, I'd be happy to review.

[2022-09-26 17:56] gdetor commented on #65
Thank you @vitay and @heplesser

[2022-10-07 08:12] oliviaguest commented on #61
@thelogicalgrammar @marieke-woensdregt can you give some indication to the author if you are happy with the edits, please? 😊

[2022-10-10 06:57] rougier commented on #67
Yes, we do not have submission receipt but I'll happily sign any document you may need.

[2022-10-10 07:28] thelogicalgrammar commented on #61
Dear @LukasWallrich,

Thanks for the detailed answer! I am happy with the edits, everything looks ready to me.

PSAgent was referred to as "PS" later in the code, but this seems to have been solved already.

Best,
Fausto

[2022-10-19 12:18] marieke-woensdregt commented on #61
Dear @LukasWallrich,

Apologies for the late reply. Thank you for the final fixes. Those all look good!
And regarding my point 2a: I agree with your view that the pyscript2gce helper is tangential to the replication. I think the fact that you added a command to activate the Cloud Storage API explicitly to the README should help. Unfortunately, the free trial of Google Cloud Engine that I used to f

[2022-10-19 14:40] LukasWallrich commented on #61
Dear Theo, dear Marieke,

Thank you very much for your positive feedback - I very much appreciated your contributions to this paper.

@oliviaguest can you please let me know what's next?

[2022-10-19 19:35] oliviaguest commented on #61
I need to reread your article, and check it's all making sense, has no typos, and can you do the same, please... And then we're good to go! 🌈

[2022-10-21 15:07] JarlLemmens commented on #59
Hi @hkashyap, thank you for the comments, I just wanted to inform here that I am working on a revised version of the paper/code that includes the feedback, and that this will be coming in the coming weeks.

[2022-10-23 15:10] LukasWallrich commented on #61
@oliviaguest I have now re-read the article, caught some typos and added the meta-data in as far as I have it (including the code DOI). The PDF is now [here](https://github.com/LukasWallrich/diversity_abm_replication-manuscript/raw/main/article.pdf) ... I will also update the link at the top. Please let me know if you catch anything else - and how I can get the article DOI and other remaining meta

[2022-10-26 03:12] gdetor commented on #65
Hi @heplesser @vitay  gentle reminder

[2022-10-27 14:35] tpoisot commented on #66
Sorry about the delay - yes I can edit this submission.

[2022-11-02 15:06] vitay commented on #65
Here is my review of the [Re]implementation of Haas et al. (2016) paper by Rempel and colleagues.

Overall, this is an excellent replication of the original study. All figures related to the computational model are reproduced (the influence of the numerical method is even studied), but not the ones related to the physiological recordings, as this data is not available. I would not call it a partia

[2022-11-02 23:03] marcelorempel commented on #65
Hi @vitay... thank you very much for the review and the observations, we will work on these modifications.

[2022-11-07 16:47] lbeziaud commented on #64
Hello, I switched to python 3.9 and updated the dependencies due to a [security issue with joblib < 1.2.0](https://github.com/advisories/GHSA-6hrg-qmvc-2xh8). The code hasn't changed.

Please tell me if anything needs to be done on our side now :)

[2022-11-07 19:42] tpoisot commented on #66
**EDITOR**

@yoavram - can you **REVIEW** this submission?
@opetchey - can you **REVIEW** this submission (as you worked on [this](https://github.com/ReScience/ReScience-submission/pull/15)), or suggest a reviewer?

[2022-11-09 16:38] BarzolaT opened #68 "[¬Re] Setting Inventory Levels in a Bike Sharing Network"
**Original article:** Setting Inventory Levels in a Bike Sharing Network

**PDF URL:** https://espaces-collaboratifs.grenet.fr/share/s/MyrKJU3BSbO1_LHBWDWD8g
**Metadata URL:** https://gitlab.com/BarzoThom/redatner/-/blob/main/Report/metadata.yaml
**Code URL:** https://gitlab.com/BarzoThom/redatner.git

**Scientific domain:** Operation Research
**Programming language:** Python
**Suggested editor:**

[2022-11-09 21:48] swmpkim commented on #66
I'm game! (to review)

[2022-11-10 02:22] tpoisot commented on #66
**REVIEWER 1** is @swmpkim -- *thank you*!

There is an overview of the review process [here](https://rescience.github.io/edit/). You can post your review as a comment in this thread. If you want to comment on a specific place in the code, you can do it like so:

https://github.com/fbarraquand/supersaturated_coexistence/blob/main/Code/Script_Fig_2.R#L12

But also feel free to voice high-level comm

[2022-11-15 05:09] gdetor commented on #65
@heplesser gentle reminder

[2022-11-15 13:59] heplesser commented on #65
@gdetor Sorry for the delay, I am working on the review now.

[2022-11-18 11:19] LukasWallrich commented on #61
@oliviaguest Friendly nudge - can we possibly manage to get this done by the anniversary of my submission?

[2022-11-21 12:18] ChristophMetzner opened #69 "[Re] A circuit model of auditory cortex"
**Original article:**
Park, Y., & Geffen, M. N. (2020). A circuit model of auditory cortex. PLoS Computational Biology, 16(7), e1008016.

**PDF URL:**
https://github.com/ChristophMetzner/ReScience_ReplicationParkGeffen/blob/main/Article/article.pdf
**Metadata URL:**
https://github.com/ChristophMetzner/ReScience_ReplicationParkGeffen/blob/main/Article/metadata.yaml
**Code URL:**
https://github.com/

[2022-11-23 10:55] heplesser commented on #65
## General comments

I am impressed by the efforts of Rempel and colleagues in re-implementing and replicating the model and simulations by Hass et al. Since some details of model construction are not given in the original paper and the original source code is quite complex, a lot of intense code analysis must be behind this replication. For reasons I will provide below, I still believe that the r

[2022-11-23 18:08] gdetor commented on #65
Thank you @heplesser and @vitay for your comments.

[2022-11-23 22:33] marcelorempel commented on #65
@heplesser thank you for the feedback, we will work on improvements.

[2022-11-24 07:47] vitay commented on #65
@heplesser I have a genuine question about the importance of seeds for modeling, in order to improve my reviewing. I fully agree that reproducibility with a fixed seed is essential for the underlying neuro-simulator, running the same simulation twice with the same seed should always lead to the exact same results. But for a model using a neuro-simulator, one should on the contrary show that the re

[2022-11-24 08:27] heplesser commented on #65
@vitay I agree with you. First, at a technical level, we need full control over random number sequences to be able to reproduce simulations runs. This is essential to detect "Heisenbugs" that may introduce variability from trial to trial due to, e.g., uninitialised variables or errors in parallel code. Then, at the scientific level we need to perform trials with different seeds to capture the vari

[2022-11-25 18:31] tpoisot commented on #66
@fbarraquand @DoyenGuillaume @CoraliePicoche - can you suggest reviewers from the [list](https://github.com/rescience/rescience.github.io/blob/sources/04-board.md) or from outside the list?

[2022-11-26 08:16] fbarraquand commented on #66
From the list I can suggest @pboesu and @ha0ye. Outside the list Zachary R Miller (@zacharyrmiller) and Jurg W. Spaak (@juergspaak) [to whom I mention that ReScience C is a computational science reproduction journal, if they see the message because of tagging] -- selection based on their recent works.

[2022-11-26 18:10] ha0ye commented on #66
I am familiar with the original Huisman & Weissing paper, but won't have time to do a review until after the next 2 weeks.

[2022-11-28 07:35] rougier commented on #59
Any progress?

[2022-11-28 07:56] rougier commented on #64
Any progress ?

[2022-11-28 08:00] rougier commented on #68
Very sorry for late answer. We'll assign an editor soon.

By the way, it seems one author missing on the pdf (list of authors ends with "and")

[2022-11-28 08:04] rougier commented on #68
@khinsen @benoit-girard @oliviaguest Could any of you handle this replication (that has failed) in computer science ?

[2022-11-28 08:20] rougier commented on #69
Thansk for your submission, we'll assign an editor soon.

[2022-11-28 08:20] rougier commented on #69
@eroesch , @otizonaizit Can any of you edit this submission?

[2022-11-28 10:20] juergspaak commented on #66
@fbarraquand I've seen your message. However, I'm not sure how to respond to this. Is this equivalent to a request for a review?
I do know Huisman& Weissing paper, but R is not my primary coding language (but could potentially review this as well).

[2022-11-28 10:49] rougier commented on #61
@oliviaguest Is there anything more to do ? If you need help with actual publication, let me know.

[2022-11-28 10:50] rougier commented on #61
@LukasWallrich Ping me again by Friday if you don't get news from @oliviaguest

[2022-11-28 15:33] fbarraquand commented on #66
Hi @juergspaak, thanks for asking, the review process at ReScience occurs indeed through GitHub issues -- however, as it is our paper being reviewed I can only suggest referees and @tpoisot eventually decides as editor. So I'd suggest waiting for @tpoisot's input (think of my message as the usual email received when somebody enters your name in a database of potential reviewers).

(@ha0ye on our e

[2022-11-28 16:05] rougier commented on #24
@brembs Can we consider closing this issue or do you intend to work on it? We'll soon hit the 1000 days target since submision :)

[2022-11-28 16:49] brembs commented on #24
I've always intended to work on it, but given what other projects I have, it seems like too much work for a very small improvement on the manuscript. Working on the text is not an issue, but if the example I showed is not sufficient to show that I could  in principle do the same thing with the rest of the data, then I'm afraid I must pass, sorry.

[2022-11-28 17:32] rougier commented on #24
What is blocking actually ? If this is he conversion to ReScience template, I can take care of that if you want.

[2022-11-28 17:47] oliviaguest commented on #61
Hey all, I'm so sorry. I've been on sick leave and still am. @rougier if it's faster and OK with you, maybe indeed you can do the final stages? If, yes, thank you. And thank you all for your patience! 🌈

[2022-11-28 17:49] rougier commented on #61
Sure. What's need to be done? Just publication?

[2022-11-28 18:44] brembs commented on #24
No, IIRC, the reviewers felt that taking one dataset as an example was not sufficient, I needed to take the other, analogous datasets that made up the other figures in the original publication and generate the other figures as well. It's essentially doing the exact same pipeline I did for the first version and repeat that pipeline for the other figures. It's not completely unreasonable, but it add

[2022-11-28 21:41] rougier commented on #24
Ok. We can leave the submission open just in case you find some spare time in the coming weeks.

[2022-11-28 22:26] oliviaguest commented on #61
Oh, fantastic. Proofing and then I suspect it's done. 😎 Thank you!

[2022-11-29 10:14] pboesu commented on #66
Unfortunately I am currently tied up with other reviews and editorial duties. Sorry.

[2022-11-29 15:56] LukasWallrich commented on #61
@oliviaguest Sorry to hear that - hope you will get better soon!

@rougier Thanks so much for taking this on!

[2022-11-29 16:36] khinsen commented on #68
@rougier I understand this well enough to handle this submission as an editor, but I am too far from the field to find suitable reviewers.

@BarzolaT Can you propose a few potential reviewers?