[2019-05-03 22:45] reproducibility-org opened #1 "Reproducibility Report of "Variational Sparse Coding""
**Original article:** Variational Sparse Coding (https://openreview.net/forum?id=SkeJ6iR9Km)

**PDF URL:** https://github.com/reproducibility-challenge/iclr_2019/blob/master/papers/FrazadaTigre-SkeJ6iR9Km/ReScience_submission.pdf
**Metadata URL:** https://github.com/reproducibility-challenge/iclr_2019/blob/master/papers/FrazadaTigre-SkeJ6iR9Km/metadata-draft.yaml
**Code URL:** https://zenodo.org/r

[2019-05-03 22:48] reproducibility-org opened #2 "Reproducibility Report of "Meta learning with differentiable closed-form solvers""
**Original article:** : Meta-learning with differentiable closed-form solvers (https://openreview.net/pdf?id=HyxnZh0ct7)

**PDF URL:** https://github.com/reproducibility-challenge/iclr_2019/blob/master/papers/LCAX-HyxnZh0ct7/LCAX_camera_ready.pdf
**Metadata URL:** https://github.com/reproducibility-challenge/iclr_2019/blob/master/papers/LCAX-HyxnZh0ct7/ReScience_src/metadata-draft.yaml
**Code URL:

[2019-05-03 22:56] reproducibility-org opened #3 "Reproducibility Report of "h-detach: Modifying the LSTM gradient towards better optimization""
**Original article:**  h-detach: Modifying the LSTM Gradient Towards Better Optimization (https://openreview.net/pdf?id=ryf7ioRqFX)

**PDF URL:** https://github.com/reproducibility-challenge/iclr_2019/blob/master/papers/TeamYakataka-ryf7ioRqFX/TeamYakataka_camera_ready.pdf
**Metadata URL:**
**Code URL:** https://zenodo.org/record/2657361#.XMq6eEPhXCI

**Scientific domain:** Machine Learning
**Prog

[2019-05-03 22:58] reproducibility-org opened #4 "Reproducibility Report of "Learning Neural PDE Solvers with Convergence Guarantees""
**Original article:** Learning Neural PDE Solvers with Convergence Guarantees (https://openreview.net/forum?id=rklaWn0qK7)

**PDF URL:** https://github.com/reproducibility-challenge/iclr_2019/blob/master/papers/zoidberg-rklaWn0qK7/zoidberg_camera_ready.pdf
**Metadata URL:** https://github.com/reproducibility-challenge/iclr_2019/blob/master/papers/zoidberg-rklaWn0qK7/rescience_report/metadata-draft

[2019-05-03 23:09] reproducibility-org commented on #1
Reviewer Comments:

1. https://github.com/reproducibility-challenge/iclr_2019/pull/146#issuecomment-465430111
2. https://github.com/reproducibility-challenge/iclr_2019/pull/146#issuecomment-466789449
3. https://github.com/reproducibility-challenge/iclr_2019/pull/146#issuecomment-467059942

[2019-05-03 23:11] reproducibility-org commented on #2
Reviewer comments:

1. https://github.com/reproducibility-challenge/iclr_2019/pull/150#issuecomment-464272161
2. https://github.com/reproducibility-challenge/iclr_2019/pull/150#issuecomment-464889846
3. https://github.com/reproducibility-challenge/iclr_2019/pull/150#issuecomment-475799455

[2019-05-03 23:12] reproducibility-org commented on #3
Reviewer comments:

1. https://github.com/reproducibility-challenge/iclr_2019/pull/148#issuecomment-467280259
2. https://github.com/reproducibility-challenge/iclr_2019/pull/148#issuecomment-467295329
3. https://github.com/reproducibility-challenge/iclr_2019/pull/148#issuecomment-474682125

[2019-05-03 23:12] reproducibility-org commented on #4
Reviewer comments:

1. https://github.com/reproducibility-challenge/iclr_2019/pull/136#issuecomment-464268146
2. https://github.com/reproducibility-challenge/iclr_2019/pull/136#issuecomment-466598313
3. https://github.com/reproducibility-challenge/iclr_2019/pull/136#issuecomment-473885655

[2019-05-04 06:23] rougier commented on #1
@Alfo5123 Can you use the latest rescience template to make sure to use the proper font. Also, you'll need to edit the metadata (editorial -> replication), reviewer is "anoynmous", volume is 5, issue is 2.

[2019-05-04 06:25] rougier commented on #4
@francescobardi Can you use the latest rescience template to make sure to use the proper font. Also, you'll need to edit the metadata (editorial -> replication), reviewer is "anonymous", volume is 5, issue is 2. Also, make sure URL displya properly in the bottom of first page.

[2019-05-04 06:26] rougier commented on #3
@dido1998 Can you use the latest rescience template to make sure to use the proper fonts? Also, you'll need to edit the metadata (editorial -> replication), reviewer is "anonymous", volume is 5, issue is 2. Also, make sure URL display properly at the bottom of first page.

[2019-05-04 06:27] rougier commented on #3
And metadata file is missing.

[2019-05-04 06:29] rougier commented on #2
@ArnoutDevos Can you use the latest rescience template to make sure to use the proper font. Also, you'll need to edit the metadata, reviewer is "anonymous", volume is 5, issue is 2.

[2019-05-04 06:35] rougier commented on #4
Also, the title of the replication must  be "[Re] original title" (this will helps people searching for the original article to find yours as well)

[2019-05-04 06:36] rougier commented on #1
Also, the title of the replication must  be "[Re] original title" (this will helps people searching for the original article to find yours as well)

[2019-05-04 06:36] rougier commented on #2
Also, the title of the replication must  be "[Re] original title" (this will helps people searching for the original article to find yours as well)

[2019-05-04 06:36] rougier commented on #3
Also, the title of the replication must  be "[Re] original title" (this will helps people searching for the original article to find yours as well)

[2019-05-05 03:34] koustuvsinha opened #5 "ICLR Reproducibility Challenge Editorial"
**Title:** ICLR Reproducibility Challenge 2019
**PDF URL:** https://github.com/koustuvsinha/iclr19_rc_editorial/blob/master/article.pdf
**Metadata URL:** https://github.com/koustuvsinha/iclr19_rc_editorial/blob/master/metadata.yaml
**Suggested editor:** Nicolas Rougier, Konrad Hinsen

[2019-05-05 03:36] koustuvsinha commented on #3
Updated metadata file: https://github.com/dido1998/iclr-reproducibility-template/blob/master/metadata-draft.yaml

[2019-05-06 00:06] koustuvsinha commented on #4
@rougier fixed the issues (metadata, volume and url display)

[2019-05-06 00:52] koustuvsinha commented on #3
@rougier updated the pdf file. The metadata can be found here: https://github.com/reproducibility-challenge/iclr_2019/blob/master/papers/TeamYakataka-ryf7ioRqFX/metadata.yaml

[2019-05-06 03:21] koustuvsinha commented on #2
@rougier updated the draft with the recommended changes.

[2019-05-06 03:39] koustuvsinha commented on #1
@rougier updated draft as per comments.

[2019-05-06 05:15] rougier commented on #4
Thanks. For the title, maybe you can replace the type by "ICLR Reproducibility Challenge 2019" (instead of replication) and remove it from the title. For the editor, we need some name, can you put your name ?

[2019-05-06 05:17] rougier commented on #3
Thanks. Missing email  for corresponding author. The "replication of ..." is weird. In the end, maybe it woudl be easier if can edit the latex myself. Do you have sources for all of them ?

[2019-05-06 05:19] rougier commented on #2
Thanks. Page 8 is mostly empty, do you know why (some extra \clearpage ?)

[2019-05-06 05:21] rougier commented on #1
LGTM. I'm waiting for the 3 others and I'll upload them to Zenodo.

[2019-05-06 05:24] rougier commented on #5
Larochell -> Larochelle ?

[2019-05-06 14:53] koustuvsinha commented on #5
@rougier thanks! fixed them now

[2019-05-06 15:19] koustuvsinha commented on #1
updated, also sent you the raw latex source

[2019-05-06 15:19] koustuvsinha commented on #4
updated, also sent you the raw latex source

[2019-05-06 15:19] koustuvsinha commented on #3
updated, also sent you the raw latex source

[2019-05-06 15:20] koustuvsinha commented on #2
updated, also sent you the raw latex source

[2019-05-07 09:23] khinsen commented on #5
I am a bit late in looking at this because I was drowning in other stuff recently, sorry. I did have a look at the editorial and the submissions today. Everything looks very good: the editorial does a good job of describing the context and highlighting the strengths of each article, and the individual articles are well written. My knowledge of the domain is insufficient to say more about them, so

[2019-05-21 19:26] rougier commented on #5
@koustuvsinha I'm editing your editorial. Do you confirm that none of the authors has an ORCID ?

[2019-05-21 20:07] rougier commented on #2
I'm now editing the paper. I would need a DOI for the code, would it be possible for the authors to deposit their code on Zenodo and give me the corresponding DOI?

[2019-05-21 20:11] ArnoutDevos commented on #2
Available: 10.5281/zenodo.2662494
[https://zenodo.org/record/2662494#.XORbLdMzZ24](https://zenodo.org/record/2662494#.XORbLdMzZ24)

[2019-05-21 20:21] rougier commented on #2
By the way, you confirm the two last authors have no ORCID?

[2019-05-21 20:45] ArnoutDevos commented on #2
Sylvain Chatel does: [0000-0002-1275-8367](https://orcid.org/0000-0002-1275-8367)

[2019-05-21 21:04] reproducibility-org commented on #5
Hi @rougier, sorry my ORCID id is 0000-0002-2803-9236. I don't have the information about my co-authors, unfortunately!

[2019-05-21 21:05] koustuvsinha commented on #5
Hi @rougier, sorry my ORCID id is 0000-0002-2803-9236. I don't have the information about my co-authors, unfortunately!

[2019-05-22 05:50] rougier commented on #4
I'm editing the article and I would need the code DOI (if not available can you ask the authors to deposit an archive on Zenodo and to communicate the DOI?)

[2019-05-22 06:36] rougier commented on #5
Can you check everything is ok: https://www.dropbox.com/s/qu5u4fmmrbp3ux1/editorial.pdf?dl=0

[2019-05-22 06:36] rougier commented on #2
Can you chech everything is ok:  https://www.dropbox.com/s/ohi1n1qsyovixsg/article-1.pdf?dl=0

[2019-05-22 06:37] rougier commented on #3
Can you check everything is ok: https://www.dropbox.com/s/ywevie7iy3l6rsg/article-4.pdf?dl=0

[2019-05-22 06:38] rougier commented on #4
Can you check eveyrhting is ok (but the code DOI): https://www.dropbox.com/s/a64uscxmv7n2dav/article-3.pdf?dl=0

[2019-05-22 06:39] rougier commented on #1
Can you check everything is ok: https://www.dropbox.com/s/fyzdo4jbfu57ppj/article-2.pdf?dl=0

[2019-05-22 07:15] ArnoutDevos commented on #2
Thank you for editing our work.

   1. if possible, put small spacing between paragraphs to improve
   readability (unless there's a strict policy on this).
   2. Sylvain Chatel's ORCID is not yet next to his name
   3. If possible, shift content end of page 1 to 2, end of 4 to 5
   4. page 6 looks very empty

That's all I guess.

Thanks,
Arnout

On Wed, May 22, 2019 at 8:36 AM Nicolas P. Rougier

[2019-05-22 07:28] rougier commented on #2
Thanks for your comments. At this point, maybe the easiest for me would be to upload the edited version such that you can tweak it.

[2019-05-22 07:42] rougier commented on #2
You can access it at: https://github.com/rougier/ICLR-2019/tree/master/article-1

[2019-05-22 07:42] rougier commented on #5
You can access it at: https://github.com/rougier/ICLR-2019/tree/master/editorial

[2019-05-22 07:43] rougier commented on #4
You can access it at: https://github.com/rougier/ICLR-2019/tree/master/article-3

[2019-05-22 07:43] rougier commented on #3
You can access it at: https://github.com/rougier/ICLR-2019/tree/master/article-4

[2019-05-22 07:43] rougier commented on #1
You can access it at: https://github.com/rougier/ICLR-2019/tree/master/article-2

[2019-05-22 12:31] koustuvsinha commented on #5
Looks good to me!

[2019-05-22 12:32] koustuvsinha commented on #4
Looks good to me!

[2019-05-22 12:32] koustuvsinha commented on #3
Looks good to me!

[2019-05-22 12:32] koustuvsinha commented on #2
Looks good to me!

[2019-05-22 12:32] koustuvsinha commented on #1
Looks good to me!

[2019-05-22 12:42] rougier commented on #4
@koustuvsinha For this one the code DOI is still missing.

[2019-05-22 12:43] rougier commented on #2
@ArnoutDevos can you take care of your suggested changes?

[2019-05-22 12:49] ArnoutDevos commented on #2
@rougier will do by next week. Have a deadline this week.

[2019-05-22 13:41] rougier commented on #2
I'll do it then (I want to have them published today).

[2019-05-22 13:43] ArnoutDevos commented on #2
Ok, thanks :)!

[2019-05-22 14:07] rougier commented on #2
@ArnoutDevos I've update the PDF. Can you have a look?

[2019-05-22 15:41] ArnoutDevos commented on #2
Looks good to me!

[2019-05-22 17:00] koustuvsinha commented on #4
Hi @rougier , the code DOI for this project is https://zenodo.org/record/2660730

[2019-05-23 07:13] #5 closed

[2019-05-23 07:14] #4 closed

[2019-05-23 07:14] #1 closed

[2019-05-23 07:15] #2 closed

[2019-05-23 07:15] #3 closed

[2019-07-15 20:46] sukhoy opened #6 "Eliminating the Variability of Cross-Validation Results with LIBLINEAR due to Randomization and Parallelization"
**Title:  Eliminating the Variability of Cross-Validation Results with
LIBLINEAR due to Randomization and Parallelization**
<s>**Title:  Eliminating the Variability of Cross-Validation Results for Some Randomized and Parallelized Learning Algorithms**</s>

**PDF URL: https://github.com/sukhoy/RSC_paper/raw/master/article.pdf**
**Metadata URL: https://github.com/sukhoy/RSC_paper/blob/master/metadat

[2019-07-16 13:58] khinsen commented on #6
Thanks for the submission! I will invite reviewers soon.

[2019-07-16 15:23] khinsen commented on #6
@mlosch @neuronalX @thmosqueiro @xuedong @gdetor
Can any of you review this submission? Note that it is a letter (on reproducibility methodology for machine learning), not a replication.

[2019-07-16 16:24] neuronalX commented on #6
Thank you @khinsen for the invitation to review.
I will not be available the next 2 weeks, but if it is fine, I can do it for mi-august at latest.

[2019-07-16 16:55] gdetor commented on #6
@khinsen  I can review it

[2019-07-17 09:54] khinsen commented on #6
Thanks @gdetor and @neuronalX for accepting to review this submission! Mid-August is OK.

[2019-08-06 01:22] gdetor commented on #6
Summary - General Comments
--------------------------

In this work, the authors propose and implement a patch for the LIBLINEAR library, which implements randomized learning algorithms. The key points of the proposed work are (i) the use of a cross-platform pseudo-random number generator (PRNG) and (ii) the PRNG private state in each thread. By doing so the authors make possible the reproducibili

[2019-08-28 16:18] khinsen commented on #6
Thanks @gdetor for your review!

@neuronalX Did you have a chance to look at the paper already?

[2019-08-29 11:57] PaulineBock opened #7 "[Re] The Wisconsin Card Sorting Test: an implementation of Dehaene and Changeux Neuronal Network Model"
**Original article:** Dehaene, S., & Changeux, J. P. (1991). The Wisconsin Card Sorting Test: Theoretical analysis and modeling in a neuronal network. Cerebral cortex, 1(1), 62-79.

**PDF URL:** https://github.com/PaulineBock/WCSTDehaeneChangeux/blob/master/ReScience_Dehaene.pdf
**Metadata URL:** https://github.com/PaulineBock/WCSTDehaeneChangeux/blob/master/Metadata.yaml
**Code URL:** https://git

[2019-08-29 21:42] neuronalX commented on #6
Hello Konrad,

Sorry for the delay, I didn’t have time to try the code yet, I can’t do it know, I will do it next week.

Best

Xavier

[2019-08-30 06:03] khinsen commented on #6
@neuronalX Thanks for the status report!

[2019-09-05 09:10] rougier commented on #7
@PaulineBock Thank your for your submission and sorry for the delay. We'll assign an editor soon.

[2019-09-05 09:12] rougier commented on #7
@gdetor @benoit-girard @otizonaizit @oliviaguest Can any of you edit this submission? (I cannot, I've a conflict)

[2019-09-05 09:17] oliviaguest commented on #7
Happy to do it.

[2019-09-05 16:41] oliviaguest commented on #7
@PaulineBock there is a minor typo in the penultimate line of the introduction, I think it should be "implementations" (plural).

@rougier why is there no checkbox for the type of replication?

[2019-09-05 17:24] PaulineBock commented on #7
Hello Olivia Guest,
thank you for the review, and yes I think it should be plural, I fix it
right now.

Le jeu. 5 sept. 2019 à 18:41, Olivia Guest <notifications@github.com> a
écrit :

[2019-09-05 18:46] rougier commented on #7
@oliviaguest Thanks.

[2019-09-06 16:18] oliviaguest commented on #7
@andreacaso do you think you can review this please?

[2019-09-06 17:48] oliviaguest commented on #7
Also: @qihongl do you think you might be able to review this? 😊

[2019-09-07 09:58] AndreaCaso commented on #7
Yes :)

[2019-09-09 14:54] AndreaCaso commented on #7
Hello Pauline, here's my review.

**Code:**

In order to run the model on PyCharm I had to make just one (very) minor change. I added an argument to the main function (WCST_test in the file DehaeneChangeux.py) to prevent the output window from showing up, so that whenever one runs 500 trials in a row (in Statistics.py) PyCharm won't freeze up.
The code works very well, otherwise.

**Text:**

'to e

[2019-09-09 15:04] qihongl commented on #7
Wow, this is really interesting! Thanks for the replication. I'm happy to help! I will start reading it next week!

I just looked at the code briefly. Just a quick minor comment: Making some object-oriented classes to separate the code for defining the model/task vs. the code for executing the experiment/plotting the results, might further enhance the readability and modularity of code :)

[2019-09-09 16:26] PaulineBock commented on #7
Hello to all of you,

Thanks for the review. I will try to answer to all the questions.

I can rephrase the part about frontal lobe dysfunction and read more about
the clinical aims of the WCST.

I will cite Heaton and read more about it.

This is indeed a typo.

The maximum value depends of the long-term component values of the unit.

When I say that we have not more precisions, it is because on

[2019-09-09 16:42] PaulineBock commented on #7
Sorry, I have just realised that for the "precisions" part, I used some
French word I think. I wanted to say "without more details"!

Le lun. 9 sept. 2019 à 18:26, Bock Pauline <mllebock@gmail.com> a écrit :

[2019-09-09 16:49] oliviaguest commented on #7
@PaulineBock you are doing a great job and please do everything on github to keep the review process as open as possible. 😊

[2019-09-09 16:51] qihongl commented on #7
Ah just to be clear I think the code is great!

Actually I'm aware that refactoring the code might be a lot of work and I'm not sure if this is necessary for publishing this work. I was just imagining this work might be used in a cognitive modeling class in the future. I guess having another layer of abstraction can give students the option of forming some overall impression on how the code works

[2019-09-10 22:26] neuronalX commented on #6
## General comments

The paper is well written, and it is nice to have a figure to explain the behavior. It is surprising that the results are actually better with the patch. Is the patch planned to be integrated in LIBLINEAR?

I agree with @gdetor on several points:
- the title should be changed in order to include LIBLINEAR
- automatic script in python which would install everything or at least

[2019-09-12 07:36] khinsen commented on #6
Thanks @neuronalX !

@sukhoy Can you address the suggestions made by the two reviewers?

[2019-09-18 20:12] PaulineBock commented on #7
Hello to all of you,

I have made some modifications according to Andrea Caso's review. Tell me
if it is okay.
I have modified among other things the statistics graph to add the new
results obtained by lesioning the reward and the rule-coding clusters of
the implemented model.

Best regards,

Pauline.

Le lun. 9 sept. 2019 à 16:54, Andrea Caso <notifications@github.com> a
écrit :

[2019-09-19 05:29] rougier commented on #7
Just step-in as editor-in-chief here: it seems the article includes image from the original article and to do that, we need permission from the original publisher (e.g. Elsevier, Springer, etc) or you'll need to redo the figure (and state "adapted from"). If it is already the case, don't pay attention to my message.

[2019-09-19 11:12] PaulineBock commented on #7
Thanks for the warning Nicolas. So I have decided to redo the figure and
have stated "adapted from".
Best regards,
Pauline

Le jeu. 19 sept. 2019 à 07:29, Nicolas P. Rougier <notifications@github.com>
a écrit :

[2019-09-19 14:23] oliviaguest commented on #7
@AndreaCaso please see above! ☝️

[2019-09-20 12:32] AndreaCaso commented on #7
Hello,

Thank you for making the changes. I have a few additional notes.

- Reference system should be consistent. The in-text citation for Heaton is (Heaton, R.K, (1981)), and the one for Dehaene and Changeux is [1]. If the reference system you have to abide to is the APA format I'd suggest that you use (Heaton, 1981) and (Dehaene & Changeux, 1991).

- The caption in Fig.3 could potentially be im

[2019-09-20 13:53] qihongl commented on #7
Sorry about the delay :) will start reading the papers in the next few days!

[2019-09-20 13:57] oliviaguest commented on #7
Thanks @qihongl! As much as you can please read it bearing in mind what else has been said above. 👍

[2019-09-25 22:46] sukhoy commented on #6
Dear Editor and Reviewers,

Thank you for the quick review of our manuscript and for the helpful suggestions
for improvements and clarifications. Our point-by-point responses are given
below.

Response to the Editor

All changes recommended by the reviewers have been applied in the revised
version of the paper. Our point-by-point responses are given below.

As requested by both reviewers, the titl

[2019-09-26 07:01] khinsen commented on #6
Thanks @sukhoy !

@gdetor and @neuronalX , do the changes and comments address all the issues you raised?

[2019-09-26 17:23] gdetor commented on #6
@khinsen The authors addressed all my comments and the code runs smoothly. The installer script works out-of-the-box. I endorse the manuscript for publication.

@sukhoy There is only one typo on page 3 item 5 in the listing: There is a missing bracket in the for loop. Other than that everything looks fine.

[2019-09-30 17:00] qihongl commented on #7
Thanks! @PaulineBock I really enjoyed reading it! Here're some thoughts. Please use them as you see fit.

You used a lot of space to describe the order of computations in the model, which is good. Though I think the paper can focus more on conceptual points such as i) conceptually, what’s the original findings and how does their simulation results support that, and ii) what’re the most relevant as

[2019-09-30 19:33] qihongl commented on #7
btw, the stats code generate plots as the program is being executed. I think it might better to save all plots to some image dir and suppress the output by default?

[2019-10-01 05:37] khinsen commented on #6
Thanks @gdetor!

[2019-10-01 14:14] PaulineBock commented on #7
Hello  @qihongl <https://github.com/qihongl>, thanks for the review.
Concerning the conceptual and discussion questions, I don't have enough
time to work on it, but I have transferred them to my co-author and
previous internship supervisor Frédéric Alexandre.
Concerning the other questions:
-yes we could tell that it is composed of several neural network layers
-the neuronal cluster activities are

[2019-10-03 16:37] qihongl commented on #7
Thanks for the revision @PaulineBock I think it looks great.

Right, I do think most readers would naturally ask why are there some differences between this implementation versus the original implementation. For example, is it possible that the original paper forgot to report something that's critical for that model to work? Is it possible that there the task implementation / stimuli representatio

[2019-10-06 09:00] khinsen commented on #6
@neuronalX  🔔 Gentle reminder!

[2019-10-06 13:24] PaulineBock commented on #7
Hello @qihongl, so we have added some comment about the need of
modifications in the implementation according to the original model. It is
in the Modifiation and Implementation paragraph.

Le jeu. 3 oct. 2019 à 18:38, Qihong Lu <notifications@github.com> a écrit :

[2019-10-07 08:33] oliviaguest commented on #7
What's left to be done here @PaulineBock? 😄

[2019-10-07 09:02] PaulineBock commented on #7
@oliviaguest I think I have tried to answer to all your questions as I
could. Tell me if it seems okay for you !

Le lun. 7 oct. 2019 à 10:33, Olivia Guest <notifications@github.com> a
écrit :

[2019-10-07 09:05] oliviaguest commented on #7
@qihongl @AndreaCaso can you please let me know what you think now with respect to what needs to be done here? For example, are you both proposing acceptance now?

[2019-10-07 14:13] qihongl commented on #7
Sure -- If all of us @PaulineBock  @oliviaguest  @AndreaCaso  are happy with the final version. I think the revision is great.

Just a really minor point: the blank space on page 6 is slightly awkward :) I was wondering if it can be reformatted slightly.

[2019-10-08 08:09] AndreaCaso commented on #7
Hi, I think the revision is very good and I am happy with the final version.

[2019-10-08 09:51] PaulineBock commented on #7
Indeed I have removed the space page 6 !
It is okay for me now.
Thank you all.

Best,
Pauline.

Le mar. 8 oct. 2019 à 10:09, Andrea Caso <notifications@github.com> a
écrit :

[2019-10-15 14:09] rougier commented on #7
Any update ?

[2019-10-15 14:36] oliviaguest commented on #7
Hey, I'm really sorry... new job and everything is so slow. I'll get on
this tomorrow. :)

Olivia

***
Dr Olivia Guest
sent from my smartphone

On Tue, 15 Oct 2019, 17:10 Nicolas P. Rougier, <notifications@github.com>
wrote:

[2019-10-17 06:47] oliviaguest commented on #7
@PaulineBock do you have an orcid? Please make one since you will be asked this so often it is worth just doing this now..?

[2019-10-17 08:07] PaulineBock commented on #7
Hello, I have created my ORCID account. Here is my ID:
https://orcid.org/0000-0002-9374-8733

Thanks for your work.

Le jeu. 17 oct. 2019 à 08:47, Olivia Guest <notifications@github.com> a
écrit :

[2019-10-17 08:23] oliviaguest commented on #7
@PaulineBock thank you ­— as soon as you merge https://github.com/PaulineBock/WCSTDehaeneChangeux/compare/master...oliviaguest:patch-1 I'll carry on :blush:

[2019-10-17 08:35] PaulineBock commented on #7
I think it is okay ! Thank you really much!
Best,

Pauline.

Le jeu. 17 oct. 2019 à 10:23, Olivia Guest <notifications@github.com> a
écrit :

[2019-10-17 17:17] qihongl commented on #7
Congrats! @PaulineBock
Thanks folks! @oliviaguest @AndreaCaso

[2019-10-21 09:25] khinsen commented on #6
@neuronalX 🔔 Could you please have a look at the revision rapidly, and tell us if it addresses your concerns?

[2019-10-21 13:53] rougier commented on #6
I've reminded him as well :) Should be done by the end of this week.

[2019-10-21 14:01] rougier commented on #7
@oliviaguest Just a little help with the new publication process. @PaulineBock Can you complete your metadata file with the name/ORCID of the editor, reviewers, acceptance data and volume number (=5). As for the issue, I think we can stay on issue 1 or open a new issue (3) because there was a special issue (2). @oliviaguest what do you think?

[2019-10-21 14:03] oliviaguest commented on #7
@rougier that sounds fine — thank you!

[2019-10-21 22:56] neuronalX commented on #6
- Thank you for the changes. I have installed llvm with brew and tried the python script.
- The python script works with Python >=3.6 but not below.
  - Could the authors notify this requirement?
- If the error below is only because of my mac configuration, then let's move forward if the code work for the other reviewer, because my comments have been taken into account, and it is much easier and f

[2019-10-22 07:14] khinsen commented on #6
Thanks @neuronalX !

@sukhoy Any comments? The OpenMP issue could indeed be specific to macOS or even to homebrew, I have seen this in other contexts.

[2019-10-24 10:29] theoboraud opened #8 "[Re] A Neurodynamical Model for Working Memory"
**Original article:** [A Neurodynamical Model for Working Memory](https://www.sciencedirect.com/science/article/abs/pii/S0893608010001899)

**PDF URL:** [\[Re\] A Neurodynamical Model for Working Memory](https://github.com/theoboraud/ESN/blob/master/ReScience%20Article/ReScience_Article.pdf)
**Metadata URL:** [Metadata.yaml](https://github.com/theoboraud/ESN/blob/master/ReScience%20Article/metadat

[2019-10-25 18:17] mupsh opened #9 "[Re] Mathematical analysis of depolarization block mediated by slow inactivation of fast sodium channels in midbrain dopamine neurons."
**Original article**: https://www.ncbi.nlm.nih.gov/pubmed/25185810

**PDF URL:** https://github.com/mupsh/ReScience_Qian_2014/blob/master/article/article.pdf
**Metadata URL**: https://github.com/mupsh/ReScience_Qian_2014/blob/master/article/metadata.yaml
**Code URL**: https://github.com/mupsh/ReScience_Qian_2014

**Scientific domain:** Computational Neuroscience
**Programming language:** Python
**

[2019-10-26 00:08] sukhoy commented on #6
Dear Editor and Reviewers,

Thank you for the quick review of the revised version of our manuscript and for
the suggestions that helped us to further improve the article and the source
code. Our point-by-point responses are given below.

Response to the Editor

All changes recommended by the reviewers have been made and all issues have been
addressed in the revised versions of the paper and the so

[2019-10-27 13:53] khinsen commented on #6
Thanks @sukhoy ! It's nice to see reviewers contributing to improving stuff/

@gdetor and @neuronalX , does this look good to you?

[2019-10-27 18:28] gdetor commented on #6
@khinsen It looks good to me.

[2019-10-28 09:37] rougier commented on #8
@benoit-girard Could you edit this submission?

[2019-10-28 09:40] rougier commented on #9
Thanks for your submission. I'll edit it and assign reviewers soon.

[2019-10-28 09:42] rougier commented on #9
@rgutzen @cJarvers Could you review this submission ?

[2019-10-28 10:21] benoit-girard commented on #8
Yes !

Benoît Girard
ISIR - UPMC / CNRS
http://people.isir.upmc.fr/girard

----- Reply message -----
De : "Nicolas P. Rougier" <notifications@github.com>
Pour : "ReScience/submissions" <submissions@noreply.github.com>
Cc : "Benoît Girard" <benoit.girard@isir.upmc.fr>, "Mention" <mention@noreply.github.com>
Objet : [ReScience/submissions] [Re] A Neurodynamical Model for Working Memory (#8)
Date : l

[2019-10-29 10:24] rgutzen commented on #9
Sure. I'm happy to

[2019-10-29 10:45] cJarvers commented on #9
I'd be happy to review this as well, but I'll be very busy throughout November. Is early December an acceptable time frame for the review? Otherwise I have to pass.

[2019-10-29 15:07] rougier commented on #9
Thanks @rgutzen and @cJarvers. @cJarvers I think we can wait  for you review in December yes.
@mupsh Is that ok for you ?

[2019-10-29 15:17] mupsh commented on #9
Hi,

Yes, that’s ok for me.

Cheers,

Mary

[2019-10-29 19:59] benoit-girard commented on #8
I have to check how the new review process works (and find reviewers...). Give me some time to do that.

[2019-10-29 20:25] benoit-girard commented on #8
@neuronalX & @cJarvers : can you review this paper?

[2019-10-29 20:35] benoit-girard commented on #8
Oh, I just saw that @cJarvers has been asked very recently for another review. Maybe I should ask someone else.
@Vahidrostami you think you could review this paper?

[2019-10-30 10:03] Vahidrostami commented on #8
@benoit-girard I'd be happy to review this.

[2019-10-30 10:21] neuronalX commented on #8
@benoit-girard
I would be very happy to review this paper ...
but "unfortunately" I know way too much the authors! (one is my PhD student)

[2019-10-30 10:47] neuronalX commented on #8
@benoit-girard You could ask Pierre Enel, who did a review previously, but I could not find his github account.

[2019-10-30 10:52] khinsen commented on #6
@neuronalX Are you happy as well with the current state of the submission?

[2019-10-30 13:41] neuronalX commented on #6
The authors make the Python script compatible with many versions of Python, so it's fine for me.

After running the following provided command:
[code]

it installed and lauched the experiment, and I obtained the same resultats than in the paper:
[code]

@khinsen  In summary, OK for publication.

[2019-10-30 20:29] khinsen commented on #6
Thanks @neuronalX!

This means the paper is accepted - congratulations to @sukhoy and co-authors!

I will take care of the remaining steps on Monday.

[2019-10-30 23:41] sukhoy commented on #6
Dear Editor and Reviewers,

Thank you for the quick and detailed review of our paper.
We are looking forward to seeing the PDF of the final version next week!

[2019-10-31 15:40] benoit-girard commented on #8
@pietromarchesi would you like to review this submission to ReScience?

[2019-10-31 16:49] rougier commented on #8
@benoit-girard Yes, because most editors forgot to fill it and it was only useful at the end when actually publish the paper.

[2019-11-04 13:26] PaulineBock commented on #7
Hello everyone, sorry for the late answer. So, do someone have all the
informations about the orcid of reviewers and editor ? I will edit as soon
as possible. Thanks.

Le lun. 21 oct. 2019 à 16:03, Olivia Guest <notifications@github.com> a
écrit :

[2019-11-04 13:32] oliviaguest commented on #7
Mine is: 0000-0002-1891-0972

[2019-11-04 15:50] PaulineBock commented on #7
So, I have found @AndreaCaso ORCID ID, but for @qihongl I have found 2
different orcid. What is the date of acceptance ?
Best.

Le lun. 4 nov. 2019 à 14:32, Olivia Guest <notifications@github.com> a
écrit :

[2019-11-04 15:57] qihongl commented on #7
Sorry about the confusion :)
here's my orcid: http://orcid.org/0000-0002-0730-5240

[2019-11-04 16:28] khinsen commented on #6
The article is published and available:
 - On GitHub: https://github.com/ReScience/articles/tree/master/10.5281_zenodo.3528175
 - On Zenodo: https://zenodo.org/record/3528175

@sukhoy Please accept pull request https://github.com/sukhoy/RSC_paper/pull/1 which updates the article metadata in your repository.

[2019-11-04 16:33] PaulineBock commented on #7
Thank you, so metadata is completed for my part.
Tell me if there are some more things to do and when you will publish
please.

Le lun. 4 nov. 2019 à 16:57, Qihong Lu <notifications@github.com> a écrit :

[2019-11-04 18:53] rougier commented on #6
It's online at https://rescience.github.io/read/

[2019-11-04 22:32] sukhoy commented on #6
I merged the pull request.
Also, I am updating the PDF file in my repository to match the published version.

It is nice to see it published.

[2019-11-05 06:59] oliviaguest commented on #7
@rougier what do I need, which directory do I need to be in, in order to run `process.py`? https://github.com/ReScience/articles/blob/master/README.md

[2019-11-05 08:17] rougier commented on #7
Best is to clone the articles repository and to work from the root of that directory (with the PDF and metadata). You can finish filling the metadata and do not forget to use the Zenodo sandbox first to check everythign's fine.

By the way, don't try to publish the website once you've added the new entry into published, just drop me an email or a notification.

[2019-11-05 14:41] rgutzen commented on #9
Hi @mupsh, I think you chose a nice study to replicate and I really hope I can help improve it towards a level of rigor, I think it could have. So, here my review.
You show some qualitative and some quantitative replications, but you also show some clear discrepancies that you either ignore or don't discuss sufficiently. I think there are a couple of major and minor changes that can make your repl

[2019-11-06 06:53] rougier commented on #9
Thanks @rgutzen for this very detailed review. @mupsh You can wait for the second review or you can start modifying your article, taking @rgutzen comments and suggestions into account.

[2019-11-06 10:35] benoit-girard commented on #8
@cJarvers would you like to review this submission to ReScience?

[2019-11-07 12:33] oliviaguest commented on #7
@PaulineBock @rougier
I think this is what is needed to be updated in the metadata, correct?

[code]

[2019-11-07 22:00] c-torre opened #10 "Review Request: C. de la Torre-Ortiz and A. Nioche"
Dear ReScience editors,

I request a review for the following replication:

**Original article:** https://doi.org/10.3389/fncom.2015.00149

**PDF URL:** https://github.com/c-torre/replication-recanatesi-2015/blob/master/re-neural-network-model-of-memory-retrieval.pdf
**Metadata URL:** https://github.com/c-torre/replication-recanatesi-2015/blob/master/metadata.tex
**Code URL:** https://github.com/c

[2019-11-08 14:27] oliviaguest commented on #10
Happy to take this on. @bobaseb are you interested in reviewing this? :smile:

[2019-11-08 14:28] bobaseb commented on #10
Sure I'm in :)

[2019-11-08 14:42] oliviaguest commented on #10
:wave: @anne-urai would you be able to review this?

[2019-11-08 17:12] anne-urai commented on #10
I don't really have expertise in neural networks, but my colleague @jamesproach is, and is happy to do this. He'll register as a reviewer first.

[2019-11-11 15:20] oliviaguest commented on #10
@anne-urai thank you!

@jamesproach let me know when you are ready and if you have any questions. Same goes for you @bobaseb of course. The sooner the better of course, but let us know when you plan to get this done. :smile:

[2019-11-11 17:22] rougier commented on #7
Yes the sandbox server is only for you to check everything ran ok.  Since this seems to be the case, you can no run it on the real server and communicate the information to @PaulineBock. Note that the alternative is to modify the metadata yourself and upload the (recompiled) paper and to make a PR to @PaulineBock repo.

Once finished, don't try to "publish" the rescience website since it may fail

[2019-11-15 08:48] oliviaguest commented on #7
I'll give this a shot on Monday — thank you @rougier!

[2019-11-18 12:23] oliviaguest commented on #7
@rougier @PaulineBock I think/hope I have done this right:

[2019-11-18 12:24] oliviaguest commented on #7
[Sorry, did not meet to close this issue. I keep switching from Mac to Linux which means the shortcuts are confused in my head.]

[2019-11-19 08:29] rougier commented on #7
Looks good to me. But it's not yet online, right ?

[2019-11-19 08:47] oliviaguest commented on #7
I don't think so, the URL 404s and I didn't do anything other than run what is asked for in step 1.

[2019-11-21 14:15] bobaseb commented on #10
The authors do a good job in transforming the original model based on individual neurons to a population model. New parameters are introduced to this effect and the original model's dynamics (i.e., retrieving a memory while inhibiting others under periodic inhibition dynamics) is broadly reproduced.

The code is clear and human-readable with enough comments to get the gist of each computation. I w

[2019-11-22 22:06] mupsh commented on #9
@rgutzen Thank you for your extensive comments and we're working on changes. @cJarvers Since we're going to be making fairly extensive changes it might be easiest for us to add our changes so you don't have to go through 2 sets.

[2019-11-23 20:38] mcbaneg opened #11 "10 year reproducibility challenge: reproduction of J. Chem. Phys. 112, 4417 (2000)"
[article.pdf](https://github.com/ReScience/submissions/files/3882888/article.pdf)

**Original article:** [Gottfried and McBane, J. Chem. Phys. 112, 4417 (2000)](https://scholarworks.gvsu.edu/chm_articles/13/)

**PDF URL:**  https://github.com/ReScience/submissions/files/3882888/article.pdf
**Metadata URL:** https://github.com/ReScience/submissions/files/3888185/metadata.zip
**Code URL:**  https://

[2019-11-25 09:07] cJarvers commented on #9
Sounds good. I'm looking forward to your revisions.

[2019-11-25 09:10] oliviaguest commented on #10
@jamesproach what's a realistic ETA for you to take a look here? Thanks. :smile:

[2019-11-25 09:11] oliviaguest commented on #7
@rougier what's the next step? does @PaulineBock have to do something or is it me? Sorry, I'm not 100% clear on the next step.

[2019-11-25 09:56] khinsen commented on #11
@mcbaneg Thanks for your submission! Before we start reviewing, could you please check the Metadata URL?

Note that I have edited your submission slightly. Our "PDF URL" is supposed to point to the reproduction article, not the original article.

[2019-11-25 13:43] rougier commented on #7
If you've made the pre-registration on the real Zenodo server, then you or @PaulineBock have to update the metadata file (with DOI, editor name, reviewer name, etc) and regenerate the PDF accordingly (the DOI should now appear on the PDF). Once done, you can register the new PDF at Zenodo still using the script. In case of problem, you still have the option  to manually change the Zenodo entry thr

[2019-11-25 14:04] oliviaguest commented on #7
Yes, I did it on the real server. I'll have a look at the instructions and send a PR if needed. Thank you!

[2019-11-25 18:58] oliviaguest commented on #7
Does this look right now, @rougier? https://github.com/PaulineBock/WCSTDehaeneChangeux/pull/2

[2019-11-25 19:01] mcbaneg commented on #11
Okay, I have modifed the PDF link to point to the .pdf of the draft that I attached to the posting (that is, uploaded to GitHub.)
I was unable to do the same with the metadata.yaml file because when I try to attach it I get a message "We don't support that file type,  Try again with [list of file extensions it accepts, including .zip]"  So, I made a .zip file out of metadata.yaml and uploaded that

[2019-11-25 19:49] rougier commented on #7
LGTM. Do not forget other informatipon (journal, issue, number, editor, reviewer, etc)

[2019-11-26 04:54] jamesproach commented on #10
The authors reproduce simulation results from Recanatesi et al using a model of associative memory retrieval which accounts for the sequential activation of memory though two network features: (1) synaptic connections which enforce sequential associations between particular memories and (2) periodic inhibition. This is an extension of the Hopfield Network model of auto-associative memory. In their

[2019-11-26 07:42] khinsen commented on #11
Good question. I have never used the GitHub file upload feature for anything but images. Most ReScience authors create a GitHub repository for their submission, which contains all their code plus the article source code and the metadata. That makes it easy to put links to any file anywhere, and also allows reviewers and editors to propose modifications (which, as an editor, I do for the metadata i

[2019-11-26 08:41] oliviaguest commented on #7
@rougier OK, as soon as the PR is merged. Where do I find the ISSN?

@PaulineBock can you fill in the bits that are for you to do, please?|

[code]

and:

[code]

[2019-11-26 09:39] PaulineBock commented on #7
@oliviaguest  hello ! I've just updated the metadata, tell me if it's okay.

[2019-11-26 10:08] oliviaguest commented on #7
Great, @PaulineBock — can you merge the PR too, please? https://github.com/PaulineBock/WCSTDehaeneChangeux/pull/2

[2019-11-26 10:30] khinsen commented on #11
@pdebuyl Would you willing to review this paper?

Note that it is a special case: the first submission to the Ten Years Challenge, written in the absence of any specific instructions from ReScience. With the consentment of the author, we plan to use this article and the review to prepare more detailed guidelines for other authors.

Also, since we expect to have many submissions to this special iss

[2019-11-26 12:28] PaulineBock commented on #7
Done.

Le mar. 26 nov. 2019 à 11:08, Olivia Guest <notifications@github.com> a
écrit :

[2019-11-27 09:26] pdebuyl commented on #11
Hi @khinsen I will review. I'll take notes along the way :-)

[2019-11-27 09:31] pdebuyl commented on #11
@mcbaneg Are you familiar with git? At some point, I think that we will upload the old code and likely modifications to the old code that were needed to get it running. I can assist if necessary, by either uploading myself your contributions to github or by providing specific instructions to do so yourself.

[2019-11-27 15:50] mcbaneg commented on #11
Pierre,

I do know git, though I have not used GitHub much.  I’ll set up a repository.

Do you have a BLAS library handy to use, or would it help for me to put the BLAS reference sources there for you?

-George.

George C. McBane (mcbaneg@gvsu.edu<mailto:mcbaneg@gvsu.edu>)
Professor of Chemistry
Assistant Dean for Research, Facilities, and Analytics
College of Liberal Arts and Sciences
Grand Valle

[2019-11-27 16:35] rougier commented on #7
ISSN 2430-3658 (bottom of ReScience website)

[2019-11-27 17:20] mcbaneg commented on #11
Pierre,

There’s now a GitHub repository,
https://github.com/mcbaneg/tenyears-submission,
where you are listed as a collaborator.

Only the master branch exists at the moment.  The code, sample input and output files, and article source information are all there.

Best regards,
George.

George C. McBane (mcbaneg@gvsu.edu<mailto:mcbaneg@gvsu.edu>)
Professor of Chemistry
Assistant Dean for Research,

[2019-11-28 12:43] oliviaguest commented on #7
All this info should be on one easy access place, perhaps?

@PaulineBock I think this is the final edit? https://github.com/PaulineBock/WCSTDehaeneChangeux/pull/3

[2019-11-28 12:45] PaulineBock commented on #7
I think yes. Thanks for all your work.

Best.

Le jeu. 28 nov. 2019 à 13:43, Olivia Guest <notifications@github.com> a
écrit :

[2019-11-28 13:09] oliviaguest commented on #7
@PaulineBock sorry! this is also needed! https://github.com/PaulineBock/WCSTDehaeneChangeux/pull/4

[2019-11-28 13:12] PaulineBock commented on #7
Is it good now? I have merged the 3 last modifications. (I have marged the
first before seeing that it was a mistake)

Le jeu. 28 nov. 2019 à 14:09, Olivia Guest <notifications@github.com> a
écrit :

[2019-11-28 13:14] oliviaguest commented on #7
@PaulineBock yes, it looks good — thank you! :smile_cat:

@rougier is everything OK to actually publish to zenodo now?

[2019-11-28 15:38] rougier commented on #7
No, the type of the article is not editorial but replication and the "under review" should not appear anymore in the PDF. There are some comments in the original metadata yaml file to help filling it.

[2019-11-28 15:40] oliviaguest commented on #7
I'm really confused. Type of article is replication? What's wrong with that? https://github.com/PaulineBock/WCSTDehaeneChangeux/blob/11fd0458ceb000329018733d40a59aa9d483e186/Metadata.yaml#L106

[2019-11-28 16:09] PaulineBock commented on #7
For the pdf I must fill Metadata.tex and push pdf again as I work with
overleaf. I am completing the changes.

Le jeu. 28 nov. 2019 à 16:40, Olivia Guest <notifications@github.com> a
écrit :

[2019-11-28 16:10] oliviaguest commented on #7
The type seems correct in the YAML.

[2019-11-28 16:16] PaulineBock commented on #7
Yes but I think I had seen that when working on overleaf  the Metadata.tex
cannot be automatically generated from the Metadata.yaml
Not sure but in case I have edited the metadata.tex myself according to the
metadata.yaml.

So now it should be good.

Le jeu. 28 nov. 2019 à 17:10, Olivia Guest <notifications@github.com> a
écrit :

[2019-11-28 16:17] oliviaguest commented on #7
Not sure what you need to do over what I need to do. :sweat_smile: I think it's all you now @PaulineBock?

[2019-11-28 20:18] rougier commented on #7
@PaulineBock There's a python script to convert the metadata.yaml into metadata.tex but else, you can also do it manually.

[2019-11-28 20:37] PaulineBock commented on #7
I have modified it manually. Is it okay for the pdf?

Le jeu. 28 nov. 2019 à 21:18, Nicolas P. Rougier <notifications@github.com>
a écrit :

[2019-11-29 07:00] rougier commented on #7
Not quite yet. I think you're missing the domain (Computational Neuroscience) and you'll need to replace subsection by section (such as to have 1 Introduction instead of 0.1 Introduction)

[2019-12-02 10:36] oliviaguest commented on #7
@PaulineBock how can I compile your PDF?

[2019-12-02 10:52] oliviaguest commented on #7
Edits that need to made (based on @rougier above and me reading through the PDF now):

- [ ] ORCIDs need to be fixed as they currently all point to mine.
- [ ] Domain needs to be Computational Neuroscience.
- [ ] Replace subsection by section (such as to have 1 Introduction instead of 0.1 Introduction).
- [ ] Published date needs to be amended since it didn't get published yet. Would be easy to fi

[2019-12-02 12:17] PaulineBock commented on #7
As I said before I was using overleaf, I can share you my project if you
want. How can I send you a private message ?

Le lun. 2 déc. 2019 à 11:53, Olivia Guest <notifications@github.com> a
écrit :

[2019-12-02 12:41] PaulineBock commented on #7
I have just edited all that was necessary and pushed on github. If we
publish today it is good, else I will give you the link to edit the
overleaf in private to change the date of publication.

Le lun. 2 déc. 2019 à 13:17, Bock Pauline <mllebock@gmail.com> a écrit :

[2019-12-03 09:52] oliviaguest commented on #7
Email me the link if you can, please? :smile:

[2019-12-03 10:55] pdebuyl commented on #11
Thank you @mcbaneg for the update.

I will follow mostly the regular review process that you can read at https://rescience.github.io/write/ and https://rescience.github.io/edit/ , adapting of course to the specifics of the challenge.

I provide a first check list here (the first four items come from ReScience's guidelines).

- [ ] The actual replication of the research. The reviewer must evaluate

[2019-12-03 13:27] mcbaneg commented on #11
Pierre,

Sounds good.

One of the points on your list seems inconsistent with the Challenge guidelines:

  *   [ ] Clarity of the code and the instructions for running it. Uncommented or obfuscated code is as bad as no code at all.
I would certainly agree with that guideline if the article was publishing new code, even for the purpose of replicating an old study.  But in this Reproducibility Chall

[2019-12-03 14:42] PaulineBock commented on #7
I don't have your email and is this issue accessible to public ? Or anyone else can use the link reading this issue?

[2019-12-03 16:15] oliviaguest commented on #7
contact@oliviaguest.com

[2019-12-04 12:04] oliviaguest commented on #7
@PaulineBock could you also give me push access to your repo https://github.com/PaulineBock/WCSTDehaeneChangeux/ so I can upload the final PDF, please? :blush:

[2019-12-04 12:04] oliviaguest commented on #7
This is how: https://help.github.com/en/github/setting-up-and-managing-your-github-user-account/inviting-collaborators-to-a-personal-repository

[2019-12-04 12:18] PaulineBock commented on #7
Thanks for the tips, it is done :)

Le mer. 4 déc. 2019 à 13:04, Olivia Guest <notifications@github.com> a
écrit :

[2019-12-04 14:20] oliviaguest commented on #7
Sorry for the delay, just working through some stuff @PaulineBock!

@rougier when you get a chance please feel free to advise... :sweat_smile:  https://github.com/ReScience/articles/issues/2

[2019-12-05 08:00] rougier commented on #7
Just did.

[2019-12-09 10:42] #6 closed

[2019-12-09 10:42] rougier commented on #8
🛎 Gentle reminder

[2019-12-09 10:43] rougier commented on #9
@cJarvers Gentle reminder

[2019-12-09 11:11] pietromarchesi commented on #8
Yes, and apologies for the late reply.

[2019-12-09 14:41] oliviaguest commented on #7
Woo hoo! https://zenodo.org/record/3545905

Finally! :smile:

[2019-12-09 14:41] oliviaguest commented on #7
Congratulations @PaulineBock! :tada:

[2019-12-09 14:41] #7 closed

[2019-12-09 15:23] PaulineBock commented on #7
Thank to all of you!! It was a pleasure to work with you :)

Le lun. 9 déc. 2019 à 15:41, Olivia Guest <notifications@github.com> a
écrit :

[2019-12-10 15:21] pdebuyl commented on #11
@mcbaneg I also believe that the requirements for the ten year challenge should be somehow
relaxed.

Please find below my first report. This is a first case as it is a success and my comments
revolve mostly around our publishing principles: licensing and environment information.

**Replication:** The scope of the results is well presented: the second virial coefficient
for a mixture of two gases.

[2019-12-12 13:51] khinsen commented on #11
Thanks @pdebuyl! Given your experience with this first review, could you please check if the [author guidelines draft](https://github.com/ReScience/ten-years/blob/master/author-guidelines.md) covers everything you consider important?

[2019-12-12 17:43] mcbaneg commented on #11
@pdebuyl: thank you for the review.  I am working on addressing your comments.

 I have one question: you said

consistent with the aims of the ten year challenge.

I had tried to do that at the end of Section 2, where I wrote

Is that paragraph inadequately clear, or is some other information about the choice of Fortran missing?

Thank you!
G.

[2019-12-17 12:03] pdebuyl commented on #11
@mcbaneg the paragraph quoted informs the reader that Fortran is a common choice in your field of research. There are other criteria for picking a language:
- Are there software resources in that language? You mention IQPACK as an afterthought but the existence of BLAS and of the spherical routines can also be important.
- The ease of implementation, envisioned lasting character and the availabili

[2019-12-19 15:17] rougier commented on #9
@mupsh Did you have time to update the manuscript?

[2019-12-19 15:20] mupsh commented on #9
@rougier It is still in the works. I sincerely apologize for the delay, it's been a very busy month. Considering the holidays, would it be ok if I got it back to you for the first week of January?

[2019-12-19 15:25] rougier commented on #9
Sure. @cJarvers Would that be ok for you ?

[2019-12-20 04:57] mcbaneg commented on #11
@pdebuyl and @khinsen: I have modified the submission in response to the comments:

with the numerical values. In all ReScience papers, we include the final data in some form,
table or figure.

Done, now Table 1 in section 4.

web searches, seems ok for the external code: molscat has been released under the GPL since
the 90's and the IQPACK routines from netlib should be, unless otherwise stated,

[2019-12-20 08:26] cJarvers commented on #9
Yes, first week of January is fine with me.

[2019-12-20 10:24] pdebuyl commented on #11
@mcbaneg Thank you for the update, I am happy with the modifications.

Before finalizing the review, I only have two remarks:
1. The comment about mandatory citation of the 1998 paper is, as far as I can tell, not compatible with the MIT license.
2. You can still decide to archive your code either on zenodo or on software heritage.

@khinsen @rougier can you comment on the license issue here? Also

[2019-12-20 14:57] mcbaneg commented on #11
@khinsen,  @pdebuyl, @rougier ,

I'd like advice on how to do this correctly.  I want to distinguish between the code I wrote and the original H2-CO potential surface of Jankowski and Szalewicz that they constructed and described in their paper.  Ordinary scientific ethics requires that anyone who uses the J&S surface describing H2-CO and publishes results built with it must acknowledge J&S with a

[2019-12-21 15:28] khinsen commented on #11
My point of view on the licensing question is that licenses and citation requirement live in different universes. LIcenses are legally binding and apply to software as a tool. Citation requirements are moral (I haven't heard of any case going to court) and apply more to methods than to implementations. The idea of citing software itself is a recent invention and (as I see it!) just a workaround to

[2020-01-07 09:39] rougier opened #12 "[Rp] Loupe"
**Original article:** [N. P. Rougier. “LOUPE.” In: Tremplin Micro 19 (Mar. 1988), pp. 60–61](https://archive.org/details/tremplin_micro_newsletter_issue_19)

**PDF:**  https://github.com/rougier/TYRC-apple/blob/master/article/article.pdf
Metadata:  https://github.com/rougier/TYRC-apple/blob/master/article/metadata.yaml
Code:  https://github.com/rougier/TYRC-apple

Scientific domain:  None
Programm

[2020-01-07 12:27] khinsen commented on #12
Thanks for your submission! This has a good chance of remaining the oldest code submitted to the challenge.

@BrunoLevy, can you review this contribution?

[2020-01-07 12:31] BrunoLevy commented on #12
Yep, I can do that (and I can test it on my Apple2 that is still in
working condition :-)

-- B

On 1/7/20 1:27 PM, Konrad Hinsen wrote:

[2020-01-15 02:41] baioc opened #13 "[Re] A Multi-Functional Synthetic Gene Network"
**Original article:** [A Multi-Functional Synthetic Gene Network: A Frequency Multiplier, Oscillator and Switch](https://doi.org/10.1371/journal.pone.0016140)

**PDF URL:** [[Re] A Multi-Functional Synthetic Gene Network](https://github.com/baioc/re-multif/blob/master/article.pdf)
**Metadata URL:** [metadata.yaml](https://github.com/baioc/re-multif/blob/master/doc/metadata.yaml)
**Code URL:** [Git

[2020-01-17 08:27] rougier commented on #8
@benoit-girard @pietromarchesi @Vahidrostami Gentle reminder for the review...

[2020-01-17 09:48] Vahidrostami commented on #8
@rougier @benoit-girard Sorry for the delay. I will try to finish it by the end of next week

[2020-01-17 10:01] pietromarchesi commented on #8
@rougier @benoit-girard Same!

[2020-01-22 05:59] rougier commented on #13
Thank you for your submission and sorry for the late answer. An editor will be soon assigned.
@khinsen @ctb Can you edit this sublmission?

[2020-01-22 13:39] ctb commented on #13
I don't have time until April I'm afraid :(

On Tue, Jan 21, 2020 at 09:59:23PM -0800, Nicolas P. Rougier wrote:

--
C. Titus Brown, ctbrown@ucdavis.edu

[2020-01-23 07:06] rougier commented on #13
@khinsen, can you edit it?

[2020-01-23 07:28] khinsen commented on #13
I'll do my best!

@aaronshifman and @degoldschmidt, can you review this submision?

[2020-01-23 08:45] rougier commented on #9
@mupsh Gentel reminder. Can you do the review by Monday?

[2020-01-23 08:46] rougier commented on #10
@oliviaguest @c-torre Gentle reminder

[2020-01-23 09:06] cJarvers commented on #9
Just to make sure we're all on the same page: @rougier, would you like the review by me to be done on Monday or the revisions by @mupsh? I have not done the review yet since the authors suggested I wait for their revisions first. If that is a problem, I can try to do the review by Monday.

[2020-01-23 09:48] c-torre commented on #10
Dear all,
We thank the reviewers for their comments. We also apologize for our delay. We are still addressing the reviews and related arising issues (ETA two weeks from now). Thank you for your patience.
With kind regards,
Carlos

[2020-01-23 16:20] maryupshall commented on #9
@rougier We can get the updated manuscript by Monday, no problem.

[2020-01-26 03:35] mcbaneg commented on #11
@khinsen, @pdebuyl, @rougier ,

I have now modified my submission to try to address all the comments.  In addition to the changes described in https://github.com/ReScience/submissions/issues/11#issuecomment-567787725,

1. I have removed comments about citing Jankowski and Szalewicz from the LICENSE file, and added them as a note in the README.md.  My study of the CITATION.cff format indicated that

[2020-01-26 10:05] rougier commented on #9
@cJarvers Sorry, the message was adressed to @mupsh. @mupsh Monday would be perfect and then @cJarvers can review the revision.

[2020-01-26 10:38] degoldschmidt commented on #13
@khinsen Thank you for inviting me to review, but unfortunately I have to decline, because the topic is out of my range.

[2020-01-27 09:53] khinsen commented on #11
Submitting your GitHub repository to Software Heritage will only make it archived earlier, so it can do no harm. Software Heritage does automatic deduplication in the same way that git does: via content-addressable storage. In fact, we added the recommendation to submit to Software Heritage at the suggestion of the Software Heritage team!

[2020-01-27 19:10] maryupshall commented on #9
Sorry for the delay in getting this out, and thanks to @rgutzen for his thorough review. Overall we've implemented most of the requested changes and believe this puts the manuscript in a better state. For clarity we've included the original comments along with our reply. @cJarvers we're ready to move on with the review now.

# General Comments

- First of all, there is only a brief introduction, w

[2020-01-27 19:36] khinsen commented on #13
Thanks for your quick reply @degoldschmidt !

@thmosqueiro, can you review this submission?

[2020-01-28 03:42] mcbaneg commented on #11
Okay, I've now made a "save code now" request to Software Heritage.

-G.

[2020-01-28 10:29] pdebuyl commented on #11
@mcbaneg @khinsen  @rougier

I have no further comments or questions on the manuscript and I recommend publication.

@khinsen  @rougier What's next in the process?

[2020-01-28 10:36] rougier commented on #11
@khinsen will need now to actually publish the paper which is not totally straightforward yet. @mcbaneg will need to update the metadata with the information provided by @khinsen and we may need to transform the template a bit to have software heritage identifier on code (instead of DOI).

[2020-01-28 14:01] Vahidrostami commented on #8
# Review: replication of "A Neurodynamical Model for Working Memory" by Pascanu and Jaeger

## General comments
In this manuscript, the authors provide a Python implementation of the working memory (WM) model, originally published by Pascanu and Jaeger. They verify the conclusion of the original publication on a bracket level parsing task using two different datasets (FreeMono and Incosolata fonts

[2020-01-28 17:38] khinsen commented on #11
I'll try to do all of that tomorrow. Thanks @rougier for pointing out the SWH identifier, that's indeed a new feature but one that should also be useful for future regular articles.

[2020-01-29 11:24] khinsen commented on #11
The article is published: https://zenodo.org/record/3630224

Congratulations to @mcbaneg and thanks to @pdebuyl for the review!

@mcbaneg: Please accept pull request https://github.com/mcbaneg/tenyears-submission/pull/1 to your code/article repository to update the metadata and the final article PDF.

[2020-01-29 11:25] #11 closed

[2020-01-30 09:58] khinsen opened #14 "[Rp] Structural flexibility in proteins: impact of the crystal environment"
**Original article:** [Hinsen, K (2008) Structural flexibility in proteins: impact of the crystal environment. Bioinformatics 24:521.](https://doi.org/10.1093/bioinformatics/btm625) ([Open Access version](https://academic.oup.com/bioinformatics/article-pdf/24/4/521/16884353/btm625.pdf))

**PDF URL:**  https://github.com/khinsen/rescience-ten-year-challenge-paper-3/raw/master/article/article.pdf
**

[2020-01-31 07:31] rougier commented on #9
Impressive ! @cJarvers can we set a deadline for your review ? Like two weeks, would that be ok ?

[2020-01-31 07:34] rougier commented on #14
@delsuc Can you edit this submission to the "Ten year reproducibility challenge" ?

[2020-01-31 09:09] cJarvers commented on #9
@rougier Yes, two weeks should be fine.

[2020-02-02 07:53] delsuc commented on #14
ok, no problem.

[2020-02-02 08:24] rougier commented on #14
Thanks. Note that you need only one reviewer (because this is a reproduction)

[2020-02-04 08:46] delsuc commented on #14
@pdebuyl could you review this submission ?

[2020-02-05 14:32] pdebuyl commented on #14
Hi @delsuc

I reviewed the first submission. I think that it would be best to get another reviewer to proof the process for the ten year challenge. I am ok to review anyway after next week if necessary.

[2020-02-07 10:34] c-torre commented on #10
Dear all,
Thank you for your patience so far. We had to scale up our computing and build a pipeline for the computer cluster due to very expensive computations (i.e. simulating many networks for many time steps, around 8h per network in the cluster). In that regard, we've been experiencing delays due to particulary long job queues in the system. We are working on this issue and expect to deliver o

[2020-02-07 10:50] oliviaguest commented on #10
Thank you for the update! Sounds like you are making huge progress. :+1:

[2020-02-07 15:07] delsuc commented on #14
@fxcoudert would you be able to handle this review ?

[2020-02-07 17:56] fxcoudert commented on #14
@delsuc Here is my review

## Paper

I quite appreciated the non-nonsense writing of the paper, which is good for a reproducibility study to show the pitfalls and issues, even when they turn out not to be crucial.

- Regarding the numpy evolutions, which I think are quite important to the community at large, maybe this could be better characterised: what is the numpy policy on breaking changes, de

[2020-02-07 18:33] delsuc commented on #14
Thank you very much @fxcoudert !
@khinsen can you improve the document as mentionned ?

[2020-02-07 18:54] gabrieldansereau opened #15 "[Re] Chaos in a Three-Species Food Chain"
**Original article:** [Hastings, A., & Powell, T. (1991). Chaos in a Three-Species Food Chain. Ecology, 72(3), 896–903. https://doi.org/10.2307/1940591](https://doi.org/10.2307/1940591)

**PDF URL:** https://github.com/BIO6032/2019_replication_HastingsPowell_1991/blob/master/article/article.pdf
**Metadata URL:** https://github.com/BIO6032/2019_replication_HastingsPowell_1991/blob/master/article/me

[2020-02-07 19:05] cboettig opened #16 "Ten-year Reproduciblity Challenge: Fluctuation Domains"
**Original article:** Carl Boettiger, Jonathan Dushoff, Joshua S Weitz (2010). Fluctuation domains in adaptive evolution, Theoretical Population Biology 77 (1) 6-13. doi:10.1016/j.tpb.2009.10.003.

**PDF URL:**  https://github.com/cboettig/fluctuationDomains/blob/rescience/rescience/article.pdf
**Metadata URL:**  https://github.com/cboettig/fluctuationDomains/blob/rescience/rescience/metadata.yaml

[2020-02-09 19:44] khinsen commented on #14
Thanks @fxcoudert for a very helpful review and thanks @delsuc for finding such a helpful reviewer!

I will submit a revision taking into account all the suggestions in about ten days.

[2020-02-09 20:00] cJarvers commented on #9
Okay, @mupsh , here's my review:

This review is relative to commit https://github.com/mupsh/ReScience_Levitan_2014/commit/d5c641ffd14d5740e032e2864083215ac49dec73

## Reproducibility

I ran the code using Python 3.6.10, swig 4.0.1, PyDSTool 0.90.3, numpy 1.18.1, scipy 1.3.0 and matplotlib 3.1.1.

The code produced a warning message ("Test function going crazy: class Hopf_Bor(BordermMethod, BiAltM

[2020-02-10 08:12] rougier commented on #15
Thanks for your submission! The animation on the code README is great!

@karthik Can you edit this submission ?

[2020-02-10 08:16] rougier commented on #16
@ctb Can you edit this reproduction submission for the Ten Years Reproducibility Challenge (you only need one reviewer) ?

[2020-02-10 09:13] benoit-girard commented on #8
@Vahidrostami : thanks a lot for your first review feedback
@theoboraud : can you address the questions raised by @Vahidrostami
@pietromarchesi : a gentle reminder...

[2020-02-11 15:58] khinsen commented on #13
🛎Gentle reminder: @aaronshifman and @thmosqueiro, could you please let me know if you can review this submission?

[2020-02-11 16:08] aaronshifman commented on #13
My apologies @khinsen I missed the last email. This looks like some very cool work. I'd be happy to review.

[2020-02-12 08:23] rougier commented on #16
@ctb Gentle reminder.

[2020-02-12 08:24] rougier commented on #15
@karthik Gentle reminder

[2020-02-13 06:20] rougier commented on #16
@tpoisot Can you edit this reproduction submission for the Ten Years Reproducibility Challenge (you only need one reviewer) ?

[2020-02-13 06:24] rougier commented on #15
@opetchey Could you edit this submission in  Ecology (and become editor for ReScience C)? I can help you with the procedure.

[2020-02-13 07:40] anthony-strock commented on #8
@Vahidrostami Thank you for the review, we'll address your questions and remarks by the end of the week.

[2020-02-16 17:52] rahulrajpl opened #17 "[Re] Process Aware Stealthy Attack Detection on Industrial Control Systems."
**Original article:** Wissam Aoudi, Mikel Iturbe, and Magnus Almgren. 2018. Truth Will Out:
Departure-Based Process-Level Detection of Stealthy Attacks on Control
Systems. In 2018 ACM SIGSAC Conference on Computer and Communications
Security (CCS ’18), October 15–19, 2018, Toronto, ON, Canada. ACM, New
York, NY, USA, 15 pages. https://doi.org/10.1145/3243734.3243781

**PDF URL:** https://github.co

[2020-02-17 20:08] kbroman opened #18 "Ten Years Reproducibility Challenge: Identifying essential genes by mutagenesis"
**Original article:** Lamichhane G, Zignol M, Blades NJ, Geiman DE, Dougherty A, Broman KW, Bishai WR (2003) A post-genomic method for predicting essential genes at subsaturation levels of mutagenesis: application to Mycobacterium tuberculosis. Proc Natl Acad Sci USA 100:7213-7218 [doi:10.1073/pnas.1231432100](https://doi.org/10.1073/pnas.1231432100)

**PDF URL:**  https://kbroman.org/Paper_ReScie

[2020-02-18 14:27] rougier commented on #17
Thank you for your submission. An editor will be soon assigned.

@ReScience/associate-editors Can someone edit this submission in Computer Science / Security (Python) ?

[2020-02-19 08:33] khinsen commented on #13
Thanks @aaronshifman for accepting to review this paper! I will continue to look for a second reviewer, but you can start reviewing right now if you want.

[2020-02-19 09:18] khinsen commented on #13
@Kevin-Mattheus-Moerman Can you review this submission?

[2020-02-19 14:16] Kevin-Mattheus-Moerman commented on #13
@khinsen sorry this is not my area of expertise

[2020-02-20 05:48] rougier commented on #18
@kbroman Thanks, we'll soon assign an editor.
@ReScience/editors Can someone handle this submission (finding an editor or editing yourself) ? Note that for the Ten Years Reproducibility Challenge, only one reviewer is needed.

[2020-02-20 19:58] aaronshifman commented on #13
@khinsen Sure thing, I'll try to get to it within the next week.

[2020-02-21 03:01] karthik commented on #18
I can handle this

[2020-02-21 07:14] khinsen commented on #14
@delsuc @fxcoudert The revision is ready!

BIg change: I have added a section at the end of the Conclusions that discusses the evolution of Python 2 and NumPy in the context of computational science.

Small changes: all the other remarks in the review.

In preparation for the ten-year link rot challenge, I only refer to archived copies from the [Internet Archive](https://archive.org/index.php). Le

[2020-02-21 10:02] rougier commented on #18
Thansk, I've just assigned you. you can use the `@ ReScience / reviewers` to call for reviewers if you want.

[2020-02-21 10:12] rougier commented on #17
Reminder: @ReScience/associate-editors Can someone edit this submission in Computer Science / Security (Python) ?

[2020-02-21 10:12] rougier commented on #15
Reminder: @opetchey Could you edit this submission in Ecology (and become editor for ReScience C)? I can help you with the procedure.

[2020-02-21 10:13] rougier commented on #16
Gentle reminder: @tpoisot Can you edit this reproduction submission for the Ten Years Reproducibility Challenge (you only need one reviewer) ?

[2020-02-21 12:55] tpoisot commented on #16
Absolutely - @ha0ye would you be available to review this?

[2020-02-24 08:37] benoit-girard commented on #8
@pietromarchesi : are you still onboard for this review?

[2020-02-24 15:38] ha0ye commented on #16
The languages and topic do seem in my wheelhouse. I won't have time until the 2nd week of March (at the earliest), though.

For transparency, I also interact with @cboettig in a variety of places, but we haven't and aren't working on anything together. He did invite me to be on a panel in 2018. (Not sure if any of that matters for COI purposes.)

[2020-02-24 17:03] otizonaizit commented on #17
Do we have anyone with well-founded knowledge in cybersecurity? It is out of my depth for sure…

[2020-02-24 17:05] otizonaizit commented on #17
Also, I think I am not sure what is meant by

are the submitters aware of what is meant by _editor_ in a scientific paper submission?

[2020-02-26 05:25] rahulrajpl commented on #17
Hi, all fellow ReScience members,

Let me submit that this paper does not require even base-level knowledge of cybersecurity. A good level of Linear Algebra and basic computer science knowledge is good enough to understand the paper and its reproduction. Original authors have applied the technique in the field of security of critical infrastructures.

Well, being an absolute newbie in technical wr

[2020-02-26 06:30] oliviaguest commented on #17
@rahulrajpl see "Associate Editors" https://rescience.github.io/board/

[2020-02-27 04:54] rougier commented on #17
I'll edit it then

[2020-02-27 04:58] rougier commented on #17
@LeUnAiDeS, @himito, @AurelienNioche Could you review this submission? I know it's not your scientific field but the author suggest it is not necessary to have knowledge of cybersecurity to review it.

[2020-02-27 11:08] himito commented on #17
Hi @rougier, I can review it :)

[2020-02-28 12:47] rougier commented on #16
I think we do not consider this as a COI.

[2020-02-28 15:39] rougier commented on #18
@karthik Gentle reminder

[2020-02-28 15:41] rougier commented on #17
Thanks @himito. You can start your review now while I'm assigning a second reviewer.

[2020-02-28 15:44] rougier commented on #15
@dmcglinn Could you edit this submission in Ecology (and become editor for ReScience C)? I can help you with the whole procedure for this article.

[2020-02-28 15:44] rougier commented on #15
@TrashBirdEcology Could you review this submission ?

[2020-02-28 15:46] rougier commented on #15
@jsta Could you review this submission? (and eventually become an editor for ReScience since we have a lot of submission in ecology)

[2020-02-28 15:55] rougier commented on #9
thanks @cJarvers. @mupsh can you address the comments ?

@mupsh Don't forget to change the title!

@cJarvers I think you're right and we may need to add a section for aiming at self-contained article when the original article is not available (behind a paywall). Could you propose some changes authors instruction based on your experience ?

**Note**  I found this link which seems to be free: https:

[2020-02-28 16:00] trashbirdecology commented on #15
I would be happy to review, but will likely not turn it around until *mid to late March*.

I am not familiar with Julia, so I will not be able to easily comment on the code, however, the code looks straightforward enough. Might want to ensure someone else can strictly review the code.

[2020-02-28 16:48] rougier commented on #15
Thanks and mid or late March seems good to me.

[2020-02-28 18:01] trashbirdecology commented on #15
Could you please point me to the reviewer guidelines?

[2020-02-28 18:47] rougier commented on #15
Oh yes, sorry, I forgot: https://rescience.github.io/edit/

[2020-02-28 18:48] rougier commented on #15
Review are open such that you can read them at: https://github.com/ReScience/submissions/issues?utf8=%E2%9C%93&q=is%3Aissue

[2020-02-29 03:22] maryupshall commented on #9
@rougier We're working on implementing the requested changes.

[2020-03-02 08:31] pantale opened #19 "Reproduction in Computational Mechanics"
**Original article:** Olivier Pantalé, Parallelization of an object-oriented FEM dynamics code: influence of the strategies on the Speedup. (2005) Advances in Engineering Software, 36 (6). 361-373.

Paper n°38 for the 10 years reproduciblity challenge.

**PDF URL:**  [article.pdf](https://github.com/ReScience/submissions/files/4274211/article.pdf)
**Code URL:**  https://github.com/pantale/ReDynELA

[2020-03-02 14:42] cJarvers commented on #9
@rougier True, the ncbi-link is free. Question is whether green OA like this solves the issue, since readers still need to find the free version. Maybe adding a link to the replication article would work. Anyways, I'll open a separate issue to suggest some changes to the author instructions.

[2020-03-02 19:16] rougier commented on #19
@labarba Could you edit this submission ? You only need one reviewer and I think @khinsen is ready to review. I can help you with the publication procedure at the end.

[2020-03-02 19:21] rougier commented on #19
@pantale Thanks for your submission. We'll assign an editor soon.

[2020-03-04 13:11] khinsen opened #20 "[¬Rp] Stokes drag on conglomerates of spheres"
**Original article:** [B. Cichocki, K. Hinsen, Stokes drag on conglomerates of spheres, Phys. Fluids 7:286 (1995)](https://doi.org/10.1063/1.868626)

**PDF URL:**  https://github.com/khinsen/rescience-ten-year-challenge-paper-4/raw/master/article/article.pdf
**Metadata URL:**  https://github.com/khinsen/rescience-ten-year-challenge-paper-4/raw/master/article/metadata.yaml
**Code URL:**  https://gi

[2020-03-09 03:11] agbarnett opened #21 "Ten Years Reproducibility Challenge: paper number #22"
**Original article:** Barnett AG, Dobson AJ, For the WHO MONICA Project (2004) Estimating trends and seasonality in coronary heart disease. Statist Med 23:3505-3523. DOI: 10.1002/sim.1927

**PDF URL:** https://github.com/agbarnett/tenyears/raw/master/article/article.pdf
**Metadata URL:** https://github.com/agbarnett/tenyears/raw/master/article/metadata.yaml
**Code URL:** https://github.com/agbarne

[2020-03-09 06:10] rougier commented on #20
@khinsen Oh, our very first negative result ! @otizonaizit Can you edit this submission ?

[2020-03-09 08:01] rougier commented on #21
@agbarnett Thansk for your submission, we'll assign an editor soon.
@ctb Can you edit this submission for the Ten Years Challenge (only one reviewer needed)?

[2020-03-09 08:15] rougier commented on #8
Any progress ?

[2020-03-09 08:16] rougier commented on #10
Any progress ?

[2020-03-09 08:16] rougier commented on #12
@rougier @BrunoLevy Gentle reminder for the review...

[2020-03-09 08:17] rougier commented on #13
Gentle reminder

[2020-03-09 08:17] rougier commented on #14
Gentle reminder

[2020-03-09 08:19] rougier commented on #15
@ChrisRackauckas Could you review this submission? (reviewer guidelines at ttps://rescience.github.io/edit/)

[2020-03-09 08:19] rougier commented on #16
Gentle reminder

[2020-03-09 08:20] rougier commented on #17
@AurelienNioche Can you review this submission ?

[2020-03-09 08:21] rougier commented on #19
@labarba Gentle reminder

[2020-03-09 08:35] AurelienNioche commented on #17
I'm afraid it is very far from what I know, and I have no background
knowledge at all about cyber security...

On Mon, Mar 9, 2020 at 10:20 AM Nicolas P. Rougier <notifications@github.com>
wrote:

--
Aurélien Nioche, PhD

Finnish Center for Artificial Intelligence (FCAI)

Aalto University
Department of Communications and Networking
Computer Science Building - Office B235
Konemiehentie 2
02150 Espo

[2020-03-09 08:38] otizonaizit commented on #20
Yes! I will edit this.

[2020-03-09 09:15] c-torre commented on #10
Dear all,
We would like to update on the status of the replication.

According to the reviews, we reproduced the all the figures of the initial paper. Although the overall behavior of the network is similar to the initial network (figure 1), we cannot replicate many of the other results (figures 3 to 6). At this point, our conclusion would be that the original article is not reproducible.

However

[2020-03-09 09:24] oliviaguest commented on #10
@rougier this seems to be a reason to rewrite and re-review this work? What's our policy on this type of situation?

[2020-03-09 10:04] rougier commented on #17
@AurelienNioche ok.
@LeUnAiDeS Can you review this submission ?

[2020-03-09 13:48] tpoisot commented on #16
@ha0ye can you confirm that you will review it?

[2020-03-09 15:35] ha0ye commented on #16
Yup. Likely not this week. I'll be sure to get this done before I leave for fieldwork at the end of the month, though.

[2020-03-09 20:39] labarba commented on #19
Hi @rougier — I can be the editor.

@khinsen — You volunteered to review this, I heard?

[2020-03-10 06:21] khinsen commented on #19
@labarba Right. A nice occasion to reactivate dormant FEM experience.

[2020-03-10 09:34] rougier commented on #10
I think we have a section on non-reproducibility where it is written to try to contact the original author to try to see where's the problem. I guess we can now wait for the new input to check if @c-torre will be able to replicate the work based on the new input. We can leave this thread open until then.

[2020-03-10 09:53] benoit-girard commented on #8
@pietromarchesi : in case you cannot do it, can you just tell me, so that I can search for another reviewer?

[2020-03-10 10:15] rougier commented on #19
@labarba Thanks.

[2020-03-10 21:03] ChrisRackauckas commented on #15
I will not have the time to adequately devote to this, sorry.

[2020-03-10 21:28] rougier commented on #15
@pboesu Could you review this submission? (reviewer guidelines at https://rescience.github.io/edit/)

[2020-03-11 18:38] aaronshifman commented on #13
@khinsen appologies for the delay. @baioc thank you for the replication of this interesting article. It would appear that you've successfully replicated most of the original implementation with the exception to mainly your figure 3 which you address in the paper.

# Code Comments
This will not be a full review as at this stage the code is insufficient for publication. It would seem that you've don

[2020-03-12 13:26] otizonaizit commented on #20
Dear @FedericoV , would you be up to review this?

[2020-03-12 13:26] otizonaizit commented on #20
Dear @eroesch , would you be up to review this?

[2020-03-13 10:28] pboesu commented on #15
Hi @rougier, happy to review this but turnaround will be slow - likely early to mid April.

[2020-03-13 12:32] baioc commented on #13
@aaronshifman thank you for the kind review.

As you have pointed out, our intention was to make each script a standalone experiment, but I do agree that a more maintainable approach would be to configure each simulation individually in a separate file. We shall also look into the Euler-Maruyama algorithm for our stochastic simulations and after refactoring it should be easier to adjust the mentio

[2020-03-13 13:53] rougier commented on #15
I'm fine with this schedule. Also, would you be interested in becoming associate editor for ecology (after this review). We tend to have a fair number of submissions aroudn ecology and other editors are quite busy (or are themselves authors like @tpoisot).

[2020-03-13 13:56] eroesch commented on #20
Yes, I will do it.

[2020-03-13 14:27] rougier commented on #17
@ReScience/reviewers We need an extra reviewer for this replication in cyber-security (but no knowledge in cyber security needed, it's mostly about linea algebra and computer science).
See https://github.com/ReScience/submissions/issues/17

[2020-03-13 14:54] aaronshifman commented on #13
My inclination would be to include both, however since the full system is quite large if there is not a good way to present the whole system and the QSSA approximation then I would suggest including the approximation and a description (in text) of the full model.

[2020-03-15 20:00] delsuc commented on #14
I believe this is ready for acceptation and publication.
@fxcoudert is that ok with you ?

[2020-03-16 10:01] khinsen commented on #13
Thanks @aaronshifman for your detailed review, and thanks @baioc for your constructive first reaction. And apologies to both of you for being late (I am close to declaring GitHub notification bankruptcy). Finally, I am aware that I still need to find a second reviewer!

[2020-03-16 10:24] khinsen commented on #13
@ruimcportela Can you review this submission? It's Octave, not Matlab, but that's perhaps close enough for you.

[2020-03-16 13:42] khinsen commented on #19
@labarba @pantale Here comes my review!

The topic of this reproducton attempt is not just the result of a computation performed 16 years ago, but also its performance characteristics. This makes it a particularly interesting contribution to the reproducibility challenge because performance, being a property of a physical system, lies at the borderline between reproduction and replication. The fac

[2020-03-17 07:18] rougier commented on #17
@rahulrajpl @eroesch will finally edit your submission. @stephanmg might be willing to review the submission.

[2020-03-17 07:39] rahulrajpl commented on #17
Noted. Thank you.

[2020-03-17 08:07] eroesch commented on #17
I have ideas for other reviewers. I’ll speak to them ASAP.

________________________________
From: Rahul Raj <notifications@github.com>
Sent: Tuesday, March 17, 2020 7:39:38 AM
To: ReScience/submissions <submissions@noreply.github.com>
Cc: Etienne Roesch <e.b.roesch@reading.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [ReScience/submissions] [Re] Process Aware Stealthy Attack Detectio

[2020-03-18 13:56] fxcoudert commented on #14
✅ Looks good to me!

[2020-03-19 07:45] pantale commented on #19
@khinsen @labarba Hi,
I'm currently working on a revised version of the paper, hope to be able to send it by beginning of next week.

Kindly Regards

Olivier Pantalé

[2020-03-19 14:48] khinsen commented on #14
Thanks @fxcoudert ! I suspect @delsuc will pronounce acceptance, but I am waiting for this to happen because I have to put the official date of acceptance into the final version of the article.

[2020-03-19 15:18] delsuc commented on #14
Sorry @khinsen for the delay - the period is a bit complex to deal with... :-/
Of course the manuscript is accepted to be published is ReScience.
I am not sure what is the procedure at this level...

[2020-03-19 16:04] pantale commented on #19
@khinsen @labarba
Please find here after, the revised version of the paper proposed for the 10 years reproducibility challenge.

Answers to remarks:
The topic of this reproducton attempt is not just the result of a computation performed 16 years ago, but also its performance characteristics. This makes it a particularly interesting contribution to the reproducibility challenge because performance,

[2020-03-19 16:47] khinsen commented on #14
Thanks @delsuc !

The procedure for actually publishing the article is described [here](https://github.com/rescience/articles). Roughly, the steps are
- assigning an article number
- reserving a DOI on Zenodo
- produce a new PDF with the DOI (that's a job for me)
- publish the PDF on Zenodo
- add the article to the ReScience table of contents.

Since this is purely technical, with no decisions inv

[2020-03-19 19:01] delsuc commented on #14
I'll try to do that - probably this W.E.

[2020-03-20 13:21] khinsen commented on #19
@pantale @labarba The revised article looks good! I particularly appreciate the added explanations about the parallelization methods, which I find clearer than the explanations in the original article.

I had a look at the code and briefly considered a test installation. However, there are no instructions at all. The file `CMakeLists.txt` suggests that I need to use CMake, but since I haven't touc

[2020-03-21 09:37] pantale commented on #19
@khinsen
Hi,
I updated the README file of the ReDynELA repository to answer your questions. You can have a try on compiling the code. You can contact me directly at pantale@enit.fr for more instructions.

Olivier

[2020-03-23 08:19] khinsen commented on #19
@pantale Thanks for the instructions! Unfortunately they don't work for me, see https://github.com/pantale/ReDynELA/issues/1.

[2020-03-23 12:54] khinsen commented on #19
@pantale I forgot a legal detail: could you specify a license for the code? Somewhere in https://github.com/pantale/ReDynELA, ideally by adding a file called LICENSE. My understanding (noting that I am most definitely not a lawyer) is that without a license, nobody may use the code for anything. I'd then be almost in jail already for having tried to compile it ;-)

[2020-03-23 15:00] pantale commented on #19
Yes, I can, but can you help me for this since I never done such thing, and I don't know what license to choose.

[2020-03-23 15:05] khinsen commented on #19
Assuming you have no constraints imposed by your employer, I'd got for one of (1) MIT (2) GPL. The main difference is that an MIT license allows others to improve and re-distribute your code in various ways, including commercial, whereas the GPL requires all derived versions to be GPL-licensed as well.

There's a site providing guidance: https://choosealicense.com/

[2020-03-23 15:24] pantale commented on #19
Thanks a lot.

I have added the MIT license file to the repository.

Olivier

[2020-03-23 16:27] khinsen commented on #19
@labarba I am happy with the current state of the article and the code!

[2020-03-24 13:11] rdicosmo opened #22 "Ten years reproducibility challenge: paper #9"
**Original article:** M. Danelutto, R. Di Cosmo, X. Leroy, and S. Pelagatti. “_Parallel Functional Programming with Skeletons: the OCamlP3L experiment._” In: **ACM Workshop on ML and its applications**. ACM. Baltimore, United States, Sept. 1998. https://hal.archives-ouvertes.fr/hal-01499962v1

**PDF URL:**  https://gitlab.inria.fr/dicosmo/ocamlp3l-rescience/-/blob/master/article.pdf
**Metadata URL

[2020-03-24 13:24] rdicosmo commented on #22
This is the submission corresponding to https://github.com/ReScience/ten-years/issues/1#issuecomment-542379915

[2020-03-25 17:43] sabinomaggi opened #23 "Reproduction of Step width enhancement in a pulse-driven Josephson junction"
**Original article:** S. Maggi, _Step width enhancement in a pulse-driven Josephson junction_, Journal of Applied Physics vol. 79, no. 10, pp. 7860--7863 (1996), doi: [10.1063/1.362395](https://aip.scitation.org/doi/10.1063/1.362395).

**PDF URL:**  https://github.com/sabinomaggi/ten-years-challenge-pulsed-drive/blob/submission/article/article.pdf
**Metadata URL:** https://github.com/sabinomaggi/t

[2020-03-25 17:47] sabinomaggi commented on #23
This submission corresponds to ReScience/ten-years [Paper Number #16](https://github.com/ReScience/ten-years/issues/1#issuecomment-548470800).

[2020-03-26 13:39] pantale commented on #19
Hi,
@khinsen @labarba What do I have to do now for continuing this process ?

Olivier

[2020-03-26 15:36] khinsen commented on #19
@pantale Putting on my EIC's hat: right now, nothing. It's @labarba as the handling editor who has to decide if the paper is accepted or needs additional review or additional revision.

[2020-03-30 07:08] rougier commented on #13
Since we're close to April, maybe @ctb is available now.

[2020-03-30 07:09] rougier commented on #14
Gentle reminder.

[2020-03-30 07:17] rougier commented on #23
Thanks for your submission. @pdebuyl could you edit this submission (Physics / Fortran) for the ten year reproducibility challenge (only one reviewer needed) ?

[2020-03-30 08:07] brembs opened #24 "Reproduction of a comparison between operant and classical conditioning of identical stimuli in tethered Drosophila"
**Original article:**
Brembs B and Heisenberg M (2000): The Operant and the Classical in Conditioned Orientation of Drosophila melanogaster at the Flight Simulator. Learn Mem. 7(2): 104–115. doi: 10.1101/lm.7.2.104
**PDF URL original article:**
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC311324/pdf/x2.pdf
**PDF URL submitted article:**
https://github.com/brembs/DFS_reproduction/blob/master/articl

[2020-03-30 08:08] brembs commented on #24
I'm still in the process of getting DOIs for the repository, I hope they can be provided later?

[2020-03-30 08:36] khinsen commented on #22
Thanks for this submission, I will start looking for a reviewer.

[2020-03-30 08:41] khinsen commented on #24
@brembs For the review, we don't need a code DOI, that can wait for later. And it's actually easier today to get a [Software Heritage ID](https://www.softwareheritage.org/save-and-reference-research-software/) for a GitHub repository. However, the Metadata and Code URLs you cite don't work!

Update: I discovered that my GitHub superpowers allowed me to fix the two links myself. I hope you don't mi

[2020-03-30 10:06] brembs commented on #24
Ok, not sure where the issue was. I changed one of your links and all links work for me now. Thanks a lot!
Will go and get a Software heritage ID!

[2020-03-31 05:39] MikeSilberbauer opened #25 "ReScience challenge: resurrecting a 30-year-old Turbo Pascal program for generating Maucha ionic diagrams"
**Original article:**
Silberbauer, M.J. and King, J.M., 1991. Geographical Trends in the Water Chemistry of Wetlands in the South-Western Cape Province, South Africa. Southern African Journal of Aquatic Sciences, 17 (1/2), 82–88.
**PDF URL:**
[Silberbauer-2020.pdf](https://github.com/ReScience/submissions/files/4522154/ReScience_C_Silberbauer_2020_5d.pdf)
**Metadata URL:**
http://www.riv.co.za/wv/

[2020-03-31 08:14] pdebuyl commented on #23
Hi @rougier

I can review but must ask first: 1. what is the current timeline? schedule is a mess (my schedule, of course) 2. I'd like to submit something as well, does that matter? (not the same topic of course)

[2020-03-31 15:45] trashbirdecology commented on #15
Hoping to get to this this week, @rougier and @gabrieldansereau

[2020-04-02 22:08] ha0ye commented on #16
I'm ready to write up my review, but can't seem to find instructions for the procedure to do so... does it go in this issue?

[2020-04-03 14:31] pantale commented on #19
@khinsen @labarba
Hi,
Just to mention that the associated code has been uploaded to Zenodo:
DOI: 10.5281/zenodo.3739278

Olivier

[2020-04-09 08:25] rougier commented on #22
Gentle reminder

[2020-04-09 08:28] rougier commented on #24
@brembs Thanks for the submission.
@gdetor @eroesch @oliviaguest @benoit-girard Can one of you edit this submission in neuroscience for the the Ten Years Reproducibility Challenge (only one reviewer needed)?

[2020-04-09 09:02] rougier commented on #25
@MikeSilberbauer Thansk for your submission! Before we can proceed with the actual review, would it be possible to use the ReScience template for your submission? Also, After a quick read of your submission, it does not seem to have any figure showing actual results (both old and new) but only a link to some (really nice) vintage screenshots. I think you should add them to your submission (we have

[2020-04-09 12:47] khinsen commented on #22
@rougier I am contacting potential reviewers by mail, that's why there is no activity here.

[2020-04-09 15:21] rougier commented on #16
@ha0ye Yes, exactly (sorry for the delay)

[2020-04-09 19:33] ha0ye commented on #16
## Review of 'Reproducing "Fluctuation Domains"'

In reviewing this replication of (Boettiger, Carl, Jonathan Dushoff, and Joshua S. Weitz. 2010. “Fluctuation Domains in Adaptive Evolution.”), I follow the 4-point criteria listed on https://rescience.github.io/edit/

1. The actual replication of the research. The reviewer must evaluate the authors’ claims about a successful replication, applying t

[2020-04-10 15:36] charlestonchas opened #26 "Ten-year reproducibility challenge: friction coefficients of mixed globular/chain molecules (1995)"
**Original article:**
Charles H. Robert. "Estimating friction coefficients of mixed globular/chain molecules, such as protein/DNA complexes." Biophys. J. 69 (Sept. 1995), pp. 840–848
[https://doi.org/10.1016/S0006-3495(95)79957-X](https://doi.org/10.1016/S0006-3495(95)79957-X)

**PDF URL:**
revised MS
[https://github.com/charlestonchas/rehydro-rescience-submit/blob/master/tex/article.pdf](https://

[2020-04-10 17:07] ghost opened #27 "[Re] [Ten Year Challenge] Volume computation for polytopes: Vingt ans après"
**Original article:**
B. Büeler, A. Enge, and K. Fukuda.
          Exact Volume Computation for Polytopes: A Practical Study.
          In: Polytopes — Combinatorics and Computation.
          Ed. by G. Kalai and G. M. Ziegler.
          Vol. 29. DMV Seminar.
          Basel: Birkhäuser Verlag,
          2000,
          pp. 131–154

**PDF URL:**
https://gitlab.inria.fr/enge/revinci/-/blob/master/a

[2020-04-11 12:32] khinsen commented on #26
Thanks for your submission! I will start looking for a reviewer.

[2020-04-13 09:46] rougier commented on #23
@pdebuyl If you can review, that's all the better. I'll edit it then.
1. No real timeline but end of May would be nice
2. No problem for submitting something.

[2020-04-13 09:47] rougier commented on #15
@pboesu @TrashBirdEcology Gentle reminder.

[2020-04-13 09:54] rougier commented on #19
In fact, we're now using [software heritage](https://www.softwareheritage.org/2019/08/05/saving-and-referencing-research-software-in-software-heritage/) for saving code.

[2020-04-13 09:54] rougier commented on #22
ok

[2020-04-13 09:56] rougier commented on #16
@tpoisot 🛎️

[2020-04-13 10:02] rougier commented on #27
Thanks for your submission. We'll assign an editor soon (hopefully).

@ThomasA Could you edit this submission for the Ten Years Reproducibility Challenge (only 1 reviewer needed). I know it's not your domain but @andreas-enge suggested some reviewer names that might review this submission.

[2020-04-13 16:53] gdetor commented on #24
@rougier I can handle this.

[2020-04-14 07:35] rougier commented on #21
Sorry I'm very late.
@ctb @benoit-girard @oliviaguest Can any of you edit this submission for the Ten Years Reproducibility Challenge (only 1 reviewer needed). I know it's not in your domain but the https://rescience.github.io/board/ might help.

[2020-04-14 07:51] rougier commented on #24
@gdetor Great, thank you.

[2020-04-14 12:26] khinsen commented on #26
@ChrisRackauckas Can you review this submission? I know it's not fully in your field of expertise, but it isn't terribly remote either. And I can help out with the biophysics aspects myself. What I am mainly looking for is Mathematica expertise.

[2020-04-14 12:59] mstimberg commented on #26
Probably just a typo, but note that the paper is using *Mathematica*, not Matlab.

[2020-04-14 16:23] khinsen commented on #26
@mstimberg Thanks for pointing this out, it was indeed a typo!

[2020-04-15 17:12] ChrisRackauckas commented on #26
Sorry, I will not have adequate time to properly review this.

[2020-04-16 07:26] khinsen commented on #26
@ChrisRackauckas OK, thanks for the quick feedback!

[2020-04-16 13:25] charlestonchas commented on #26
I updated the initial submission post to link to the zenodo code entry (rehydro) containing additional pdf versions of the Mathematica notebooks that were omitted in the original version.

Here it is as well: [https://doi.org/10.5281/zenodo.3747007](url)

[2020-04-17 09:55] aleblois opened #28 "[Re] Reproduction of the normal and pathological dynamics in the basal ganglia-thalamo-cortical network"
**Original article**:  Leblois A, Boraud T, Meissner W, Bergmann H, Hansel D. Competition
between feedback loops underlies normal and pathological dynamics in the
basal ganglia. J Neurosci 26: 3567–3583, 2006.

**PDF URL**: https://github.com/aleblois/BGdynamics2006/blob/master/ReScience_C__BGdynamics2006.pdf
**Metadata URL**: https://github.com/aleblois/BGdynamics2006/blob/master/metadata.tex
**C

[2020-04-18 21:26] sepehrmn opened #29 "[Re] Measures for investigating the contextual modulation of information transmission."
**Original article:**
Smyth, D., Phillips, W. A. and Kay, J.(1996) 'Measures for investigating the contextual modulation of information transmission', Network: Computation in Neural Systems, 7:2,307 — 316

**PDF URL:**
https://github.com/sepehrmn/mahmoudian-2020-rescience/blob/master/article/Reproduction_of_Smyth_et_al__1996.pdf

**Metadata URL:**
https://github.com/sepehrmn/mahmoudian-2020-rescie

[2020-04-20 03:16] sepehrmn commented on #29
I think that is everything required to start the process.

This authors of this paper used classical information theory. The nascent field of Partial Information Decomposition (PID) enables breaking three-way (and some formulations with more terms) information theory into more precise parts. Since this is a journal for replicating results of old studies, I have limited the scope to that and not di

[2020-04-20 07:26] MikeSilberbauer commented on #25
Sorry about the delay in reacting. I have not used github much and I did not notice that in the settings my primary email for notifications was my old work address, which was blocked when I retired at the end of January.
Thank you for the positive response - I will try to work out how to use the template.

[2020-04-20 08:03] pantale commented on #19
@rougier Hi,

Do I have to do this myself, or is it in the process of the publication ?
And concerning the proposed paper, what about the future ?

Kindly Regards,

Olivier Pantalé

[2020-04-20 08:22] khinsen commented on #22
[Frédéric Gava](http://www.lacl.fr/gava/) has kindly accepted to review this paper.

[2020-04-20 17:40] gdetor commented on #24
Hi @eroesch, could you review this work?

[2020-04-21 11:42] hhentschke opened #30 "[Re] Hippocampal Phase-Amplitude Coupling unearthed again"
This is a submission to the Ten Years Reproducibility Challenge.

**Original article:** Hentschke, H., Perkins, M.G., Pearce, R.A., & Banks, M.I. (2007) Muscarinic blockade weakens interaction of gamma with theta rhythms in mouse hippocampus. Eur.J.Neurosci., 26, 1642–1656.

**PDF URL:**   https://github.com/hhentschke/ReScience_10yrReproChallenge/blob/master/paper/article.pdf
**Metadata URL:**  h

[2020-04-21 16:53] cboettig commented on #16
Thanks @ha0ye, these are great suggestions.

@rougier @tpoisot Just checking in if anything is needed from me here yet?

[2020-04-22 06:12] bruAristimunha opened #31 "[Re] Deep Convolution Neural Network and Autoencoders-Based Unsupervised Feature Learning of EEG Signals"
**Original article:**
T. Wen and Z. Zhang, "[Deep Convolution Neural Network and Autoencoders-Based Unsupervised Feature Learning of EEG Signals](https://ieeexplore.ieee.org/abstract/document/8355473)," in IEEE Access, vol. 6, pp. 25399-25410, 2018.

**PDF URL:**  https://github.com/bruAristimunha/Re-Deep-Convolution-Neural-Network-and-Autoencoders-Based-Unsupervised-Feature-Learning-of-EEG/blob/m

[2020-04-23 09:05] khinsen commented on #22
*Here's Frédéric's report, sent by mail because he doesn't have a GitHub account yet.*

Afin de montrer l'utilité d'une plateforme de sauvegarde de logiciels et
donc ne de pas juste se contenter d'introduire dans ces articles des
URLs sur les pages web des auteurs, URLs qui sont non fiables a plus ou
moins long termes suivant l'évolution des carrières des chercheurs ou
des institutions elles-mêmes

[2020-04-23 09:08] khinsen commented on #22
Two comments on this report:
 - Frédéric hasn't been involved with ReScience before, and I forgot to tell him that the report should be written in English. Since we communicate in French, he apparently continued in French by default. I know that this is not a problem for the authors of this submission, but I'll post a translation for the benefit of everyone else.
 - Concerning the suggestion of co

[2020-04-23 09:10] khinsen commented on #22
*English translation of the review by Frédéric Gava*

In order to demonstrate the usefulness of a software backup
platform and so don't just introduce in these articles URLs on
the authors' web pages, URLs that are unreliable have no more or
less long term depending on the evolution of the researchers'
careers, or of the institutions themselves, the author proposes
to re-test the performance (acce

[2020-04-23 10:16] rdicosmo commented on #22
Thanks @khinsen for getting this review. Delighted to see that the reviewer liked the results presented here, and that he had similar experience with OCaml programs of his owns. I do not see any changes to make to the submission for the moment.

[2020-04-23 11:34] MikeSilberbauer commented on #25
@rougier
[ReScience_C_Silberbauer_2020_5d.pdf](https://github.com/ReScience/submissions/files/4522154/ReScience_C_Silberbauer_2020_5d.pdf)
With much assistance from Overleaf, I have converted the draft to LaTex and then PDF. I have not yet mastered the citation functions, but the document should now be in a state where it is reviewable.

[2020-04-23 14:46] khinsen commented on #22
@rdicosmo I agree that this review does not suggest any changes to the manuscript. So... I declare this submission accepted!

[2020-04-23 15:21] khinsen commented on #22
@rdicosmo You can find an updated `metadata.yaml` with all the required information for the final published PDF at https://gist.github.com/khinsen/c559f9ec32af7f268deb219813cd7d5e. Could you please use it to generate the PDF yourself? It doesn't work for me because it uses a LaTeX package that I cannot find (`software-biblatex`).

[2020-04-23 17:31] rdicosmo commented on #22
Thanks a lot @khinsen !!!
The recompiled paper is now available at https://gitlab.inria.fr/dicosmo/ocamlp3l-rescience/-/blob/master/article.pdf

[2020-04-23 18:54] maryupshall commented on #9
Sorry again for the delay in getting this out, and thanks to @cJarvers  for his thorough review. As before, we've implemented most of the requested changes and believe this puts the manuscript in an even better state. For clarity we've included the original comments along with our reply.

### Reproducibility
I ran the code using Python 3.6.10, swig 4.0.1, PyDSTool 0.90.3, numpy 1.18.1, scipy 1.3.0

[2020-04-24 08:23] khinsen commented on #22
Thanks @rdicosmo !

The article is published (http://doi.org/10.5281/zenodo.3763416) and will soon appear on the ReScience Web site.

[2020-04-24 09:31] cJarvers commented on #9
Thanks for your reply, @mupsh. I'm quite happy with how you addressed my comments.

I ran the code again (with slightly different versions of the dependencies: python 3.8.2, scipy 1.4.1, matplotlib 3.2.1, sympy 1.5.1, Pint 0.11, PyDSTool 0.91) and everything behaves as expected.

There are only two minor things I noticed in the article:

- In the very first line, the word "dopaminergic" stretches

[2020-04-24 09:41] cJarvers commented on #8
@benoit-girard: in case @pietromarchesi decides not to review after all, I'd be happy to act as a reviewer.
Sorry for the very late reply. I missed that you asked me again on November 6.

[2020-04-24 12:10] benoit-girard commented on #8
@cJarvers Thanks a lot for your proposal: yes go on please.
I was considering doing the review myself, but with the lockdown and kids at home I didn't find time to do that yet..

[2020-04-26 09:46] rdicosmo commented on #22
That's great, thanks a lot for this great experience :-)

[2020-04-26 09:46] #22 closed, assigned to khinsen

[2020-04-26 19:10] cJarvers commented on #8
# Review of replication of "A neurodynamical model for working memory" by Pascanu and Jaeger

This review is based on commit https://github.com/theoboraud/ESN/commit/8e4fdb64f5edd7d8b1613143a9e8a9a5cb3b5b18

The version of the original article I read was [this preprint](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.718.3306&rep=rep1&type=pdf), so if any of the comparisons to the origina

[2020-04-27 05:26] rougier commented on #9
@cJarvers @rgutzen Thanks for your very nice and extensive reviews. I therefore accept the manuscript that will be published soon hopefully. Congratulations @mupsh 🎉 !

I will make a PR to your repository to complete your metadata. In the meantime, can you register your code repository at https://www.softwareheritage.org/save-and-reference-research-software/. You should obtain a swid that you can

[2020-04-27 05:30] rougier commented on #28
@benoit-girard Can you take care of this submission (either assign an editor or you can edit it youself). Only one reviewer needed since this is for the Ten Years Reproducibility Challenge.

[2020-04-28 10:00] pietromarchesi commented on #8
Apologies everyone, I have been terribly unresponsive. I find myself too busy at the moment to address this properly. Very sorry to have delayed the process, please continue without me.

[2020-04-28 20:03] benoit-girard commented on #8
That's OK @pietromarchesi , we have been saved by @cJarvers

@theoboraud we are really sorry for the unusually long time for the evaluation of your work. You may now proceed to answer the reviewers' comments and requests.

[2020-04-28 20:09] civodul opened #32 "Ten years reproducibility challenge: paper #41"
**Original article:** [Storage Tradeoffs in a Collaborative Backup Service for Mobile Devices_(2006)](https://hal.archives-ouvertes.fr/hal-00187069/document)

**PDF URL:**  [article.submitted.pdf](https://gitlab.inria.fr/lcourtes-phd/edcc-2006-redone/-/blob/master/article/article.submitted.pdf)
**Metadata URL:**  [metadata.yaml](https://gitlab.inria.fr/lcourtes-phd/edcc-2006-redone/-/blob/master/a

[2020-04-28 20:10] civodul commented on #32
This corresponds to https://github.com/ReScience/ten-years/issues/1#issuecomment-605836321.

[2020-04-30 08:24] delsuc opened #33 "[Rp] Gifa V.4: A complete package for NMR data set processing"
**Original article:** [Rp] Gifa V.4: A complete package for NMR data set processing

**PDF URL:**  https://github.com/delsuc/Gifa/blob/master/article/article.pdf
**Metadata URL:**  https://github.com/delsuc/Gifa/blob/master/article/metadata.yaml
**Code URL:**  https://github.com/delsuc/Gifa/blob/master/code

**Scientific domain:**  NMR, data processing
**Programming language:**  Fortran77, C, Gifa

[2020-04-30 11:03] sje30 opened #34 "10 year challenge: Eglen and Wong (2008)"
**Original article:** https://arxiv.org/abs/1208.0986 (postprint of 2008 paper)

**PDF URL:**  https://github.com/sje30/rescience-hor/blob/master/template-master/article2.pdf
**Metadata URL:**  https://github.com/sje30/rescience-hor/blob/master/template-master/metadata.yaml
**Code URL:**  https://github.com/sje30/rescience-hor/

**Scientific domain:**  Computational Neuroscience
**Programming lang

[2020-04-30 11:05] sje30 commented on #34
Apologies in advance for grafting your pdf onto the front of my pdf -- I ran out of time to investigate if your article style could be used with Rmarkdown.  So creating article2.pdf was my solution.

[2020-04-30 14:30] maryupshall commented on #9
@rougier Great news, thank you very much! We've made the minor fixes, I've registered the code as requested and obtained the following SWH-ID:
https://archive.softwareheritage.org/swh:1:rev:e1040fe3fbaefef4166964772efa08ada444db6e;origin=https://github.com/mupsh/ReScience_Qian_2014.git/

[2020-04-30 14:53] weinman opened #35 "Ten Years Challenge: [Rp] Typographical features for scene text recognition"
**Original article:**  Weinman, J. J. (2010, August). [Typographical features for scene text recognition](https://www.cs.grinnell.edu/~weinman/pubs/weinman10typographical.pdf). In *2010 20th International Conference on Pattern Recognition* (pp. 3987-3990). IEEE. DOI:[10.1109/ICPR.2010.970](https://doi.org/10.1109/ICPR.2010.970)

**PDF URL:**  [http://www.cs.grinnell.edu/~weinman/tmp/rescience/resc

[2020-04-30 20:35] kneth opened #36 "[Re] [Ten Year Challenge] Oscillating chemical reactions and phase separation simulated by molecular dynamics"
**Original article:** https://aip.scitation.org/doi/abs/10.1063/1.475237
[code]

**PDF URL:**  https://github.com/kneth/rescience-ten-year-challenge-paper/blob/master/article.pdf
**Metadata URL:**  https://github.com/kneth/rescience-ten-year-challenge-paper/blob/master/metadata.yaml
**Code URL:**  https://github.com/kneth/MDreac/tree/master/oldsrc

**Scientific domain:**  non-equilibrium thermodyn

[2020-04-30 20:37] kneth commented on #36
Declaration of participation: https://github.com/ReScience/ten-years/issues/1#issuecomment-549156688

[2020-04-30 21:34] apdavison opened #37 "10 year challenge: Davison, Feng and Brown (2003)"
**Original article:** https://doi.org/10.1152/jn.00623.2002

**PDF URL:**  https://github.com/apdavison/bulbnet-reproduction/blob/master/reproducibility_challenge_2020/article.pdf
**Metadata URL:**  https://github.com/apdavison/bulbnet-reproduction/blob/master/reproducibility_challenge_2020/metadata.yaml
**Code URL:**  https://github.com/apdavison/bulbnet-reproduction

**Scientific domain:**  Comp

[2020-05-01 00:24] MelanieIStefan opened #38 "Ten-year challenge: Reproduction of An allosteric model of calmodulin [PNAS 105(31), 10768 (2008)]"
**Original article:** M.I. Stefan, S.J. Edelstein, N. Le Novère (2008). An allosteric model of calmodulin explains differential activation of PP2B and CaMKII. PNAS 105(31), 10768.

**PDF URL:**  https://github.com/MelanieIStefan/calmodulin_reproduction/blob/master/ReScience_Calmodulin.pdf
**Metadata URL:**
**Code URL:**  https://github.com/MelanieIStefan/calmodulin_reproduction

**Scientific domai

[2020-05-01 05:45] ThomasA commented on #27
Sorry @rougier, for some reason I did not notice this comment until now. I suppose I can edit this submission, but my C is a bit rusty and I have only ever briefly heard of polytopes...

[2020-05-03 05:39] rougier commented on #35
@ThomasA Could you  edit this submission fior the Ten Years Reproducibility Challenge (only one reviewe needed)?

[2020-05-03 05:39] rougier commented on #35
@weinman Thanks for your submission, we'll assign an editor soon.

[2020-05-03 07:24] rougier commented on #9
I created a PR (https://github.com/mupsh/ReScience_Qian_2014/pull/10) for small changes to your repo before publication. Can you check it?

[2020-05-03 08:37] rougier commented on #29
@sepehrmn Sorry for the delay, the Ten Years Reproducibility Challenge has made us quite busy these past days.

@sepehrmn For figure 2, yu might want to put sub-figures side by side and try to fix the aspect ratio. Currently, they're a bit difficult to read.

@gdetor @oliviaguest @benoit-girard @eroesch Can any of you take care of this regular submission in computational neuroscience ?

[2020-05-03 08:40] rougier commented on #19
@labarba Are oyu satisfied with the modification, can we accept the paper ?

@pantale Sorry for the delay. Yes, you have to save the code yourself (very easy to do) and software heritage will give you back an ID. This will need to be included in your metadata but the current template is not up to date (I need to fix it). Then @labarba (or me) will make a PR to your repor to modify  your metadata.

[2020-05-03 08:41] rougier commented on #24
Gentle reminder

[2020-05-03 08:43] rougier commented on #30
@hhentschke Thanks for your submission and sorry for the delay.

@ThomasA @oliviaguest @benoit-girard @eroesch @gdetor Can yu handle this submission for the Ten Years Reproducibility Challenge (only 1 reviewer needed) ?

[2020-05-03 08:46] rougier commented on #16
@cboettig You can edit your submission following @ha0ye suggestions and then @tpoisot will (probably) accept the article. Then there will be some work for the actual publication (mostly editing your metadata file).

[2020-05-03 09:13] oliviaguest commented on #29
Happy to take this on. 😄

[2020-05-03 09:58] rougier commented on #25
@khinsen @pdebuyl Can you handle this submission for the Ten Years Reproducibility Challenge (only 1 reviewer needed)?

[2020-05-03 10:02] rougier commented on #8
CCing to co-author @anthony-strock

[2020-05-04 05:49] rougier commented on #32
Thanks for your submission. I've modified your post to include link to your new article and metadata. We'll assign an editor soon.

@otizonaizit Coudl you handle this submission for the Ten Years Reproducibility Challenge (only one reviewer needed)?

[2020-05-04 05:52] rougier commented on #31
Thanks you for your submission and sorry for the delay. We'll assign an editor soon.

@koustuvsinha Could you serve as editor for this submission ?

[2020-05-04 05:54] rougier commented on #33
@pdebuyl @khinsen Can you serve as editor for this submission for the Ten Years Reproducibility Challenge ?

[2020-05-04 05:54] rougier commented on #33
@delsuc Thanks for your submission, we'll assign an editor soon.

[2020-05-04 06:03] rougier commented on #12
@khinsen @BrunoLevy Gentle reminder, review needed.

[2020-05-04 07:29] pantale commented on #19
@rougier Hi,
The process of saving the code to software heritage is currently done...
I have different ID, depending on directory or revision, which one I have to use, I guess directory, so the following one:
https://archive.softwareheritage.org/swh:1:dir:e45b8b7efb002231f4081c429c4ca33664d0812d;origin=https://github.com/pantale/ReDynELA/

Olivier

[2020-05-04 07:30] rougier commented on #34
Thanks for your submission, we'll assign an editor soon. For the published version (if accepted), that would be great if you can use the template.

I'll edit your submission.

[2020-05-04 07:31] rougier commented on #34
@thmosqueiro Can you review this submission for the Ten Years Reproducibility Challenge ?

[2020-05-04 07:33] rougier commented on #36
Thanks for your submission, we'll assign an editor soon.

@khinsen Can you find an editor (or edit yourself) for this submission?

[2020-05-04 07:37] rougier commented on #37
Thank your for your submission, we'll assign an editor soon.

@otizonaizit @gdetor @eroesch Can you edit this submission for the Ten Years Reproducibility Challenge (only 1 reviewer needed. Reproduction using Neuron and hoc language.

[2020-05-04 07:45] pdebuyl commented on #36
Hi @rougier I can edit.

[2020-05-04 07:47] rougier commented on #38
Thanks for your submission, I will edit it.

@apdavison Could you review this submission for the Ten Years Reproducibility Challenge?

[2020-05-04 07:48] sje30 commented on #34
yes, of course, will be able to swtich to your template.  I think I can
just export the markdown to .tex and then fix up from there.

[2020-05-04 07:49] rougier commented on #27
Well actually, you only need to find a (single) reviewer to do the actual review and your role is mostly to guarantee the process goes smoothly. I'll help you with the publication process at the end if necessary.

[2020-05-04 08:20] apdavison commented on #38
yes, I can review it

[2020-05-04 08:23] rougier commented on #10
Gentle reminder

[2020-05-04 08:43] pdebuyl commented on #33
I can edit. @khinsen can you review?

[2020-05-04 09:02] khinsen commented on #33
@pdebuyl Yes, I will do a review.

[2020-05-04 09:05] c-torre commented on #10
Dear everyone,
I hope you are safe in these difficult times.

In this time, we addressed the reviewer comments, including the change in one parameter value.
The model shown to be particularly sensitive to this and the dynamics were completely distorted.

We then reimplemented the model making new adjustments to equations and parameters, as we were able to obtain figure 2 again.
We launched series

[2020-05-04 10:29] oliviaguest commented on #10
@c-torre Can you please provide a bit more info regarding what has changed and why? I don't blame you in any way, I just would like to know more and your opinion.

[2020-05-04 10:50] c-torre commented on #10
The complete timeline occured as follows:
I contacted the corresponding author of the original article, but I did not get a reply back.
Then I contacted the first author. He was very willing to help, provided some initial discussion and finally the partial code that allowed to reproduce figure 2.

I launched the longer simulations to get results for the last figures, but again could not reproduce

[2020-05-04 12:18] oliviaguest commented on #10
@c-torre Very useful. Thank you. Have you emailed the corresponding author again? Or just once at the start?

[2020-05-04 12:19] oliviaguest commented on #10
PS: @c-torre I also forgot to ask... did you email any of the other authors? Original article has four in total.

[2020-05-04 12:24] c-torre commented on #10
I emailed the corresponding author only at the beginning, as I was initially told by the first author he might not reply to emails often in general. I did not contact other authors apart from first and corresponding (last).

[2020-05-04 13:56] khinsen commented on #26
Activity note: I am contacting potential reviewers outside of the GitHub universe. Silence should not be interpreted as absence of progress!

[2020-05-04 14:22] oliviaguest commented on #10
@rougier @khinsen @benoit-girard what do we do/think in this case? Is there a value in asking for input from (any of) the original authors?

[2020-05-04 15:11] alegrand opened #39 "[Re] Ten years challenge: Velho and Legrand (2009) - Accuracy Study and Improvement of Network Simulation in the SimGrid Framework"
**Original article:** https://dl.acm.org/doi/10.4108/ICST.SIMUTOOLS2009.5592 or https://hal.inria.fr/inria-00361031/file/simutools09.pdf
[code]

**PDF URL:**  https://github.com/alegrand/reproducibility-challenge
**Metadata URL:**  https://hal.inria.fr/inria-00361031/
**Code URL:**  https://github.com/alegrand/reproducibility-challenge

**Scientific domain:**  Computer Science
**Programming langua

[2020-05-04 15:54] bpbond opened #40 "Ten Years Reproducibility Challenge: Drivers of Evapotranspiration from Boreal Wildfires"
**Original article:** https://onlinelibrary.wiley.com/doi/full/10.1111/j.1365-2486.2008.01776.x

**PDF URL:** https://github.com/bpbond/ten-years-paper33/blob/master/article/paper33-report.pdf
**Metadata URL:** https://github.com/bpbond/ten-years-paper33/blob/master/article/metadata.yaml
**Code URL:** https://github.com/bpbond/ten-years-paper33

**Scientific domain:** Earth Sciences/Ecology
**Prog

[2020-05-04 18:14] gdetor commented on #24
@apdavison @benoit-girard Could one of you review this submission?
Thank you.

[2020-05-04 23:14] broukema opened #41 "Reproducibility of 'Poincaré dodecahedral space parameter estimates'"
**Original article:** Roukema, B. F., Z. Buliński, and N. E. Gaudin, 2008, Poincaré dodecahedral space parameter estimates, Astronomy and Astrophysics, 492, 657 [arXiv:0807.4260](https://arXiv.org/abs/0807.4260), https://ui.adsabs.harvard.edu/abs/2008A&A...492..657R

**PDF URL:**  https://codeberg.org/boud/RBG08/raw/branch/master/Roukema_ReSciC2020.pdf
**Metadata URL:**  https://codeberg.org/boud/

[2020-05-05 08:52] schmidDan commented on #29
@oliviaguest If you don't mind, I'd be happy to act as a reviewer for this submission. Would be my first one then. 🙂

[2020-05-05 08:58] rougier commented on #29
@oliviaguest Thank you @schmidDan Thank you, I guess you can start your review but @oliviaguest will confirm it.

[2020-05-05 08:59] rougier commented on #19
Ok, thanks. Now waiting for @labarba aknowledgement.

[2020-05-05 09:00] rougier commented on #36
Thanks @pdebuyl.

[2020-05-05 09:01] rougier commented on #38
@apdavison Wonderful, thanks. No hard deadline for the review but the sooner the better...

[2020-05-05 09:16] rougier commented on #10
**Disclaimer**: I've published articles with the second author of this submission (@AurelienNioche)

From my understanding, authors managed to replicate original results using the low sparsity version with (heavy ?) modification of the original model. I think it is thus a successful replication even though the model seems very fragile and this must be stated somewhere in the paper. Since the corre

[2020-05-05 09:19] rougier commented on #39
Thanks for your submission. I'm afraid I've conflict of interest (https://rr-france.github.io/bookrr/) and I cannot edit it.

@labarba Coudl you edit this submission for the Ten Years Reproducibility Challenge (only 1 reviewer needed) ?

[2020-05-05 10:32] oliviaguest commented on #29
@schmidDan given you have only a couple repos and they are both forks, can you link me to your institutional profile and/or website, please? It will help me decide on who else to invite and understand (of course) your skills. Thanks.

[2020-05-05 10:51] oliviaguest commented on #10
I agree on all points, but I think it's worth contacting all the authors of the original paper since if I was one of them I would want to know?

[2020-05-05 12:10] schmidDan commented on #29
@oliviaguest thanks for the fast reply!

Since I'm starting out with my PhD studies at the moment, my institutional website is still to become available. My affiliation, though, is with the [Institute for Neural Information Processing, Ulm University, Germany](https://www.uni-ulm.de/in/neuroinformatik/forschung/schwerpunkte/). The closest thing I can link for reference would be my [ORCID](https://

[2020-05-05 12:50] oliviaguest commented on #29
@schmidDan you are super picked — thank you so much for the info. 😊

[2020-05-05 14:17] khinsen commented on #10
I cannot comment on the changes to the models, that's beyond my domain competence (which is close to zero). As @oliviaguest says, as an author of the original work, I'd like to be informed, but I'd say "informing" is sufficient - no need to wait for a reply that may or may not come.

There is also the question of whether this is a successful replication or not. I'd say it's neither, but we have kn

[2020-05-05 14:43] oliviaguest commented on #10
I agree on no delay — sorry that I left that ambiguous — by waiting on anybody. Merely that I think we should inform them and maybe wait a bit (because they might give us useful info), but certainly not an endless amount of time.

I am happy with this idea. I wonder what @c-torre would prefer?

[2020-05-05 17:46] schmidDan commented on #29
@oliviaguest Thanks a lot! Then I'm more than happy to aid as a reviewer. 🙂

[2020-05-05 17:50] sepehrmn commented on #29
Excellent! I am very happy to see that you have taken charge of the reviewing process Olivia and Daniel.

I'll see what I can do to improve figure 2 as Nicolas suggested by tomorrow.

[2020-05-05 17:59] oliviaguest commented on #29
@sepehrmn I'm the editor. I'll find you a 2nd reviewer soon hopefully. Any suggestions welcome, of course!

[2020-05-06 09:01] rougier commented on #40
Thanks for your submission. We'll assign an editor soon.

@tpoisot @karthik Could you edit this submission for the Ten Years Reproducibility Challenge (only 1 reviewer neeed) ?

[2020-05-06 19:52] sepehrmn commented on #29
Thanks for providing some preliminary feedback. Figure 2 has now been adjusted accordingly.

[2020-05-07 07:50] benoit-girard commented on #24
What would be the delay to do the review?
I am really sorry, with the lockdown & the kids at home, I have very little time to allocate to additional work right now, so I can do it, but if you give me enough time...

[2020-05-07 08:15] ev-br opened #42 "Ten years challenge: fermions at unitarity"
**Original article:** https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.96.160402
Preprint, ungated: https://arxiv.org/abs/cond-mat/0602224

**PDF URL:**  https://github.com/ev-br/unitarity_repro/blob/repro_unitarity/article.pdf
**Metadata URL:** https://github.com/ev-br/unitarity_repro/blob/repro_unitarity/metadata.yaml
**Code URL:** https://github.com/ev-br/10yr_repro_challenge_35/releas

[2020-05-07 08:20] c-torre commented on #10
Thank you for all your input.
We agree with your the points we discussed.
I'll contact the corresponding author and copy to the other the authors. We'll inform them about the replication issues and that we'll be submitting current replication within the next two weeks.

[2020-05-07 14:24] oliviaguest commented on #10
@c-torre I am pleased with this especially since 2 weeks is *more* than enough time.

[2020-05-07 14:26] oliviaguest commented on #29
Perhaps due to the current crisis I am struggling a bit to find a 2nd reviewer as quickly as I would like. @sepehrmn if you have any ideas, they are welcomed. I will keep looking of course.

[2020-05-07 14:27] oliviaguest commented on #30
Happy to take this on!

[2020-05-07 14:39] oliviaguest commented on #29
👋 Hi @pwollstadt @Abzinger @pmediano @finnconor — would any one of you be interested in reviewing this?  😊

[2020-05-07 15:25] reubsjw commented on #29
@oliviaguest I’m interested … :)

[2020-05-07 15:27] Abzinger commented on #29
@oliviaguest I'm interested.

I just want to note that I'm currently working with Sepher in the same lab. But I haven't been part of the work he is submitting (no involvement in the discussion, the techniques used, the implementation of the code, the results obtained, or the written manuscript). As a reference, I suggest looking at my [ORCID](http://orcid.org/0000-0002-3581-8262)

[2020-05-07 16:18] oliviaguest commented on #29
OK, fantastic. I suggest you both (@reubsjw @Abzinger) act as 2nd and 3rd reviewers. The rest of the people tagged above can have a chance (if they so wish) to review in future. Great!

If all three @reubsjw @Abzinger @schmidDan can give me a rough ETA for your reviews that would be very helpful. Please also, if not already, take a look at: http://rescience.github.io/edit/

[2020-05-07 16:46] reubsjw commented on #29
I’ll aim for tomorrow or Saturday if that’s ok?

[2020-05-07 19:08] reubsjw commented on #29
The author replicates the target article's findings by implementing the same mathematical models in a modern computational environment. The target article describes and demonstrates, in information-theoretical terms and using computational simulation, additive and modulatory relationships (seperately and jointly) of receptive and contextual inputs to a hypothetical neuron, with that neuron's outpu

[2020-05-07 19:24] gdetor commented on #24
It' works for me. @rougier Is a potential delay in the review process acceptable?

[2020-05-07 19:57] oliviaguest commented on #30
👋 @TomDonoghue would you be interested in reviewing this?

[2020-05-07 20:58] TomDonoghue commented on #30
Hey @oliviaguest - thanks for thinking of me!

The 10 years reproducibility challenge looks really interesting, and I would be happy to review this submission! Are there are specific guidelines for reviewing this kind of article / submission that I should be aware of?

[2020-05-07 21:02] oliviaguest commented on #30
Fantastic, @TomDonoghue — thank you! I actually am not sure if there are specific ones for this type [please fill me in @khinsen @rougier @benoit-girard] but generally, see this: http://rescience.github.io/edit/

[2020-05-08 05:44] schmidDan commented on #29
@oliviaguest ETA would be by the end of today or tomorrow for my review.

[2020-05-08 09:25] Abzinger commented on #29
@oliviaguest At the latest, I will have my review done by the end of the day

[2020-05-08 09:46] oliviaguest commented on #29
Gosh, you're all super fast. Thank you. 😱 😍

[2020-05-08 13:43] schmidDan commented on #29
@sepehrmn I had a fun time reading and reviewing your code and manuscript. Nice job! Please find my review below.

My review is based on [commit 2c117cf](https://github.com/sepehrmn/mahmoudian-2020-rescience/commit/2c117cf2e191eddd4ae2432cdb2785dd80e0b4f7).

## Review Summary

* Full replication | Partial replication | Failed replication | Reproduction: The author conducted a successful, 'full rep

[2020-05-08 17:20] Abzinger commented on #29
@sepehrmn It was enjoyable going through the manuscript and the implementation. Below is my review which is hopefully useful to improve the work.

### Overview

- **The actual replication of the research.** The author has conducted a successful full replication of the work. Minor improvements are needed and the author can look them up in the *comments* section below.
- **Reproducibility of the rep

[2020-05-08 17:34] sepehrmn commented on #29
I thank the reviewers for their comments on the code and manuscript and for helping me improve the publication. I would like to say thanks again for their fast and meticulous reviews.

I hope to adjust and improve the submission to the reviewers' satisfaction by Tuesday.

[2020-05-08 19:48] mkatkov commented on #10
![res](https://user-images.githubusercontent.com/11220137/81440988-9bd94800-9179-11ea-895d-2d5765fdee1f.png)

I got this image by following code in jupyterLab (python3, windows, anaconda)
----------------------------------------------------------------------------------
[code]

-----------------------------------------------------------------------------------
It is not exactly Figure 3, but close

[2020-05-08 22:20] karthik commented on #40
Yes. Sorry for the delay (it's been challenging this past month).

[2020-05-09 16:34] broukema commented on #41
After I receive a review (or reviews) on my submission, here are some post-submission thoughts that I could integrate into the text, if the reviewer(s) allowed me to make some changes:

(1) Here's a relevant comment from the Dept of Physics at the Uni of Oxford - https://www2.physics.ox.ac.uk/it-services/where-has-g77-gone-to

So part of the results of this paper can be reworded colourfully by sta

[2020-05-11 07:07] khinsen commented on #41
This sounds like a problem that [Software Heritage](https://archive.softwareheritage.org/) could help with, but I don't know how to proceed, so I asked the question [on Twitter](https://twitter.com/khinsen/status/1259741638064320512).

[2020-05-11 07:17] khinsen commented on #33
@delsuc Could you add instructions for compiling, installing, and running the tests? The code archive looks like this should be straightforward, but it isn't obvious how to start. Also, the paper suggests that running the code requires a 32-bit system. That should also be stated in the README so that people don't waste time trying anything else.

[2020-05-11 07:38] delsuc commented on #33
You're right, I should find some time today to do this.

[2020-05-11 08:51] quenot opened #43 "Reproduction of ODP-PIV from the 1998 “Particle Image Velocimetry with Optical Flow” paper"
**Original article:** Quénot, Georges & Pakleza, Jaroslaw & Kowalewski, Tomasz. (1998). Particle Image Velocimetry with Optical Flow. Experiments in Fluids. Volume 25, Issue 3, pp 177–189. 10.1007/s003480050222.

**PDF URL:**  http://mrim.imag.fr/georges.quenot/rescience/jeif98/ReScience_C_ODP_PIV.pdf
**Metadata URL:**  http://mrim.imag.fr/georges.quenot/rescience/jeif98/metadata.yaml
**Code URL:*

[2020-05-11 10:40] broukema commented on #41
@khinsen A side issue, which _is_ in fact interesting for reproducibility, is that on Twitter you said "1995-1998", but the pre-0.5.18 files, from 1995, are only _diff_ files:

Unless you have g77-0.5.8 with at most very tiny changes, the 1995 diff files only give clues to the full source code and in practical terms are close to useless. The person maintaining this at the time presumably wanted to

[2020-05-11 12:26] khinsen commented on #41
@broukema Your explanation is probably correct, but I still find it surprising that a piece of software that once was widely used and part of a flourishing project (GCC) can disappear so easily.

[2020-05-11 13:07] pdebuyl commented on #23
Hi @sabinomaggi

The reproduction in the article is very interesting, thanks!

Before proceeding to the actual review, I would like to make the licensing checks. The procedure for the challenge (found [here](https://github.com/ReScience/ten-years/blob/master/author-guidelines.md) ) is a bit different from the usual ReScience one. There are still specific open-source concerns that are important.

1

[2020-05-11 14:04] sabinomaggi commented on #23
Hi @pdebuyl
many thanks to you for the appreciation.

All current code has already been uploaded to this GitHub repository, https://github.com/sabinomaggi/ten-years-challenge-pulsed-drive. Now I see that I missed the last step, the submission to the Software Heritage archive. Is this enough to link everything together? Otherwise, how can I link the paper and the repository containing the code?

As

[2020-05-11 20:46] delsuc commented on #33
Thanks @khinsen , that was needed, and I should have done it in the first hand.
I added a part in the README which shows how to build the binary, and reproduce the figures in the manuscript.

[2020-05-12 00:06] broukema commented on #41
@khinsen I fully agree that it's surprising. Even if someone eventually finds the sources, I think the as-far-as-we-know-disappearance of the g77 source would probably be worth adding to the abstract.

[2020-05-12 00:13] broukema commented on #41
@jcburley  Do you know of any g77 source tarballs for around the years 2006-2008 located on a reputable server? Would you be willing to put these online if you still have them available? Do you wish to comment publicly on the apparent disappearance of the sources? Scroll up for the context of the reproducibility of scientific research papers.

[2020-05-12 05:47] jcburley commented on #41
g77 wouldn't have had separate, maintained tarballs in 2006-2008, as gfortran replaced it in the GCC distribution.

If you can find a GCC tarball prior to 4.0 (say, 3.x), that should include the g77 sources, which (IIRC) were shipped with GCC, but I can't remember (nor find info easily on) just which GCC version the first to incorporate g77 versus g77 being provided as a sort of add-on or plugin t

[2020-05-12 07:14] khinsen commented on #41
Thanks @jcburley, that was helpful. The GNU FTP server has gcc-3.4.6 which contains g77: https://ftp.gnu.org/gnu/gcc/gcc-3.4.6/

[2020-05-12 07:18] rougier commented on #9
Ok, I just saw PR has been merged. I'll try to publish the paper by the end of the week. Don't hesitate to spam me if it's not done :)

[2020-05-12 09:01] pantale commented on #19
Ok, I'm also waiting for instructions...
Olivier

[2020-05-12 14:03] khinsen commented on #33
Thanks @delsuc, that helps a lot!

Following the instructions, I almost managed to compile Gifa. I had to install the package `libxext-dev` in order to succeed. Then I could run the tests.

I haven't been able so far to reproduce the figures. Here's what I do:
1) `cd Gifa/article`
2) `gifa` (this opens a few windows)
3) `fig2a.g` (this open a dialog box entitled "Display control")
4) Push the OK b

[2020-05-12 17:55] broukema commented on #41
@jcburley Thanks! :) gcc-3.4.6 looks like exactly what is relevant in this particular case. So the only thing that was missing was user knowledge (by me, anyway) about the relations between g77, gcc and gfortran in terms of tarball archiving.

[2020-05-12 19:33] delsuc commented on #33
Thank you @khinsen for pointing out these errors !

- install `libxext-dev` - of course - I just forgot to copy it in the README.

- `fig2a.g` is really badly named ! it actually contains the listing in Figure 2a of the original paper, and reproduces Figure 2c there, which is Figure 1 from the Rescience work (sorry for the strange numbering!) - I considered that there is no need to reproduce Figur

[2020-05-13 10:20] khinsen commented on #33
Thanks @delsuc, now everything works satisfactorily for me. So here comes my review! (pinging @pdebuyl !)

I enjoyed reading this article, which describes the resurrection of a piece of software from the late 1980s/early 1990s that was developed using the top state of the art of that time, paying careful attention to both efficiency and usability. What this reproduction illustrates is (1) the stab

[2020-05-13 12:56] pdebuyl commented on #23
Apologies, I looked for a LICENSE file or a notice in the source files and did not see the notice in the README. That being said, creative commons is not suited for software, would you consider one of GPL, LGPL, BSD, MIT (or another established license)?

Regarding the old code, the modifications are rather minimal so I won't insist on that.

[2020-05-13 15:54] otizonaizit commented on #20
Friendly ping @eroesch  :-)

[2020-05-13 15:56] otizonaizit commented on #20
Hi @rougier , @khinsen : is this a submission connected to the Ten Years Reproducibility Challenge? It seems hard to get reviewers...

[2020-05-13 16:05] sabinomaggi commented on #23
You are absolutely right, I forgot the license stuff, sorry. Now I have added a GPL3 license and changed the README file accordingly. While I was at it, I also added to the repository a directory containing the original Fortran and VB code.
Following the last requirement of the Guidelines, I have just submitted my repository to Software Heritage, and I am waiting for them to process the request.

[2020-05-13 16:06] otizonaizit commented on #37
I can edit this.

[2020-05-13 16:07] otizonaizit commented on #32
I can edit this

[2020-05-13 16:09] otizonaizit commented on #37
@rossant : would you be up to review this?

[2020-05-13 16:10] otizonaizit commented on #32
@ogrisel : would you be up to review this?

[2020-05-13 16:31] khinsen commented on #20
@otizonaizit Yes, it's a contribution to the challenge. And since it's a failed reproduction attempt, it doesn't require any domain expertise (in colloid science) to evaluate.

[2020-05-13 18:53] delsuc commented on #33
Thank you @khinsen for this nice review and for helping in improving the quality of the software as well as the manuscript.
 I will correct the GNU point, and will go carefully through the text for proof reading.

[2020-05-13 20:05] pdebuyl commented on #33
Thank you @khinsen for the review!

@delsuc I will wait for an update from your side.

[2020-05-14 12:11] pdebuyl commented on #23
Thank you for the license update. In the vbprog directory, I can only read stepampl.bas which contains variable declarations. procedur.bas is a binary file that I cannot read, where should I look for the vb code for the analysis?

[2020-05-14 12:56] sabinomaggi commented on #23
Yes you are right, all files of a Visual Basic project were binary files, you can access them only within the Visual Basic IDE.

In particular, the *.frm files  contain the layout of the graphic interface (for instance this is loadfile.frm),

![loadfile frm](https://user-images.githubusercontent.com/582340/81935561-1c240100-95f1-11ea-9030-af40c8a12fd5.png)

while the *bas files contain the actual

[2020-05-14 13:51] rougier commented on #42
Thanks for your (late) submission :) We'll assign an editor soon.

@pdebuyl Can you handle this submission (Physics/Python/Fortran) for the Ten Years Reproducibility Challenge (only # reviewer needed) ?

[2020-05-14 14:29] benoit-girard commented on #8
@cJarvers : do you think you could finish your review for the 22nd of May?

[2020-05-14 15:25] cJarvers commented on #8
@benoit-girard: I already posted my review above (https://github.com/ReScience/submissions/issues/8#issuecomment-619608039). I forgot to tag you in that comment, sorry about that.

[2020-05-15 08:45] pdebuyl commented on #36
Just a notice to let you know that "reviewer finding" is well in process.

[2020-05-15 09:12] pdebuyl commented on #42
As editor thus?

[2020-05-15 15:41] rougier commented on #24
Given the situation, I think we can have a delay yes (like my late answer). Can we target end of June? @brembs Would that be acceptable ?

[2020-05-15 15:46] rougier commented on #40
@karthik Thank you. Given the situation, we can have reasonable delay in the review. Note that only one reviewer is needed.

[2020-05-15 15:56] rougier commented on #19
@labarba Ping !

[2020-05-17 11:49] brembs commented on #24
I'm in no hurry and I have had own kid at home myself and have been late on reviews. So no pressure at all from my end.

[2020-05-18 00:20] cboettig commented on #16
Thanks @rougier.  @tpoisot I've made the edits in https://github.com/cboettig/fluctuationDomains/pull/3.

[2020-05-18 05:10] sepehrmn commented on #29
I will write a series of comments in response to the reviewers today. Please wait until Tuesday (tomorrow) to read and respond as there will be changes happening.

Thank you.

[2020-05-18 05:16] sepehrmn commented on #29
@reubsjw many thanks for your work and review. I have adjusted the code and will update the manuscript shortly. Below I explain how I've made adjustments.

- I have cleaned the code more.
- I added more comments and docstrings for analysis.py and plotting.py. The functions in main.py are self-explanatory.
- I have commented and linked the code to equations in the replicated manuscript.

- I note t

[2020-05-18 10:15] delsuc commented on #33
@pdebuyl I did my best to correct typos and improve the text. It is now available on the repository

I have two remarks:

- for some reason my name and affiliation do not appear in the pdf header, and the compilation always ends-up with an error. I double checked the metadata and the tex, but I could not find where is the problem.
- in which order should I/We register to swh and Zenodo DOI .

[2020-05-18 10:38] oliviaguest commented on #30
Hey @TomDonoghue — no pressure at all — but would you be able to give a rough ETA for your review? ☺️

[2020-05-18 12:42] theoboraud commented on #8
Hello all,
Thank you for your reviews!We are starting to address seriously the issues you pointed out in them. We come back to you at the end of the week when it's done.
Best regards,
Theophile Boraud
    Le jeudi 14 mai 2020 à 17:25:46 UTC+2, Christian Jarvers <notifications@github.com> a écrit :

@benoit-girard: I already posted my review above (#8 (comment)). I forgot to tag you in that comment

[2020-05-18 15:31] khinsen commented on #33
@delsuc Please see https://github.com/delsuc/Gifa/pull/1 for the small corrections required to compile the article.

As for the archive, you only need to request SWH to archive your repository, no registration required. The request form is at https://archive.softwareheritage.org/save/. Just paste the git reference for your repository into the field at the bottom and push "submit". It can take a fe

[2020-05-18 17:14] TomDonoghue commented on #30
Definitely this week! Current plan should have it done by Wednesday!

[2020-05-18 20:57] gdetor commented on #24
Ok, so @benoit-girard is being assigned as reviewer for this submission.
Thank you.

[2020-05-19 04:03] sepehrmn commented on #29
@schmidDan much appreciated. I'll explain how I've addressed some issues here. I'll explain the rest soon and alert when everything has been pushed.

Done. Added in the readme in the code directory.

I have changed from "reproduction" to "replication". I note the minor quantitative differences in the manuscript.

I have changed the layout and perspective of figure 2. I have removed the space in "0

[2020-05-19 06:31] sepehrmn commented on #29
@Abzinger Thank you again for your review and comments on how to improve this submission. I'll explain how I've addressed some issues here. I'll explain the rest soon and alert when everything has been pushed.

I have improved the manuscript in this section.

I removed r and c in this part of the manuscript for another reviewer due to another matter.

Done.

For figures 1 and 2, the MI results are

[2020-05-19 13:28] rougier commented on #43
Thanks for your submission. We'll assign a editor soon.

@delsuc @khinsen @pdebuyl Can any of you edit this (late) submission for the tern years reproducibilioty challenge?

[2020-05-19 13:31] rougier commented on #20
@ReScience/reviewers Any volunteer to review our first failed reproduction for the ten year reproducibility challenge? No domain expertise necessary since it failed...

[2020-05-19 13:33] pdebuyl commented on #20
Well, I like the topic, I'll review.

[2020-05-19 13:33] rougier commented on #42
@pdebuyl Yes, sorry, I should have explained.

[2020-05-19 13:35] rth commented on #20
I can also review. I used to work on hydrodynamic codes some time ago..

[2020-05-19 13:37] sabinomaggi commented on #20
If you need a third reviewer, I can join the list.

[2020-05-19 13:40] pdebuyl commented on #20
Given the sudden popularity of the paper, I'll leave it to someone else :-)

[2020-05-19 13:40] pdebuyl commented on #42
ok

[2020-05-19 13:44] pdebuyl commented on #42
I mean, "I will edit" :-)

[2020-05-19 13:47] pdebuyl commented on #42
@jochym could you review the submission here? If this is your first review for ReScience, I will guide you through the process.

[2020-05-19 13:57] pdebuyl commented on #33
@delsuc thank you for the update. I'll go over it "soon" :-)

[2020-05-19 14:29] otizonaizit commented on #20
Great, so @rth I'd like you to review this. We only need one reviewer. But I can use @sabinomaggi for #32 : I don't think deep domain knowledge is needed there. I'll invte you over there right now.
@pdebuyl : I would need you over to #37 !

[2020-05-19 14:29] otizonaizit commented on #32
@sabinomaggi : would you be up to review this?

[2020-05-19 14:29] otizonaizit commented on #37
@pdebuyl : would you be up to review this?

[2020-05-19 14:52] rth commented on #20
OK, will do a review in the next 7 days.

[2020-05-19 15:06] sabinomaggi commented on #32
Ok, I think I can do that.

[2020-05-19 15:06] sabinomaggi commented on #32
Within one week / ten days?

[2020-05-19 15:07] otizonaizit commented on #32
sure!

[2020-05-19 15:08] otizonaizit commented on #20
great, thanks!

[2020-05-19 21:22] sepehrmn commented on #29
@schmidDan please find my answers to the rest of your concerns below:

Adjusted a bit and put justification in the manuscript.

Done.

I've rewritten discussion section based on the feedback by the reviewers.

good idea. Changed.

transpose is no longer needed. The shapes were equal but the code is different now.

If the denominator is 0, I set them to 0. For analysis.py, eps was already added at

[2020-05-19 21:26] sepehrmn commented on #29
@Abzinger much appreciated again. I address your remaining concerns here:

I've rewritten the discussion section based on the feedback from the reviewers.

Done. If denominator is 0, I set it to 0.

[2020-05-19 21:42] sepehrmn commented on #29
@reubsjw @schmidDan @Abzinger the process is now complete from my side.

Please proceed.

[2020-05-20 00:55] bruAristimunha commented on #31
@rougier any update?

[2020-05-20 06:22] rougier commented on #31
@bruAristimunha Sorry for the delay. Pinging @koustuvsinha

[2020-05-20 08:43] sabinomaggi commented on #32
@otizonaizit
- very nice paper, may I contact the author for questions, clarifications and the like (I guess I can, but better to be sure);
- the review should be written in this thread?

[2020-05-20 08:55] otizonaizit commented on #32
Yes, please. You can ask your questions here and follow up with your review directly in this issue. Guidelines for review can be found here:

https://rescience.github.io/edit/

Also, see for example a recent paper published in ReScience for an example: https://github.com/ReScience/submissions/issues/11

[2020-05-20 15:27] maryupshall commented on #9
@rougier I might be mistaken, but spamming you just in case :)

[2020-05-21 15:03] sabinomaggi commented on #32
Hi @civodul
it was a real pleasure to read your paper, a very impressive reproduction, indeed!
GNU Guix seems very interesting, even if I wonder if the average scientist (myself included!) could be able to manage it instead of using a Docker container or a Python virtual environment.

Before delving into the actual review of the paper, I would like to manage the code/licensing issue.

The [10 year

[2020-05-21 15:50] otizonaizit commented on #32
Given that the repo with the original code contains only a single commit, i.e. there is no history to preserve, I'd prefer to see both original and new code in the same repo.

Following the challenge [guidelines](https://github.com/ReScience/ten-years/blob/master/author-guidelines.md#software) the ideal setup is for the initial commit of the repo to be adding the old code, and then the following c

[2020-05-22 14:33] civodul commented on #32
Thanks @sabinomaggi and @otizonaizit for taking a look!

The files in https://gitlab.inria.fr/lcourtes-phd/edcc-2006-redone already had a GPLv3+ license header, but I've now [added](https://gitlab.inria.fr/lcourtes-phd/edcc-2006-redone/-/commit/67d92dc7136c6d4c2c6d1c7af3108bc5655da485) a top-level `COPYING` file for clarity.  Apologies for the omission!  This repository contains the only new piece

[2020-05-24 18:06] delsuc commented on #43
Hello, I will edit this submission - sorry for the delay.

[2020-05-24 23:34] TomDonoghue commented on #30
Okay, so I have read through the original paper, the submitted ReScience paper, and looked through the repository. This paper reports on an attempt to re-run the analyses from a paper from 2007 examining theta & gamma oscillations, and cross frequency interactions, in mouse hippocampus, while manipulating muscarinic acetylcholinergic activity with atropine. I think this is a very interesting and o

[2020-05-25 07:48] rougier commented on #28
@benoit-girard ping !

[2020-05-25 07:51] oliviaguest commented on #30
@koustuvsinha @rougier can you shed some light on the questions above with respect to the review? Your input would be greatly appreciated.

[2020-05-25 07:53] rougier commented on #9
It has been published and online ! Sorry for the delay.
See https://zenodo.org/record/3842360

[2020-05-25 09:08] sabinomaggi commented on #32
Hi @civodul
I think that the license issue is fixed, thanks for the quick reply!

I don't think this is an issue here, since you were able to reproduce the paper as requested. What unfortunately  is **not** immediately apparent is how you were able to reproduce the original paper. If I understand well, the 2006 paper performed all calculations by running the `lout` code from within the source of t

[2020-05-25 13:27] otizonaizit commented on #37
@pdebuyl : friendly ping. Can you review this?

[2020-05-25 13:30] otizonaizit commented on #32
@civodul : I second @sabinomaggi 's proposal: if you create a single repo with two commits, it is going to be much easier in the future for people to find the code and understand the paper. The original repos of course do not need to disappear, if you value the commits and the development history.

[2020-05-25 13:31] otizonaizit commented on #32
@sabinomaggi : let's assume that the repo issue will be fixed very soon. Could you proceed with the actual review? Thanks! ;-)

[2020-05-25 23:15] sabinomaggi commented on #32
Here is my review of the paper. I have tried to follow as much as possible the reviewer's guidelines of ReScience C, together with the additional checks suggested by @pdebuyl within the first actual review of a 10 Years Challenge paper (https://github.com/ReScience/submissions/issues/11).

**Replication.** The paper reproduces the results of an article published in 2006 about the design of the sto

[2020-05-26 09:13] pdebuyl commented on #37
sorry @otizonaizit I am not familiar with either the domain or the language, maybe someone else? I can do it after my other ongoing reviews if necessary.

[2020-05-26 09:21] civodul commented on #32
Hi @sabinomaggi,

No, but that makes me realize I could have been clearer.

[Lout](https://savannah.nongnu.org/projects/lout) is a document typesetting system that I used to typeset the original paper (_via_ another authoring tool, [Skribilo](https://nongnu.org/skribilo/)).  It has nothing to do with the code evaluated in the paper, nor with the scripts used to run the benchmarks.  More to the poi

[2020-05-26 11:13] sabinomaggi commented on #32
Hi @civodul
sorry for the misunderstanding about `lout`, I admit I googled for lout and skb without finding anything, and I had to infer what happened by looking at the code. And when one looks at `lout` sources it is evident that they are computer _code_, more or less as LaTeX (or TikZ) is a typesetting system but also a computer language.

But well, this _philosophical_ discussion doesn't matter

[2020-05-26 12:19] benoit-girard commented on #28
I'm in!

[2020-05-26 12:19] benoit-girard commented on #28
I think I can review it myself.

[2020-05-26 13:34] benoit-girard commented on #24
I'm a bit lost, I'll need some help/clarification: the PDF URL refers to the original work, not to the pdf of the replication paper; this pdf will of course be useful, but where is the pdf of the replication paper, the ReScience one?

[2020-05-26 13:56] civodul commented on #32
I'd like to stress that the [source of the original paper](https://gitlab.inria.fr/lcourtes-phd/edcc-2006) is _not used at all here_ and is irrelevant.  This is what I attempted to express in Section 1:

I understand this was unclear, hence my [suggestions](https://github.com/ReScience/submissions/issues/32#issuecomment-633912183) to remedy that.  What do you think?

Conversely, this new paper con

[2020-05-26 13:59] brembs commented on #24
Sorry, this must be my misunderstanding of the instructions! The submission is in the repository, named "article.pdf": https://github.com/brembs/DFS_reproduction
That was my understanding of the instructions, sorry if I misunderstood.

[2020-05-26 14:01] brembs commented on #24
I have updated my submission above with the direct link.

[2020-05-26 14:14] otizonaizit commented on #37
OK @pdebuyl I'll look for another reviewer :-)

[2020-05-26 14:23] otizonaizit commented on #37
@heplesser : do you think you could review this? It is for the [Ten Years Reproducibility Challenge](http://rescience.github.io/ten-years/), with a simplified review process (only one reviewer).

[2020-05-26 14:30] otizonaizit commented on #37
@heplesser : also, have a look at the [guidelines for authors](https://github.com/ReScience/ten-years/blob/master/author-guidelines.md): I did not find them in the website...

[2020-05-26 16:56] khinsen commented on #32
Jumping in because I have read this paper carefully as well, not with the goal of reviewing, but with the goal of learning more about Guix. BTW, [my own contribution](https://github.com/ReScience/submissions/issues/14) to the challenge also uses Guix to provide a reproducible baseline for the future, but in a more pedestrian (and arguable more "standard") way which is perhaps of interest of those

[2020-05-26 17:32] sabinomaggi commented on #32
@khinsen You are absolutely right, the approach used by @civodul is very bright and promising.

To me, the goal of the debate above was twofold:
1. to try to understand which code had to be included in the submission, as per the original guidelines. Your comment and your proposal is more than welcome, as it eases this task. After all, guidelines are made to be broken!
2. to improve the presentatio

[2020-05-26 19:20] hhentschke commented on #30
@TomDonoghue Thank you very much for the very thorough review! I'll answer your points in detail once your review-related comments have been commented upon. Just a quick explanation of my take on the challenge. My understanding, garnered from the description of the challenge (https://rescience.github.io/ten-years/), was that a depiction of the journey was more important than the destination. Given

[2020-05-26 19:35] TomDonoghue commented on #30
Hey @hhentschke - I agree, and sorry, I didn't mean to imply that I think the paper should _have_ to include all of the original figures! Related to that point my main suggestion would be describe a bit more explicitly the plan and sub-selection chosen for replication. I also understand the call as more of a description of the replication attempt, and did scan and see at least one other submission

[2020-05-27 08:51] delsuc commented on #43
@bsciolla or @soolijoo could one of you review this submission ?

[2020-05-27 11:56] rougier commented on #28
Perfect !

[2020-05-27 11:57] rougier commented on #24
You updated header is actually better than the template. Maybe we should adopt it as the default.

[2020-05-27 13:47] heplesser commented on #37
@otizonaizit I work rather too closely with @apdavison to be a sufficiently impartial reviewer, I'm afraid.

[2020-05-27 14:45] otizonaizit commented on #37
It's getting difficult to get a reviewer. Sorry for the mass call, but is anyone of the Neuroscience reviewers up for review this paper?
@vitay @neuronalX @piero-le-fu @benureau @damiendr @anne-urai @stephanmg @pietromarchesi @miladh @mlosch @degoldschmidt @Vahidrostami @TiinaManninen @appukuttan-shailesh @rcaze @junpenglao @thmosqueiro @cJarvers @rgutzen @schmidDan

[2020-05-27 14:56] neuronalX commented on #37
too far from my expertise, sorry.

[2020-05-27 15:06] pdebuyl commented on #42
@dombrno could you review the submission here? If this is your first review for ReScience, I will guide you through the process.

[2020-05-27 15:49] cJarvers commented on #37
Same here, sorry. Not my area of expertise.

[2020-05-27 16:29] schmidDan commented on #37
Same for me, and at the moment I'm still occupied with another review, sorry.

[2020-05-27 16:34] appukuttan-shailesh commented on #37
I am a postdoc under Andrew Davison (one of the authors), so probably not ideal for me to take this up ;-)

[2020-05-27 17:16] rougier commented on #37
I'll review it. See also https://github.com/apdavison/bulbnet-reproduction/issues/1

[2020-05-27 20:30] otizonaizit commented on #37
On 27 May 2020 19:17:06 CEST, "Nicolas P. Rougier" <notifications@github.com> wrote:

Great, thanks Nicolas!

[2020-05-28 20:06] c-torre commented on #10
Hi all, I hope everything is well. We would like to update on the state of the replication, especially since many things happened since we contacted all authors.

We got replies and clarifications for a few questions we had. They spotted and confirmed that several typos were introduced into the equations that made the replication impossible.

The first author got a way back into the cluster where

[2020-05-28 20:32] oliviaguest commented on #10
@c-torre: Thank you so much for the update and well done on all the work in figuring this out! I am very pleased to have pushed (lightly) towards you contacting them — this is highly productive for the journal/this publication... and I hope also has been useful for *you* and *your* work as well as, of course, science generally! Great work and I am excited to see the next steps. 👏

[2020-05-28 20:36] rth commented on #20
A quick status update: I have read both papers and run the code, I'll try to finish the review this weekend.

[2020-05-29 12:12] schmidDan commented on #29
@sepehrmn thanks for addressing my concerns and sorry for the delay. Please find my response below.

## Review Summary (No. 2)

* All my points from the previous review comments have been adressed. Thanks a lot. In summary, both, the manuscript and the code base, have definitely been improved.
* Please find below some remarks concerning the changes happened to the manuscript and code base since my

[2020-05-31 11:27] rth commented on #20
### General comments

This paper describes a failed reproduction attempt for computing stokes drag on conglomerates of spheres with a Fortran code.
The two takeaways for me were that:
 - that archival of the source code is not enough, as missing configuration files, which are often considered less important, can also prevent reproducibility.
 - that the Fortran code in question still works as expe

[2020-05-31 16:41] labarba commented on #19
Where can I share with the author an annotated PDF of their article?

[2020-05-31 16:43] labarba commented on #19
[article-3_annotatedLB.pdf](https://github.com/ReScience/submissions/files/4708017/article-3_annotatedLB.pdf)

[2020-05-31 16:43] labarba commented on #19
Huh. I guess drag-and-drop just works.

[2020-05-31 16:47] labarba commented on #19
Summary comments coming soon.

[2020-05-31 16:54] labarba commented on #19
Editorial review for ReScience, May 31, 2020
---

**Original paper:**
Pantalé, O. (2005). Parallelization of an object-oriented FEM dynamics code: influence of the strategies on the Speedup. Advances in Engineering Software, 36(6), 361-373. https://oatao.univ-toulouse.fr/5378/1/Pantale_5378.pdf

The original paper presents the shared-memory parallelization of the DynaELA code using OpenMP. DynaELA

[2020-05-31 17:00] labarba commented on #19
Note my comment in the PDF about the use of the word "validate." This is a technical word in this field that means comparing the results from a simulation with a physical experiment. The word should not be used with any different meaning.

[2020-05-31 17:15] labarba commented on #19
Please note the annotations on the PDF were done in Acrobat and I'm not sure if any PDF viewer shows them.

[2020-06-01 07:16] labarba commented on #19
An additional comment about the categorization of this paper as a Replication, or Reproduction.

It's tricky because in this case, it is both! The comparison of multi-threading strategies with OpenMP can be called a replication: we have different computing systems (several generations away from each other), and look at whether the experiments with the copper-rod impact test give the same findings.

[2020-06-01 13:39] pdebuyl commented on #33
Hi @delsuc ,

A few minor comments:
1. I don't know the expression "a carrier long effort" (in "Introduction"), I would think that it is not commonly used in English.
2. There is a bit of chance in having a compatibility mode from "gdbm" for "ndbm", maybe this could be stated in the conclusion.
3. Question: is there any code taken from the Numerical Recipes?

Very interesting read! The abandonment

[2020-06-01 15:03] khinsen commented on #19
@labarba Many submissions to the ten-year-challenge end up being at the borderline between reproduction and replicability. That's one of the main conclusions of the challenge, but not one that we had foreseen when writing the author guidelines. So if all contributions to the challenge end up with the "reproduction" label, that's our fault, not the authors'.

However, as you suggest, it's a good id

[2020-06-01 15:41] khinsen commented on #26
*[Gerald Kneller](http://dirac.cnrs-orleans.fr/~kneller/) kindly accepted to review this article. Since he doesn't have a GitHub account, I transmit his review received by mail:*

Report on manuscript

[Rp] Reproducibility report: Estimating friction coefficients of mixed
globular/chain molecules, such as protein/DNA complexes. [Biophys J
69, 840-848 (1995)]

By Charles ROBERT

The paper describes

[2020-06-01 15:43] khinsen commented on #26
@charlestonchas Would it be possible to include the reproduced figures and tables in the text of your submission? That would permit every reader to judge similarity with the originals, not only those who have access to Mathematics.

[2020-06-02 03:47] cboettig commented on #16
@rougier @tpoisot :point_up:

[2020-06-02 06:24] pantale commented on #19
@labarba @khinsen
Thanks a lot for the feedback.
I'm working on the corrections to the article.
Olivier

[2020-06-02 08:39] pdebuyl commented on #42
@vahtras will review the paper. Thank you Olav!

[2020-06-02 09:22] Abzinger commented on #29
@sepehrmn Thanks for addressing the comments and the current version is ready for publishing.

[2020-06-02 10:05] rougier commented on #12
@khinsen Maybe you need to contact @BrunoLevy by mail for the review (not sure he gets GitHub notification)

[2020-06-02 10:15] labarba commented on #19
Saying "borderline" is confusing. This submission contains BOTH replication (applies to the analysis of multi-threading strategies), and reproduction (applies to the benchmark on dynamic-traction simulation).

I want to add to my points about the dynamic-traction test. The author should remove speculations about whether he "rounded off" 2.58 into 2.6. The results are shown as a contour plot, and t

[2020-06-02 13:19] charlestonchas commented on #26
Thanks to Gerald Kneller and yourself for taking the time to review the manuscript and provide feedback. I'll modify the MS to add the tables and figures generated by Mathematica as soon as possible; it will indeed be better to include them in the article itself.

[2020-06-02 13:21] khinsen commented on #20
Thanks @rth for this review!

Comments and actions taken:

1. I have rewritten the introduction to my code execution notes in order to make them clear even when viewed on GitHub (which strips away much of the Org-Mode markup). Let's hope that GitHub doesn't break this in an update to its rendered.

2. This is the first time I publish a computational protocol using Guix, so I am still experimenting

[2020-06-02 15:51] civodul commented on #32
Hi @sabinomaggi,

I [pushed](https://gitlab.inria.fr/lcourtes-phd/edcc-2006-redone/-/commit/9ac62658c61f2db62c0f1aa1bbd1a592014fcf72) an updated version that tries to address the various points you raised.  In particular, the introduction and Section 2 provide an overview of GNU Guix, and the new "Related Work" section compares it to other tools commonly used in the context of reproducible researc

[2020-06-02 17:37] pantale commented on #19
@labarba @khinsen
All correction are done confirming to the annoted PDF. Only the clarification about reproduction/replication has to be done.
What about the license ? Do you want me to remove allusions to gnu license in source files ?

[2020-06-02 19:13] labarba commented on #19
Re. license --- you have to pick one. Either remove all the text on GNU license from source files and leave the BSD-3 LICENSE file or replace the LICENSE file to match GNU. The difference, as Konrad explained, is BSD is more permissive and GNU is copyleft.

See if this helps:
https://figshare.com/articles/A_short_lecture_on_Open_Licensing/4516892/1

[2020-06-02 19:30] bruAristimunha commented on #31
Hi @rougier,
Sorry to bother you, is it possible to switch to another possible editor? It seems to me that he cannot take over.

[2020-06-03 05:20] baioc commented on #13
Apologies for the delay.
The replication repository's master branch has been updated to acknowledge reviewer comments and I believe most issues have been addressed.

The exception being the numerical integration method used in stochastic experiments, which remain the same. This was done to in order to preserve the Chemical Langevin Equations as defined in the original article's [Supporting Informa

[2020-06-03 08:40] pantale commented on #19
@labarba @khinsen
Hi,
Here is a revised version of the paper.
[article.pdf](https://github.com/ReScience/submissions/files/4721821/article.pdf)

As far as the changes are concerned, here is a short summary:
- Regarding the difference 2.58, 2.60, I updated the text and added the fact that we're comparing a 32-bit processor and a 64-bit processor on an explicit integration scheme, known to be sensit

[2020-06-03 10:30] khinsen commented on #12
@rougier Good point, I will try. I have a hard time with GitHub notifications myself, about 1/3 never arrive by mail and I stopped checking them on the site because of overload.

[2020-06-03 12:58] pdebuyl commented on #36
@fhoefling , can you review this submission ?

[2020-06-03 13:11] pdebuyl commented on #23
Sorry for the delay. I was also wondering the status of the resulting code, as the "updated" code (so, not the 10+ years old code) is supposed to be executable by readers of the ReScience paper. The simplest scenario is one where all code can be executed from source. In case there is a way out, I am reaching out to the editors in chief.

@ReScience/editors : Part of the reproduction involve a bina

[2020-06-03 15:46] khinsen commented on #23
@pdebuyl Badly, of course! However, if I am understanding the situation correctly, it looks like there is nothing anyone can do to fix this. So the only possible action is documenting the problem in the paper. In a sense, it's not very different from lost code.

The remaining philosophical question is if we should classify this as a reproduction failure. Not sure about that. The success/failure di

[2020-06-03 16:03] BrunoLevy commented on #12
I have sent my review to Konrad (a while ago, and again today), please tell me if I need to post it / git commit it or something somewhere else.
Cheers,
-- Bruno

[2020-06-03 17:27] sabinomaggi commented on #23
@pdebuyl and @khinsen I understand your perplexities related to the Visual Basic program (the reproduction of the fortran part of the project should have no problem). The reproduction of the Visual Basic program could be easily done by building a virtual machine with MS-DOS, Windows 3.11 and Visual Basic 1.0, as explained briefly in the paper. I have not included a prebuilt VM on GitHub because I

[2020-06-03 18:06] pdebuyl commented on #23
@sabinomaggi and @khinsen thank you for the replies.

@sabinomaggi I think that the optimal solution, as Konrad mentions, is to document properly this limitation in the reproduction. It may be the case already, I'll get back to you tomorrow after re-reading the paper.

[2020-06-03 19:08] khinsen commented on #12
@BrunoLevy Just paste it right here into a comment!

[2020-06-03 19:10] khinsen commented on #23
Sounds good. Remember that the ultimate point of the challenge is to find out what worked and what didn't, and why. So no matter how small the role of VB in this project is, the fact that it causes trouble with open reviewing is a conclusion that matters.

[2020-06-03 20:34] BrunoLevy commented on #12
Hi Konrad, here it is ! (and I have inserted in it a few Apple][ photos and stories for fun).

I had a lot of fun reviewing this ReScience submission, because I have an Apple2 in working condition, and interestingly, it is an even older model (Apple][+) as compared to the ones used in the submission (Apple][e and Aplle//c).

The initial article, published in a French hobbyist magazine (Tremplin Mi

[2020-06-03 21:35] BrunoLevy commented on #12
Done ! (and I have inserted a couple of photos / links to tweets that
may be interesting)

Cheers,

-- B

On 6/3/20 9:08 PM, Konrad Hinsen wrote:

[2020-06-04 07:15] khinsen commented on #12
Thanks @BrunoLevy for this detailed, informative, and entertaining review. My provisional conclusion is that we should perhaps encourage the use of Apple ][s in scientific computing for improving the quality of everything.

I also conclude that @rougier's submission is accepted! I'll take care of the publishing steps today or tomorrow.

[2020-06-04 07:48] khinsen commented on #12
@rougier Could you please generate the final PDF? You seem to have used an old version of the template, since it lacks the Makefile. Updated metadata is at https://github.com/rougier/TYRC-apple/pull/1.

[2020-06-04 09:38] pdebuyl commented on #23
@sabinomaggi the current paper does not state clearly the the visual basic file is "imprisoned" in its binary form and unavailable in source form.

I propose the following:
1. The paper is considered a partial replication.
2. You state that the Visual Basic code is *only* available in the binary format. You already mention it ("or by opening the Visual Basic project" is not possible for readers of

[2020-06-04 13:47] sabinomaggi commented on #23
No problem for 2 and 3, I will add a a note in the paper following your suggestion and include the screenshots in the Supplementary Material.
I only don't know how to mark the paper as a partial replication (or if I need to do that anyway if I comply with points 2 and 3).

[2020-06-04 21:59] sepehrmn commented on #29
@schmidDan much appreciated. Here is I have addressed the remaining concerns:

Added "Where r is an instance of R, and c an instance of C, multiplied by the weight of the connection."

Changed to "In order to rule out the possibility of missing the higher maximum value
as a result of not having that particular data point, a small step size of 0.1 was used for
each data point which leads to a highe

[2020-06-04 22:06] fhoefling commented on #36
I started with the review. Some first feedback on the software:

A detailed guide of how to proceed is missing and should be given. Yet, building the programme went smoothly, just by installing `gfortran` and running `make` in `oldsrc`.

Next, I started the script `phd.sh` from the `protocols` folder. On a Xeon E3-1241 @ 3.50GHz, the script was running for more than 5 hours on a single core and cr

[2020-06-05 08:48] charlestonchas commented on #26
@khinsen I added the requested figures to the MS, along with a corresponding table, and took the opportunity to improve the clarity of the presentation (an advantage of leaving the MS alone for a few weeks). I also added the tex to the github repository to facilitate diffs. The pdf, metadata, and code links at the top of this issue have been updated accordingly.

The original article figures were

[2020-06-05 09:41] reubsjw commented on #29
I am satisfied that the article is now ready for publication. With apologies for my relative quietness lately, I'd like to commend the author for their response to my and the other reviewer's comments.

[2020-06-05 09:52] labarba commented on #19
I'm satisfied with the changes. A few typos remain, including:

p.4, line 6: softwares >> software (an uncountable noun)
p.5, line 8: requested >> required
p.5, line 10: have >> has (subject: "one")
p.5, last paragraph: reproduce>>replicate
p.10, last line: repoducible>>reproducible

[2020-06-05 09:56] oliviaguest commented on #29
Fabulous work, everybody! Massive thank you to all the work put in by the reviewers @reubsjw @Abzinger @schmidDan — really high quality feedback. 👏

@sepehrmn can you update the PDF with the final details so we can get this published, please?

[2020-06-05 10:59] sabinomaggi commented on #32
@otizonaizit @civodul @khinsen
The present version of the paper addresses all questions raised during the review process. I have no further comments and I recommend publication.

[2020-06-05 11:34] pantale commented on #19
@labarba
Hi,
Thank you very much for these last corrections which I have taken into account in the revised version. I also have checked and corrected some other typos in the text.
**PDF**: [article.pdf](https://github.com/ReScience/submissions/files/4736050/article.pdf)
**GitHub paper source**: https://github.com/pantale/ReScience-paper2020

Olivier

[2020-06-05 18:11] sepehrmn commented on #29
@oliviaguest many thanks!

I've added the reviewers and editor and a few minor things. Both the code and article are in the same repository. I have to now make DOI for them on Zenodo and we are done?

[2020-06-05 23:00] oliviaguest commented on #29
I actually am not sure if you are meant to do that or me — I think it's me. But I'll tag @rougier just in case. The instructions are here but I think it's all for me to do now, so don't worry at all: https://github.com/ReScience/articles/blob/master/README.md

I'll post back here when I upload it and it's all ready to go. Have you taken one last check of the proofs and are happy with them? 😊

[2020-06-05 23:06] sepehrmn commented on #29
@reubsjw could you please confirm that your information as it appears on the PDF is correct? The other two reviewers put their ORCID but I searched for yours.

[2020-06-06 06:33] rougier commented on #29
We're now using software heritage for savign the code and the procedure is even easier than Zendodo. Just look at https://www.softwareheritage.org/save-and-reference-research-software/.

You should obtain a swid that can be included in the PDF (have a look a the new article template)

[2020-06-06 09:39] reubsjw commented on #29
Thanks for checking. My ORCID is 0000-0002-5592-7562. Please include my middle initial (i.e. Reubs **J** Walsh)

[2020-06-06 10:03] otizonaizit commented on #32
Great. So the paper is herevy accepted for publication. @civodul : I'll be back to you early next week for finalizing the publication.

[2020-06-06 10:05] otizonaizit commented on #20
@khinsen : thank you for the revision! It looks good to me.
@rth : do you have additional comments?

[2020-06-07 21:36] sepehrmn commented on #29
The pdf is fine.

I tried to submit to software heritage. It says "succeed" but then says [no snapshot is available](https://archive.softwareheritage.org/browse/origin/directory/?origin_url=https://github.com/sepehrmn/mahmoudian-2020-rescience/tree/master/code&timestamp=2020-06-07T21:24:36.312751%2000:00).

I've resubmitted one more time which should be done in a few hours.

[2020-06-07 23:37] sepehrmn commented on #29
Now it works. This is the [link](https://archive.softwareheritage.org/swh:1:dir:c707f7af830f2cf32cf42c9515cc95ffd5fc5e2c;origin=https://github.com/sepehrmn/mahmoudian-2020-rescience.git;visit=swh:1:snp:5ceaeb3a22b3e650d4bd1e64a84f8fdd29e90bf8;anchor=swh:1:rev:d98bee4c2472bee2df7d86d80865f26501a7d4ea;path=//).

[2020-06-08 07:30] khinsen commented on #26
@charlestonchas Thanks for the update! I'd say this looks good and... I proclaim this submission accepted!

I will start the publication process, which may or may not involve further requests to you, depending on how it goes.

[2020-06-08 08:13] khinsen commented on #14
@delsuc Gentle reminder... including my offer to do this myself if you don't have time.

[2020-06-08 08:31] khinsen commented on #26
@charlestonchas Could you please review the metadata updates at https://github.com/ReScience/submissions/issues/26? I can then generate the final PDF myself because you have used our template.

[2020-06-08 09:32] charlestonchas commented on #26
That's good news! I updated the metadata.yaml (using one of your articles as a reference!), but there are a few things missing, notably in the "contributors" section. Please check my work!

[2020-06-08 10:04] delsuc commented on #14
Sorry about this - go ahead - I thought I would find time, but it's getting worse.
(I really wanted to learn)

[2020-06-08 16:04] khinsen commented on #26
@charlestonchas Looks good overall, but requires two more corrections:
1. DOIs in our metadata are DOIs, not URLs pointing to a DOI resolver.
2. Under "contributors", the "editor" entry is required for publication.

[2020-06-08 16:10] khinsen commented on #14
I am sure there will be further occasions, in quieter times!

[2020-06-08 17:01] charlestonchas commented on #26
Sorry; done!

[2020-06-08 20:46] rougier commented on #16
@tpoisot 🛎️

[2020-06-08 21:54] oliviaguest commented on #29
@sepehrmn I set up a PR https://github.com/sepehrmn/mahmoudian-2020-rescience/pull/1 to update the metadata and if you can recompile with a publication of 9th June, I'l publish it immediately. 😊

[2020-06-09 04:35] sepehrmn commented on #29
@oliviaguest Many thanks!

I don't see the Zenodo link maybe it's not public yet, but the pdf is done now with the provided information!

[2020-06-09 08:29] oliviaguest commented on #29
@rougier do you know what I'm doing wrong with the `publish.py` script? I'll keep trying, but any help is greatly appreciated.

[code]

[2020-06-09 08:54] khinsen commented on #26
The article has been published (http://doi.org/10.5281/zenodo.3886412) and will soon be listed on the ReScience Web site!

[2020-06-09 08:55] oliviaguest commented on #29
@rougier Did I do this correctly? https://zenodo.org/record/3885793

[2020-06-09 08:55] khinsen commented on #26
@charlestonchas The final metadata and PDF are at https://github.com/charlestonchas/rehydro-rescience-submit/pull/1 - just accept the pull request and your repository is up to date!

[2020-06-09 08:55] #26 closed, assigned to khinsen

[2020-06-09 09:08] otizonaizit commented on #37
@rougier : ping!

[2020-06-09 09:13] khinsen commented on #14
This article has been published (http://doi.org/10.5281/zenodo.3886447) and will soon be listed on the ReScience Web site.

[2020-06-09 09:13] #14 closed, assigned to delsuc

[2020-06-09 09:16] oliviaguest commented on #29
Just in cased needed I tried to just publish it and I think something went wrong but not with the paper? I'm so confused by this process every time! Sorry!

[code]

[2020-06-09 09:24] oliviaguest commented on #29
Just in cased needed I tried to just publish it and I think something went wrong but not with the paper? I'm so confused by this process every time! Sorry!

[code]

[2020-06-09 09:34] rougier commented on #29
I think the paper is online but I received 3 notifications from Zenodo (for the ReScience collection), I need to check. After publication, a directory with the DOI of the paper is created and the article + metadata is stored. Then the script makes a git push .

[2020-06-09 09:38] rougier commented on #29
Do you have a new directory in the repo  ?

[2020-06-09 09:41] rougier commented on #29
Ok notification we for other papers so I think it's ok.  I think the failed commit comes from other editors having commited while you were trying to push. Try a git fetch / git merge.

[2020-06-09 09:46] rougier commented on #37
Thanks for the reminder. I'll try to do it by Friday night (I've started playing with the code). Ping me again if not done.

[2020-06-09 09:54] charlestonchas commented on #26
Great! Pull request acccepted

_____________________

[2020-06-09 09:54] oliviaguest commented on #29
Sorry — I tried pulling before I saw your message. Does any of this make sense for the question?

[code]

[2020-06-09 10:06] rougier commented on #31
@bruAristimunha Sorry for the delay in my answer. Yes, it seems @koustuvsinha is not responsive. I'll try by mail.

@gdetor Could you edit this submission ?

[2020-06-09 10:10] rougier commented on #13
@ReScience/reviewers We would need a second reviewer for this replication in Biological Computing / Synthetic Biology using octave.

[2020-06-09 10:15] rougier commented on #12
Many thanks for the review @BrunoLevy. I've seen most of your photos on twitter but did not see all of them. Thanks again. I'm +1 for a retro hackaton. In fact, I would like to write a (non trivial) scientific result as if we were in 1980 but with out 2020 knowledge and try to guarantee this old-new result is reproducible from 1980 through 2020 (bit for bit). Just to check it is possible.

[2020-06-09 10:15] rougier commented on #12
Thanks @khinsen, I'll update the paper.

[2020-06-09 10:52] rougier commented on #12
@khinsen I've merged your update, I would need the DOI once you have it.

[2020-06-09 11:55] rougier commented on #29
I'm not sure about the X11 forxwarding part. Best would be to clone the repo into another place and check if they're the same (make lasy commit).

[2020-06-09 12:15] khinsen commented on #29
1) It's me who published two papers this morning, so the three messages from Zenodo are OK.
2) The "X11 forwarding" warning comes from ssh configuration, so it's unrelated to the script.
3) To me the output from `git pull` looks good, but the freshly added article is not in the archive, so something did go wrong with `git push`.

@oliviaguest The error message `AttributeError: 'Repository' object

[2020-06-09 12:19] oliviaguest commented on #29
@khinsen:

Yes, due to the "bug" (?) I described in https://github.com/ReScience/submissions/issues/29#issuecomment-641122552. I added a print statement. I didn't understand how to fix it and ran it with the `--zenodo` flag without getting the sandbox to work.

[2020-06-09 12:24] oliviaguest commented on #29
@rougier I don't see a difference [using software tools not my eyes] between my local version and a fresh clone. Sorry. What can I do to fix this? I feel like this is the same bug I had last time (although it was not from my MBP, but from a Linux desktop).

[2020-06-09 12:33] khinsen commented on #12
@rougier DOI is here: https://github.com/rougier/TYRC-apple/pull/2

[2020-06-09 12:57] oliviaguest commented on #29
OK, I did this manually. I think it's OK! ☺️  https://github.com/ReScience/articles/tree/master/10.5281_zenodo.3885793

[2020-06-09 13:54] otizonaizit commented on #32
@civodul : I need you to perform an additional step before publication.

I have updated the article metadata. I have no access to the gilab repo at INRIA where your article lives, so I can't make a pull request there. Instead, I pushed my modifications here:
https://github.com/otizonaizit/edcc-2006-redone

There is a single commit there with the updated metadata. You should merge that commit to yo

[2020-06-09 13:57] sepehrmn commented on #29
Excellent. Many thanks everyone!

[2020-06-09 16:22] rth commented on #20
Thanks for addressing comments @khinsen ! Looks good to me. I don't have any other comments @otizonaizit .

[2020-06-09 19:13] oliviaguest commented on #29
@sepehrmn sorry about the teething problems — I seem to always find a way to screw up right before the end... 😆  BUT! Importantly your paper is published and I think it should appear on the website too soon. So... 🥳  congratulations! 👏

[2020-06-09 21:23] gdetor commented on #31
@rougier Sure, I can edit this submission.

[2020-06-10 14:14] otizonaizit commented on #20
Great, so @khinsen the paper is hereby accepted! I'll go about publishing it in the next two days. I'll generate a PR against your repo for updating the metadata before publication.

[2020-06-11 08:24] civodul commented on #32
Hello @otizonaizit,

I've merged the commit and pushed `article.pdf`.

I noticed two minor issues: "Received" and "Published" on the first page are just a hyphen, and I didn't have an orcid so I've created one (even though I'm skeptical about the need for a central database entrusted with personal information) and updated `metadata.yaml` accordingly.

Let me know if anything else should be done!

[2020-06-11 08:53] otizonaizit commented on #32
thanks!

Ouch, this not a minor issue, unfortunately. The dates seems fine in the `metadata.yaml` file, and they get correctly compiled into the latex template file when I run the metadata file through the `yaml-to-latex.py` converter, so the dates should be visible in the PDF file eventually. Can you try to debug the issue and see what goes wrong on your machine? Maybe something is still not 100%

[2020-06-11 12:47] civodul commented on #32
I fixed the date issue, added the DOI of the original article and a Software Heritage intrinsic identifier.  It looks good to me now, let me know if anything is amiss!

The date issue was interesting, and of course 100% reproducible in the Guix framework.  :-)  It turns out that `article.py` would attempt to use `dateutil.parser` and otherwise silently fall back to another code path that returns a

[2020-06-11 13:36] otizonaizit commented on #32
Good catch! Could you open an issue (and even a PR if you know how to fix it!) here https://github.com/rescience/template ?

The paper is published! @rougier : could you merge my PR
https://github.com/ReScience/rescience.github.io/pull/81 and update the website? I don't have permission to do it myself, thanks! ;)

[2020-06-11 16:24] khinsen commented on #32
@civodul Thanks for spotting (and fixing) this problem!

@otizonaizit I just pushed a partial fix in http://github.com/rescience/articles, by making `dateutil` compulsory (and adding it to the list of dependencies in the README). With that fix, PDFs compiled by the editors always have the correct dates. We could do the same in https://github.com/rescience/template for author-generated PDFs, but at

[2020-06-11 16:36] khinsen commented on #20
@otizonaizit I have added the SWH ID and re-generated the PDF.

[2020-06-11 16:42] otizonaizit commented on #32
Well, yes, but given we ask them to install PyYAML and `make`, I think `dateutil` is really not that big of an issue, don't you think? I think that the setup for editors and authors should be as equal as possible. Ideally, the authors should be able to create the final PDF, no? Given that they already have to be able to generate the version we use for review, there's not much of a difference in th

[2020-06-11 17:08] otizonaizit commented on #20
Publication is done: https://zenodo.org/record/3889694/files/article.pdf
Now waiting for the update to the website to make it official :-)

[2020-06-11 19:05] sabinomaggi commented on #23
@pdebuyl and @khinsen I have just pushed an updated version of the paper with a possible solution to the Visual Basic problem, described in a new section, Code availability. It is not perfect but is is better than having no Visual Basic code. There are also some minor changes in section 5, Visual Basic code, that are marked in color in the text, and a new Figure in the Supplementary Material showi

[2020-06-11 20:26] pdebuyl commented on #42
ping @vahtras

[2020-06-11 20:28] pdebuyl commented on #36
@kneth even though the review is still ongoing, you may already take into account the first comments of @fhoefling

[2020-06-12 09:43] rougier commented on #37
This paper was a real pleasure to review. It is well written and I had no problem to re-run most of the simulations (some were very long and I did no test them) and got the expected results with some discrepancies.

What is a bit troubling though is that for some figures, I got results very similar to the original article and a bit different from the replication (see figure 4B below: I think my re

[2020-06-12 14:51] civodul commented on #32
In fact, you _do_ control my setup because you have its source code.  :-)

But yeah, I guess that explicitly requiring `dateutil` is the right thing.

[2020-06-12 16:15] fhoefling commented on #36
Actually, I can only continue with the reviewing after the aforementioned
issues have been solved. Currently, the programme does not output data. I
apologise that I have not communicated this more clearly.

[2020-06-12 18:23] pdebuyl commented on #36
thanks @fhoefling for the feedback.
@kneth can you address the current feedback so that we can proceed?

[2020-06-13 07:44] kneth commented on #36
@pdebuyl Yes, I will address it in the couple of days.

@fhoefling Thanks for taking the time to review.

[2020-06-15 05:13] rougier commented on #14
It's online.

[2020-06-15 05:14] rougier commented on #26
It's online

[2020-06-15 05:14] rougier commented on #12
Thanks. Just merged your PR, thanks.

[2020-06-15 05:20] rougier commented on #29
Did you add the bibtex entry on the [website bibfile](https://github.com/ReScience/rescience.github.io/blob/sources/_bibliography/published.bib)?

[2020-06-15 05:26] rougier commented on #20
@otizonaizit Did you add the bibtex to the [website bibfile](https://github.com/ReScience/rescience.github.io/blob/sources/_bibliography/published.bib)?

[2020-06-15 05:33] rougier commented on #23
Thanks for the modification and for point 1, I think what you added in the manuscript could be enough.  By the way, the type of paper is reproduction (not replication) such that the title should start with [Rp].

[2020-06-15 05:38] rougier commented on #21
@ctb @benoit-girard @oliviaguest @khinsen  (kind of urgent) Can any of you edit this submission for the Ten Years Reproducibility Challenge (only 1 reviewer needed). I know it's not in your domain but the https://rescience.github.io/board/ might help.

[2020-06-15 05:39] rougier commented on #18
@kbroman  Sorry for being so late, our editorial procedure needs some automatic reminders @karthik We're very late on this submission. Can you assign a reviewer?

[2020-06-15 05:40] rougier commented on #19
@larbarba If satisiied with the corrections ping me if you need help with the publication process

[2020-06-15 05:41] rougier commented on #25
@ReScience/associate-editors (kind of urgent) Can any of you handle this submission for the Ten Years Reproducibility Challenge (only 1 reviewer needed)?

[2020-06-15 05:42] rougier commented on #27
@ThomasA Gentle reminder (You only need to assign one reviewer at this stage)

[2020-06-15 05:43] rougier commented on #28
Gentle reminder

[2020-06-15 05:46] rougier commented on #34
@rgutzen @junpenglao @rcaze @iampritishpatil Can you review thus submission for the Ten Years Reproducibility Challenge ?

[2020-06-15 05:48] rougier commented on #35
@koustuvsinha @gdetor Can you edit this submission for the Ten Years Reproducibility Challenge (only 1 reviewer needed)?

[2020-06-15 05:49] rougier commented on #38
@apdavison Gentle reminder

[2020-06-15 05:49] rougier commented on #40
@karthik Gentle reminder

[2020-06-15 05:50] karthik commented on #18
Apologies @kbroman and @rougier. I've had a lot of declines in review requests across various journals for a while. Will definitely assign someone this coming week.

[2020-06-15 05:51] rougier commented on #39
@labarba @eroesch Could you edit this submission for the Ten Years Reproducibility Challenge (only 1 reviewer needed)

[2020-06-15 07:01] aleblois commented on #28
Salut,On discute 5 min avant le début du cours?Arthur
    Le lundi 15 juin 2020 à 07:43:17 UTC+2, Nicolas P. Rougier <notifications@github.com> a écrit :

Gentle reminder

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-15 07:49] khinsen commented on #12
Thanks @rougier!

The article has been published (http://doi.org/10.5281/zenodo.3886628) and will soon be listed on the ReScience C Web site.

[2020-06-15 07:50] #12 closed, assigned to khinsen

[2020-06-15 08:57] delsuc commented on #43
@bsciolla or @soolijoo gentle reminder...

[2020-06-15 09:02] soolijoo commented on #43
I'm sorry I don't have the bandwidth or the expertise for this. You'll have to find someone else.

[2020-06-15 09:48] khinsen commented on #21
@rougier I'll try to find a reviewer.

[2020-06-15 09:52] delsuc commented on #43
thanks @soolijoo for the fast answer - @bsciolla ?
One review is enough for a Reproduction paper.

[2020-06-15 10:21] labarba commented on #19
Thanks, @rougier --- after the last small edits, the paper is ready to publish. I'm not up to speed with the mechanics of the acceptance workflow in ReScience. Appreciate if you can take it from here.

[2020-06-15 10:26] labarba commented on #39
I don't have field expertise in computer networks, and I'm also slammed with multiple service roles, so I cannot take one more task.

[2020-06-15 10:31] oliviaguest commented on #25
I can try, yes, but it's far out of my area. Maybe if somebody can suggest reviewers?

[2020-06-15 10:33] oliviaguest commented on #29
No, what is needed to be done? Just copy-paste this one? https://github.com/ReScience/articles/blob/master/10.5281_zenodo.3885793/article.bib

[2020-06-15 10:35] oliviaguest commented on #29
Are the keywords OK? Hmm... See: https://github.com/ReScience/rescience.github.io/commit/2f3b5b6a639f18cb13ed6a967c244b10999e4a20

[2020-06-15 11:00] otizonaizit commented on #20
Yes, but there are open questions about it and we are waiting for your comments: https://github.com/ReScience/rescience.github.io/pull/81

[2020-06-15 11:06] sabinomaggi commented on #23
@rougier Ok, thanks. I wait for the reviewer comments to update the paper.

[2020-06-15 12:06] hhentschke commented on #30
Hi @TomDonoghue, I decided to move forward and work on your comments, irrespective of the issue of completeness. You were quite right with the points you mentioned, and I changed the manuscript in the following ways:
* It is now clearly stated in the main text that only a subset of the experimental data could be retrieved, but that otherwise the reproduction was successful (in 'Expectations and re

[2020-06-15 12:07] rougier commented on #43
Maybe @emmanuelle would be interested in reviewing this paper in image processing.

[2020-06-15 12:10] pdebuyl commented on #43
@MathieuLeocmach ?

[2020-06-15 12:12] rougier commented on #19
Sure. The semi-automated procedure is explained here: https://github.com/ReScience/articles

You'll need to clone this repository and have the `article.pdf` and `'metadata.yaml` at the root directory. The metadata need first to be filled by you or @pantale and the pdf regenerated. Then you'll need to reserve a DOI for the article such that it can be regenerated with proper DOI. Best is to try firs

[2020-06-15 12:13] oliviaguest commented on #30
@TomDonoghue are you currently happy with the changes, etc.? ☺️

[2020-06-15 12:14] rougier commented on #39
@labarba Ok thanks for the quick answer.
@benoit-girard Could you edit this submission ? I know it's not your domain but @alegrand may help in finding reviewers.

[2020-06-15 12:23] rougier commented on #25
Thanks. And in fact, I can probably review it. I've started reading the paper and it is quite fun!

[2020-06-15 12:25] rougier commented on #29
Perfect. And yes, you only need to append it to the website bibfile (I'll regenerate the website)

[2020-06-15 12:28] rougier commented on #20
Sorry, just answered.

[2020-06-15 12:42] MathieuLeocmach commented on #43
Hey, why not. I'm not an expert in the theory of image processing, but indeed I am chewing on exactly that problem right now. Can you point me to explanations of what is expected from a review here?