[2020-06-15 12:47] rougier commented on #43
Here are the instruction for review https://rescience.github.io/edit/. But you can of course adapt them. Since all reviews are public, you read others at https://github.com/ReScience/submissions/issues?q=is%3Aissue to give you an idea.

[2020-06-15 13:42] oliviaguest commented on #25
Fantastic! 💯

[2020-06-15 13:54] oliviaguest commented on #29
Great! Excited to see @sepehrmn's paper on the https://rescience.github.io site. 👏

[2020-06-15 14:09] sepehrmn commented on #29
Excellent! Much appreciated @oliviaguest ! I guess the issue can be closed now!

[2020-06-15 14:13] oliviaguest commented on #29
Let's make sure everything is OK first.

[2020-06-15 15:40] rougier commented on #19
@labarba Thanks for your work (you can unsubscribe from this thread if you don't want to be flooded by comments).
@pantale I'll take over for the actual publication part which is a bit cumbersome. Can you point me to your repository for the source of the paper such that I can make a PR?

[2020-06-15 15:44] pantale commented on #19
@rougier
Sure, I think that everything you want is there:
https://github.com/pantale/ReScience-paper2020
this repository has been updated to the very last version of the paper

[2020-06-15 17:44] gdetor commented on #31
Hi @neuronalX could you review this submission? Thank you.

[2020-06-15 17:46] gdetor commented on #31
Hi @ogrisel Could you review this submission? Thank you.

[2020-06-15 17:55] gdetor commented on #35
Hi @rougier I can handle this submission.

[2020-06-16 01:10] karthik commented on #18
@rougier emailed you a procedural question.

[2020-06-16 07:20] khinsen commented on #21
@arinbasu Can you review this reproducibility report? You may not be able to run the code, which requires proprietary software, but you could still review the article and inspect the code.

[2020-06-16 10:28] benoit-girard commented on #39
OK, let's try that. @alegrand, any reviewer suggestion?

[2020-06-16 19:22] benoit-girard commented on #39
And we have a reviewer: @rgrunbla

[2020-06-16 19:22] benoit-girard commented on #39
Thanks a lot @rgrunbla !

[2020-06-16 23:27] sepehrmn commented on #29
Very well. I still can't see it on https://rescience.github.io/read/ .

[2020-06-17 07:49] pdebuyl commented on #23
@sabinomaggi sorry for the delay. It is very unusual for this type of review that I cannot execute the full reproduction. Thank you for the modifications, I like that the archive is now, in principle, complete!

@rougier I approve the paper modulo the last change that you requested about [Rp] vs [Re].

[2020-06-17 10:37] neuronalX commented on #31
Hi @gdetor
I am not an expert in CNNs and given the number of experiments, the paper would need some expert to review the codes properly.

May be you could ask to @vthierry or Thalita Firmo Drumond.

[2020-06-17 11:56] oliviaguest commented on #29
@rougier now sure what's up? Have you compiled and it's my manual editing of files that's screwy?

[2020-06-17 12:20] oliviaguest commented on #29
@sepehrmn feel free to unsubscribe BTW. We will deal with this as it's a journal issue — congrats again and thank you for being so patient! 🥳

[2020-06-17 12:50] apdavison commented on #38
Hi @MelanieIStefan I'm struggling a bit with this, as I haven't used Copasi before. I've got as far as loading "Figure3.cps" and running a parameter scan, but I can't figure out how to save the results (i.e. to try to recreate Figure3.txt). Please can you help me out with a detailed description of what to click on/select?

[2020-06-17 20:55] delsuc commented on #33
Hi @pdebuyl ,
Thank you for the comments. I reply here to each points
1.  this is a silly error of mine - the correct spelling is of course "a career-long effort"
2. a sentence has been added in the conclusion (and some minor corrections as well)
3. Numerical Recipes (N.R.) has been used in several places
      - in the Fourier transform codes (Cpx and Real FFT and inverse FFT) - however the logic

[2020-06-17 21:41] gdetor commented on #31
Hi @neuronalX Thank you for your response. No worries.

@benureau Could you please review this submission?

[2020-06-17 22:14] sabinomaggi commented on #23
@pdebuyl If you wish I can share with you my DOS/Windows 3.11/Visual Basic virtual machine, maybe after converting it to the Virtual Box format (I am quite sure it is possible). Sharing privately a VM should not be too bad, what I cannot do is to make it available to everyone on a public site.

[2020-06-18 07:55] pdebuyl commented on #23
@sabinomaggi thank you for the proposition. As it will not be ultimately part of the paper, I prefer not to go that route.

[2020-06-18 14:17] benoit-girard commented on #28
I'm on it!

[2020-06-18 15:07] pdebuyl commented on #33
Thank you @delsuc for the reply and updates. This is my first paper with the new editorial scripts for ReScience, I'll get to it.

[2020-06-19 05:58] rougier commented on #25
Here is my review:

The paper is both fun and instructive to read. I like the author's sense of humor.
I think it needs only a few minor modifications that I list here in no particular order:

* Please use `section*` instead of `subsection` for top levels section (* is for removing the section / subsection number)
* Since the source is not very long, you should include the source of the program in

[2020-06-19 05:59] rougier commented on #35
Oh great, thank you

[2020-06-19 08:54] rougier commented on #19
Great. Can you save your repository on software heritage and give me the swid ?

[2020-06-19 09:00] pantale commented on #19
@rougier You talk about saving the software onto software heritage. This has already been done, here:
https://archive.softwareheritage.org/browse/directory/e45b8b7efb002231f4081c429c4ca33664d0812d/?origin_url=https://github.com/pantale/ReDynELA
I thing the swid is this:
swh:1:dir:e45b8b7efb002231f4081c429c4ca33664d0812d;origin=https://github.com/pantale/ReDynELA;visit=swh:1:snp:4e9f3ab0d0b2a1e806c

[2020-06-19 09:39] rougier commented on #19
Just sent you a PR. Make sure everything is correct then I will pre-register a DOI and regenerate the paper.

[2020-06-19 09:49] pantale commented on #19
@rougier
I have merged your modifications. Seems that everything is OK.

[2020-06-19 10:21] rougier commented on #19
It's been published ! Congratulations !

See https://rescience.github.io/read/ and https://zenodo.org/record/3901241.

[2020-06-19 10:22] rougier commented on #19
I made another PR with the final DOI.

[2020-06-19 10:23] rougier commented on #29
@oliviaguest I'm a bit lost now. What do I need to check exactly ?

[2020-06-19 10:29] rougier commented on #23
Based on @pdebuyl last review I think your paper is now officially accepted ! Congratulations.
For the actual publicaiton, I will need to modify your metadata to adde relevant information and I would need a softxware heritage id. Could you make one (very easy procedure, just go to the software heritage page and "save" your github repository.

[2020-06-19 10:41] pantale commented on #19
@rougier
Commit merged.
Thanks a lot for your work on the final version.

Olivier

[2020-06-19 11:38] oliviaguest commented on #29
Ah, it's perfect! Sorry for some reason (maybe cache) I couldn't see it! I think everything is fine with this and we can close the issue.
![20200619_143653](https://user-images.githubusercontent.com/5082092/85128670-6de82880-b23a-11ea-82ca-63894536593d.jpg)

[2020-06-19 11:44] schmidDan commented on #29
@oliviaguest is it supposed to be published within the "Issue 2 (NeurIPS 2019 Reproducibility Challenge)" though?

[2020-06-19 11:54] oliviaguest commented on #29
@schmidDan I am confused! I think I did something wrong again! @rougier? https://github.com/ReScience/ReScience/issues/48#issuecomment-640887146

[2020-06-19 13:03] pdebuyl commented on #42
@berquist would you review the submission "fermions at unitarity" for ReScience ? If this is your first review for ReScience, I will guide you through the process.

[2020-06-19 16:52] MelanieIStefan commented on #38
Hi @apdavison - when you run the parameter scan, a separate window should be created by Copasi where the results are plotted.  In that window, you can select "Save Data" from the menu above the plot.

![Save](https://user-images.githubusercontent.com/7545731/85159497-80239000-b255-11ea-9dea-7b70b3ef0c0a.png)

This should bring up a menu allowing you to save the data as a .txt file. Please let me k

[2020-06-19 17:12] sabinomaggi commented on #23
Many thanks to @pdebuyl and @rougier for taking time to review the paper and provide great feedback.
I have just pushed an updated version of the paper with  the requested [Rp] marker. The LaTeX code has been cleaned up and I have also added the software heritage ID to the metadata (but I am not 100% sure if it is in the right format).

[2020-06-19 18:27] gdetor commented on #35
Hi @mlosch Could you please review this submission?

[2020-06-20 21:37] broukema commented on #41
@pdebuyl @khinsen @oliviaguest @rougier  I updated the paper to take into account the points above. As you can see briefly stated in the paper, I had a go at compiling g77-3.4.6 within gcc-3.4.6, without success. Even if it had succeeded, I'm not sure if it would have been worth it to continue in that direction.

Any chance of this submission being allocated a reviewer? My paper seems to be the on

[2020-06-20 21:53] oliviaguest commented on #41
I'm not sure what's going on @broukema — @khinsen are you taking care of this? If so, I respect your judgment and will let you deal with this if not, please let me know how/if I can help.

[2020-06-21 10:58] khinsen commented on #21
@SergeStinckwich Can you review this reproducibility report in computational epidemiology? Or propose other reviewers?

[2020-06-21 13:29] khinsen commented on #41
@oliviaguest I jumped into this thread because of the `g77` discussion which is related to a problem I had to deal with myself a while ago. I was under the impression that a review was going on already, which apparently isn't the case! Sorry @broukema!

[2020-06-21 13:55] khinsen commented on #41
This is basically a report on a failed reproduction attempt, for technical reasons (C-Fortran interfacing, g77). So... no need to understand anything about astronomy! Which is good news because ReScience is a bit short of astronomers these days.

@pdebuyl Would you be available to edit this contribution? I'd then propose myself as a reviewer, since I have had to deal with similar issues myself in

[2020-06-21 20:50] pdebuyl commented on #41
ok :-)

@khinsen, would you review this article ?

[2020-06-22 03:45] SergeStinckwich commented on #21
I don't know SAS but I can help if needed. I will be free after June 28th to do a review.

[2020-06-22 04:27] khinsen commented on #41
@pdebuyl Now that you ask ... ;-)  With pleasure!

[2020-06-22 07:26] khinsen commented on #21
@SergeStinckwich Next week is fine! As for SAS, it would be sheer luck to find someone with that competence in the Open Source oriented circle of ReScience. There's a good reason we don't accept proprietary software in regular submissions. We made an exception for this challenge, so we have to find a compromise to deal with it.

[2020-06-22 13:14] ThomasA commented on #35
@rougier sorry I was not quite "awake" at the moment. I was quite busy lately and I am afraid a lot of ReScience communication hid in heaps of GitHub threads that just kept piling up - most of it papers that I was not involved in.

[2020-06-22 14:23] benoit-girard commented on #28
Overall, the paper is an interesting contribution to the 10-year reproducibility challenge. I suggest the correction of a number of minor points listed below:

Page 3, you mention that you had to correct a few mistakes in the matlab code to reproduce the analyses and the figures. Could you be more specific, as the paper is precisely about reproduction: what sort of mistakes are you talking about?

[2020-06-23 07:37] otizonaizit commented on #37
@apdavison : could you comment on @rougier 's review? I think we are very near to publishing the paper. It would be nice to hear your comments so that we can move forward with this :-)

[2020-06-23 07:59] apdavison commented on #37
@otizonaizit yes, I haven't forgotten about it ;-) Based on @rougier's comments, I want to make a few tweaks to give more progress information, I'll do that this week.

[2020-06-23 08:56] pdebuyl commented on #33
@ReScience/editors / @ReScience/reviewers are people around here able to access zenodo's sandbox? I can't login since three days and would like to proceed with the publication.

[2020-06-23 10:56] vahtras commented on #42
Is there a howto for reviewers @pdebuyl ?

[2020-06-23 11:34] pdebuyl commented on #42
Hi @vahtras

We have reviewer guidelines here: https://rescience.github.io/edit/

The most specific part of the review, in relation to ReScience, is to actually run the code and verify the claims of reproduction that are stated in the article.

Specifically for the ten-year challenge
- We only require one reviewer.
- The requirement to have a readable and reusable code are relaxed a bit. It would

[2020-06-23 13:37] otizonaizit commented on #33
The zenodo sandbox was not working for me either last week as I published two ReScience papers. I just crossed my fingers and went directly for the real thing…

[2020-06-23 13:58] benoit-girard commented on #8
@cJarvers Sorry for my inattention, and thanks a lot for delivering the review.

[2020-06-23 14:21] pdebuyl commented on #33
Thanks @otizonaizit I'll it the same way :-)

[2020-06-23 15:01] rougier commented on #29
Probably the issue number is wrong. I think it should be 3 and paper number should be #2. You can correct it directly on Zenodo and you'll need to update the published.bib on the rescience website (or I can do it, just tell me).

[2020-06-23 15:44] rougier commented on #23
I've made a PR on your repor and  added publication information (but the DOI). Can you check everything is ok?

[2020-06-23 16:12] sabinomaggi commented on #23
Ok, checked and merged. Should I ask for a DOI on Zenodo?

[2020-06-23 16:23] oliviaguest commented on #29
@rougier looking on Zenodo, maybe I'm confused... but it looks right? I haven't changed anything.

[2020-06-23 17:27] rgrunbla commented on #39
Hi,
Thank you for the paper.

I have a few questions / comments:
- The creation of the ```/root/simutools09/01-onelink``` directory is missing from the instructions (it could probably be put inside the original Dockerfile) in section 3.2, page 13
- Formatting: In section 3.3, page 14, the second shell commands, it would be better to adopt a single norm regarding the copy of files into a directory

[2020-06-24 07:37] pdebuyl commented on #23
@sabinomaggi the editor will take care of the DOI then make another PR with the updated metadata and pdf.

[2020-06-24 10:20] khinsen commented on #41
@pdebuyl @broukema Here comes my review!

I enjoyed reading this paper, which stands out in several respects:

 1. The work to be reproduced was carefully done in 2008 to facilitate reproduction, a rare choice at the time.

 2. The paper does note merely describe a reproduction attempt, but also provides a thoughtful analysis of why it failed. These causes are still with us, and software written i

[2020-06-24 11:33] pdebuyl commented on #33
Thank you @delsuc for the merges. The file is online on zenodo https://zenodo.org/record/3904595#.XvM5xHVfhhE

@rougier I filed a PR to the website for adding the bib entry.

Thanks @khinsen for the review :-)

[2020-06-24 11:33] #33 closed, assigned to pdebuyl

[2020-06-24 12:27] khinsen commented on #41
I forgot a cosmetic detail: according to ReScience C conventions, the article title should be prefixed by "[¬Rp]" (for "failed reproduction attempt").

[2020-06-24 16:02] rgutzen commented on #34
Sorry, I'm afraid I have no experience with R.

[2020-06-24 16:31] ev-br commented on #42
In this specific case, rerunning the full set of calculations might not be very practical, since it's going to require a non-negligible cpu time on a cluster.
Not sure what are implications though.

[2020-06-24 18:41] pdebuyl commented on #42
How many core-hours ? (or core-days / node-days depending on the hardware you have used)?

[2020-06-24 19:32] ev-br commented on #42
The largest runs in the supplement repository are some 120 CPU hours on 24 cores. Multiply it by about 1.5-2 for thermalization.
Smaller system sizes are *much* faster, some 4-10 cpu hours each, if a partial verification is OK.  (rerun small system sizes on the reviewer's machine, rerun the fits with a mix of reviewer's data and my data or somesuch).

[2020-06-25 06:46] cJarvers commented on #8
No problem and you're welcome :smile:

[2020-06-25 11:42] pdebuyl commented on #41
Thank you @khinsen for the review.

@broukema the requests from @khinsen are rather minor. In the case of "1" though, I believe that it requires an update to the paper. In the case of "2", there is more room for interpretation of course.

Let me know about your reply.

[2020-06-25 14:12] aleblois commented on #28
Thank you for your comments. Here are my point-by-point answers, I hope they address the issues you raised.

Page 3, I have corrected and added detail to explain what had to be changed in my previous matlab code. The text I added to the paper is the following: " First, a few functions had changed names or syntax and I had to correct the command line where I called the function to make my scripts c

[2020-06-25 14:22] aleblois commented on #28
Revised version:

PDF URL: https://github.com/aleblois/BGdynamics2006/blob/master/ReScience_Leblois2006_revisedversion.pdf
Metadata URL: https://github.com/aleblois/BGdynamics2006/blob/master/metadata.tex
Code URL: https://github.com/aleblois/BGdynamics2006

[2020-06-25 16:56] MikeSilberbauer commented on #25
[ReScience_C_Silberbauer_2020 (7).pdf](https://github.com/ReScience/submissions/files/4832693/ReScience_C_Silberbauer_2020.7.pdf)

Thank you for your constructive comments. I have tried to deal with them in the updated PDF document. I have not yet edited the metadata, as I am not sure about the Software Heritage link.

[2020-06-26 07:31] pdebuyl commented on #42
Well, this seems indeed costly. @vahtras do you have the resources for the small systems verification? (4-10 cpu hours each) ? I could execute that if necessary.

[2020-06-27 22:05] broukema commented on #41
Dear Pierre, Konrad,

Thanks for your comments. I have revised the article in response
to the three comments.

1. Git repository bans: I've updated the comment on git repositories
being blocked with some wording changes and more references, adding
direct evidence of the blocks. I've included direct statements by
Github, Atlassian and Gitlab personnel about blocking access based on
geographical loc

[2020-06-28 14:34] broukema commented on #41
Vicky Steeves - Project Lead on IASGE - says that the block is still in place:
https://octodon.social/@vickysteeves/104421428720311912

[2020-06-28 15:57] luksurious opened #44 "[Re] Faster Teaching via POMDP Planning (partial replication)"
**Original article:** Faster Teaching via POMDP Planning by Rafferty et. al (2016) , https://www.onlinelibrary.wiley.com/doi/full/10.1111/cogs.12290

**PDF URL:** https://github.com/luksurious/faster-teaching/blob/master/replication-paper.pdf
**Metadata URL:** https://github.com/luksurious/faster-teaching/blob/master/metadata.yaml
**Code URL:** https://github.com/luksurious/faster-teaching

**Scie

[2020-06-29 01:55] SergeStinckwich commented on #21
@khinsen my deadline has been postpone for one week, so I will try to do it this week.

[2020-06-29 05:49] khinsen commented on #21
@SergeStinckwich That would be great, thanks!

[2020-06-29 11:47] khinsen commented on #41
@broukema Thanks for the update. I appreciate in particular the added reference on point 1, and then again in particular the work by IASGE, who I had never heard of before.

However, after reading all those references, my impression remains that "Anyone anywhere in the world has read access to public GitHub repositories, unless that access is blocked at some other level." All the reports about blo

[2020-06-29 14:23] benoit-girard commented on #24
The author documents the reproduction of data analyses using C++ code developed in the 90s.

A few point need to be clarified:

* Could the author add a reference section to his manuscript, and provide there the exact reference to the paper that is reproduced. Otherwise, consulting only the pdf of the paper, one cannot identify the original paper with certainty.

* It seems that Fig. 1 is reproduc

[2020-06-29 14:41] rougier commented on #29
Ok, it's only wrong in the bibtex for the website then. I'll correct it.

[2020-06-29 15:03] rougier commented on #23
I've just added the DOI and made a PR on your repo. It's alo published on the ReScienc website with DOI: 10.5281/zenodo.3922195.

You're also on the frontpage ! You can tweet about the publication and cc @ReScienceEds such that we can retweet.

Congratulations again !

[2020-06-29 15:04] brembs commented on #24
Excellent, comments, thanks! Am teaching a course right now, but will get to it starting two weeks from now!

[2020-06-29 15:07] rougier commented on #34
@rguten Thanks for your answer. @junpenglao @rcaze @iampritishpatil @benoit-girard @rossant ca you reviwe this (short) paper?

[2020-06-29 15:09] rougier commented on #25
For the software heritage link, it's mostly a matter of visiting https://archive.softwareheritage.org/save/ and you have to enter the address of your github repository and you're done. You should then obtain your swid

[2020-06-29 15:19] oliviaguest commented on #29
Oh! Thank you, @rougier. 🌷

[2020-06-29 15:23] rougier commented on #29
Done !

[2020-06-29 15:29] rougier commented on #44
Thanks for your submission. We'll assign an editor soon !

[2020-06-29 15:29] iampritishpatil commented on #34
Sorry I missed the tag last time. I don't think I'd manage well as I haven't used R in several years, and seems there are a non trivial amount of code and dependencies in R. I'm sorry.

[2020-06-29 15:30] rougier commented on #44
@gdetor @koustuvsinha Can you edit this (regular) submission (Faster Teaching via POMDP Planning)?

[2020-06-29 15:31] rougier commented on #34
@iampritishpatil No problem, thank for the answer.

[2020-06-29 15:52] oliviaguest commented on #29
Rejoice! Thanks! 🥳

[2020-06-29 15:52] #29 closed, assigned to oliviaguest

[2020-06-29 15:58] sabinomaggi commented on #23
PR merged and tweeted about the publication. Thanks!

[2020-06-29 19:29] gdetor commented on #35
@mlosch Gently reminder.

[2020-06-29 19:30] gdetor commented on #31
@benureau Gentle reminder

[2020-06-29 19:32] gdetor commented on #31
@ogrisel Gentle reminder

[2020-06-29 19:53] pdebuyl commented on #41
@khinsen even though we cannot (from France or Belgium) verify the details of the bans themselves, the restriction of developer accounts are referenced in the article. For simpler read-access, the terms of services mention limitation on exports and the principle stands.

Do you accept the article modulo the correction for Ref. 10?

[2020-06-29 23:29] broukema commented on #41
@khinsen It's clear that Github claims that the public repositories remain unblocked; I haven't seen a similar nuance claimed by Atlassian (Bitbucket); and I didn't find sources for the details of the Gitlab ban. Vicky Steeves added some more comments on Slack and Gitlab on the [Fediverse](https://en.wikipedia.org/wiki/Fediverse) thread: https://octodon.social/@vickysteeves/104421428720311912 (You

[2020-06-30 02:48] gdetor commented on #24
@benoit-girard Thank you for the review.
@brembs Ok, thank you for the update.

[2020-06-30 06:49] khinsen commented on #41
@pdebuyl First things first: I am happy with the current state of the paper!

@broukema Thanks for the updates. I certainly agree that this question is outside of the scope of this paper. My intention was not to see it treated it more exhaustively, but to make sure that readers don't get a wrong impression.

[2020-06-30 11:24] rcaze commented on #34
Sorry for not answering earlier, I just started to re-enabled notification on github. I'm afraid my knowledge of R is also insufficient.

[2020-06-30 14:00] broukema commented on #41
@khinsen _"My intention was ... to make sure that readers don't get a wrong impression."_ Sure - I appreciate having an alert reviewer - I don't like having my name attached to statements that could be misleading.

What's interesting at the meta-level is that this public, git-repository-issue based refereeing procedure allows the subtlety of Wikipedia-style improvement in the quality of the produc

[2020-06-30 14:03] benoit-girard commented on #34
I haven't used R in the last 17 years, I fear I won't be able to examine the code...

[2020-06-30 14:59] benoit-girard commented on #8
@theoboraud is everything processing smoothly?

[2020-06-30 15:06] benoit-girard commented on #28
I am fully satisfied with the revised version of the paper, I recommend publication.

[2020-06-30 15:07] benoit-girard commented on #28
@rougier will you take care of the publication process? If not, is it still the same old long process, or has it changed somehow?

[2020-06-30 17:30] gdetor commented on #31
@benureau Gentle reminder

[2020-06-30 17:30] gdetor commented on #35
@mlosch Gentle reminder

[2020-06-30 17:48] benureau commented on #31
@gdetor: Sorry, I missed the previous messages. I will look at the submission in the next 24 hours and tell you if I feel qualified to review it.

[2020-06-30 17:48] pdebuyl commented on #41
Thank you @khinsen and @broukema

I will proceed with publication in the coming days. @broukema at some point I will file a pull request (or send a patch by email) to update the manuscript with the metadata (DOI and dates).

I opened an issue to track the question of archival of github metadata https://github.com/ReScience/ReScience/issues/90

[2020-06-30 17:52] gdetor commented on #31
@benureau No worries, thank you for the update

[2020-06-30 20:30] rougier commented on #34
@thmosqueiro @ChrisRackauckas Could you review this submission (https://github.com/ReScience/submissions/issues/34) ?

[2020-06-30 20:33] rougier commented on #28
There's a new publication process that is less painful but not yet fully automatic. Good news is that you can first test if on the Zenodo sandbox server and if everything works ok, you can do the actual publication. Else, I can do it, just tell me.

[2020-06-30 20:34] rougier commented on #28
Forgot the link: https://github.com/ReScience/articles

[2020-07-01 03:30] ChrisRackauckas commented on #34
I am afraid I do not have the bandwidth right now to properly handle this! Sorry!

[2020-07-01 08:40] benureau commented on #31
@gdetor: I will review this submission in the next 30 days.

[2020-07-01 17:47] gdetor commented on #31
@benureau Thank you

[2020-07-02 05:08] gdetor commented on #31
@damiendr Could you please review this submission?

[2020-07-02 08:32] rougier commented on #34
@ChrisRackauckas @benoit-girard Thanks for the answer.
@eroesch stephanmg degoldschmidt Could you review this article (R + Computational Neuroscience) ?

[2020-07-02 14:17] alegrand commented on #39
Hi Remy,

 sorry for the late reply. Huge thanks for being more responsive than me. I've been quite busy over the last days so I haven't been able to peacefully look at what may be wrong. I should finally be able to do this in the following days. Thanks for your patience.

Best,

  Arnaud

[2020-07-02 17:53] karthik commented on #40
_Waiting on a couple of responses this week_

[2020-07-02 20:49] karthik commented on #18
:wave: Hi @pcarbo Would you be able/willing to review this submission for us? 🙏

[2020-07-02 20:50] karthik commented on #18
👋 Hello @kasperdanielhansen
I also wanted to see if you might be able to review this submission for us? 🙏

[2020-07-03 11:30] wdkrnls commented on #32
I ran into an issue when I tried to build with:

`guix time-machine -C channels.scm -- build -f guix.scm`

Here is the snippet from the log:

 https://paste.debian.net/1154968/

There were also many references to `ldconfig: command not found` in log text.

Maybe this was just an unreliable download? I was able to run `guix build -f article/guix.scm` without problems.

[2020-07-03 13:53] civodul commented on #32
wdkrnls <notifications@github.com> skribis:

Could you show the exact command you used?  (You need to make sure to
use the provided ‘channels.scm’ file via ‘guix time-machine’.)

Is this on x86_64?

Thanks for trying it out!

[2020-07-03 16:54] wdkrnls commented on #32
Sorry for not being so precise. Since I was following the readme, this was actually the output of:

    guix time-machine -C channels.scm -- build -f guix.scm

Yes, this was on x86_64.

[2020-07-03 17:44] pcarbo commented on #18
@karthik Are there instructions for the reviewers? If so, could you please point me to them?

[2020-07-03 19:18] karthik commented on #18
@pcarbo Thank you! Review instructions are here: https://rescience.github.io/edit/
Feel free to ask any questions here. Once again thank you.

[2020-07-06 08:33] rougier commented on #15
@pboesu @TrashBirdEcology Gentle reminder.

[2020-07-06 08:34] rougier commented on #27
@ThomasA Gentle reminder

[2020-07-06 08:35] rougier commented on #44
@koustuvsinha Can you edit this (regular) submission (Faster Teaching via POMDP Planning)?

[2020-07-06 12:03] apdavison commented on #38
This is a well-written article, which serves as an excellent example of why reproducibility of modelling studies requires not only the model specification but also the simulation configuration and data analysis scripts to be stored.

I was able to re-run the simulations, and reproduce the data files in the repository.

### Major issues:
- the curves in the manuscript differ substantially from thos

[2020-07-06 15:51] MelanieIStefan commented on #38
Thank you for your thoughtful comments!

[2020-07-06 17:39] karthik commented on #18
@pcarbo Once you've taken a look at the instructions please let me know once your review is underway.

[2020-07-06 18:33] pcarbo commented on #18
@karthik I just want to be clear what you are looking for. Are these the instructions from [here](https://rescience.github.io/edit) that are relevant to me?

[code]

[2020-07-06 18:38] karthik commented on #18
@pcarbo Some might not be relevant to this challenge as Karl is replicating his own work a decade later. So you can ignore these. Your goal is to run the code and see if Karl's reproducibility report (the PDF) matches your experience. You are still welcome to contact (tag) the author with questions and clarifications.

Here is an example review: https://github.com/ReScience/submissions/issues/32#i

[2020-07-07 07:21] MikeSilberbauer commented on #25
**Original article**:
Silberbauer, M.J. and King, J.M., 1991. Geographical Trends in the Water Chemistry of Wetlands in the South-Western Cape Province, South Africa. Southern African Journal of Aquatic Sciences, 17 (1/2), 82–88.
**PDF URL**:
Silberbauer-2020.pdf
**Metadata URL**:
http://www.riv.co.za/wv/data/Silberbauer-2020.yaml
**Code URL**:
https://github.com/MikeSilberbauer/maucha-ionic-diagr

[2020-07-08 17:47] rougier commented on #25
@MikeSilberbauer Not sure about the meaning of your post actually.

[2020-07-08 20:35] broukema commented on #41
@pdebuyl Thanks. Either a pull request or a patch by email would be fine.

[2020-07-09 09:33] ThomasA commented on #27
Sorry, sorry. These GitHub notifications have been flooding my inbox all spring and I have not been diligent enough about sifting through them for mentions of me :see_no_evil:
I will get right on it.

[2020-07-09 09:42] ThomasA commented on #27
@markuspf, @dimpase, or @BrunoLevy can one of you review this submission?

[2020-07-09 09:59] dimpase commented on #27
I am on it.

[2020-07-09 10:01] dimpase commented on #27
Can I point this out to a colleague, too? I understand that all this happens in the open, right?

[2020-07-09 10:17] ThomasA commented on #27
Thanks a lot. It is OK to let your colleague in on it as well. The review process is open.

[2020-07-09 15:54] MikeSilberbauer commented on #25
Sorry, I gave too much information - I wanted to inform you that the Metadata file at http://www.riv.co.za/wv/data/Silberbauer-2020.yaml now contains the Software Heritage ID for the Pascal program.
The file at https://github.com/ReScience/submissions/files/4832693/ReScience_C_Silberbauer_2020.7.pdf contains the edits that I made in response to your review.
I am not sure what the next step in the

[2020-07-09 17:21] karthik commented on #40
@bpbond Hi Ben. I'm having trouble finding reviewers. Are you able to suggest anyone independent who might be able to evaluate your work?

[2020-07-09 18:16] bpbond commented on #40
Hi @karthik . Thanks for taking this on. Some suggestions:
* Xiao Feng, fengxiao@e-mail.arizona.edu
* [Martin De Kauwe](http://mdekauwe.github.io/), mdekauwe@gmail.com
* Michael White, m.white@us.nature.com
* Jackie Mathes,  jmatthes@wellesley.edu
* David LeBauer, dlebauer@email.arizona.edu
* Jennifer Holm, jaholm@lbl.gov

[2020-07-11 11:05] dimpase commented on #27
It seems that --- otherwise very nicely written --- article lacks clear instructions on how to reproduce the computations (short of installing `guix` - is this what the author kept in mind?)

It explains in great length how the author went about reproducing the computations himself, but shouldn't the referee (or any reader, in fact) be able to reproduce the reproduced easily?

[2020-07-11 13:28] rougier commented on #25
Now I get it! I'm satistified with the correction and figure 5 is just fantastic ! @oliviaguest I'm satisfied with the correction and  recommend acceptation.

Minor typo at the top abot the title, it should read "Reproduction in Zoology" (Zoology?)

[2020-07-11 19:34] rougier commented on #44
@koustuvsinha  Gentle reminder

[2020-07-12 17:56] khinsen commented on #27
@dimpase You raise an interesting question that we didn't really discuss in the guidelines for the challenge. In principle, you are right: the idea is that everything published in ReScience C should be "easily" reproducible by anyone. But what does "easily" mean in practice? All software has dependencies, and those are rarely available out of the box on all modern computing platforms. So reproduci

[2020-07-13 15:31] MikeSilberbauer commented on #25
[ReScience_C_Silberbauer_2020 (9).pdf](https://github.com/ReScience/submissions/files/4913362/ReScience_C_Silberbauer_2020.9.pdf)

Thank you!

I have fixed a problem with the last pages in the Appendix, which had lost subsubheading floating around.

I am probably being a bit dim, but I have not been able to work out what part of the submission you are referring to regarding the "minor typo at the

[2020-07-14 08:22] pdebuyl commented on #41
Hi @broukema

Sorry for the delay to publication, your paper is not published :-)

Thanks @khinsen for the review.

[2020-07-14 09:35] pdebuyl commented on #41
"not published" -> "now published", sorry

[2020-07-14 09:37] pdebuyl commented on #41
Link https://doi.org/10.5281/zenodo.3943750

The paper will appear on the webpage of ReScience after merge of the bibliography request and update of the website.

[2020-07-14 10:55] broukema commented on #41
hi @pdebuyl I missed the 5-days-ago pull request, sorry. I merged your pull requests and a proofread commit. Since ReScience C presumably does not have professional (paid) proofreaders (organisationally/legally difficult, given the ReScience C zero budget [Rougier, Hinsen et al 2017](https://oadoi.org/10.7717/peerj-cs.142); [Rougier & Hansen 2019](https://hal.inria.fr/hal-02199854)), I hope that t

[2020-07-15 01:12] pcarbo commented on #18
@karthik @kbroman Leah Wang (@lwa19) and I enjoyed going through Karl’s [report][article] and [code][repo], and reading about his experiences trying to reproduce the results of a paper written (well over!) 10 years ago. As you may know, we (together with @jdblischak and @stephens999) have been developing the [workflowr R package][workflowr-pkg] (see also [the workflowr paper][workflowr-paper]) to

[2020-07-15 11:30] pdebuyl commented on #41
Hi @broukema the paper is published already. Regarding the doi's , I thought that it was intentional from you to prefer links to ADS or to arXiv instead of the doi.

We had a case of "typo-fixing" paper correction recently, I'll look into that.

ReScience has no financial resources but I have not found proofreading and typesetting to be more convincing in traditional journals.

[2020-07-15 11:33] pdebuyl commented on #41
PS: regarding update of the paper I'll wait to see how it turns out, as there is an issue with pre-reservation of DOIS (see https://github.com/ReScience/ReScience/issues/91 )

[2020-07-15 15:13] broukema commented on #41
hi @pdebuyl

Live URLs in references:

* Yes, it is my preference to keep links to ArXiv, both clickable and (at least) readable as plain text - I have summarised the ethical and practical arguments here: https://cosmo.torun.pl/blog/arXiv_refs.

* My paper currently doesn't have any links to the ADS, it seems to me, though I don't object to them. (Astro journals usually link part of the reference

[2020-07-15 15:44] pdebuyl commented on #41
Thank you for the feedback. Regarding ADS, I was confused because the bibfile has the ADS informational entries from ADS.

Concerning the correction, the only issue is to make the upload on zenodo in a way that the doi of both version are linked through zenodo's joined doi feature, in combination with the fact that we need to reserve the doi to include it in the paper.

[2020-07-15 16:28] ghost commented on #27
Hello, I am new to this open referee process, so I am not sure if it is appropriate for the author to react immediately. If it is, here are some explanations:

Indeed I am also showing how to redo the computations with Guix (section 2.3), but I agree with Dima that this may not help the reader install the software (if they have Guix, yes, otherwise, no). Also it is cheating, since I added the need

[2020-07-15 17:49] karthik commented on #40
@jhmatthes will review. 🙏

[2020-07-15 18:39] khinsen commented on #41
Jumping in: I got an answer from Zenodo and will try the procedure tomorrow with our first paper update. Then I will report back here.

[2020-07-15 22:02] kbroman commented on #18
@pcarbo and @lwa19, thanks so much for your detailed comments, and for your efforts to reproduce my reproduction! I really appreciate the feedback.

I can see that my reproduction was complicated and cringe-inducing in places. I had in mind leaving the original scripts and data files in their place exactly as they were and using a single R Markdown document to modify and re-run things; that was pr

[2020-07-15 22:21] karthik commented on #18
Thanks so much @lwa19 and @pcarbo! Very grateful for your review.

@kbroman I opened a PR with some small fixes to your README.

[2020-07-15 22:33] karthik commented on #18
Noting the original request here (for my own reference) https://github.com/ReScience/ten-years/issues/1#issuecomment-546353681

[2020-07-16 07:56] khinsen commented on #41
@pdebuyl See here: https://github.com/ReScience/ReScience/issues/91#issuecomment-659228614

[2020-07-16 09:26] rougier commented on #25
I meant the text just above the title that is generated automatically from the metadata. The type of work is "Reproduction" and for the domain you indicated "Aquatic Science" such that the heading should red "Reproduction in Aquatic Science"

[2020-07-16 12:14] ThomasA commented on #27
Interesting aspects are being discussed here. I would say: as long as it reproduces the original experiment, anything goes. The purpose is to show what it took to get there.
Now I will go through the paper as well to see how the process is described. I have not had time to do that until now.
@andreas-enge I think it is fine for you as author to weigh in here with your clarfications on how things w

[2020-07-16 13:20] dimpase commented on #27
I'd still be curious on what happens if the up-to-date components are used in a reproduction attempt.

[2020-07-16 13:26] ThomasA commented on #27
@dimpase do you mean what the computational performance is of the first attempt, described in Section 2.1?

[2020-07-16 14:16] dimpase commented on #27
I mean an extra effort going into getting old versions of everything, e.g. `lrslib` - why would I try that if its up to date version is already installed on my system?

[2020-07-16 17:02] pdebuyl commented on #41
Thank you @khinsen I'll proceed in the same way. @broukema this time I'll ask you for a proofread before finalizing the submission.

[2020-07-16 19:43] karthik commented on #18
@pcarbo and @lwa19 Can you please share your ORCID for the paper metadata? Once I have it I'll send another pull request to Karl's repository.

[2020-07-16 19:46] karthik commented on #18
ok I found Peter's. 0000-0003-1144-6780
Leah: Can you confirm yours? Is it this record?  https://orcid.org/0000-0003-3085-2581

[2020-07-16 19:57] pcarbo commented on #18
Yes, that is my orcid.

[2020-07-16 19:57] pcarbo commented on #18
I've asked Leah to create one.

[2020-07-16 20:04] pcarbo commented on #18
@karthik This is Leah's: https://orcid.org/0000-0001-5905-8061.

[2020-07-17 08:48] brembs commented on #24
I have started going over the manuscript and addressed most of the issues. WRT the other figures in the original paper:

- there are three additional figures (2 panels and one full figure) that I could immediately reproduce with the identical workflow as the one I used for figure 2 (I chose this figure because of the scientific content, which is important for my research and I still use this figur

[2020-07-17 13:21] IainDaviesMaths opened #45 "[Re] The principal components of natural images"
**Original article:** The Principal Components of Natural Images by Hancock et al (1991),
http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=044DFF560FC2E801B579C2F23D268B44?doi=10.1.1.41.192&rep=rep1&type=pdf*

**PDF URL:** https://github.com/IainDaviesMaths/Hancock-Rescience-Paper/blob/master/article.pdf
**Metadata URL:** https://github.com/IainDaviesMaths/Hancock-Rescience-Paper/blob/mast

[2020-07-17 15:55] cJarvers commented on #45
Oh, this looks interesting. @(whoever becomes editor for this), I'd be happy to review.

[2020-07-20 17:10] MikeSilberbauer commented on #25
[ReScience_C_Silberbauer_2020 (10).pdf](https://github.com/ReScience/submissions/files/4949069/ReScience_C_Silberbauer_2020.10.pdf)
OK, thank you for the explanation, now I understand. I had not entered all the required information into metadata.tex before compiling in Overleaf.

[2020-07-21 16:19] broukema commented on #41
@pdebuyl

Please let me know if there are any more changes (commits) you need beyond commit d4cc1fc:

* broukema/RBG08_rep@d4cc1fc
* https://codeberg.org/boud/RBG08/commit/d4cc1fc97ab4e38e4b798fc2b0e4ed8c0e60a478

[2020-07-21 17:09] gdetor commented on #24
@brembs Thank you for the update.
@benoit-girard Could you please comment on the author's response?
@rougier Is there any problem with the timeline proposed by the author?

[2020-07-22 09:22] pdebuyl commented on #41
Hi @broukema I merged your update. I attach the pdf to this message so that you can check it before it goes to zenodo. The pdf already has the new reserved DOI.
[Roukema_ReSciC2020.pdf](https://github.com/ReScience/submissions/files/4959095/Roukema_ReSciC2020.pdf)

[2020-07-22 10:15] brembs commented on #24
Just to be clear: I have explained the issues with the other figures in the text and the text is ready. I only need some more time if I really should attempt reproducing the other figures. Without the additional figures, I can resubmit any time.

[2020-07-22 19:36] broukema commented on #41
@pdebuyl Please go ahead and publish!

[2020-07-22 21:27] pdebuyl commented on #41
The update is live at https://doi.org/10.5281/zenodo.3956058

PR pending at your repo, ReScience/articles and soon the website (which is waiting for more PRs).

[2020-07-22 21:40] broukema commented on #41
https://doi.org/10.5281/zenodo.3956058 <s>is</s> was not yet live - I assume there's some delay between a DOI provider issuing a DOI and DOI resolvers knowing/agreeing that the identifier is valid. The Zenodo link *is* live: https://zenodo.org/record/3956058 .

I merged the pull request - thanks. :)

[2020-07-23 05:55] rougier commented on #35
@gdetor If@mlosch is not available, I can review.

[2020-07-23 06:02] rougier commented on #45
Thanks for your submission, we'll assign an editor soon (hopefully, because of summer vacation it  may take some time). and@cJarvers volunteered to review.

[2020-07-23 06:03] rougier commented on #45
@ThomasA Can you edit this submission ? @cJavers already proposed to review.

[2020-07-23 06:08] rougier commented on #25
@oliviaguest I think we're good for publication!

[2020-07-23 09:39] oliviaguest commented on #25
Fantastic!

[2020-07-23 09:44] oliviaguest commented on #25
@rougier naive question I should know the answer to but are references like [1] meant to be clickable and then scroll to 1 in the reference list in the PDF?

[2020-07-23 11:55] MikeSilberbauer commented on #25
The references probably are meant to work like that, but I couldn't find out how to get the bibliography to work automatically in the Overleaf editor, so I must confess that I hard-coded it. I can try to figure it out or manually insert cross-references if necessary.

[2020-07-23 13:45] oliviaguest commented on #25
@rougier do you know how to address this? I think maybe giving a clear way to do it for overleaf might be a bit too much but surely a way to do it step-by-step is somewhere already, right? In the README? Have you tried that @MikeSilberbauer?

[2020-07-23 15:10] gdetor commented on #35
@rougier  thank you.

[2020-07-23 16:44] MikeSilberbauer commented on #25
I will read the Overleaf instructions again and try to find out what I am missing.

[2020-07-23 22:19] broukema commented on #41
Submitted to ArXiv with https://arxiv.org/list/cs.DL/recent as a primary classification and https://arXiv.org/list/astro-ph.CO/recent as a secondary classification. This should appear on ArXiv on Monday 27 July 2020 if the moderator(s) approve it.

[2020-07-24 07:10] MikeSilberbauer commented on #25
It was as simple as putting this in the right place:
\addbibresource{bibliography.bib}

[ReScience_C_Silberbauer_2020 (11).pdf](https://github.com/ReScience/submissions/files/4970558/ReScience_C_Silberbauer_2020.11.pdf)

[2020-07-24 20:26] karthik commented on #18
@kbroman Im just waiting to correctly deposit the metadata into Zenodo before I close this out. Stay tuned.

[2020-07-24 20:37] pdebuyl commented on #41
I'll close the issue when you update us about the arxiv version, it is interesting to know how it goes through.

[2020-07-24 20:45] broukema commented on #41
Well, a paper that I hope should satisfy modern standards of reproducibility *did* just get through ArXiv:

* https://arXiv.org/abs/2007.11779
* https://zenodo.org/record/3951152
* https://archive.softwareheritage.org/swh:1:dir:fcc9d6b111e319e51af88502fe6b233dc78d5166

What the reviewer(s) think remains to be seen, though. The national government health agencies that apparently found a cure agains

[2020-07-27 10:41] oliviaguest commented on #25
@MikeSilberbauer in order to run:

[code]

I need your metadata and the ability to compile the PDF — can you link me to the repo for your article, please? Alternatively, you can do all the steps yourself if you prefer and just involve me at the very end, I think? Is that right, @rougier? See: https://github.com/ReScience/articles/blob/master/README.md

[2020-07-27 12:51] MikeSilberbauer commented on #25
@oliviaguest
All the files for compiling the PDF are on Overleaf at this link:
https://www.overleaf.com/5771591391kxmhgdrygdzw
I hope that helps?

[2020-07-27 14:51] oliviaguest commented on #25
Fab — thank you. I might push some minor changes and recompile, if that's OK. ☺️

[2020-07-27 14:57] MikeSilberbauer commented on #25
Yes, please do: I am very much a beginner with LaTeX and Github.

[2020-07-27 15:20] oliviaguest commented on #25
Yeah, don't worry I'm struggling just as much with the new way of doing things! 🤣

[2020-07-27 15:26] oliviaguest commented on #25
@rougier I am trying to compile the PDF, but get:

[code]

What am I doing wrong?

[2020-07-27 16:13] broukema commented on #41
The [ArXiv moderators](https://arxiv.org/moderators) have put this paper (ReScience C 6 (2020) #41) on hold: https://arxiv.org/help/submit_status#on_hold . See the link for the possible reasons. The decision could take a few days. If there's a rejection, then I'll propose a draft email for the appeal here, because this most likely concerns the reputation of ReScience C as a scientific research jou

[2020-07-28 08:36] rougier commented on #24
@benoit-girard @brembs Yes, it is kind f mandatory to use the rescience template but this can be done only once accepted.
@gdetor For the timeline, there's no problem but if @benoit-girard is ok with the not having the supplementary figures, I think we're good to go if @brembs also agree.

[2020-07-28 08:41] brembs commented on #24
I'll do whatever the reviewers say :-)
WRT to the template: what's a good pipeline from GDocs? [Here is the manuscript](https://docs.google.com/document/d/1SujpQDUmLWxGzogTP6dXalOe9EPbny2cXnsGZAf7YLY/edit?usp=sharing).

[2020-07-28 08:41] rougier commented on #25
`chmod 755 yaml-to-latex.py` maybe?

[2020-07-28 09:16] oliviaguest commented on #25
Oh, ha! Thanks, @rougier. What do we put for the 2nd reviewer? Leave it blank, right?

[2020-07-28 09:17] rougier commented on #25
Yes. If blank, it should not appear in the PDF.

[2020-07-28 09:36] oliviaguest commented on #25
Is this OK, @rougier?
![3923a589-3695-436e-8d83-a4bf7f379cf3](https://user-images.githubusercontent.com/5082092/88647672-e90cec00-d0ce-11ea-91e4-97f2e75aed04.png)

[2020-07-28 09:37] oliviaguest commented on #25
Also hmm... the references are not looking correct either, right? 🤔

[2020-07-29 11:15] pdebuyl commented on #41
Thank you for the update. I would be curious to know the reason and, as you write, it is important for ReScience to be valued by the wider scientific community.

[2020-07-29 12:54] broukema commented on #41
@pdebuyl Thanks for updating the tags! :)

We'll only get a reason if the article is rejected - so I'm hoping that we _don't_ get a specific reason for the delay... :)  For the moment the article is still _on hold_ .

[2020-07-30 16:46] aaronshifman commented on #13
Sorry for the delay @khinsen and @baioc the revisions slipped by me.

I'll try to get a review back early next week. Just a cursory look would suggest @baioc has done a good first pass at refactoring the codebase. I do not understand your comment about preserving the Langevin Equations. If done properly the choice of integration method will not change the "meaning" of the differential equation. Us

[2020-07-30 20:10] pdebuyl commented on #42
Hi all,

I see only now that the review process is frozen here. @vahtras what do you think of the computational requirements?

[2020-07-31 18:44] gdetor commented on #24
Hi @brembs What do you mean by "good pipeline"? You mean how to convert GDoc to ReScience latex format?

[2020-07-31 19:51] brembs commented on #24
Yes, that's what I meant, sorry. I'm writing nearly all my papers on GDocs these days as it is so very convenient, (especially in combination with PaperPile for referencing). It would be nice if there were a few simple steps to convert it from that format into whatever it is you need.

[2020-07-31 21:19] gdetor commented on #24
@brembs You could use AbiWord and convert the GDoc to a .tex file. Then you can add the ReScience template packages at the preamble. Once you run a make (following the instructions on how to compile the article) the final pdf should be ready.

[2020-07-31 21:26] brembs commented on #24
I'll try that,when it is time, thanks!

[2020-08-03 07:17] rougier commented on #35
I've started and I will try to make my review for this Friday.

[2020-08-03 07:22] rougier commented on #25
References are wrong yes. And why do I get a n°2. Is my name listed as first or second reviewer in the metadata ?

[2020-08-03 07:59] MikeSilberbauer commented on #25
If I understood what I was doing, the files that I edited in Overleaf have just been updated in https://github.com/MikeSilberbauer/Silberbauer-2020, in case that helps.

[2020-08-03 09:10] oliviaguest commented on #25
@rougier @MikeSilberbauer Thank you both for the feedback/comments. Lemme try again...!

[2020-08-03 09:27] oliviaguest commented on #25
@MikeSilberbauer can you make the repo you linked to public, please? The link 404s, so I assume it's private?

[2020-08-03 10:11] MikeSilberbauer commented on #25
@oliviaguest - it should be accessible to you now, if I have read the manual correctly...

[2020-08-03 10:17] apdavison commented on #37
Many thanks @rougier for your kind comments.

I've fixed the typo, added information about dependencies and the expected simulation times to the README, and the scripts now print the location of the outputs.

The differences in the figures are certainly due to the random number generator initialisation. For individual granule cell responses (Fig 2B using the numbering from the original manuscript,

[2020-08-03 10:41] oliviaguest commented on #25
@MikeSilberbauer can you add @rougier too, please? I have pushed these two files and I want to make sure they look right as the reviewer issue is not resolved @rougier. Do these files look right?

https://github.com/MikeSilberbauer/Silberbauer-2020/blob/master/article.pdf

https://github.com/MikeSilberbauer/Silberbauer-2020/blob/master/metadata.yaml

[2020-08-03 10:45] MikeSilberbauer commented on #25
OK, @rougier is added

[2020-08-03 10:53] oliviaguest commented on #25
@MikeSilberbauer please don't feel this is your fault BTW — I suck at this! 🤣

[2020-08-03 11:06] broukema commented on #41
@rougier I didn't have any problems literally submitting this paper to ArXiv, it's rather a problem of having the paper accepted. The paper has been put [on hold](https://arxiv.org/help/submit_status#on_hold) . The reasons could _"[range] from questions about proper classification, pending moderator approval, presentation issues, copyrighted PDF, etc., to editorial concerns."_  An oversize submiss

[2020-08-03 11:29] MikeSilberbauer commented on #25
Not at all - I appreciate all the assistance. I used to wonder what Github was all about, so having to jump in at the deep end is one way of learning.

[2020-08-04 06:11] c-torre commented on #10
Dear all,
Please find an updated version of the code as in the original issue. The PDF link in the original issue link will take you to our previous manuscript submission if needed for comparison. The new PDF can be found at: https://github.com/c-torre/replication-recanatesi-2015/blob/full-replication/re-neural-network-model-memory-retrieval.pdf

We are thankful for the reviewer's comments as they

[2020-08-04 07:19] rougier commented on #41
Ok, thanks for the explanation. Let's wait and see.

[2020-08-04 07:46] rougier commented on #37
@apdavison Thanks for the explanation. Maybe you can add a small paragraphs in the manuscript with the above explanations.
@otizonaizit I think we can accept the paper. There is one pending suggestion that @apdavison is free to take into account or not but apart from that, I think the paper's ready for publication.

[2020-08-04 08:02] rougier commented on #25
* In the metadata, type should be Reproduction (not Replication, the commented list is actually missing "* Reproduction")
* Title should be "[Rp] Geographical Trends in the Water Chemistry of Wetlands in the South-Western Cape Province, South Africa." (not "Re ReScience challenge: resurrecting a 30-year-old Turbo Pascal program for generating Maucha ionic diagrams")
* For the reviewer 2, something

[2020-08-04 09:29] MikeSilberbauer commented on #25
@rougier Your article is most fascinating, and I was impressed that your program could be loaded onto the online Apple emulator. The scanned pages from the original computer magazine remind me of the publication style of the day - I laboriously typed a couple of Fortran 7 program listings from journals onto the old corporate mainframe computer to see what they could do. There was an Apple ][ that

[2020-08-04 11:46] rougier commented on #25
Thanks :) Here is the link, hopefully, the "Reviewer 2" will disappear. Else, I'll need to investigate here the "2" comes from.

[2020-08-04 15:18] otizonaizit commented on #37
Thanks @rougier !
@apdavison : let me know if you want to add the mentioned paragraph. You'll get a PR from me on your repo to update the metadata before publication.

[2020-08-04 16:47] rougier commented on #15
@karthik Could your eview this submission and/or suggest reviewers since @pboesu and @trashbirdecology have become unresponsive ?

[2020-08-04 18:49] trashbirdecology commented on #15
So sorry to all involved -- especially the authors -- I dropped the ball here.

After looking back at my notes from the winter, I was/am struggling with self-learning Julia enough to give a proper review of this reproduction. I don't think I will be able to find the time to do so in the coming weeks, either.  I am deeply sorry for this huge inconvenience I have caused the authors and editor.

[2020-08-04 20:16] karthik commented on #15
Hi @rougier I don't have time as I'm leaving for vacation soon. But I'd recommend Carl Boettiger (`cboettig`).

[2020-08-06 13:16] koustuvsinha commented on #44
Hi @rougier, sorry my notifications are mixed up to a wrong email address and hence I missed this. I'll review it this week!

[2020-08-06 13:23] rougier commented on #44
@koustuvsinha No problem. Actually the request is for editing, meaning you just need to assign 2 reviewers (from the board or from elsewhere). Or you can edit and review and find another reviewer.

[2020-08-06 18:52] koustuvsinha commented on #44
@rougier got it! I'll ask for reviewers!

[2020-08-06 21:41] koustuvsinha commented on #44
Hi @benureau 👋 would you be interested to review this article?

[2020-08-06 21:42] koustuvsinha commented on #44
Hi @xuedong 👋 would you also be interested to review this article?

[2020-08-07 14:51] rougier commented on #35
*Overall*

This is quite a fascinating work with a really complex setup and lot of software/hardware dependencies. When you read the original article (a conference paper with a page limit I imagine), you have no idea of the whole machinery behind to obtain the results. This resonates strongly with Claerbout famous quote "_an article about computational result is advertising, not scholarship. The a

[2020-08-07 14:51] rougier commented on #35
Forgot to notify @gdetor and @weinman

[2020-08-07 15:43] apdavison commented on #37
Many thanks @rougier, I've added more explanation to the manuscript as you suggested.

@otizonaizit I think everything is now ready to go.

[2020-08-07 18:03] gdetor commented on #35
@rougier Thank you for your review.

[2020-08-08 08:53] benureau commented on #44
Dear @koustuvsinha, I have personally worked with Aurélien Nioche, the second author,  in the same lab, during my last position. I don't think I can review this paper.

[2020-08-08 17:02] tpoisot commented on #15
Hi @trashbirdecology @karthik @rougier - it's all good -- we're living in the middle of a pandemic and trying to do whatever we can. No balls dropped by anyone as far as I'm concerned, these are just the times we live through. There'll be more reviewers at some point, meanwhile, take care.

[2020-08-09 19:02] koustuvsinha commented on #44
Thanks for notifying about the conflict @benureau  :)

[2020-08-10 07:17] rougier commented on #15
@karthik Thanks for the pointer
@tpoisot thanks for your patience

[2020-08-10 07:18] rougier commented on #15
@cboettig Could you review this submission for ReScience C: "[Re] Chaos in a Three-Species Food Chain"

[2020-08-10 12:19] koustuvsinha commented on #31
Sorry for the delayed response, I missed this thread completely. Seems there is still a spot for reviewers open, @gdetor if you like I can review this submission.

[2020-08-10 12:25] otizonaizit commented on #37
Hi all,

as soon as this PR https://github.com/ReScience/articles/pull/14 and this PR https://github.com/ReScience/rescience.github.io/pull/93 are merged, the paper should appear on the ReScience website!

Congratulations @apdavison !

[2020-08-10 16:53] gdetor commented on #31
@koustuvsinha Sure

[2020-08-10 19:43] cboettig commented on #15
@rougier sure thing. things are nuts right now but I'll give a stab at it.

[2020-08-10 19:57] cboettig commented on #15
I still need to run the code, but some quick comments on the text:

- overall this is excellent. The write-up is clear, detailed, and insightful.  The authors have not only reproduced the initial results, but have had to reverse-engineer some critical details in order to do so, including the estimating of the initial conditions used, as well as several results that were only alluded to but not act

[2020-08-10 23:30] cboettig commented on #15
This is my first time running code in julia.  It was very pleasant :tophat:

The README.md is nicely precise so a novice can cut-and-paste to get things running.  I would suggest including some brief comment on the runtime & cpu/memory needs expected to run `main.jl` -- when running unfamiliar code I always have this moment of worry on how long it might take.  (Also, the README doesn't say how to

[2020-08-10 23:35] cboettig commented on #15
Final remarks:

Overall the Julia code looks very clean and easy to read.  Given that I seem to still get the approximately the same desired figures out, (unless there's some intermediate cache I didn't notice? the above errors/warnings are annoying but minor issues. Unless the authors or reviewers decide otherwise, I'm happy to leave it to them on how best (if at all) to address the issues I've r

[2020-08-11 03:28] TomDonoghue commented on #30
Hey @hhentschke (and cc: @oliviaguest):

First of all, I would like to apologize for the large delay in replying here. It seems I missed the original notification, and happened to notice this when scrolling through open issues, so my bad and my apologies for that.

I have revisited the project, and checked the updated repository and the updated paper. I am happy with the updates to the paper, and

[2020-08-11 11:31] vahtras commented on #42
I apologize for the delay, will have some time for a look now.

On Thu, Jul 30, 2020 at 10:10 PM Pierre de Buyl <notifications@github.com>
wrote:

[2020-08-11 13:39] hhentschke commented on #30
@TomDonoghue,
no problem about the delay - after all it's vacation time, and this is not a project with a deadline. Thank you very much for the time and effort you invested in the review, and your kind words!

[2020-08-11 13:54] pdebuyl commented on #36
@kneth could you address the comments?

[2020-08-11 13:54] pdebuyl commented on #42
Hi @vahtras thank you for getting back to us :-) Other papers are still in the pipeline, so this should be ok.

[2020-08-11 14:15] koustuvsinha commented on #44
Hi @bengioe, as we discussed in email, would you be interested to review this article? You can find the [reviewer guidelines](https://rescience.github.io/edit/) here. Many thanks!

[2020-08-11 14:19] bengioe commented on #44
Yes, I can review this paper.

[2020-08-11 14:24] koustuvsinha commented on #44
Thanks so much @bengioe! Additionally, it would be great if you can comment in [this thread](https://github.com/ReScience/ReScience/issues/27) with your credentials, so that we can onboard you as a reviewer. @rougier, can you confirm that is the process to onboard external reviewers?

[2020-08-11 20:58] gabrieldansereau commented on #15
Thank you for your review @cboettig. I am very happy you could get up and running in Julia so quickly.

I will address your comments with some changes as soon as possible. But briefly:
- You raise good points on usability (runtime & needs, how to run the script). I'll add more info to clarify
- Interesting point on the choice of integration algorithm -- I'll re-explore and report back on it.
- The

[2020-08-12 13:25] kneth commented on #36
@pdebuyl Sorry - forgot all about it. I will try to get it done during the weekend.

[2020-08-13 10:00] MikeSilberbauer commented on #25
@oliviaguest - I have modified metadata.yaml and manually edited metadata.txt on https://github.com/MikeSilberbauer/Silberbauer-2020/:
https://github.com/MikeSilberbauer/Silberbauer-2020/blob/master/metadata.tex
In Overleaf, the notes in the left margin of the PDF file look better - I have placed a copy of the output from Overleaf here:
https://github.com/MikeSilberbauer/Silberbauer-2020/blob/mast

[2020-08-14 05:17] gabrieldansereau commented on #15
Here are the changes I made to address @cboettig's comments (@rougier I guess you're acting as editor?). The full diff is [here](https://github.com/BIO6032/2019_replication_HastingsPowell_1991/compare/7b0e9930a1d4a4f307d119bade17eb8a895e5b55..ae53d7a289f7a3d7e8753c951baf1ba1f7a0a162) (I've also made some minor changes to make a few things clearer).

- [7b0e993](https://github.com/BIO6032/2019_repl

[2020-08-14 20:42] koustuvsinha commented on #31
Here is my review. The reproducibility effort is very comprehensive and thorough, but the report is difficult to read and needs more work and polish to be in a shape to present in the journal. I'm happy to reply and re-evaluate the updated draft.

- In Section 3.1, the disagreement in the literature on the total number of instances is not clear. I think this relates to the Bonn University EEG data

[2020-08-14 22:04] gdetor commented on #31
@koustuvsinha Thank you for the review.
@bruAristimunha Can you address reviewer's comments?
@benureau Gentle reminder

[2020-08-15 04:53] benureau commented on #31
@gdetor: sorry for the delay, going through the review now, assembling the hardware I need to run the code.

@bruAristimunha: did you contact the original authors about what seemed ambiguous in the original paper? Specifically, for instance, section 5.1? And all the assumptions you made in section 3.1? While a paper should be replicable without reaching out to the original authors, there's a point

[2020-08-15 06:31] bruAristimunha commented on #31
@gdetor, I'm just waiting the other authors to answer @koustuvsinha's review.

@benureau Yes, but my e-mails were not answered.

[2020-08-15 12:16] ev-br commented on #42
Anything needed from me at this stage?

[2020-08-17 05:53] agbarnett commented on #21
Any news on this?

[2020-08-17 07:21] rougier commented on #44
Yes, it's not mandatory at all but it's better. I'll add @bengioe to the board.

[2020-08-17 07:31] rougier commented on #25
Looks good to me no. @oliviaguest will give you issue number and DOI.

[2020-08-17 07:35] rougier commented on #15
@cboettig Thanks for the review.
@gabrieldansereau Thanks for such timely correction. I'm still looking for the second reviewer.

[2020-08-17 07:38] rougier commented on #15
@ChrisRackauckas @dmcglinn @jsta  @ha0ye Could any of you review [this submission (Ecology / Julia)](https://github.com/ReScience/submissions/issues/15)?

[2020-08-17 07:41] rougier commented on #42
I think we're waiting for @vahtras review (gentle pressure :) )

[2020-08-17 07:46] rougier commented on #21
@khinsen @SergeStinckwich Gentle reminder

[2020-08-17 11:22] xuedong commented on #44
Hi @koustuvsinha, I think POMDP is somehow out of my expertise and may not be able to offer a proper review, I'm sorry.

[2020-08-17 13:54] ha0ye commented on #15
This is very much in my wheelhouse, but my most optimistic projection for time is October (probably later).

\*checks submission date\*

¯\\\_(ツ)_/¯

[2020-08-17 14:20] otizonaizit commented on #37
The paper is online: https://rescience.github.io/read/

[2020-08-17 14:20] #37 closed, assigned to otizonaizit

[2020-08-17 14:24] rougier commented on #15
@ha0ye Thanks for quick answer. Since we're aleady quite late with this submission, I'll wait for other answer first.

[2020-08-17 14:30] apdavison commented on #37
Many thanks @rougier and @otizonaizit !

[2020-08-17 14:35] pboesu commented on #15
My sincere apologies for letting this fall by the wayside (and thanks to @aammd and @rougier for chasing me). I'm now back from leave and will have a look at the revised submission now.

[2020-08-17 14:40] ChrisRackauckas commented on #15
I do not think I will have adequate time to devote to this right now.

[2020-08-18 07:13] oliviaguest commented on #25
The info is there, it just needs to be compiled. However we go back to the [same problem as above from two weeks ago](https://github.com/ReScience/submissions/issues/25#issuecomment-664923332) when I compile the PDF. Can perhaps @rougier or @MikeSilberbauer compile it and see if they also have this problem? Maybe I'm looking at the wrong PDF, but when I run make this is the output: https://github.

[2020-08-18 08:54] MikeSilberbauer commented on #25
@oliviaguest: I think I forgot to make the change to the title in the metadata.yaml file - I manually changed it in metadata.tex, which gets overwritten, if I understand the process correctly. I have now made the change to the title and removed the blank second reviewer from metadata.yaml. Could you please check if the compile works now?

[2020-08-18 08:58] oliviaguest commented on #25
Hmm... @MikeSilberbauer I get this currently, sadly:

[code]

I'll investigate.

[2020-08-18 09:00] oliviaguest commented on #25
@rougier so [this change](https://github.com/MikeSilberbauer/Silberbauer-2020/commit/12a750eb3d3e44bf20d1ee878d4dd89f198bd3a8) breaks everything see comment above.

[2020-08-18 11:59] pboesu commented on #15
@rougier @gabrieldansereau
I agree with @cboettig . This is an excellent concise replication. I only use julia very sporadically and had to install it from scratch on the machine used to review the code (Windows 8.1), but it was easy to run the code and reproduce the figures.

In addition to the warnings already discussed (and addressed by the authors) julia triggered a Windows Firewall warning ab

[2020-08-18 13:17] rougier commented on #25
You  have to leave the second reviewer empty indeed. If things are borken, maybe the best is to change metadata.tex manually and then you're done.

[2020-08-18 13:24] gabrieldansereau commented on #15
Thank you very much for your review @pboesu.

I believe the soft scope warning came in more recent versions of Julia. Is it possible you're using 1.5 instead of 1.3.1?

Thanks for adding your comments in a pull-request. I am on vacation this week, so maybe one of my co-authors wants to handle it? @FrancisBanville @aammd @tpoisot
Otherwise I'll be happy to do it next week.

[2020-08-18 14:42] broukema commented on #41
@rougier @pdebuyl @oliviaguest The good news: this article ([zenodo.3956058](https://zenodo.org/record/3956058) = ReScience C 6, 1 (2020) #<span />11) is accepted in ArXiv: it's https://arxiv.org/abs/2008.07380 . The bad news: we don't get any explanation for the three week delay, and can only speculate on a mix of northern temperate zone holidays, the pandemic, and the innovative nature of _ReSci

[2020-08-18 15:56] MikeSilberbauer commented on #25
@oliviaguest @rougier I have used the file renamed metadata_manual.tex in https://github.com/MikeSilberbauer/Silberbauer-2020 to generate ReScience_C_Silberbauer_2020.pdf in the same repository (using Overleaf).

[2020-08-19 07:21] khinsen commented on #41
@pdebuyl Since this paper is now published, can we close this issue?

[2020-08-19 07:21] khinsen commented on #32
@otizonaizit Since this paper is now published, can we close this issue?

[2020-08-19 07:22] khinsen commented on #18
@karthik Since this paper is now published, can we close this issue?

[2020-08-19 07:23] karthik commented on #18
Of course.

[2020-08-19 07:23] #18 closed, assigned to karthik

[2020-08-19 07:24] khinsen commented on #20
@otizonaizit Since this paper is now published, can we close this issue?

[2020-08-19 07:27] khinsen commented on #23
@rougier Since this paper is now published, can we close this issue?

[2020-08-19 07:32] sabinomaggi commented on #23
To me it is ok.

[2020-08-19 07:57] otizonaizit commented on #32
Sure!

[2020-08-19 07:57] #32 closed, assigned to otizonaizit

[2020-08-19 07:57] otizonaizit commented on #20
Sure!

[2020-08-19 07:57] #20 closed, assigned to otizonaizit

[2020-08-19 07:59] otizonaizit commented on #45
@rougier : in case @ThomasA does not react, I can edit this. I am not familiar with Julia, but I am interested in the reproduction of this classic paper :-)

[2020-08-19 08:45] oliviaguest commented on #25
Ah, great, thanks @MikeSilberbauer. I noticed a typo: `(see Appendix, Figure 3.` Can you fix that and/or explain how you compiled it, please, so I can compile and submit it. 😊

[2020-08-19 09:35] MikeSilberbauer commented on #25
@oliviaguest Thanks for picking up that missing ")". I have corrected it and recompiled in Overleaf. The new PDF file is named ReScience_C_Silberbauer_2020.pdf in https://github.com/MikeSilberbauer/Silberbauer-2020

[2020-08-19 12:33] oliviaguest commented on #25
Great! @MikeSilberbauer can you either explain how you compiled it and/or fix the date to be today's date for publication? And then I'll try and get it done today, otherwise you might need to put tomorrow's date. 😅

[2020-08-19 13:58] MikeSilberbauer commented on #25
@oliviaguest No stress: I have changed the date to **tomorrow** in the metadata.tex file in the Overleaf version of the publication, generated the PDF file and copied it as ReScience_C_Silberbauer_2020.pdf in https://github.com/MikeSilberbauer/Silberbauer-2020

[2020-08-20 08:43] oliviaguest commented on #25
@rougier what am I doing wrong now? 😆 😭

[code]

On Linux too:

[code]

[2020-08-21 07:06] rougier commented on #15
@pboesu Thank you very much for your review.
@gabrieldansereau Your corrections can wait until next week.

[2020-08-21 07:07] rougier commented on #15
@ChrisRackauckas @ha0ye Thanks for your answers, I've finally found the second reviewer.

[2020-08-21 07:09] rougier commented on #23
Yes, done.

[2020-08-21 07:09] #23 closed, assigned to rougier

[2020-08-21 07:09] rougier commented on #45
That would be great, thanks.

[2020-08-21 07:21] rougier commented on #25
It depends when you reserved the DOI on Zenodo. (sandbox). You need first to reserve the DOI sung the process, update the PDF and then publish it.

[2020-08-21 07:23] rougier commented on #25
Best is to have the latex sources ready and change the DOI once you get it, recompile and than publish it. Note that you'll also need to update the `metadata.yaml` (even if you don't use it to re-generate the `metadta.tex`)

[2020-08-21 09:21] oliviaguest commented on #25
How do you do generate the PDF without using `metadata.yaml`?

[2020-08-21 09:22] oliviaguest commented on #25
Also I'm confused @rougier... do you mean reserve another DOI? Because I already did that once.

[2020-08-21 12:03] rougier commented on #25
You edit the `metadata.yaml` with the proper DOI and you also edit the `metadata.tex` manually (just in cas you have problem going from yaml to tex). For the SANDBOX Zenodo, you can request another DOI and try with this one. These DOI are erased every day I think.

[2020-08-21 12:39] otizonaizit commented on #25
@oliviaguest : if you want we could try to look at the whole process together and see what does and does not work? I have not experienced so many issues as you seem to have while using the new publication process, so there may be some implicit step which is not listed in the docs? Or there may be some implicit software dependencies which are by chance present on my sytem and absent from yours? In

[2020-08-21 17:00] oliviaguest commented on #25
Hmmm, I am sure @rougier I reserved a real DOI without sandbox.

[2020-08-21 17:01] oliviaguest commented on #25
@otizonaizit sure, over video? when is good for you? I'm on UTC + 3.

[2020-08-22 16:58] oliviaguest commented on #25
@otizonaizit sadly I still have the same problem after requesting a new DOI! See repo: https://github.com/oliviaguest/Silberbauer-2020/

[code]

[2020-08-23 11:42] otizonaizit commented on #25
@oliviaguest : what happens if you try the `publish.py` script directly against the official zenoo and not against the sandbox? The zenodo sandbox has not work reliably for me either in the past. Given that the PDF is now correct and the metadata also, I think there's no risk in trying to do the publication on zenodo directly.
If that fails too, maybe we should have another video-chat and see if t

[2020-08-23 13:52] oliviaguest commented on #25
OK, I think that worked!

[2020-08-23 20:31] kneth commented on #36
@pdebuyl

Sorry for not getting things done earlier. I have created https://github.com/kneth/MDreac/pull/4 to address the first comments. I hope to rerun the analysis steps once more to see if I get the same result as before.

[2020-08-26 17:50] bengioe commented on #44
Hello, here is my review. As this is my first review here, I'm happy to extend it if more details are necessary.

**Original Paper** The original paper being reproduced is a 2016 paper using the Partially Observable Markov Decision Process framework in conjunction with heuristic student models to learn teaching policies. The original paper simulates students through their heuristic models, and als

[2020-08-26 18:12] koustuvsinha commented on #44
Many thanks, @bengioe for the comprehensive review! I'm still looking for an additional reviewer, hopefully can assign this soon. @luksurious can you go through the review and address the comments?

[2020-08-27 08:50] ThomasA commented on #27
Sorry, summer de-railed me. I am now back, let's get this one handled...
IMO it is relevant to attempt to get as close as possible to the original software versions since actual runtime performance is a major part of the original scientific results. For that reason, never versions of the software might have a significant impact on the performance *in addition* to the impact that newer hardware alr

[2020-08-27 09:01] ThomasA commented on #27
That is definitely also interesting @dimpase, but I think the currently described reproduction is what gets closest to the original and thus is best aligned with the spirit of the special issue. It think it would go too far to require @andreas-enge to do both. @khinsen what is your take on this?

[2020-08-27 09:12] dimpase commented on #27
Essentially, the only thing I am still puzzled with here is Guix package described in the paper. I presume `vinci` package would use up to date dependencies, such as `lrslib`. Thus, it appears that `vinci` is present in Guix with the up-to day deps (and not only via Guix `time-machine` feature, cf. p 9) but the paper is silent on how it fares against the historic version.

[2020-08-27 09:22] ThomasA commented on #27
Perhaps @andreas-enge can clarify this?

[2020-08-27 09:36] ThomasA commented on #45
Sorry, I lost a bit track of ReScience over the summer. I see that an editor has been assigned now.

[2020-08-27 10:06] khinsen commented on #27
@ThomasA The central question of the ten-year challenge is "can you get your old code to run?" From that perspective, staying as close as possible to the original work is indeed the best approach. But in the end, it's the authors' decision *how* they proceed, as long as they present their strategy clearly. The approach chosen by @andreas-enge looks perfectly fine to me.

The last question by @dimp

[2020-08-27 10:28] ghost commented on #27
Hello @khinsen, @dimpase, @ThomasA,

to quickly summarise: For me, the core of the reproduction experiment is Section 2.2, which explains in detail (with command line snippets) how to install the as original as possible software from source. The first sentence of Section 3 states that this is how the numerical results of Table 7 are obtained, which is the basis for the comparison with the original

[2020-08-27 11:19] dimpase commented on #27
Thanks Andreas, I would be happy to see the result of the suggested Guix experiment added.

[2020-08-27 11:32] ThomasA commented on #27
Thanks @andreas-enge, let us do it this way.

[2020-08-27 13:46] otizonaizit commented on #45
@cJarvers : thanks for the offer of reviewing this submission. Are you still up for it?
@pberkes : would you like to review this?

[2020-08-27 13:51] otizonaizit commented on #45
Guidelines for reviewers are here: https://rescience.github.io/edit/

[2020-08-27 13:54] pberkes commented on #45
@otizonaizit : Gladly!

[2020-08-28 06:55] cJarvers commented on #45
@otizonaizit : Yes, I'd still be happy to review.

[2020-08-28 10:50] ghost commented on #27
It turns out that the Guix approach is not all that relevant after all. The latest version of vinci, that I added to Guix (there was no real point in packaging older versions besides for this challenge), contains improvements to data structures; the ChangeLog states that this has made some volume computation algorithms  "noticeably faster on near-simple input", which I also noticed on some example

[2020-08-30 22:52] jhmatthes commented on #40
I successfully reproduced the results in the author's code. I have just one small suggestion to the paper: it would be helpful to specify which "fit statistics" were reported in the paper that were reproduced in this particular analysis.

[2020-08-31 10:04] dimpase commented on #27
Dropping 2.3 would lead to a natural question: is vinci alive in any form (it is, it lives on in Guix - a by-product of the work done on this text)? So it should be kept in some way.

[2020-08-31 17:40] karthik commented on #40
Thanks @jhmatthes Much appreciated.

[2020-08-31 19:23] jhmatthes commented on #40
And to add, I found the accompanying article clear and complete, and the article is sufficiently self-contained.

[2020-08-31 19:46] pdebuyl commented on #41
Yes we can :-) Thanks @broukema for the feedback on the arxiv deposition!

[2020-08-31 19:46] #41 closed, assigned to pdebuyl

[2020-08-31 20:28] koustuvsinha commented on #44
@amyzhang has accepted to review this paper! (as discussed in email). Thanks a lot! :) You can find the [reviewer guidelines](https://rescience.github.io/edit/) here.

[2020-08-31 20:33] gabrieldansereau commented on #15
@rougier Sorry for the delay.

Thanks again for your review @pboesu

We merged your pull-request and added these changes:
- BIO6032/2019_replication_HastingsPowell_1991@c9c8603 - Addresses the comments you left with `%Reviewer comment:`. The one on L149 regarding the time steps used for figure 4 was a bit more complex and changed a few times, last in BIO6032/2019_replication_HastingsPowell_1991@d1

[2020-09-01 00:16] broukema commented on #41
@pdebuyl And thanks for being on the [ReScience C](https://en.wikipedia.org/wiki/ReScience_C) team! ;)

[2020-09-01 07:33] rougier commented on #15
Nice. @cboettig @pboesu Are tyou satisfied with the corrections and answers provided by @gabrieldansereau. If yes (you can add a thumb up), we can proceed with publication.

[2020-09-01 13:52] bruAristimunha commented on #31
I apologize for the delay in responding, @gdetor, @koustuvsinha and @benureau. All the reviewers' comments were accepted. The work will go through re-editing with the removal of several sections that are not related to reproduction itself.

We will try to improve the fluidity of the text, explaining that we did not have a response from the authors and that we did not obtain the same result, in ter

[2020-09-01 17:32] cboettig commented on #15
Yes

On Tue, Sep 1, 2020 at 12:33 AM Nicolas P. Rougier <notifications@github.com>
wrote:

---
Carl Boettiger
http://carlboettiger.info/

[2020-09-01 21:57] pboesu commented on #15
@rougier Happy to see this published!

[2020-09-02 00:50] benureau commented on #31
@bruAristimunha: I am halfway through my review. I will wait for you to update your submission, since the changes you are preparing seem important.

A few comments:
- Have you noticed that in the original paper, Table 3 and 4 contain the exact same values? With the loss and the dataset changing between the two? It seems to be a copy-paste error. It would affect the validity of some of the comparis

[2020-09-03 02:45] gabrieldansereau commented on #15
@rougier Hope it's ok -- I went ahead and updated the metadata.yaml file. I added the DOI for the code, the review URL, and the reviewers' info BIO6032/2019_replication_HastingsPowell_1991@3a46622

[2020-09-07 11:12] pdebuyl commented on #36
Hi @kneth ,

Any update?

[2020-09-07 11:27] pdebuyl commented on #42
@vahtras do you still plan to review the article?

[2020-09-07 17:25] gdetor commented on #35
@weinman Gentle reminder

[2020-09-08 09:19] luksurious commented on #44
@bengioe Thank you for your review.

We have addressed your comments.

* The code uses only `np.random` now (with the upgraded NG system in 1.17+), and the setup is self-contained (also removed some test output I left there)
* The paper is updated to address your points.
  * The Q function is correctly introduced, belief reset is better explained, and the conclusion is extended.
  * Re Sec 3.2, 3.

[2020-09-08 14:03] pberkes commented on #45
The authors successfully reproduce the findings of Hancock’s  “PCA of natural images” paper, with minor deviations from the original results that are easily accounted for. The paper is well written and well organized. It’s good work, I don’t have any further comment.

The code is provided in two languages, Matlab and Julia. Unfortunately, I do not have a Matlab license so I could not verify that t

[2020-09-08 14:09] rougier commented on #16
@tpoisoit Now we are very late...

[2020-09-08 14:10] rougier commented on #16
@tpoisot Now we are very late...

[2020-09-08 14:10] #19 closed, assigned to labarba

[2020-09-08 14:11] rougier commented on #21
@khinsen Gentle reminder

[2020-09-08 14:11] rougier commented on #24
@brembs Any progress on the conversion?

[2020-09-08 14:12] #25 closed, assigned to oliviaguest

[2020-09-08 14:12] otizonaizit commented on #45
@cJarvers: do yo uhave a timeline for your review?

[2020-09-08 14:15] rougier commented on #30
@oliviaguest Gentle reminder

[2020-09-08 14:16] otizonaizit commented on #45
@IainDaviesMaths :
  -  I agree with @pberkes that the random seed should be a global parameter
  - Regarding the Matlab code, I'd like to wait for @cJarvers and see if they can review it. In that case the code should stay. If not, then we may need to find someone who has a Matlab license and can review the code...
  - Can you comment/act on the other observations by @pberkes ?

[2020-09-08 14:16] rougier commented on #34
Sorry for the delay. @eroesch @stephanmg @degoldschmidt Could you review this article (R + Computational Neuroscience) ?

[2020-09-08 14:17] rougier commented on #35
@gedtor @weinman Any progress ?

[2020-09-08 14:18] rougier commented on #38
@apdavison Thanks for the detailed review.
@MelanieIStefan  Did you have time to address the comments ?

[2020-09-08 14:20] rougier commented on #39
@benoit-girard @alegrand Gentle reminder

[2020-09-08 14:22] rougier commented on #28
Sorry for the delay. There's a new publication process available at  https://github.com/ReScience/articles which is supposed to be smoother. Do not forget to use the sandbox to check everything is fine first.

[2020-09-08 14:23] brembs commented on #24
I haven't done anything, yet, as we are still waiting for @benoit-girard to let us know if the manuscript should contain additional data, or if this one figure is sufficient. Once I know that the manuscript is (near) final, I'll try the suggestions here.

[2020-09-08 14:24] rougier commented on #43
@delsuc @MathieuLeocmach Gentle reminder

[2020-09-08 14:25] rougier commented on #8
@benoit-girard @theoboraud @anthony-strock Gentle reminder

[2020-09-08 14:26] #9 closed

[2020-09-08 14:27] rougier commented on #10
@oliviaguest Gentle reminder

[2020-09-08 14:27] rougier commented on #13
@khinsen Any progress?

[2020-09-08 14:29] rougier commented on #15
@gabrieldansereau That's perfect. Let check for the volume/issue and I will send you the DOI (or make a PR on your repo)

[2020-09-08 15:03] oliviaguest commented on #10
@jamesproach and @bobaseb would you be able to give feedback (e.g., if your comments, questions, have been addressed) on the above, please?

[2020-09-08 15:12] oliviaguest commented on #30
@hhentschke do you have an update on the status of your submission, given the reviewer feedback? 😊

[2020-09-08 17:05] bobaseb commented on #10
Yes, my comments have been addressed. I'm happy the replication worked out in the end after contacting the original authors and correcting for errors in the original article (all stated in the current replication).

[2020-09-08 18:31] hhentschke commented on #30
@oliviaguest I submitted a thorough revision on June 15th following the first review, which @TomDonoghue approved of about a month ago. I'm not familiar with the submission procedure - is there anything up to me right now?

[2020-09-09 05:49] benureau commented on #31
After running into some trouble with the `rm -r` commands above not working and having to do it manually, I was unable to reproduce Figure 2:
[code]
and figure 1 and 2 were different than the one in the paper, with for instance much less channels on Figure 1. I stopped there. Could you make sure that all the figures are reproducible from scratch, on a vanilla machine/vanilla conda environment? Or

[2020-09-09 08:00] khinsen commented on #21
@rougier Thanks for the reminder! I got more than 300 GitHub notifications in my inbox a few days ago, covering several weeks, so I must have overlooked quite a few of them :-(

[2020-09-09 08:01] khinsen commented on #21
@SergeStinckwich Are you still available for doing this review?

[2020-09-09 08:16] oliviaguest commented on #30
@hhentschke Yes, can you please fill in the missing details in the https://github.com/hhentschke/ReScience_10yrReproChallenge/blob/master/paper/metadata.yaml file, please? Set acceptance date as today. 🎉

This is relevant info: https://github.com/ReScience/ReScience/issues/48#issuecomment-689405707. And my ORCiD is: https://orcid.org/0000-0002-1891-0972 — let me know if anything is not clear. ☺️

[2020-09-09 13:29] vahtras commented on #42
Yes, finally. First question: the makefile has been hardcoded for Intel compilers. Does it build with GNU?

[2020-09-09 13:47] ev-br commented on #42
It certainly does. https://github.com/ev-br/10yr_repro_challenge_35/commit/837038f2461ee5e17da895388bda935749918e0c is the relevant makefile.

I then simply commented it out when transferring to cluster/intel compiler instead of adding platform detection (more brittle stuff to debug ten years down the line)

The change from gnu on a laptop to intel on cluster is here:
https://github.com/ev-br/10yr

[2020-09-09 16:45] jamesproach commented on #10
This revision addressed all of my concerns and is substantially improved. Finding and correcting the errors in the original manuscript was a great part of the manuscript.

James
On Sep 8, 2020, 10:05 AM -0700, Sebastian Bobadilla Suarez <notifications@github.com>, wrote:

Yes, my comments have been addressed. I'm happy the replication worked out in the end after contacting the original authors and

[2020-09-09 19:43] oliviaguest commented on #10
@c-torre OK, amazing!

Can you please update the metadata.md file with the details of each reviewer, editor, etc., please? Acceptance date is today and also see: https://github.com/ReScience/ReScience/issues/48#issuecomment-689776914! 🥳

[2020-09-09 20:04] cboettig commented on #16
@rougier Anything we can do here?  COVID and all the other crises might be interfering with @tpoisot 's ability to look at this.  I think the changes requested and implemented above are pretty straight forward, maybe another independent editor can assess?

[2020-09-09 20:31] MathieuLeocmach commented on #43
Sorry, I slept on this one. I read the original paper and the paper before my holidays, and then ...

I have an issue with the way the repository is organised: the code is archived in a tgz rather than living in the git repository. Of course, I can unpack it myself, but changes or improvements will be more difficult to track. @quenot can you update your repository with the unpacked code?

[2020-09-09 21:18] hhentschke commented on #30
Yay! Thanks a lot for your efforts! I left the last but one block ("article") in the metadata.yaml open because I'm not sure whether that final step of assigning article number, DOI and pdf url is up to you (including re-making the file) or me. Will do so if you tell me to.

[2020-09-10 05:51] rougier commented on #15
I've upload an edited version at https://sandbox.zenodo.org/record/668390. This is the Zenodo **sandbox** (entry will dissappear in one day). Can you check everything's fine ? If yes, I'll publish on the actual server

[2020-09-10 06:29] delsuc commented on #43
same here - sorry - :-/

[2020-09-10 07:17] cJarvers commented on #45
@otizonaizit I'll try to do it within the next few days. Since I have a 6-month-old at home, it's a bit hard to predict how much time I can actually spend on work each day, but I'll do it by end of next week the latest.
I have a Matlab license, so I should be able to run & review that part of the code as well.

[2020-09-10 07:22] rougier commented on #16
You're right, I'll handle the submission from now on. So congratulation, your article has been accepted!
Can you give me the link to your article latest repo?

[2020-09-10 07:31] otizonaizit commented on #45
Perfect, thanks! I just wanted to have a rough timeline, please take your time :-)

[2020-09-10 07:42] c-torre commented on #10
Hi all,

This is very good news. However, we went an extra step to ensure that everything is absolutely correct this time. Thanks to the original authors we have spotted the following mistakes in our current submission:

1. Equation 2 should have the same time scaling as equation 10, adding sqrt(dt) for the noise term.
1. Equation 4 has a mistake in the constant part.
1. Equation 6 has a mistake i

[2020-09-10 08:20] oliviaguest commented on #10
Sure, @c-torre! I'd assumed you had fixed these. Let me know when it's good to go.

[2020-09-10 10:54] rougier commented on #15
@gabrieldansereau Forgot to tag you

[2020-09-10 11:28] oliviaguest commented on #30
~@TomDonoghue what's your ORCID?~

No worries, found it.

[2020-09-10 13:03] oliviaguest commented on #30
@rougier is this all done now? How do we update the website?

@hhentschke please merge https://github.com/hhentschke/ReScience_10yrReproChallenge/pull/1 😊 when you can!

[2020-09-10 13:08] gabrieldansereau commented on #15
@rougier yes everything is fine, thanks!

[2020-09-10 13:37] rougier commented on #15
Thansk, I'll publish it then.

[2020-09-10 13:56] rougier commented on #15
It's published at https://zenodo.org/record/4022518 and will appear on the ReScience website in a few minutes. Thanks again for your submission and congratulation again ! I've made a PR with publication data on your repo.

By the way, I forgot to ask because you were too fast in updating the metadata but now the preferred and recommended way to save your code is to use software heritage  (https://

[2020-09-10 14:13] gabrieldansereau commented on #15
Great, many thanks to you! I've merged your PR on our repo.

I did not know about Software Heritage, I'll check it out!

[2020-09-10 14:39] quenot commented on #43
Hello,

Thanks for the feedback. I unpacked the archives and made a few improvements, including adding the scripts for running the experiments.

Best regards,

Georges.

Le 09/09/2020 à 22:31, Mathieu Leocmach wrote:

--
Dr. Georges Quénot - Directeur de Recherche CNRS
Laboratoire d'Informatique de Grenoble - Équipe MRIM - Bureau 349
Bâtiment IMAG - 700 avenue Centrale - CS 40700 - 38058 GRENOBLE

[2020-09-10 16:08] #15 closed, assigned to rougier

[2020-09-10 16:31] weinman commented on #35
Thank you @rougier for the helpful review. I was sidelined last month by a [natural disaster](https://en.wikipedia.org/wiki/August_2020_Midwest_derecho), but I'm now picking up this thread.

## Major suggestion

I'm very happy to include insert a new section after the introduction giving some additional background and context for the original work. I agree that makes a lot of sense!  I've drafted

[2020-09-11 05:20] cboettig commented on #16
@rougier I've merged the above-mentioned PRs, so everything is now in https://github.com/cboettig/fluctuationDomains/tree/master/rescience, with the pdf at https://github.com/cboettig/fluctuationDomains/blob/master/rescience/article.pdf, and article source here: https://github.com/cboettig/fluctuationDomains/blob/master/rescience/article.Rmd

(I can add the combined `.tex` file that will be genera

[2020-09-11 07:25] rougier commented on #30
I just updated the website and the entry is online now.

[2020-09-11 07:40] rougier commented on #35
@weinman Thank for yo very detailed report and I'm plainly satisfied with the proposed corrections. To answer your question about the code, you can actually expand it on GitHub (or GitLab) and use software heritage (https://www.softwareheritage.org/save-and-reference-research-software/) to save the repository. Even if GitHub disappear sometime in the future, your code will be safe (software herita

[2020-09-11 08:19] oliviaguest commented on #30
@hhentschke yay! 🥳

Congratulations! http://rescience.github.io/bibliography/Hentschke_2020.html

[2020-09-11 08:19] #30 closed, assigned to oliviaguest

[2020-09-12 16:43] gdetor commented on #35
@rougier Thank you for the review.
@weinman Congratulations. Once you upload the final version I'll proceed with publishing the paper.

[2020-09-15 07:42] rougier commented on #16
I tried compiling from the .Rmd but I had some problems. If you can add the article.tex, that would be great (I need to compile it several times to test the publication process + update metadata)

[2020-09-15 07:43] rougier commented on #16
BTW, I got:
[code]
when inside the rescience directory. I'm not a R user but I imagine I've to tell R I'm using a local package somehow.

[2020-09-15 19:35] cboettig commented on #16
Thanks @rougier !

- `tex` version is now here: https://github.com/cboettig/fluctuationDomains/blob/master/rescience/article.tex
- I added an `install` target to the Makefile, which will install `fluctuationDomains` locally.  (you'll just need a copy of libgsl-dev on your machine).  Typically we R folks install directly from GitHub by running `remotes::install_github("cboettig/fluctuationDomains")

[2020-09-16 12:11] eroesch commented on #17
@rahulrajpl I am terribly sorry. I have dropped the ball on that one. Given that you have submitted in February, could you confirm that you are still interested in pursuing this? Thanks! @rougier

[2020-09-16 18:24] cJarvers commented on #45
# Review of Davies & Eglen: [Re] The principal components of natural images

Here is my review, @otizonaizit  & @IainDaviesMaths

This review based on commit https://github.com/IainDaviesMaths/Reproduction-Hancock/commit/519b1695eb05a1d328b033728025c5e90f1d40c5

## Success of the replication

The authors successfully replicated the results of the original article. There are some minor deviations,

[2020-09-17 07:22] delsuc commented on #43
Thank you @quenot ,
@MathieuLeocmach any chance to look at this ?

[2020-09-17 09:18] otizonaizit commented on #45
Thank you @cJarvers for your review!

@IainDaviesMaths : both reviewers agree that the paper is fit for publication. You just need to address the reviewers comments, especially regarding the random seed and the re-organization of the code. Do you have an estimate when this can happen?

@rougier , @khinsen , @benoit-girard , @oliviaguest  : in this submission we have a reproduction with code both i

[2020-09-17 12:00] weinman commented on #35
@rougier Thank you for the feedback.

Regarding the "**A replication of** [1]" beneath the abstract. I've updated the template to the latest version and changed `metadata.ytml`/`metadata.tex` to use `\textcite`, but all this does is change it to "**A replication of** Weinman [1]".

Any further pointers or suggestions on how to make the output match the editors' desired format are very welcome!

[2020-09-17 16:27] oliviaguest commented on #45
@otizonaizit seems like a discussion that deserves it's own thread IMHO!

[2020-09-18 04:43] rahulrajpl commented on #17
@eroesch Yes, I would like to pursue on this. Thanks for coming back.

[2020-09-18 07:31] rougier commented on #16
Perfect, it worked. Could you save your github repository at https://www.softwareheritage.org/save-and-reference-research-software/ and give me back the swh id you'll get. Also, just before the conclusion, you have a mising DOI that I think should be a reference to the github repository. It would be better to use the swh id that will in turn points to the github repo. If you update your article.te

[2020-09-18 07:57] rougier commented on #35
Can you try `\fullcite` instead ?

[2020-09-18 07:59] rougier commented on #45
In this specific case, I think we can relax the recommendation and include the Matlab code as well, expecially if it works under Octave. But I agree with @oliviaguest that we should open a thread to decide on a proper guideline.

[2020-09-18 08:20] eroesch commented on #17
@rahulrajpl Awesome, thanks. I'll get cracking.

[2020-09-18 10:54] himito commented on #17
Sorry @rougier and @eroesch, I was very busy and lost (then I forgot) due to the current situation and then holydays here in France.  Now I have the time to review the paper.

[2020-09-18 12:04] weinman commented on #35
Yes, `\fullcite` produces a complete citation.

The `metadata.yaml` is peculiar on this point:

[code]

My initial interpretation would be that `bib` is simply the bibtex key (i.e., it's `weinman10typographical` in my bibtex file). And  `cite` would be the manually extracted text (I'd copied mine from what appeared in the ultimate reference list).

However, in order to produce what you've requeste

[2020-09-18 18:02] ghost commented on #27
Hello,

On Mon, Aug 31, 2020 at 03:05:05AM -0700, Dima Pasechnik wrote:

in the end I opted for adding material...

I added the old versions used for the reproducibility challenge to the
guix-past channel, and explained in 2.3 how to use the channel. So 2.3
now explains how to either use standard Guix with the most up-to-date
versions (that will lead to faster running times; and yes, this article

[2020-09-21 07:21] MathieuLeocmach commented on #43
I'm still looking at it, but I suggest a few ergonomic improvements:
 - have compilation instructions in the readme.md (`make -f makelinux all` in each folder)
 - have `./` or `source ` prepended to all bash script call within bash script. Having `#!/bin/bash` should have been enough, but it's not on my platform (debian linux). For example, if I run `bat8.sh`, it's not able to call `table1-2.sh`

[2020-09-21 08:30] ThomasA commented on #27
Thanks @andreas-enge. Does this mean that there is now a reasonably complete procedure to "reprocude the reproduction" either with new or old libraries and with or without Guix?
I am going to read the update today and get back to you.

[2020-09-21 08:37] ghost commented on #27
On Mon, Sep 21, 2020 at 01:31:09AM -0700, Thomas Arildsen wrote:

I hope so! It should be easily possible to follow the approach with old
libraries as described with or without Guix.

Alternatively I mention that you can also use newer versions with Guix (and
of course also by compiling everything by hand, supposedly with fewer
patches); but I do not consider this to be the point of the article, s

[2020-09-21 09:45] eroesch commented on #17
Thanks @himito and @abezemskij for accepting to review the submission!
@abezemskij is from a cyb sec background. Please let me know if you have any question.
Could you both give me a date by which you think you can submit a review?

[2020-09-22 12:45] benoit-girard commented on #39
@alegrand

Have you been able to address the questions raised by @rgrunbla?
Let us know as soon as possible...

[2020-09-22 17:22] pboesu opened #46 "[Re] Modeling Insect Phenology Using Ordinal Regression and Continuation Ratio Models"
**Original articles:**
- B. Dennis, W.P. Kemp,and R.C. Beckwith (1986): "Stochastic Model of Insect Phenology: Estimation and Testing." Environmental Entomology 15(3):540–546. https://doi.org/10.1093/ee/15.3.540
- S.G. Candy (1991): "Modeling Insect Phenology Using Ordinal Regression and Continuation Ratio Models." Environmental Entomology 20(1):190–195. https://doi.org/10.1093/ee/20.1.190

**PDF

[2020-09-23 06:42] rougier commented on #35
Now that you've pointed it, I'm not sure what I meant when I created the template and it might be worth to open an issue. I think this might be related to the old template we used some years ago.

[2020-09-23 07:37] rougier commented on #16
@cboettig ping

[2020-09-23 15:11] cboettig commented on #16
Thanks, queued it on software heritage and forgot to check back next day (queue seems to take a while! though I noticed anyone can queue any public repo, you don't have to be the owner).  It's archived now: https://archive.softwareheritage.org/browse/origin/directory/?origin_url=https://github.com/cboettig/fluctuationDomains&timestamp=2020-09-19T00:48:22.704238%2B00:00

Um, which software heritage

[2020-09-23 15:21] eroesch commented on #17
@gabrielnetz will also have a look. Thanks!

[2020-09-23 16:32] weinman commented on #35
Thanks. I have some other formatting issues/questions.

### SWH

I've entered everything into SWH and gotten an identifier for it. I've entered the value into `metadata.yaml`, which generates the appropriate `\def \codeSWH` line in `metadata.tex`, however, `\codeSWH` does not seem to get used anywhere by the template (I'm looking particularly at the footer where it says "Code is available at", whe

[2020-09-23 17:58] gdetor commented on #31
@bruAristimunha Gentle reminder

[2020-09-23 18:00] gdetor commented on #24
@benoit-girard Gentle reminder

[2020-09-24 07:29] rougier commented on #46
@pboesu Thanks for your submission, we'll assign an editor soon.
@karthik or @tpoisot Could you edit this submission (ecology + R)?

[2020-09-24 07:44] rougier commented on #16
Didn't you get a `SWH...` id at some point? It think the link you get is for a specifc revision(which make sense) but I think there should be an initial SWD id. See for example http://rescience.github.io/bibliography/DiCosmo_2020.html by @rdicosmo

[2020-09-24 07:53] rougier commented on #35
The `\codeSWH` is supposed to be used in [header.tex](https://github.com/ReScience/template/blob/master/header.tex#L69). Maybe you need to update the template you're using. And if you started from overleaf, this template might be outdated and needs to be updated.

For the missing space, I also noticed that and forgot to fix it. It's only a matter of using `\usepackage{parskip}` that should be adde

[2020-09-24 16:37] karthik commented on #46
Unfortunately unable to edit anything at the moment. My apologies.

[2020-09-24 17:06] cboettig commented on #16
Thanks @rougier, but even with the DiCosmo example I'm not sure what you are referring to as "the Software Heritage Identifier".  I see a DOI there that belongs to the Zenodo record, and I'd be happy to provide that.  The link I see that is specific to software heritage is https://archive.softwareheritage.org/swh:1:rev:2db189928c94d62a3b4757b3eec68f0a4d4113f0;origin=https://gitorious.org/ocamlp3l/

[2020-09-25 19:28] alegrand commented on #39
Hi @rgrunbla, @benoit-girard and @rougier . I really apologize for this unacceptable delay.  :(

I have finally been able to find some time to look into this this afternoon (on a completely fresh system on an old laptop as my regular one has recently crashed, 3 weeks after the end of the warranty :( ).

Good catch! There is indeed a problem even though it does not fail in the same way as you.

In

[2020-09-26 14:13] weinman commented on #35
Thanks @rougier !

I updated all the files (it turns out that before I'd only done a partial update of just `rescience.cls`) in the template. This solved some problems but introduced others.

* Adding `\RequirePackage{parskip}` to `rescience.cls` fixed the paragraph issue (+)
* With the template update, SWH now properly appears in the footer (+)
* However, the [abstract](https://github.com/ReScien

[2020-09-28 11:58] benoit-girard commented on #39
Thanks for the update!

[2020-09-28 12:07] benoit-girard commented on #24
Oh sorry! The notifications of this thread got lost in the middle of all ReScience notifications... I am trying to improve my workflow so that it does not happen anymore.

I feel these figures (those that can be reproduced without effort) should then be added to the manuscript.

For the remaining three figures (two panels and one full figure), one could try to run the old TP code on FreePascal. It

[2020-09-28 12:12] benoit-girard commented on #28
OK, I will start now trying to make the final publication steps with the new process.
Sorry for the delay.

[2020-09-28 12:30] benoit-girard commented on #28
@rougier first step, first questions...
* there is a metadata.tex file in @aleblois 's repository, but I can't find the yaml one. Am I missing something? Should @aleblois provide it?
* the pdf currently does not indicate the name of the editor, of the reviewer, and the date of acceptance. Is it still OK for the first steps of the submission? Do I need to edit that myself (but I do not have the sou

[2020-09-28 12:44] alegrand commented on #39
Hello,

This is really crazy. It seems to fail solely for this particular configuration (B=1E5, L=0.5, S=17000, M=GTNets) and I really cannot figure out why. It works like a charm for every value S in [16990,17010] but for 17000 (note that this parameter is the size of the message which is sent from a host to an other in the simulation so this is really weird) !!! I've activated SimGrid's debuggin

[2020-09-28 12:53] benoit-girard commented on #39
@rgrunbla could you have a look at @alegrand 's answer and provide your reviewer's feedback?

[2020-09-28 13:38] benoit-girard commented on #8
@theoboraud @anthony-strock Cascading Gentle reminder

[2020-09-28 16:24] gdetor commented on #24
@benoit-girard Thank you for the comments.
@brembs Could you address reviewer's comments?

[2020-09-29 06:00] brembs commented on #24
It is easy to just run the same procedure on more figures - what worked for one figure will work for the others. I'll generate new figures for them. I'll also have a look and see if I can get one other figure reproduced that isn't part of the same workflow, but I can't promise I will be able to get it done. All of this will take some time, but I don't know how much. I'm pretty much at capacity rig

[2020-09-29 08:23] benoit-girard commented on #28
OK, reading the latest instructions for authors, I see that the author should provide the "mandatory" yaml file.
@aleblois can you do that please?

[2020-10-01 07:54] rougier commented on #46
@karthik No problem @tpoisot, can you edit this submission (ecology + R) ?

[2020-10-01 07:59] rougier commented on #16
I think we can use the `swh:1:rev:e547c62fd9ae8361d601302200bbc90b26299007` using the address https://archive.softwareheritage.org/swh:1:rev:e547c62fd9ae8361d601302200bbc90b26299007 and the ReScience template should make this cickable. Let me include it in your article and you tell me if it look ok (I'll add the Zenodo DOI as well).

[2020-10-01 08:03] rougier commented on #16
Forgot to ask the Zenodo DOI for the code... Can you request one and give me the DOI?

[2020-10-01 08:23] rougier commented on #16
It's up at Zenodo **sandbox** server: https://sandbox.zenodo.org/record/676290 (it will be deleted by tomorrow)

[2020-10-01 08:24] rougier commented on #16
@cboettig can you check the PDF for any error? I modified a bit your article.tex to correct layout & fonts.

[2020-10-01 08:40] rougier commented on #35
That would be great. For the abstract and replication lines, I think I commented them because we can now have editorial and letters that do not have abstract nor replication reference. The abstract inclusion should be conditional and same for replication/reproduction. If we have a bib ref for the reproduction/eplication, then we can add it with the \fullcite, else we skip the line?

Metadata is mi

[2020-10-01 14:41] weinman commented on #35
@rougier  Thanks again for the review and editorial guidance.
@rougier and @gdetor here's the summary of changes:

* Added editor and reviewer to metadata
* Added SWH link for browseable code (in addition to the tarball archive)
* Updated template to use "reproduction of" and full citation featured beneath abstract.
* Section 2 added with a summary of the original work and its context
* First para

[2020-10-02 02:18] gdetor commented on #35
@weinman @rougier I'll proceed to the final editing and publishing the article

[2020-10-04 23:34] IainDaviesMaths commented on #45
Thank you everyone for the reviews and feedback on the paper! Myself and Stephen are in the process of making all the suggested edits and should be done in the next few days.

[2020-10-05 16:40] IainDaviesMaths commented on #45
Most edits have been done now - just a few minor Julia edits to be made which Stephen is on top of. Will alert when the article is in final draft.

[2020-10-06 22:12] cboettig commented on #16
@rougier apologies missed my github notifications here.  this all sounds good, let me know if you want me to check it over again.

[2020-10-06 22:14] cboettig commented on #16
Also I did request a DOI from zenodo for the `rescience-accepted` tagged version: https://doi.org/10.5281/zenodo.4067657 if you want to use that.

[2020-10-06 22:14] cboettig commented on #16
Looks like the sandbox version is still there, and it looks good! Thanks and full steam ahead :steam_locomotive:

[2020-10-08 22:17] amyzhang commented on #44
**Replication.** The original paper uses POMDPs to formulate a teacher-student setting. The selection of the next teaching activity is a planning problem, where the teacher maintains a belief state of the student. There are three models proposed, and evaluated on two tasks.
The three models consist of a memoryless model, a discrete model with memory, explicitly keeping a history of the past m acti

[2020-10-09 16:11] cboettig commented on #16
@rougier anything else you need from me?

[2020-10-12 05:03] kneth commented on #36
@pdebuyl As I haven't had any progress for months, I think it is best to withdraw my submission. Please accept my apology for the time you have wasted.

[2020-10-12 05:03] #36 closed, assigned to pdebuyl

[2020-10-12 11:09] rougier commented on #36
If you think you can work on this submision in the next few months, we can leave it opened and send you gentle reminders regularly. We've no real time pressure.

[2020-10-12 11:38] rougier commented on #16
Nope, I'll publish it right now. Sorry for the looooooooong delay.

[2020-10-12 11:50] rougier commented on #16
It's online ! Congratulations! https://rescience.github.io/bibliography/Boettiger_2020.html

[2020-10-12 13:41] luksurious commented on #44
@amyzhang  Thank you for your review.

We verified all questions and unclear elements with the original authors.
I have added a subsection at the end of Methods to make this more explicit.

Except for the remark about the belief update, which is mentioned now at the end of the methods section, I did not find any other remarks in the discussion that refer to changes compared to the original descrip

[2020-10-14 05:01] kneth commented on #36
@rougier If I go back to work on the submission in the next few month, I will reopen.

[2020-10-14 10:30] aleblois commented on #28
Hi, sorry for the delay, I have added the link to the yaml file. Please let me know if you need anything else, or if it does not work. Best

[2020-10-14 10:33] aleblois commented on #28
Actually, the yaml file seems o have the wrong info (Rougier and Hinsen paper). I'm not sure how to edit/generate the yaml. Nicolas, any tip on this?

[2020-10-14 10:43] aleblois commented on #28
I edited manually the yaml file, which should be OK now. Best

[2020-10-15 06:57] rougier commented on #28
@aleblois Actually, this is the way to got with the yaml file (manual editing).
@benoit-girard tell me if you need help with the publication process.

[2020-10-15 21:09] gdetor commented on #35
Hi @weinman Could you please add the following information to the metadata.yaml file, compile the article and update the overleaf so I can get the latest version of those files?
Volume: 6, Issue: 1
DOI: 10.5281/zenodo.4091742
URL: https://zenodo.org/record/4091742/files/article.pdf
Please correct the name of the reviewer to Nicolas and remove the tag "preprint" from the manuscript.
Thank you.

[2020-10-15 21:30] weinman commented on #35
Thanks @gedetor! Glad we're nearly there. I can edit those things. Should I leave the dates (so you update them), or shall I insert them? Perhaps as follows?
[code]

I also wasn't sure what to give for the article number.

In any case, I've added the volume, issue, DOI, and URL (not sure where that shows up), made the name correction (oops!), and the Preprint has disappeared with the definition of

[2020-10-15 21:33] gdetor commented on #35
@weinman Sure you can update the dates too. I think that's the last piece of information missing from the manuscript. The number will be assigned automatically upon submission.
Thank you

[2020-10-15 21:36] weinman commented on #35
@gdetor Very good, I've made those updates. If you find anything missing, please let me know!

[2020-10-15 22:22] gdetor commented on #35
@weinman Congratulations once again. The article is now online https://zenodo.org/record/4091742

[2020-10-21 10:49] gabrielnetz commented on #17
Sorry for the delay on pushing this, but after review everything seems to be working as intended, other then a small issue with a changed funcition on MatPlotLib that will become obsolete in a bit, so its probably worth revisiting. Other then that, everything seems good

[PyPASAD code report (1).pdf](https://github.com/ReScience/submissions/files/5415295/PyPASAD.code.report.1.pdf)

[2020-10-21 11:05] eroesch commented on #17
Awesome, thanks @gabrielnetz!
@himito, @abezemskij Anything on your ends?

[2020-10-21 11:43] IainDaviesMaths commented on #45
Hi all - I think that's all your suggestions added to the code and article now! Let me know if there's anything else to be done.

[2020-10-26 08:06] rougier commented on #45
@otizonaizit  🛎️

[2020-10-26 12:04] otizonaizit commented on #45
@pberkes @cJarvers : I find the reorganized repo and the other changes quite good, so if there are no objections from you two I'd accept the paper and contact @IainDaviesMaths fo the details of the publication process! Please write a comment here in any case.

[2020-10-26 12:45] pberkes commented on #45
@otizonaizit no objections from me!

[2020-10-26 19:28] cJarvers commented on #45
@otizonaizit no objections from me either. The changes address all the issues I raised. Great work by the authors!

[2020-10-27 11:35] eroesch commented on #17
@rahulrajpl Could you have a look at the minor comments that @gabrielnetz pointed out? I don't know if there is a recommended course of action, but basically we want to make sure your code is future proof.

[2020-10-27 11:54] otizonaizit commented on #45
Great. Congratulations @IainDaviesMaths : the paper is accepted! I will follow up shortly with a PR to the paper repo for the update of metadata.

[2020-10-27 15:35] IainDaviesMaths commented on #45
@otizonaizit thanks for the info about proceeding, I think it is ready for publication now!

[2020-10-27 16:04] otizonaizit commented on #45
Great! Published:

- https://github.com/ReScience/articles/pull/18
- https://github.com/ReScience/rescience.github.io/pull/95

The article will appear on https://rescience.github.io/read/ as soon as these two PRs are merged by one of the editors in chief (@rougier ?)

[2020-10-27 16:04] #45 closed, assigned to otizonaizit

[2020-10-27 16:07] sje30 commented on #45
Super, thanks!    Well done Iain for getting this great work published.

[2020-10-28 18:13] gdetor commented on #31
Hi @bruAristimunha Any progress on this?

[2020-10-30 14:06] bruAristimunha commented on #31
Hello @gdetor, sorry for the delay. I am waiting for author's review, I believe that in a week everything will be concluded.

[2020-11-02 15:46] rougier commented on #45
Should be online now.

[2020-11-03 15:18] koustuvsinha commented on #44
Hi @luksurious, thanks for your remarks, and @amyzhang and @bengioe thanks for your valuable reviews. I believe the submission has acknowledged the proposed changes. Unless the reviewers feel strongly about the rebuttal, I vote for acceptance of the paper.

[2020-11-03 15:24] amyzhang commented on #44
I also vote for acceptance.

[2020-11-03 15:27] bengioe commented on #44
I vote for acceptance as well.

[2020-11-03 15:31] koustuvsinha commented on #44
Great!! Congrats @luksurious, your paper is now accepted to ReScience journal! 🎉 I'll follow up soon with a PR to your repository with the correct article numbers.

[2020-11-03 16:48] koustuvsinha commented on #44
@luksurious I couldn't find the ReScience template tex sources in your repository. Can you add them such that I can compile on my end?

[2020-11-03 18:10] luksurious commented on #44
@koustuvsinha Ah sorry, I was working with it in Overleaf, so I synced it now to a new repository. You can find it here
https://github.com/luksurious/faster-teaching-paper

[2020-11-03 19:18] ThomasA commented on #27
Thanks for your patience. I conclude that the paper can be accepted.
I will now go through the steps of preparing publication of the paper. @andreas-enge I will send you a pull request against your repository with an updated file 'metadata.yaml'. When you update your final paper accordingly, can you please update your "TODO" URLs in the paper?

[2020-11-03 19:33] dimpase commented on #27
yes, I agree, thanks, and sorry for sitting on it for longer than needed.

[2020-11-03 20:18] ThomasA commented on #27
@dimpase no worries, you were not the only one :blush:

[2020-11-03 20:21] ThomasA commented on #27
@andreas-enge I have updated the article metadata. I cannot create a pull request for you since I do not have an account on https://gitlab.inria.fr. I have created a "fork" at https://github.com/ThomasA/revinci where you can pull the change from.

[2020-11-03 20:44] koustuvsinha commented on #44
Article published on Zenodo and will be available shortly on ReScience website!

- Article PR: https://github.com/ReScience/articles/pull/20
- Website PR: https://github.com/ReScience/rescience.github.io/pull/96

This concludes the reviewing and editing process of this paper.

[2020-11-03 20:44] #44 closed, assigned to bengioe, koustuvsinha

[2020-11-09 21:41] karthik commented on #40
Sorry for the delay @bpbond but I'll proceed with accepting your paper now. Stay tuned for next steps.

[2020-11-10 19:21] rougier commented on #27
@andreas-enge @ThomasA Any progress ?

[2020-11-20 21:30] agbarnett commented on #21
Any news on this?

[2020-11-23 02:33] SergeStinckwich commented on #21
Sorry for the delay. I was able to spend sometimes to read the paper. The paper is well written, the author was able to reproduce the original results. Small differences in the reproduced results are explained clearly. As I don't have access to SAS, I'm not able to reproduce the result from my side. Minor issue: apparently the authors did not put the original code in the git repository.

[2020-11-23 03:05] agbarnett commented on #21
Thanks. The original code is [here](https://github.com/agbarnett/tenyears) on github in the 'code' subfolder.

[2020-11-24 04:05] SergeStinckwich commented on #21
In fact, this was not clear for me, what was the difference between original code and new one. Thank you for clarification.

[2020-11-24 06:43] agbarnett commented on #21
I followed the guidelines of uploading the original code first and then any modifications. So you need to look at the file history to see the original and new.

[2020-11-24 07:17] SergeStinckwich commented on #21
Yes I thank you. With only the name of the commits, it was not clear what was the commit corresponding to the original code.

[2020-11-24 08:58] rougier commented on #40
Great, @karthik ping me if you need some help with the publication process.

[2020-11-24 09:01] rougier commented on #21
@khinsen Gentle reminder

[2020-11-24 10:18] khinsen commented on #21
@SergeStinckwich Do I understand correctly that in your opinion, this paper can be accepted? We'll have to live with not evaluating the SAS code.

My own impression of the article is that this is a nice (and very readable) story illustrating the importance of properly archiving and documenting  code and data.

[2020-11-24 14:22] bpbond commented on #40
Thanks, all.

[2020-11-25 02:24] SergeStinckwich commented on #21
Sorry I was not clear enough. Yes I think this paper should be accepted.

[2020-11-25 07:13] khinsen commented on #21
Thanks @SergeStinckwich for the clarification, and of course for the review!

Herewith I proclaim this paper ACCEPTED! I will do the publication steps later today or tomorrow.

[2020-11-25 14:45] ghost commented on #27
Hello, Thomas and Dima,

On Tue, Nov 03, 2020 at 11:18:50AM -0800, Thomas Arildsen wrote:

thanks for your patience, and the good news! Sorry for being slow, there
were too many deadlines over the past weeks.

I am not familiar yet with the technical workflow for publication; in any
case, I will work on updating the TODO, moving code and data to a permanent
repository and so on on my side.

On Tue

[2020-11-25 16:51] khinsen commented on #21
@agbarnett I submitted a [pull request](https://github.com/agbarnett/tenyears/pull/2) with the updated metadata for publication. But I cannot rebuild the article PDF myself because one figure (`figures/original_figure.eps`) is missing from your repository. Could you please update the PDF yourself using the new metadata file?

[2020-11-25 20:56] agbarnett commented on #21
@khinsen I've added the missing file. Is python the only way to generate the metadata.tex file from metadata.yaml? I've never used python.

[2020-11-26 06:47] khinsen commented on #21
Thanks, with the added file I can rebuild the article myself. The metadata is indeed processed with a Python script, but you don't need to know any Python to use it. All you need is Python 3 plus PyYAML (see https://github.com/rescience/template for instructions).

What I did to rebuild your article is:
- Clone a fresh copy of https://github.com/rescience/template
- Copy over `content.tex`, `bibli

[2020-11-26 08:45] ThomasA commented on #27
Hello @andreas-enge,
Great to hear that we are now able to close the publication.
I am not familiar enough with the paper template to know what the most suitable "feature" is for a dedication. @rougier @khinsen, do you know? Otherwise, I will also try to look closer into the template.
I hear there are some minor technical complications with the metadata file. We will just deal with the technicalit

[2020-11-26 09:11] khinsen commented on #21
The paper is published: http://doi.org/10.5281/zenodo.4290512

[2020-11-26 09:14] #21 closed, assigned to khinsen

[2020-11-26 11:02] ThomasA commented on #27
@andreas-enge putting the dedication in the date field causes it to be typeset in a rather large font. I am not sure this is desirable. It *can* be tweaked by prefixing a `\small` or similar, but still...
@rougier @khinsen would it be better to add a dedication for example at the end of the abstract?

[2020-11-26 11:07] ThomasA commented on #27
@rougier @khinsen by the way, what is the policy on the date displayed in the article?
@andreas-enge here wrote the date, probably when he last edited the paper, using `\date` in the LaTeX template. Should the `\date` command even be used at all? Checking some of the other published papers from the challenge, it seems the date should not be there.
I can no longer find the author instructions for t

[2020-11-26 13:20] ghost commented on #27
On Thu, Nov 26, 2020 at 11:03:07AM +0000, Thomas Arildsen wrote:

It would be nice if it were a bit more prominent, but if there already is
a precedent, I am of course happy to follow it.

Independently, I have the impression that the abstract is not printed
in the pdf, but only on the website?

Andreas

[2020-11-26 16:55] khinsen commented on #27
I'd put a dedication at the end of the abstract or as the first paragraph of the main text. In other words, there is no special feature in the template for that, as far as I know.

[2020-11-28 11:55] rougier commented on #27
Yes, we're not too rigid about the template (as long as my eyes are not bleeding). For the different date (submitted/ccepted published), we extracted them from the metadata file. For other dates, not sure what would be the best way. @andreas-enge If you want to insert the dedication just after the astract that might be doable. Best would be probably to modify the template in your repo.

[2020-12-01 02:20] gdetor commented on #24
Hi @brembs any progress on this matter?

[2020-12-01 07:26] brembs commented on #24
It was looking good for a while late October, then manuscripts and theses needed revising and reviewing. Apparently, everybody also submits their manuscripts before the holidays, so I'm inundated with reviews and such. No chance I can get it done this year, sorry.

[2020-12-01 14:03] ghost commented on #27
On Sat, Nov 28, 2020 at 03:55:58AM -0800, Nicolas P. Rougier wrote:

Thanks for your suggestions! I ended up putting the dedication just into
my text, before the first \section, and it appears in the right place,
between abstract and content.

Andreas

[2020-12-04 21:35] ThomasA commented on #27
The publication process has now been completed and all that remains is for someone to merge https://github.com/ReScience/articles/tree/10.5281_zenodo.4242972 in.
Thanks for your contributions @andreas-enge and @dimpase.

[2020-12-04 21:35] #27 closed, assigned to ThomasA

[2020-12-04 21:51] rougier commented on #27
Merged and  online. Congratulations @andreas-enge

[2020-12-11 09:41] ghost commented on #27
Many thanks to @ThomasA, @dimpase, @khinsen and @rougier!
This has been a pleasant adventure, giving the impression of taking part
in the future of publication, and I have learnt many new things.

Andreas

[2020-12-17 10:28] theoboraud commented on #8
@benoit-girard @rougier @Vahidrostami @cJarvers I am deeply sorry for this very late answer. I told @anthony-strock I would take care of it since he was working on his thesis, so I am the only one to blame, and I thought I already sent the corrections to you in July, and never checked back after. I deeply apologized for this unprofessional behavior and hope it did not create additional issues.

I

[2020-12-19 10:45] cJarvers commented on #8
@theoboraud, thanks for the detailed answer. Don't worry about the delay - I think given all that's been going on this year, it's quite normal that some mix-ups occur.
I've looked through the changes you made to the code and manuscript and I think you've addressed all my concerns adequately. Concerning the three open questions:

- More comments on `convert_sequence_to_img` would have been nice, bu

[2020-12-27 21:29] theoboraud commented on #8
@cJarvers thank you for your (very quick) answer and your understanding, I really appreciate.

I think it would be too much effort indeed. We coded that part a long time ago with the only goal of obtaining results, and did not comment anything afterwards. If anyone really thinks it would be a game-breaker for the publication, we will definitely work it through, but since you told us it would only

[2020-12-28 20:56] c-torre commented on #10
Hi! Manuscript is ready and the code has a Zenodo DOI now. What's next?

[2020_rescience_neural_network_model_of_memory_retrieval.pdf](https://github.com/ReScience/submissions/files/5748742/2020_rescience_neural_network_model_of_memory_retrieval.3.pdf)

[2020-12-31 08:29] rougier commented on #10
We'll publish the paper next week most probably. Don't hesitate to remind us.

[2021-01-04 16:50] cJarvers commented on #8
@theoboraud great, that fixed everything.
@benoit-girard, in my opinion everything is fine for publication now.

[2021-01-04 20:11] bpbond commented on #40
Hi @karthik , all, any update here? Thanks.

[2021-01-05 12:27] oliviaguest commented on #10
[ Indeed @rougier and sorry @c-torre for taking a bit of time. I am dealing with a big chronic illness flare up and will get to this ASAP. Apologies. ]

[2021-01-05 17:34] c-torre commented on #10
Hi! No worries, thanks for letting me know. Take care and proceed when you're feeling better. There's no rush on our side. All the best.

[2021-01-11 08:41] rougier commented on #40
@karthik Tell me if you need help with the publication process.

[2021-01-11 08:42] rougier commented on #10
@oliviaguest I can publish it for you, just tell me.

[2021-01-11 10:48] oliviaguest commented on #10
If you can that would be amazing — thank you, @rougier!

[2021-01-13 10:21] rougier commented on #10
@oliviaguest no prob.
@c-torre can you remind me what is the repository for your article such that I can make PR against it? I would need especially the metadata.yaml file.

[2021-01-18 13:31] c-torre commented on #10
Added article source with metadata.yaml at [c-torre/replication-recanatesi-2015-article](https://github.com/c-torre/replication-recanatesi-2015-article)

[2021-01-20 08:00] rougier commented on #10
Perfect, thank. Can you update the template with the latest template (and check it does not break things). This would be necessary to include a software heritage id for your code. This is now the default way of ensuring the coe will be available in the future. To have your code on software heritage is really simple, just check https://www.softwareheritage.org/save-and-reference-research-software/

[2021-01-22 11:58] c-torre commented on #10
Updated template, corrected latex errors and added code to software heritage ([c-torre/replication-recanatesi-2015-article](https://github.com/c-torre/replication-recanatesi-2015-article))

[2021-01-25 09:52] rougier commented on #10
Thanks, I'll try to publish it today. For the swh link, can you send the swid (instead of the url) ? You should have received it when you saved the repo. The article template will complete the full url based on this id.

[2021-01-25 10:04] rougier commented on #10
Here is the sanboxed version (not the real one): https://sandbox.zenodo.org/record/719803
Can you check everything looks good ?

[2021-01-25 11:26] c-torre commented on #10
Sandboxed version looks good.

For the SWID, the only thing I seem to find is a "permalink" hidden in a SWH side bar:

[code]

https://archive.softwareheritage.org/browse/origin/directory/?origin_url=https://github.com/c-torre/replication-recanatesi-2015/

Is it any of these?

[2021-01-25 11:30] rougier commented on #10
First one (`swh:1:dir:0b541aeb4707ecedfbbcdd85adfd0100d748cc03`) is good yes, I'll include it. Thanks.

[2021-01-25 11:36] rougier commented on #10
Your article is published at https://zenodo.org/record/4461767. It will appear soon on the ReScience website as well.
Congratulations !

[2021-01-25 11:37] rougier commented on #10
@oliviaguest Feel free to close the issue.
@c-torre I'll make a PR onto your repo with my modifications.

[2021-01-28 09:15] Vahidrostami commented on #8
@theoboraud thanks for addressing my comments and don't worry about the delay. I think we all felt the strong nonlinearity of time in 2020!
@benoit-girard I am happy with the paper for publication as it is now.

[2021-01-30 16:14] oliviaguest commented on #10
Thank you all for this! Nice work. 😊

[2021-01-30 16:14] #10 closed

[2021-02-01 16:45] rougier commented on #40
@bpbond Sorry for the long delay, I'll handle the publication. Can you convert your article to the ReScience template?

[2021-02-01 17:55] karthik commented on #40
Thanks @rougier I couldn't make the submission tool work unfortunately.

[2021-02-02 14:56] fgeoffroy opened #47 "[Re] Assortative matching and search"
Dear Editors,

I would like to request a review for the following replication.

**Original articles:**
- Shimer, R., and Smith, L. (2000). Assortative matching and search. Econometrica, 68(2), 343–369. http://doi.org/10.1111/1468-0262.00112
- Smith, L. (2006). The Marriage Model with Search Frictions. J. Political Econ., 114(6), 1124–1144. https://doi.org/10.1086/510440

**PDF URL:** https://githu

[2021-02-08 10:06] rougier commented on #40
@karthik No problem.
@bpbond Do you need some help converting your submission to the ReScience template ?

[2021-02-08 11:56] bpbond commented on #40
Sorry @rougier — I will take a look at this in the next day or two and get back to you.

[2021-02-10 13:44] Kahss opened #48 "[RE] Effective Program Debloating via Reinforcement Learning"
**Original article:** Effective Program Debloating via Reinforcement Learning

**PDF URL:** https://gitlab.com/onepoint/recherche-et-developpement/optimus/chisel-replication/-/blob/master/Replication_CHISEL.pdf
**Metadata URL:** https://gitlab.com/onepoint/recherche-et-developpement/optimus/chisel-replication/-/blob/master/metadata.yaml
**Code URL:** https://gitlab.com/onepoint/recherche-et-develo

[2021-02-15 08:27] rougier commented on #47
Thank you for your submission and sorry for the delay. We'll assign an editor soon.

[2021-02-15 08:31] rougier commented on #47
Actually, I can edit it.

[2021-02-15 08:32] rougier commented on #47
@eddelbuettel @AurelienNioche Could you review this short submission in econometrics?

[2021-02-15 08:34] rougier commented on #40
@bpbond Any progress?

[2021-02-15 08:36] rougier commented on #48
Thanks for your submission, we'll assign an editor soon.

[2021-02-15 08:37] rougier commented on #48
@otizonaizit @benoit-girard @oliviaguest @gdetor Can any of you edit this submission?

[2021-02-15 09:35] oliviaguest commented on #48
Happy to take this on. Can somebody explain how we manage GitLab submissions?

[2021-02-15 11:02] rougier commented on #48
Thanks. And for gitlab, nothing special I think. If accepted, we'll ask archiving on software heritage that can deal with gitlab.

[2021-02-15 12:48] khinsen commented on #48
Nothing special indeed. See [here](https://github.com/ReScience/submissions/issues/22) for a GitLab-based submission that we already handled.

[2021-02-15 12:59] oliviaguest commented on #48
@Kahsius do you have any ideas for potential reviewers? Feel free to drop their names, or usernames (but without the @, to avoid needless notifications for them) here — thanks! 😊

[2021-02-15 14:06] eddelbuettel commented on #47
I could take a look but the self-selected field is game theory which is less my beef.

[2021-02-15 16:09] Kahss commented on #48
Hello everyone, and thank you @oliviaguest for considering my submission :smile: !
Actually I don't have any ideas for potential reviewers as it is my first submission to ReScience. Do I have to give some names for my paper to be reviewed ?

[2021-02-15 17:10] oliviaguest commented on #48
@D-Maurel no, you do not *have* to — but it would be very useful.

[2021-02-16 08:07] AurelienNioche commented on #47
I agree that the label 'game theory' would be a better match than CS. I am also not familiar with Becker's model, but I can check that the code is doing what is supposed to do, and that I can reproduce the results.

[2021-02-16 13:22] benoit-girard commented on #28
OK, i am (finally) in the publication process. To which volume/issue should I associate the paper? Volume 6, Issue 1, Number 19?

[2021-02-16 13:39] benoit-girard commented on #28
@aleblois I have send a pull request on your repo, with an updated metadata.yaml file.
If I am not mistaken (@rougier ?), you will have to validate the request, and update your article.pdf with the new information (volume, issue, number, doi, editor, reviewer, dates of acceptance & publication).

[2021-02-16 13:59] aleblois commented on #28
Hey, I do not see any pull request on my repo.....

[2021-02-16 14:07] benoit-girard commented on #28
Ah... I probably did something wrong.

[2021-02-16 14:07] benoit-girard commented on #28
This : https://github.com/aleblois/BGdynamics2006/pull/1

[2021-02-16 14:20] aleblois commented on #28
I merged it, is it OK now? Sorry my Github experience is near zero....

[2021-02-16 16:30] benoit-girard commented on #28
That's perfect!

Now you have to regenerate you pdf, including the new metadata (that you will find in the metadata.yaml file) :
volume 6, issue 1, number 19, doi 10.5281/zenodo.4543356, editor (me, orcid 0000-0002-8117-7064), reviewer (me also), dates of acceptance (June 30, 2020) & publication (February 16, 2021).

Tell me when it's done!

[2021-02-16 16:42] aleblois commented on #28
Done!

[2021-02-16 18:31] benoit-girard commented on #28
OK, but you haven't pulled it yet on github (or at least, I did not find it).

[2021-02-17 11:29] aleblois commented on #28
In aleblois/BGdynamics2006#1 (https://github.com/aleblois/BGdynamics2006/pull/1), the file ReScience_C__BGdynamics2006.pdf is the new PDF. Should I put it somewhere in https://github.com/ReScience/articles? Not sure where....

[2021-02-17 11:35] rougier commented on #28
@benoit-girard will upload the article to this repository actually.

[2021-02-17 11:37] rougier commented on #48
@D-Maurel you can have a look at the board to suggest reviewers: http://rescience.github.io/board/
@oliviaguest  You can use notification to ask all reviewers at once

[2021-02-17 11:39] rougier commented on #47
Sorry for the mislabeling (I need to add more). For the revie,w you don't need to be specialist of the domain, only to appreciate if the results have been replicated as intended. If you can test the code, that's even better.

No firm deadline for review, I will remind you in one month.

[2021-02-17 12:01] oliviaguest commented on #48
@rougier I have already started asking people from my own contacts, for now.

[2021-02-17 12:09] rougier commented on #48
I meant via ```@ ReScience / reviewers```

[2021-02-17 19:36] benoit-girard commented on #28
@rougier I have the pdf, I am now at the publish step (step 11), I get an error I do not (yet?) understand:

[code]

[2021-02-18 05:55] rougier commented on #28
Important: you need to do tests first on the sandbox server

Did you do the process.sh step and get a pre DOI ?

[2021-02-18 19:36] benoit-girard commented on #28
Yep, I did all steps until step 11

[2021-02-18 19:37] benoit-girard commented on #28
By the way, the error above resulted from:

`./publish.py --sandbox --metadata metadata.yaml --pdf article.pdf`

It was on sandbox

[2021-02-19 08:01] rougier commented on #28
Did you update the metadata.yaml with the provided DOI (and ideally rebuild the PDF) ?

[2021-02-19 08:49] Kahss commented on #48
Thank you @rougier for the link. After checking the reviewers list, I would suggest people with experience in Reinforcement Learning, namely:
- Konstantinos Chatzilygeroudis
- Emmanuel Bengio
- Amy Zhang
- Xuedong Shang

I hope it might help.

[2021-02-19 19:53] benoit-girard commented on #28
Possible problem: metadata was containing the Zenodo doi (not the sandbox one). To test that possibility, I replaced the doi in metadata.yaml with the one I obtained when I did the process.py on the sandbox, relaunched the publish.py on sandbox, and now it tells me "Metadata is newer than PDF, probably PDF needs to be rebuilt". OK great, that's normal, but in the end I don't know if this test on s

[2021-02-19 20:00] benoit-girard commented on #28
Ok, with a little touch, it worked...

Well, I am not sure it fully worked: I obtained the following (some part of the output message documented at step 11 is not there, but there is no obvious error)
[code]

[2021-02-21 00:04] eddelbuettel commented on #47
### Reproduction of _Assortative matching and search_  for Shimer and Smith (2000) and Smith (2006)

The submission reproduces results from two seminal paper in game theory and matching.  We find the reproduction to be faithful, replicable, and carefully executed.  Minor comments follow.

#### Paper

The [submitted paper](https://github.com/fgeoffroy/-Re-Assortative-matching-and-search/blob/main/a

[2021-02-22 08:06] rougier commented on #28
Yes, I can see it! So now you can upload it on the actual Zenodo server (and you'll able to merge the new branch in this case). Note that one difficulty is that you need to produce a new PDF one you obtained the DOI such as to publish the paper with the right DOI.

In case of problems, you still have the option to modify the entry on the Zenodo website directly.

[2021-02-22 08:11] rougier commented on #47
@eddelbuettel Many thanks for the (fast) review that is exactly what is expected.

@fgeoffroy Could you address @eddelbuettel comments. I think the inclusion of the R script that @eddelbuettel indly offered would be a nice addition to your work. As for the less restrictive environment, I think it makes sense to loosen it a bit since your work is generic enough.

[2021-02-22 13:53] oliviaguest commented on #48
👋  @emmanuelle @costashatz would either of you two be willing to review this? Thanks! 😊

[2021-02-23 08:37] costashatz commented on #48
@oliviaguest thank you for the invitation. Unfortunately, this is a very busy period and I will not have time to review this submission correctly. If you do not find reviewers before May, ping me again in May which is usually a calmer period. Thanks again and sorry for not being able to review the submission now.

[2021-02-23 09:49] fgeoffroy commented on #47
Dear all,

Thank you @eddelbuettel for your review and @rougier for your suggestions. I have updated the code, article and README file accordingly in the repository.

To answer @eddelbuettel's comments:

- I agree that the versioning description was too stringent, given that the packages used are very common. I have modified the README file so that the versioning aspect is no longer presented as a

[2021-02-23 12:43] eddelbuettel commented on #47
That sounds good to me on all counts.

[2021-02-27 11:52] rougier commented on #47
@AurelienNioche No pressure but if you send your review by the end of next week, I think we can hit a record as the fastest time for review  :)

[2021-03-01 09:06] AurelienNioche commented on #47
We'll try my best for this record to happen!;)

[2021-03-01 16:51] oliviaguest commented on #48
@amyzhang and @xuedong would either/both of you be interested and free to review this? ☺️

[2021-03-05 13:48] AurelienNioche commented on #47
@fgeoffroy
Dear Author,

I found the paper well written, clearly explaining what could be reproduced, what could not (at least not without modifying the parameterization), and how to reproduce the results from Shimer and Smith (2020), and Smith (2006).

Here are a few minor comments, for both the paper and the code:

## Paper

### Results

Figure 3: It may be useful to have a 2 x 2 figure, with an

[2021-03-05 16:53] tawantayron opened #49 "[Re] Context-Dependent Encoding of Fear and Extinction Memories in a Large-Scale Network Model of the Basal Amygdala"
**Original article:** Vlachos, I., Herry, C., Lüthi, A., Aertsen, A., & Kumar, A. "[Context-dependent encoding of fear and extinction memories in a large-scale network model of the basal amygdala](https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1001104)". PLoS Comput Biol, v. 7, n. 3, p. e1001104, 2011.

**PDF URL:** https://github.com/tawantayron/RE-Fear-and-extinction-in-a

[2021-03-08 09:42] rougier commented on #49
@tawantayron Thanks for your submission, we'll assign an editor soon.

[2021-03-08 09:44] rougier commented on #49
@benoit-girard @otizonaizit @oliviaguest @eroesch @gdetor Can one of you edit this submission?

[2021-03-08 09:46] rougier commented on #47
@AurelienNioche Fantastic, thanks.
@fgeoffroy Can you address the minor comments by @AurelienNioche After that, I think we can proceed with publication.

[2021-03-08 10:08] benoit-girard commented on #28
step 11 passed...

[2021-03-08 10:14] eroesch commented on #49
Yes, I can do it.

[2021-03-08 10:33] rougier commented on #28
Just got the notification on Zenodo (to be included in the ReScience collection)!

[2021-03-08 10:34] rougier commented on #49
Thanks. I've just assigned you.

[2021-03-08 14:09] benoit-girard commented on #28
I managed to do step 13, but I am unsure about the PR : I could change the bib file and commit the change, so is a PR really necessary?

[2021-03-08 14:26] rougier commented on #28
The PR is mostly to tell me the bib item can be integrated such that I can rebuild the website (don't try to do it yourself or you might risk to break it).

[2021-03-08 15:35] benoit-girard commented on #28
The thing is that as the branch has been merged peacefully, I have nothing to include in a PR.

[2021-03-08 15:42] rougier commented on #28
Oh sorry, I was referring to the modification you need t do to the website (= add the new bib titem to the published.bib file)

[2021-03-08 15:59] benoit-girard commented on #8
Dear colleagues, sorry for my lack of activity here.
Based on @Vahidrostami and @cJarvers positive feedback, I am happy to declare the paper accepted for publication in ReScience C!

I will handle the publishing process as fast as possible.

@rougier Am I correct, when assuming that I should claim issue 7, volume 1, number 1 for this paper? (I have doubts about the numbering procedure)

[2021-03-08 16:10] benoit-girard commented on #39
@rgrunbla A gentle reminder: do you consider the answer or @alegrand satisfying? Do you have additional requirements on this submission?

[2021-03-08 16:20] rougier commented on #8
Yes, correct!

[2021-03-08 17:31] rgrunbla commented on #39
Yeah, sorry about the big delay in this answer. I'm completely satisfied with @alegrand answer and explanations. No additional requirements, everything is ok from my side.

[2021-03-09 09:02] fgeoffroy commented on #47
Dear @AurelienNioche,

Thank you very much for your review and suggestions.

To answer your comments on the article:

- For Figure 3, I have added the sub-figure which shows a failure to replicate Figure 2 from [11] with delta = 1.1.

- In the third paragraph of the Introduction, I have modified the description of TU and NTU to make the distinction clearer.

- In the last step of the algorithm, th

[2021-03-09 14:02] benoit-girard commented on #28
I added the new bib item in the published.bib file : you can rebuild the website!

[2021-03-09 14:03] #28 closed, assigned to benoit-girard

[2021-03-09 14:32] benoit-girard commented on #8
@theoboraud : can you replace your metadata.yaml with the updated one:

[code]

[2021-03-09 14:46] benoit-girard commented on #39
Ok, then I have the pleasure to state that the paper has been accepted!

[2021-03-09 15:05] benoit-girard commented on #39
@alegrand can you provide me with a metadata.yaml file?

[2021-03-09 18:00] rougier commented on #28
Done

[2021-03-10 09:09] benoit-girard commented on #39
@rgrunbla : do you have an ORCID? If yes, please let me know...

[2021-03-10 10:15] rgrunbla commented on #39
Yes I do ! https://orcid.org/0000-0002-9146-9888

[2021-03-11 14:32] bpbond commented on #40
My sincere apologies—a busy last month but I am back and determined to finish this!

@rougier I did this article in R Markdown, but am not a LaTeX user and wondering what you suggest for converting to the ReScience template. Looking at the [template repository](https://github.com/ReScience/template), from what I understand one option is to install all the needed LaTeX tools locally, clone the repo

[2021-03-12 11:04] benoit-girard commented on #39
@rgrunbla  Thanks!
@alegrand At this publicaiton step, please process my PR about metadata and modify your article.pdf accordingly.

[2021-03-12 23:39] theoboraud commented on #8
@benoit-girard I changed the metadata.yaml as requested, and pushed it on the repo, however I can't make the article using the command. When I try to do so, I get this error message:

[code]

I tried to look online for a fix, but can't figure exactly how to fix this. Did you already have that kind of error with the Makefile before? Would you have any idea how to fix that?

Many thanks for your hel

[2021-03-14 12:45] bpbond commented on #40
OK, I have moved the article content into a new Overleaf project, based on the ReScience template: https://www.overleaf.com/read/...

Attaching the resulting PDF here:
[Bond_Lamberty_ReScience.pdf](https://github.com/ReScience/submissions/files/6136685/Bond_Lamberty_ReScience.pdf)

@rougier Does this look good? What's my next step? Thanks for your help.

[2021-03-15 08:21] rougier commented on #47
@AurelienNioche If you're satisfied with @fgeoffroy, I think we can accept the submission! Congratulations @fgeoffroy !
I'll need the URL to your article repository for the publication. In the meantime, can you save your code at https://www.softwareheritage.org/save-and-reference-research-software/ (the process is straightforwared and you should obtain a swid that is needed for publication).

[2021-03-15 08:23] rougier commented on #8
Try `chmod 755 ./yaml-to-latex.y` to change execution rights.

[2021-03-15 08:53] rougier commented on #40
Look goods to me! I'll make a local copy of your overleaf and edit it to add publication infromation. In the meantime, can you save your code at software heritage (https://www.softwareheritage.org/save-and-reference-research-software/). The process is straightforward). You should obtain as swid that is needed for publication.

**NOTE:** I edited your post above to remove the overleaf link (else, a

[2021-03-15 13:36] benoit-girard commented on #8
@theoboraud did you manage to solve the problem?

[2021-03-15 16:07] bpbond commented on #40
OK, it's up on Software Heritage: https://archive.softwareheritage.org/browse/revision/b8fe7506c23641ff7bc43deed4573feaa6d03947/?origin_url=https://github.com/bpbond/ten-years-paper33.git&timestamp=2021-03-15T15:55:00Z

I think this means the SWHID is `swh:1:rev:b8fe7506c23641ff7bc43deed4573feaa6d03947`.

[2021-03-15 17:09] rsankar9 opened #50 "[Re] A Reservoir Computing Model of Reward-Modulated Motor Learning and Automaticity"
**Original article:** A Reservoir Computing Model of Reward-Modulated Motor Learning and Automaticity

**PDF URL:** https://github.com/rsankar9/Reimplementation-SUPERTREX/blob/main/ReScience_submission/article.pdf
**Metadata URL:** https://github.com/rsankar9/Reimplementation-SUPERTREX/blob/main/ReScience_submission/metadata.yaml
**Code URL:** https://github.com/rsankar9/Reimplementation-SUPERTREX

[2021-03-16 10:13] fgeoffroy commented on #47
@rougier I have saved the code at the following SWHID: swh:1:dir:c4b7d774ab458f90c433e321ab969d3f12e410de
I have also reserved a DOI (10.5281/zenodo.4607228), but I just miss some information before I publish it:
- the article number (asked in the `metadata.yaml` file)
- the journal volume
- the journal issue

Or should I proceed with the publication on Zenodo and you give me these information aft

[2021-03-16 10:25] theoboraud commented on #8
@rougier Many thank you, it fixed the issue
@benoit-girard i just pushed the new pdf on master branch

[2021-03-16 21:37] benoit-girard commented on #50
I will handle the edition of this submission.

[2021-03-17 10:14] snowgoon88 opened #51 "[Re] Modeling habits as self-sustained patterns of sensorimotor behavior"
**Original article:** Egbert M. D., Barandiaran X. E. (2014) Modeling habits as self-sustaining patterns of sensorimotor behavior. Frontiers in Human Neuroscience, 8(590).

**PDF URL:** https://members.loria.fr/ADutech/Papier/rescience_egbert14_by_GillardFixDutech.pdf
**Metadata URL:**
**Code URL:**  https://gitlab.inria.fr/openbiscuit/rescience_egbert14
(code is in directory 'python', latex for p

[2021-03-18 10:14] rougier commented on #40
@bpbond Here is a sandboxed version of your article: https://sandbox.zenodo.org/record/748080. Please tell me if everything looks right.

[2021-03-18 13:11] bpbond commented on #40
@rougier Looks great to me! Thanks for your help.

[2021-03-18 14:33] rougier commented on #40
It's online ! See https://rescience.github.io/bibliography/Bond-Lamberty_2021.html

[2021-03-18 14:50] bpbond commented on #40
Hurray! Thank you @rougier and all—an interesting and unusual effort. Cheers!

[2021-03-18 14:56] benoit-girard commented on #8
@theoboraud The new version of the article.pdf finishes by a typo: "alphabet they designed@Vahidrostami" could you correct that?

[2021-03-18 15:22] #40 closed, assigned to karthik

[2021-03-18 20:57] theoboraud commented on #8
@benoit-girard sorry for the typo, it is now fixed and up-to-date!

[2021-03-18 21:13] eroesch commented on #17
@rahulrajpl Have you been able to look into this? :) Anything to add?

[2021-03-19 11:12] benoit-girard commented on #8
@theoboraud We are almost done, however, it seems that in your final pdf, the ID link to the ORCID of the reviewers all point to my ORCID profile. Can you check that in the source, the pointers are correctly set to the following ORCIDS:

  - name: Vahid Rostami
    orcid: 0000-0002-3851-0220
    role: reviewer
  - name: Christian Jarvers
    orcid: 0000-0003-0062-9776
    role: reviewer

[2021-03-19 11:15] benoit-girard commented on #39
@alegrand a gentle reminder that I need your updated article.pdf to proceed with publication.

[2021-03-19 11:42] benoit-girard commented on #50
@MehdiKhamassi @degoldschmidt would you be interested to review this submission?

[2021-03-19 15:24] pboesu commented on #46
@rougier Just to declare, that I am still interested in having this submission peer-reviewed. I do appreciate the difficulties of securing editor and reviewer availability in the current conditions (and am guilty myself of delaying a ReScience submission last year), but it would be great if this manuscript could be progressed in the not too distant future.

[2021-03-19 22:44] theoboraud commented on #8
@benoit-girard I confirm that, in metadata.yaml, the pointers are set as follow:

contributors:
  - name: Benoît Girard
    orcid: 0000-0002-8117-7064
    role: editor
  - name: Vahid Rostami
    orcid: 0000-0002-3851-0220
    role: reviewer
  - name: Christian Jarvers
    orcid: 0000-0003-0062-9776
    role: reviewer

I proceeded to check the corresponding files later on in the make process. For

[2021-03-22 09:09] benoit-girard commented on #8
@rougier : do you have any idea how to solve that problem?

[2021-03-22 10:29] MehdiKhamassi commented on #50
@benoit-girard Thank you for the invitation! Unfortunately I am currently too busy. So I have to decline. Best wishes

[2021-03-22 11:02] schmidDan commented on #50
@benoit-girard if you don't mind, I'd be happy to jump in reviewing this submission. The interesction of recurrent networks and reward-modulated/reinforcement learning is matching my interests and fluidity with Python (/Matlab) is given as well.

[2021-03-22 16:40] benoit-girard commented on #50
@MehdiKhamassi : OK, no problem.
@schmidDan : Thanks for proposing, as there is no obvious conflict of interest, and as you seem to have the right expertise, you're welcome as reviewer 1!

[2021-03-23 09:23] theoboraud commented on #8
I tried to use the build files on the ReScience git repo, and it still doesn't work

[2021-03-24 07:32] rougier commented on #47
Oh, I will handle publication in fact. I just needed the SWHID. And sorry for the delay.

[2021-03-24 07:44] rougier commented on #47
Here is the sandbox version: https://sandbox.zenodo.org/record/753083. Can you check if this looks good? If so, I'll publish the final article.

[2021-03-24 07:44] rougier commented on #51
Thanks for the submission and sorry for the delay. We'll assign an editor soon.

[2021-03-24 07:47] rougier commented on #51
@gdetor @oliviaguest @otizonaizit @eroesch @benoit-girard  Can one of you edit this submission in Neuroscience / Python (I can't, I'm too close to the authors)

[2021-03-24 07:50] rougier commented on #8
Can you try to remove all auxiliary latex files and recompile ?

[2021-03-24 08:47] fgeoffroy commented on #47
Thank you very much for handling this!
The long SWHID is somehow messing with the format, but it's not problematic and everything else seems perfect.

[2021-03-24 09:29] benoit-girard commented on #51
Well, given the topic, I could act as a reviewer, instead...

[2021-03-24 10:12] benoit-girard commented on #50
@piero-le-fou @ChristophMetzner @stephanmg @junpenglao @thmosqueiro @rgutzen Is one of you interested in reviewing this submission?

[2021-03-24 10:50] ChristophMetzner commented on #50
Sorry, I don't have time to do a review at the moment.

[2021-03-24 11:44] rougier commented on #47
I noticed that too yes. I think we may need to change the template a bit. If you want to fix your article, I can make a PR on your repo and you can try to fix it. Then I'll publish it.

[2021-03-24 12:17] rougier commented on #46
Ouups, I'm deeply sorry for this very long delay, for some reason it went out of my radar. We'll try to accelerate things.

@karthik or @tpoisot Do you have time to edit this submission "Insect Phenology Using Ordinal Regression and Continuation Ratio Models / Ecology / R"

[2021-03-24 12:58] stephanmg commented on #50
@benoit-girard What is the expected deadline for a review to be finished? Right now I've little time, but would still be interested.

[2021-03-24 13:28] fgeoffroy commented on #47
I updated the article on the github repo with a fix for the SWHID, the article number, journal volume and issue and the sandbox DOI that you created. Is that enough? If it is to much trouble, then you can just publish the previous version, the formatting problem is really minor.

[2021-03-24 16:38] gdetor commented on #51
I can edit the submission

[2021-03-24 17:24] karthik commented on #46
Not at the moment. Tim?

[2021-03-24 18:56] rougier commented on #46
@FlukeAndFeather @juniperlsimonis @trashbirdecology @ha0ye @jsta @opetchey @karthik @dmcglinn
Dear all, can any of you review this submission in ecology / R for ReScience C (Modeling Insect Phenology Using Ordinal Regression and Continuation Ratio Models)?

[2021-03-24 19:22] tpoisot commented on #46
I haven't used R in just about forever, so I'm not sure I'm the best person to do this. Maybe @aammd ?

[2021-03-24 19:41] rougier commented on #46
@tpoisot It's only for editing, not reviewing.

[2021-03-24 20:37] trashbirdecology commented on #46
what's the desired timeline? i am overwhelmed until mid to late April

[2021-03-24 20:45] tpoisot commented on #46
@rougier ok will do then

[2021-03-24 20:46] tpoisot commented on #46
@pboesu sorry about the delay, we'll try to make the process as fast as possible

@trashbirdecology do you confirm that you can review it?

@aammd do you have time to look this over as well?

[2021-03-24 20:58] FlukeAndFeather commented on #46
I'm keen to review. How quick do you need it turned around? I can set time aside next week.

[2021-03-24 21:03] rougier commented on #46
@tpoisot Thanks. I've take freedom to invite reviewers from the board. For publication, just tell me if you need assistance.

[2021-03-24 21:15] juniperlsimonis commented on #46
ive got some time next week to review if its still needed, just lmk

[2021-03-24 21:26] tpoisot commented on #46
@adbpatagonia and @guysutton have both expressed interest - either one of you, and then @FlukeAndFeather ?

[2021-03-24 21:27] tpoisot commented on #46
sweet lord @juniperlsimonis when do you sleep?

[2021-03-24 22:26] trashbirdecology commented on #46
if @juniperlsimonis can review soon that's probably for the best, otherwise my turnaround will be real slow.

[2021-03-24 23:07] juniperlsimonis commented on #46
what is sleep?

[2021-03-25 02:32] aammd commented on #46
hello everyone! not sure if this is still needed but yes, I'd be excited to help :sweat_smile:

[2021-03-25 09:17] benoit-girard commented on #50
@ChristophMetzner Thanks for answering!
@stephanmg We have no general policy (so far) at ReScience C. Do you think you could do it within 3 weeks? i.e. aiming at the 15th of April.

[2021-03-25 09:24] stephanmg commented on #50
@benoit-girard thanks for the kind words. I'm right now a bit swamped with other tasks. I could start reviewing the submission starting from 1st of May. (I guess this might be too late)

[2021-03-25 09:43] benoit-girard commented on #50
@stephanmg  Well, if I can find another reviewer who can handle this submission earlier, I will rely on her. Otherwise, I will solicit you.

[2021-03-25 10:13] stephanmg commented on #50
No worries, I'd be happy to do it, just the time concern right now. So let's see how it goes.

[2021-03-25 11:42] pboesu commented on #46
Wahay! 🎉 Thanks @rougier and @tpoisot for getting this moving again and to everyone else for their enthusiasm!

[2021-03-25 12:05] tpoisot commented on #46
OK so let's do @juniperlsimonis and @aammd - @rougier can you remind me of where the review template is located? It's been a while since I handled a ms.

[2021-03-25 15:01] rgutzen commented on #50
@benoit-girard, I'd also be happy to review this submission, and likely could get to it within the next week(s).

[2021-03-25 15:36] benoit-girard commented on #50
Perfect! Thanks a lot @rgutzen you are reviewer 2, then. @stephanmg we won't need your help (this time).

[2021-03-25 18:05] FlukeAndFeather commented on #46
I take it I'm not needed on this review then? Just making sure. Please let me know if you need a backup or anything. Thanks!

[2021-03-25 23:04] gdetor commented on #51
@anne-urai Could you review this submission?
I assume @benoit-girard you could review as well.

[2021-03-26 10:33] theoboraud commented on #8
Here is what I found in header.tex:
[code]
I think the ORCID for both reviewers was set as the editor ORCID. I downloaded header.tex and some other files from the Rescience Template repository, and after deleting some auxiliary latex files and recompiling it somehow fixed the issue.

The article is up to date on master branch.

[2021-03-26 11:10] lecfab opened #52 "[Re] Speedup Graph Processing by Graph Ordering"
**Original article:** [_Speedup Graph Processing by Graph Ordering_](https://raw.githubusercontent.com/datourat/Gorder/master/paper.pdf) by Hao Wei, Jeffrey Xu Yu, Can Lu, and Xuemin Lin, in Proceedings of SIGMOD 2016

**PDF URL:** [repository/replication.pdf](https://raw.githubusercontent.com/lecfab/rescience-gorder/main/replication.pdf)
**Metadata URL:** [repository/metadata.tex](https://github.

[2021-03-26 11:16] lecfab commented on #52
Dear all,
This is a replication written with Lionel Tabourier and Maximilien Danisch. It includes the implementation and test of various graph algorithms. The code is mainly in C++ and we suggest Nicolas P. Rougier as the editor.

Best regards,
Fabrice Lécuyer

[2021-03-26 12:57] tpoisot commented on #46
@FlukeAndFeather I think we're good, but @juniperlsimonis and @aammd can tag you if they need backup?

[2021-03-29 07:04] rougier commented on #47
Sorry for the delay. Can you tell what did you change in the template such I can do the same on my side.  The final (real) DOI will be different such that I need to be able to compile your article.

[2021-03-29 07:06] rougier commented on #8
@benoit-girard It sems that problem is solved.

[2021-03-29 07:12] rougier commented on #52
@lecfab Thank you for this impressive submission. I'll edit it even though I'm not too familiar with the domain. Could you suggest some reviewer names from https://rescience.github.io/board/ or external reviewers?

[2021-03-29 07:13] rougier commented on #46
@tpoisot @juniperlsimonis @aammd The review instruction are available at https://rescience.github.io/edit/.
Don't hesitate to poke me if needed.

[2021-03-29 07:42] fgeoffroy commented on #47
Yes sorry, I simply added a linebreak before the SWH in the header.tex file:
`\ifdefempty{\codeSWH}{.}{ -- \\ SWH \href{https://archive.softwareheritage.org/\codeSWH/}{\detokenize\expandafter{\codeSWH}}.}`

[2021-03-29 07:46] anne-urai commented on #51
Happy to review. However, the next months I have quite a high teaching load so this may take some time, would that be OK?

[2021-03-29 10:33] benoit-girard commented on #51
I will review this submission, yes.

[2021-03-29 11:44] benoit-girard commented on #8
Thanks a lot. I'm on it.

[2021-03-29 12:01] benoit-girard commented on #8
@rougier I will need some assistance. I reserved the DOI on zenodo long time ago (20 days ago), I tried to go through step 12 of the publishing process, but got the following error (on sandbox):

``Uploading content to Zenodo... Traceback (most recent call last):
  File "./publish.py", line 204, in <module>
    upload_content(server, token, article_id, article_file)
  File "./publish.py", line 25,

[2021-03-29 13:24] theoboraud commented on #8
@benoit-girard I don't know if that helps, but I already opened a Zenodo for this publication. Would you like me to use it again? What should I do with it? Or maybe you prefer to use another one?

[2021-03-29 14:01] rougier commented on #8
@benoit-girard probably the DOI got discarded. You can try to go on the zenodo wbesite and see if you can track this DOI. If it's not the case, you'll have to get another DOI. Else, you can edit the entry directly from the Zenodo website.

[2021-03-29 14:25] benoit-girard commented on #8
@rougier if, by "tracking the DOI", you mean connecting to https://zenodo.org/record/4590961/files/article.pdf then I confirm the DOI got lost. Otherwise, I don't know how to track a DOI on Zenodo.
Then I will have to bother @theoboraud so as to modify the metadata.yaml with the new DOI, and to update article.pdf accordingly.

So, @theoboraud, you should change the "article" section of the metadat

[2021-03-29 17:43] gdetor commented on #51
@anne-urai  Sure no problem.

[2021-03-30 07:24] rougier commented on #47
Thanks. It's online: https://rescience.github.io/bibliography/Geoffroy_2021.html

[2021-03-30 07:24] #47 closed, assigned to rougier

[2021-03-30 07:29] rougier commented on #8
What I do usually is to fork the repository and clone it on my desktop such that I can manipulate the late myself. It avoids back and forth with the author.

[2021-03-31 09:02] theoboraud commented on #8
@benoit-girard I just updated the "article" section as required

[2021-03-31 13:03] benoit-girard commented on #8
I tried the operation with the new DOI and the new pdf generated by @theoboraud and I get the same error, so the DOI was maybe not the problem (or the timeout to use a booked DOI is really short)... I am getting slowly crazy.

[2021-03-31 16:21] rougier commented on #8
I can do it if you want.

[2021-03-31 17:47] theoboraud commented on #8
What can I do to help? Is there something I should try? Or should I allow the fork somewhere?

[2021-03-31 18:31] benoit-girard commented on #8
I would be glad if you could... Sorry for the inconvenience.

Le 31 mars 2021 18:21:37 GMT+02:00, "Nicolas P. Rougier" ***@***.***> a écrit :

-- Envoyé depuis /e/ Mail.

[2021-04-01 09:21] rougier commented on #8
It's online -> https://rescience.github.io/bibliography/Boraud_2021.html

[2021-04-01 09:54] theoboraud commented on #8
@rougier Many thanks for your help!
Is there anything more to do for the article?

[2021-04-01 10:34] rougier commented on #8
Nope. I've sent you a pull request on your GitHub repository with the change I've made. Feel free to accept it or not.
@benoit-girard I let you close the issue.

[2021-04-01 21:02] aammd commented on #46
hello @rougier @tpoisot et al! What is the deadline for one of these reviews? A quick skim of the Reviewer guidelines didn't reveal anything there about the period of time normally required :) Thank you!

[2021-04-03 08:18] NishantPrabhu opened #53 "[Re] On the Relationship between Self-Attention and Convolutional Layers"
**Original article:** *On the Relationship between Self-Attention and Convolutional Layers* by Jean-Baptiste Cordonnier, Andreas Loukas & Martin Jaggi, in proceedings of ICML 2020.

**PDF URL:**  [Reproducibility report](https://github.com/NishantPrabhu/Self-Attention-and-Convolutions/blob/main/article.pdf)
**Metadata URL:** [Metadata](https://github.com/NishantPrabhu/Self-Attention-and-Convolutio

[2021-04-05 19:47] koustuvsinha commented on #53
FYI this paper was submitted to ML Reproducibility Challenge, and the reviews can be viewed here: https://openreview.net/forum?id=4hm5ufX69jo . While the report was not accepted for the challenge, the authors probably wish their report to be considered for an independent evaluation for this journal. I hope the reviewers can take the existing reviews and the updated manuscript into consideration fo

[2021-04-06 20:12] rgutzen commented on #50
@benoit-girard @rsankar9 Here is my review. I hope you find it helpful, and I'm happy to discuss if any points are unclear.

Overall, this is a very clearly structured paper and replication. Especially the investigation of the model limitations is very valuable. It's easy to read and to understand. The reimplementation is understandable and runs out of the box. I have some comments, mainly concern

[2021-04-07 13:31] lecfab commented on #52
Hello @rougier, thanks for your reply.
After looking into Rescience reviewers, we suggest : @EHadoux and @ozancaglayan.
For people outside of Rescience whose research interests are closer to our replication, we suggest Antoine Amarilli (https://a3nm.net, a3nm@a3nm.net) or Stefano Leucci (https://www.stefanoleucci.com, stefano.leucci@univaq.it).

[2021-04-07 19:45] baioc commented on #13
Greetings,

I was recently reminded of this ongoing submission and since it is now a little more than 1 year old, I wonder if I should consider it as rejected (and close the issue) or keep it open in case this is how long it usually takes.

@rougier I hope you don't mind that I tag you to make sure someone gets notified.

[2021-04-08 08:55] rougier commented on #53
@koustuvsinha Thanks for the explanation. I think this is the first time we have such case and I'm not sure how we should handle it. @khinsen @oliviaguest @benoit-girard Thought ?

@NishantPrabhu I think we can review your submission as a regular ReScience submission but you would need to adapt your manuscript. Since you already had some reviews, it might be also good to take these advices into ac

[2021-04-08 10:15] NishantPrabhu commented on #53
@rougier

Greetings!

1. We intend our submission to be evaluated as a regular ReScience submission. The current submission has already been redesigned according to the template prescribed on the repository. If any other form of adaptation/modification is desired, please let us know and we will get it done as soon as possible.

2. We had gone through and responded to the reviews given during MLRC

[2021-04-08 11:44] ozancaglayan commented on #52
Thanks! I would be happy to review it.

[2021-04-08 18:38] khinsen commented on #53
@rougier I'd say we should treat this as a regular ReScience submission, and let the editor who will handle the review decide if and how the prior reviews (which correspond to an earlier version) can be integrated into the reviewing process.

[2021-04-09 07:19] rougier commented on #46
It's quite variable but since we're already quite late on this one (my fault), the sooner the better of course...

[2021-04-09 07:30] rougier commented on #13
@baioc So sorry for being so late in the review. @khinsen Did you find second reviewer ? @baioc @ctb Would you have some bame to suggest for the second reviewer ?

[2021-04-09 07:42] rougier commented on #52
@ozancaglayan Thanks. You can start your review while I look for second reviewer.
@EHadoux Coudl you review this submission ?

[2021-04-09 08:45] EHadoux commented on #52
Hey, let me have a look and I'll revert during the day!

[2021-04-09 10:22] pboesu commented on #46
@aammd From my perspective - I have enough other projects on the go to keep me busy in general :wink: - certainly in April, but it would be nice to get this through before the summer conference season (mid-June) as I am planning to present and eventually submit work building on this manuscript. (At the same time I appreciate these are difficult times - thanks for being a reviewer in the first plac

[2021-04-10 14:26] oliviaguest commented on #53
I am happy to take this over as editor.

[2021-04-10 15:27] oliviaguest commented on #53
I also recommend @\nicksexton and @\don-tpanic as reviewers for this (when such time comes). ☺️

[2021-04-11 16:03] EHadoux commented on #52
Hey, sorry for the delay, I'd be happy to review it although I'm not familiar with the application domain. I'll refresh my memory on the procedure for reviewing.
_EDIT:_ Do you have a link to the original paper by any chance? The scholar one doesn't work http://www1.se.cuhk.edu.hk/~lucan/paper/sigmod16-speedup.pdf

[2021-04-11 21:51] lecfab commented on #52
Hello, thank you for reviewing, here is a valid link (i updated my first message above): https://raw.githubusercontent.com/datourat/Gorder/master/paper.pdf

[2021-04-12 10:27] ozancaglayan commented on #52
A preliminary review for the **paper only**, comments on the code and the reproducibility of the experimental pipeline will follow:

This paper replicates the results provided by the paper "Speedup Graph Processing by Graph Ordering by Hao Wei,
Jeffrey Xu Yu, Can Lu, and Xuemin Lin, published in Proceedings of SIGMOD 2016.". The paper is very well written and is a pleasure to read, offering thorou

[2021-04-12 13:38] ozancaglayan commented on #52
## Running the code

### Steps followed

The compilation of the code is straight-forward and pretty quick:

[code]

I tried to run the benchmark script on a Ubuntu 20.04.2 laptop booted with the Linux kernel version 5.8.0.

[code]

#### Remarks

- [x] The script succesfully produces runtime measurements related files and plots.
- [ ] However, the script warns that `ocperf` should be installed and

[2021-04-12 13:55] EHadoux commented on #52
I'll get started on it this evening, I'll overlook @ozancaglayan's review and any potential answer to it on purpose.

[2021-04-13 18:31] EHadoux commented on #52
Here is a review of the paper, the review of running the code will come shortly.

____
This paper is the reproduction of _Speedup Graph Processing by Graph Ordering_ by Wei et. al. In the original paper, the authors proposed an algorithm and graph agnostic node ordering procedure allowing for the reduction of CPU cache miss. The reproduction paper reproduces the experiment section on the same 9 al

[2021-04-15 09:05] rougier commented on #46
@tpoisot @aammd @juniperlsimonis @pboesu Let's target April 26 if everyone agrees.

[2021-04-15 09:10] rougier commented on #53
@oliviaguest Ok. Next question is whether we need one or two reviewers given that the article has been already reviewed.

[2021-04-15 13:18] schmidDan commented on #50
@rsankar9 I enjoyed reading and reviewing your submission. Manuscript and code are well written! I had some things to point out in both, code and manuscript. I'd consider them as minor improvements to the quality of the contribution, as the validity of your main claims are assured nevertheless. Please find my review below @rsankar9 @benoit-girard .

## Review Summary

* Full replication | Partial

[2021-04-16 09:59] MathieuBo opened #54 "[Re] Spread of alpha-synuclein pathology through the brain connectome is modulated by selective vulnerability and predicted by network analysis"
**Original article:** https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6662627/

**PDF URL:** https://github.com/MathieuBo/Re-Henderson-2019/blob/master/article.pdf
**Metadata URL:** https://github.com/MathieuBo/Re-Henderson-2019/blob/master/metadata.yaml
**Code URL:** https://github.com/MathieuBo/PathoSpreading

**Scientific domain:** Neuroscience, Neurodegeneration
**Programming language:** Python
*

[2021-04-16 12:43] rougier commented on #52
@ozancaglayan @EHadoux Waouh, many thanks for these very clean, fast and detailed review!!! We might break a record in time from submission to publication. @lecfab Could you address the comments and questions?

[2021-04-16 12:46] EHadoux commented on #52
I'll add my review of the code most probably this evening.

[2021-04-16 17:29] baioc commented on #13
Perhaps @thmosqueiro or @costashatz ?

[2021-04-16 21:10] lecfab commented on #52
Hello all, thanks for the in-depth comments, i will get back to you when i update everything!

[2021-04-17 16:10] EHadoux commented on #52
## Review of the code and the instructions

### General review
Past the very small number of hurdles (see below) the whole process is very smooth. The automatic generation of the charts is **greatly** appreciated.

I am confident that the results provided in the paper are a true depiction of the outputs of the code provided with it.

### Specific remark

Is the epinion file that's already there th

[2021-04-19 08:15] oliviaguest commented on #53
I vote for 2 — not only because I can get 2 easily, but it also seems fair.

[2021-04-19 11:15] oliviaguest commented on #48
@raar1 do you think you might be able to review this? 😊

[2021-04-19 11:17] oliviaguest commented on #48
@D-Maurel I apologise this is taking so long — my impression here is that most people are not checking their notifications, but I am emailing them or at least trying to locate their email addresses too. No luck so far, sadly. I am hoping things will improve. 🤞

[2021-04-19 11:39] costashatz commented on #13
@baioc thank you for the invitation. Unfortunately, this is a busy period for me and I will not be able to review this submission. Thanks again and sorry for not being able to help..

[2021-04-19 17:39] lecfab commented on #52
Hello!
Here are the first answers to your interesting remarks, and the corrections i made to the paper. The new version is not yet uploaded on github. Feel free to react to any of my comments below!

I will work on the code and your replications as soon as possible.

# First updates after review

## Remarks
### Ozan Caglayan's comments

1. > Could bars in figure 5 be grouped by order instead of by

[2021-04-19 20:42] juniperlsimonis commented on #46
hopefully still on target for the 26th

[2021-04-21 15:53] lecfab commented on #52
@EHadoux: sorry for the mac-related problems! For `run-benchmark.sh`, i think it works if you remove all the _display cache size information_ section (lines 4 to 21).
If you want to use other datasets, there links are given in the replication paper (in table 1). I will add them to the readme though.

[2021-04-21 16:00] EHadoux commented on #52
Cheers for that, I'll check it soon.
For the concepts bits (I've seen you've put a ?), just in case it wasn't clear, you compile with the -fconcepts flag which is not available on Clang. If you don't use the notion of concepts in your code (I haven't checked), you can probably remove the flag altogether and not have to bother with instructions for Mac users.

[2021-04-23 13:45] oliviaguest commented on #53
So @rougier 2 is OK? Shall we all discuss this?

[2021-04-25 08:47] lecfab commented on #52
Thanks again for all your comments, @ozancaglayan @EHadoux. We think all remarks and questions have been taken into account in this new version. Please let us know if further improvements are possible.

[2021-04-26 07:13] rougier commented on #54
Thanks for your submission and sorry for the delay. We'll assign an editor soon. I cannot edit it due to conflict of interest.
@benoit-girard @oliviaguest @otizonaizit @ctb @eroesch Can any of you edit this submission in Neuroscience/Python ?

[2021-04-26 07:19] rougier commented on #13
@khinsen Gentle reminder

[2021-04-26 07:34] rougier commented on #53
Sorry for the delay and 2 is fine for me.

[2021-04-26 07:36] oliviaguest commented on #53
👋 @nicksexton and @don-tpanic, would either or (even better) both of you be able to review this for me? ☺️

[2021-04-26 07:41] rougier commented on #52
@lecfab Thanks @ozancaglayan @EHadoux If you're satisfied with the corrections and answers, I think we can accept the paper. I'm waiting for you go and let me thank you again for your really nice and detailed reviews.

[2021-04-26 08:53] ozancaglayan commented on #52
Hello,

Yes I am satisfied with the answers, thanks! Figure 5 now looks much better and the version in the supplement is a nice addition as well. Thank you for clarifying installation stuff in the README files and the scripts as well!

[2021-04-26 09:57] Kahss commented on #48
@oliviaguest Thank you for taking care of it, I'm not in a rush :). I hope things will improve !

[2021-04-26 16:20] nicksexton commented on #53
hello, we are on the case with this. Will keep you all posted. Is there a deadline?

[2021-04-26 16:23] oliviaguest commented on #54
This is so far away from my area(s) of expertise, sorry. ☺️

[2021-04-26 16:29] oliviaguest commented on #53
@nicksexton perfect, thank you both! I'll give @don-tpanic a chance to also reply, so I can "assign" you both (GitHub thing that allows you to get notifications, etc). Deadline can be flexible, but if you can do this over the next few weeks, that would be amazing. Let me know your own schedules and we can work around that, but a month or so is totally fine. 😊

[2021-04-26 16:29] ctb commented on #54
It's pretty far away from mine, as well, I'm afraid.

[2021-04-27 00:25] juniperlsimonis commented on #46
@rougier @tpoisot sorry for the n00b question, but this is my first review, how exactly do I submit the review? here or in the code repo? and as a PR or something else? thanks!

[2021-04-27 01:32] tpoisot commented on #46
Good question @juniperlsimonis - a comment here is fine, or you can open issues on the original repo by the author and summarize your comments here. Whatever is actionable for the authors and not too large an investment of your time is something we appreciate and can work with!

[2021-04-27 03:06] aammd commented on #46
linked above is my review for @pboesu 's replication! To briefly summarize: I think this is excellent. Not only have you reproduced everything in the original but you've improved them in almost every aspect. The data are better organized. The math is more clearly explained. The code is modernized and well commented. The figures are identical except for some helpful colour.

Code is very clear and

[2021-04-27 09:30] khinsen commented on #13
Thanks for the reminder @rougier!

I had contacted two potential reviewers by mail back in September, but never got a reply. I will try a second time.

[2021-04-27 11:09] pboesu commented on #46
@juniperlsimonis Any of those options work for me - so whatever is easiest on your end!

[2021-04-27 22:06] juniperlsimonis commented on #46
-- I'm done adding specific issues to the code repo, @pboesu! Nice job with this! --

I really like this paper and applaud you for the work on it!

I did hit some hiccups in installing and running stuff on my end, and I have some suggestions for a few ways to increase the reliability of the reproduction into the future.

- [Installation issues and improvement suggestions](https://github.com/pboesu

[2021-04-28 12:06] khinsen commented on #13
Two quick replies.. but negative.

In order to move on with this, I propose a slight deviation from the usual ReScience process, if @oliviaguest, @benoit-girard, and @rougier don't have any objections: I auto-proclaim myself a reviewer for this paper.

My knowledge of synthetic biology is certainly weak, but it's only the computational aspects that matter for this replication, and they are about n

[2021-04-28 13:44] don-tpanic commented on #53
Yep, I am on board too. Oh hi Olivia :)

[2021-04-29 08:39] pboesu commented on #46
Thank you both for the constructive reviews @aammd @juniperlsimonis ! I'll try to do the revisions in the coming week.

[2021-04-29 12:31] don-tpanic commented on #53
Hi @NishantPrabhu

I ran into this error when running `python3 main.py --config 'configs/learned_2d.yaml' --task 'train'` inside `main/`

[code]

I suspect this is something minor like the attribute was renamed? Could you check this for me and update the code?

Thanks!
Ken

[2021-04-29 13:10] NishantPrabhu commented on #53
Hi @don-tpanic

Thanks for pointing out this issue. As you rightly diagnosed, a class name had been modified. I've fixed it now and it's working fine at my end. Let me know if you face any other issues.

Thanks and with warm regards,
Nishant.

[2021-04-29 13:18] NishantPrabhu commented on #53
Hi again @don-tpanic

If you're planning to train the model for a while, you might want to modify the batch size in the config files to suit your accelerator's capacity. I've set it to 1 for testing the changes I recently made.

Thanks,
Nishant.

[2021-04-29 14:19] don-tpanic commented on #53
Thanks @NishantPrabhu for your prompt response!

Could you look into this error for me?

When I ran ```python3 main.py --config 'configs/resnet.yaml' --task 'train'```

[code]

Thanks,
Ken

[2021-04-29 14:59] NishantPrabhu commented on #53
Hi @don-tpanic

The CLI command to train a ResNet model is slightly different. I understand the confusion since we haven't mentioned this detail in the README, which I have added now. Please check the **Task options** section in the README to know more.

In particular, to train a ResNet model, the correct command would be:

[code]

Note that `--task` is given `resnet_train` and not `train`. It is

[2021-04-30 08:46] rougier commented on #13
Actually I think we wrote that an editor can also be a reviewer such that it is not even a deviation.

[2021-04-30 11:07] khinsen commented on #13
It's hard to be innovative in such a forward-looking organization :-(

[2021-04-30 12:04] don-tpanic commented on #53
Hi @NishantPrabhu,

Thanks for updating the README. I was able to run training with resnet perfectly!

Here is another error I came across when training quadratic embedding with isotropic gaussian.
`python3 main.py --config 'configs/gaussian.yaml' --task 'train'`

The error was thrown at the end of validation:
[code]
I believe the error was originated in `visualize_attention`. One related question

[2021-04-30 12:56] NishantPrabhu commented on #53
Hi @don-tpanic

First of all, I'm really sorry about all these roadblocks you're facing. Looks like we didn't handle some of our code correctly after we modified it post our RC2020 reviews.

Anyway, I have updated the code to improve consistency across experiments. When you use set `--task` as `viz`, the code will now look for `imgs/` in the working directory and use one image from it for visualiz

[2021-04-30 15:31] EHadoux commented on #52
Hey, sorry for the delay, it's good to go on my side. Nice work everyone!

[2021-05-03 03:52] mesnardo opened #55 "[Re] Three-dimensional wake topology and propulsive performance of low-aspect-ratio pitching-rolling plates"
Dear Editors,

I would like to request a review for the following replication:

**Original article:** [Three-dimensional wake topology and propulsive performance of low-aspect-ratio pitching-rolling plates](https://doi.org/10.1063/1.4954505)

**PDF URL:** [[Re] Three-dimensional wake topology and propulsive performance of low-aspect-ratio pitching-rolling plates](https://github.com/barbagroup/resc

[2021-05-03 06:27] rougier commented on #54
@eroesch @otizonaizit @benoit-girard @khinsen Could you edit this submission? I think it's pretty far from everybody exeprtise but maybe @MathieuBo can suggest reviewer names.

[2021-05-03 06:34] rougier commented on #46
@aammd Woudl you mind posting your review in this thread? Once published, we link the paper to the review and if for some reason the repository where you posted your review become unavailable, your review will be lost. Here (ReScience/submission) we can guarantee future access (somehow).

[2021-05-03 06:45] rougier commented on #52
@lecfab Congratulations, your paper has been accepted! I'll edit it soon and come back to you.

[2021-05-03 08:12] rougier commented on #52
I would  need a link to your article sources

[2021-05-03 09:38] lecfab commented on #52
Thank you all for this efficient process. Here is the [link]() to the article sources in overleaf.

[2021-05-04 17:31] khinsen commented on #13
@baioc Here comes my review of your article and code, in the current version that has already been improved based on the first review by @aaronshifman.

The submitted article attempts to replicate all of the numerical simulations in the original paper, using slightly different numerical techniques (a different ODE solver), and a new implementation written in Octave. In addition to replicating the

[2021-05-05 22:21] baioc commented on #13
Thank you @khinsen for your review.

W.r.t. the additional Octave packages: the versions which were used are mentioned in the README.md file (I reckon there is some rephrasing that could be done to make that information more clear). Do you mean we should mention it directly in the article?

[2021-05-06 09:46] khinsen commented on #13
@baioc My preference would be to mention all version numbers in the article, in particular if there are only three of them.

But I did have another look at the README.md file as well, and noticed a discreancy: the article says Octave 5.1.0, the README says 5.2.0.

I also wonder if Octave actually provides a way to install specific versions of dependencies. I couldn't find any information on this,

[2021-05-06 09:52] khinsen commented on #54
@rougier Finding reviewers is indeed the big issue. This is so far away from my own field that I don't know who would be competent to review this.

[2021-05-06 10:05] khinsen commented on #55
Thanks for this submission @mesnardo, which I think is our first one in computational fluid dynamics. Our only editor in this field is your co-author @labarba, so we will have to improvise a bit.

I can edit this myself, profiting from many contacts in the CFD community, but I won't be able to start before another two weeks due to existing commitments.

@ReScience/editors Can anyone else handle th

[2021-05-07 13:49] MathieuBo commented on #54
@rougier, I have been looking for names of people adopting similar approaches:
- Henry Kennedy (academic editor of a related paper): henry.kennedy /at inserm.fr
- Alain Dagher (author of paper on related subject): alain.dagher /at mcgill.ca
- Bratislav Misic (author of paper on related subject): bratislav.misic /at mcgill.ca
- Mike Henderson (author of the paper that we replicated - conflict?):  M

[2021-05-08 22:59] baioc commented on #13
I believe the most recent commits to the [dev branch](https://github.com/baioc/re-multif/tree/dev) address these comments: package versions are now mentioned in the replication paper and install instructions in the README now fetch, from Octave Forge, the specific versions which were used.

I also re-ran all experiments in Octave 6.2.0 (under Manjaro-Linux) and can confirm they still work, with on

[2021-05-09 07:06] khinsen commented on #13
Thanks @baioc, this looks very good!

@aaronshifman Are you happy with this version as well, so we can accept it?

[2021-05-09 16:02] kiristern opened #56 "[Re] The Evolution of Virulence in Pathogens with Vertical and Horizontal Transmission"
**Original article:**
M. Lipsitch, S. Siller, and M. A. Nowak. “THE EVOLUTION OF VIRULENCE IN PATHOGENS WITH VERTICAL ANDHORIZONTAL TRANSMISSION.” In:Evolution50.5 (1996), pp. 1729–1741. eprint:https://onlinelibrary.wiley.com/doi/pdf/10.1111/j.1558-5646.1996.tb03560.x.

**PDF URL:**
https://github.com/BIO6032/2021_replication_LipstichEtAl_1996/blob/master/Manuscript/2021_replication_LipstichEtAl_1

[2021-05-12 03:23] gdetor commented on #51
Hi @benoit-girard  @anne-urai gentle reminder

[2021-05-12 09:35] oliviaguest commented on #48
Thank you, @wmkouw, for being a reviewer. 😊

[2021-05-12 09:36] oliviaguest commented on #48
@D-Maurel do you have any other ideas for who might be a good person to ask? If yes, please feel free to give me their names (ideally without tagging them). ☺️

[2021-05-13 14:08] aaronshifman commented on #13
Sorry in git notification hell so I missed this. I'll check out the updates today and try go give a verdict in the next day or so.

[2021-05-17 07:53] rougier commented on #52
Sorry for the delay. I edited your post to remove the link to overleaf because it is an editable link and anybody could modify your manuscript. Would it be possible for you to create a GitHub Repository with the source of thre article and using the latest template at https://github.com/ReScience/template. It would make my life easier for publication.

[2021-05-17 07:55] rougier commented on #55
Sorry for late answer. It's actually quite far from my own expertise. If you can handle it that would be great.

[2021-05-17 08:10] rougier commented on #54
Dear @ReScience/editors we need your help to edit this submission. Author has already proposed several potential reviewers. I think the domain is far from any of us and I cannot edit it because of conflict of interest. Can anyone edit it (link: https://github.com/ReScience/submissions/issues/54)

[2021-05-17 08:14] rougier commented on #56
Thanks for your submission and sorry for  the delay. We'll assign an editor soon.

@karthik Woudl be available to edit this submission?
@kiristern Could you propose some reviewers (e.g. from https://rescience.github.io/board/ but it's not mandatory to pick names from the board)

[2021-05-17 08:20] rougier commented on #48
Any progress?

[2021-05-17 10:41] oliviaguest commented on #48
I am trying my best  — as this is not really my primary (or even secondary) area of research, I am trying all the avenues I can. If anybody has recommendations, that would be appreciated. Pandemic and things relating to it, seem to be making it harder for people to have the time; which is utterly understandable.

[2021-05-17 10:42] oliviaguest commented on #48
Ah, also... FWIW @wmkouw has agreed, but I think I cannot "assign" them without them commenting on this issue?

[2021-05-17 13:40] kiristern commented on #56
@ChrisRackauckas are you available and willing to review our submission?

[2021-05-17 14:00] ChrisRackauckas commented on #56
I will not have adequate time to do so, sorry. But I would possibly recruit Simon Frost or Affan Shoukat

[2021-05-17 14:31] wmkouw commented on #48
Hi, sorry for not responding. I did promise Olivia that I would review this paper. I have not been very communicative because I just came back from birth leave and I'm swamped with work.

I told Olivia that I could make time in week 22 (May 31th until June 4th). Hope that's okay.

[2021-05-17 14:48] kiristern commented on #56
@ChrisRackauckas no worries, thank you for the suggestions!
@sdwfrost @affans would either of you have the time to review our submission?

[2021-05-17 15:04] Kahss commented on #48
Thank you @oliviaguest  and @wmkouw for dealing with my article :slightly_smiling_face: !

[2021-05-17 16:13] oliviaguest commented on #48
I think it would be ideal to have one more reviewer — and yes, 100% OK with me for you (@wmkouw) to take a reasonable amount of time given your constraints. 😊